n8n/backup/n8n-backup/workflows/26cPX8VcK6Zsb8WT.json
{"updatedAt":"2025-06-25T08:23:24.126Z","createdAt":"2025-06-24T14:21:46.033Z","id":"26cPX8VcK6Zsb8WT","name":"OAuth 2.1 claude.ai integration setup","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":".well-known/oauth-authorization-server","options":{}},"id":"e6e3f58d-d00a-470e-a93e-9628db3f69fc","name":"OAuth Metadata Discovery","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,20],"webhookId":"oauth-metadata"},{"parameters":{"jsCode":"// OAuth 2.1 Metadata für Claude.ai Discovery\nconst baseUrl = 'https://oauth.srv768465.hstgr.cloud';\n\nreturn [{\n    json: {\n        issuer: baseUrl,\n        authorization_endpoint: `${baseUrl}/webhook/oauth/authorize`,\n        token_endpoint: `${baseUrl}/webhook/oauth/token`,\n        userinfo_endpoint: `${baseUrl}/webhook/oauth/userinfo`,\n        jwks_uri: `${baseUrl}/webhook/oauth/jwks`,\n        registration_endpoint: `${baseUrl}/webhook/oauth/register`,\n        scopes_supported: [\n            \"mcp:read\",\n            \"mcp:execute\", \n            \"tools:weather\",\n            \"tools:memory\",\n            \"vector:search\"\n        ],\n        response_types_supported: [\"code\", \"token\"],\n        grant_types_supported: [\"client_credentials\", \"authorization_code\"],\n        token_endpoint_auth_methods_supported: [\"client_secret_post\", \"client_secret_basic\"],\n        code_challenge_methods_supported: [\"S256\"],\n        revocation_endpoint: `${baseUrl}/webhook/oauth/revoke`,\n        introspection_endpoint: `${baseUrl}/webhook/oauth/introspect`\n    }\n}];"},"id":"14222dfc-738a-4ec5-a802-c6658d68fe8a","name":"Generate OAuth Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,20]},{"parameters":{"options":{}},"id":"f285fdaf-07a3-4c85-be47-d472170e1870","name":"Respond OAuth Metadata","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[320,20]},{"parameters":{"path":"oauth/authorize","options":{}},"id":"75ccbadf-0103-46ae-b1e1-f56d1784a28f","name":"OAuth Authorization Endpoint","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,220],"webhookId":"oauth-authorize"},{"parameters":{"jsCode":"// OAuth Authorization für Claude.ai\nconst crypto = require('crypto');\n\ntry {\n    const query = $('OAuth Authorization Endpoint').first().json.query || {};\n    const { \n        response_type, \n        client_id, \n        redirect_uri, \n        scope, \n        state,\n        code_challenge,\n        code_challenge_method \n    } = query;\n    \n    console.log('OAuth Authorization Request:', { response_type, client_id, scope });\n    \n    // Validierung für Claude.ai\n    if (response_type !== 'code') {\n        return [{\n            json: {\n                error: 'unsupported_response_type',\n                error_description: 'Only authorization_code flow supported'\n            }\n        }];\n    }\n    \n    if (!client_id || !redirect_uri) {\n        return [{\n            json: {\n                error: 'invalid_request',\n                error_description: 'Missing client_id or redirect_uri'\n            }\n        }];\n    }\n    \n    // Authorization Code generieren\n    const authCode = crypto.randomUUID();\n    \n    // Code temporär speichern (für Demo - in Produktion: Redis/DB)\n    global.authCodes = global.authCodes || {};\n    global.authCodes[authCode] = {\n        client_id,\n        scope: scope || 'mcp:read mcp:execute',\n        code_challenge,\n        code_challenge_method,\n        redirect_uri,\n        expires_at: Date.now() + 600000, // 10 Minuten\n        used: false\n    };\n    \n    console.log('Authorization code generated:', authCode);\n    \n    // Redirect zu Claude.ai mit Authorization Code\n    const redirectUrl = new URL(redirect_uri);\n    redirectUrl.searchParams.set('code', authCode);\n    if (state) {\n        redirectUrl.searchParams.set('state', state);\n    }\n    \n    // HTTP Redirect Response\n    $execution.setCurrentExecutionData({\n        http: {\n            statusCode: 302,\n            headers: {\n                'Location': redirectUrl.toString(),\n                'Cache-Control': 'no-store'\n            }\n        }\n    });\n    \n    return [{\n        json: {\n            redirected: true,\n            redirect_uri: redirectUrl.toString(),\n            authorization_code: authCode\n        }\n    }];\n    \n} catch (error) {\n    console.error('Authorization Error:', error);\n    return [{\n        json: {\n            error: 'server_error',\n            error_description: 'Authorization failed: ' + error.message\n        }\n    }];\n}"},"id":"af0221f4-ac37-481d-91b1-5c8137b9eb78","name":"Process Authorization","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,220]},{"parameters":{"options":{}},"id":"c3c5049e-a19a-493d-bedf-618f664dbad3","name":"Respond Authorization","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[320,220]},{"parameters":{"httpMethod":"POST","path":"oauth/token-simplified","options":{}},"id":"bab4c6d7-43d3-4221-82e4-8963e0aa8467","name":"Simplified Token Endpoint","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,420],"webhookId":"oauth-token-simple"},{"parameters":{"jsCode":"// Vereinfachter OAuth Token für Claude.ai\nconst crypto = require('crypto');\n\ntry {\n    const body = $('Simplified Token Endpoint').first().json.body || {};\n    const { grant_type, client_id, client_secret, code, redirect_uri } = body;\n    \n    console.log('Token Request:', { grant_type, client_id });\n    \n    // Client Credentials Flow (vereinfacht)\n    if (grant_type === 'client_credentials') {\n        // Vereinfachte Client-Validation\n        const validClients = {\n            'claude-mcp-client': $env.OAUTH_CLIENT_SECRET,\n            'chatgpt-mcp-client': $env.OAUTH_CLIENT_SECRET,\n            'ai-service-client': $env.OAUTH_CLIENT_SECRET\n        };\n        \n        if (!validClients[client_id] || validClients[client_id] !== client_secret) {\n            return [{\n                json: {\n                    error: 'invalid_client',\n                    error_description: 'Invalid client credentials'\n                }\n            }];\n        }\n        \n        // Einfacher Access Token (ohne JWT - für Claude.ai kompatibel)\n        const accessToken = `claude_token_${crypto.randomUUID().replace(/-/g, '')}`;\n        \n        // Token temporär speichern\n        global.accessTokens = global.accessTokens || {};\n        global.accessTokens[accessToken] = {\n            client_id,\n            scope: 'mcp:read mcp:execute tools:weather tools:memory',\n            expires_at: Date.now() + (24 * 60 * 60 * 1000), // 24h\n            token_type: 'bearer'\n        };\n        \n        console.log('Access token generated for:', client_id);\n        \n        return [{\n            json: {\n                access_token: accessToken,\n                token_type: 'Bearer',\n                expires_in: 86400, // 24 Stunden\n                scope: 'mcp:read mcp:execute tools:weather tools:memory'\n            }\n        }];\n    }\n    \n    // Authorization Code Flow\n    if (grant_type === 'authorization_code') {\n        if (!code || !global.authCodes || !global.authCodes[code]) {\n            return [{\n                json: {\n                    error: 'invalid_grant',\n                    error_description: 'Invalid authorization code'\n                }\n            }];\n        }\n        \n        const authData = global.authCodes[code];\n        \n        // Code bereits verwendet?\n        if (authData.used || authData.expires_at < Date.now()) {\n            delete global.authCodes[code];\n            return [{\n                json: {\n                    error: 'invalid_grant',\n                    error_description: 'Authorization code expired or already used'\n                }\n            }];\n        }\n        \n        // Code als verwendet markieren\n        authData.used = true;\n        \n        // Access Token generieren\n        const accessToken = `claude_auth_${crypto.randomUUID().replace(/-/g, '')}`;\n        \n        global.accessTokens = global.accessTokens || {};\n        global.accessTokens[accessToken] = {\n            client_id: authData.client_id,\n            scope: authData.scope,\n            expires_at: Date.now() + (24 * 60 * 60 * 1000),\n            token_type: 'bearer'\n        };\n        \n        return [{\n            json: {\n                access_token: accessToken,\n                token_type: 'Bearer',\n                expires_in: 86400,\n                scope: authData.scope\n            }\n        }];\n    }\n    \n    return [{\n        json: {\n            error: 'unsupported_grant_type',\n            error_description: 'Only client_credentials and authorization_code supported'\n        }\n    }];\n    \n} catch (error) {\n    console.error('Token Generation Error:', error);\n    return [{\n        json: {\n            error: 'server_error',\n            error_description: 'Token generation failed: ' + error.message\n        }\n    }];\n}"},"id":"637b5217-be09-4564-9bc1-693926bced75","name":"Generate Simple Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,420]},{"parameters":{"options":{}},"id":"bdbcbd9d-14a9-47d7-8f39-9847048f250f","name":"Respond Token","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[320,420]},{"parameters":{"httpMethod":"POST","path":"oauth/validate","options":{}},"id":"124dfd9b-74b2-4bc2-8961-0de4fe81b05e","name":"Token Validation Endpoint","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,620],"webhookId":"oauth-validate"},{"parameters":{"jsCode":"// Token-Validation für MCP-Server\ntry {\n    const body = $('Token Validation Endpoint').first().json.body || {};\n    const headers = $('Token Validation Endpoint').first().json.headers || {};\n    \n    let token = body.token || headers.authorization;\n    \n    if (token && token.startsWith('Bearer ')) {\n        token = token.substring(7);\n    }\n    \n    if (!token) {\n        return [{\n            json: {\n                active: false,\n                error: 'missing_token'\n            }\n        }];\n    }\n    \n    // Token in temporärem Storage prüfen\n    if (!global.accessTokens || !global.accessTokens[token]) {\n        return [{\n            json: {\n                active: false,\n                error: 'invalid_token'\n            }\n        }];\n    }\n    \n    const tokenData = global.accessTokens[token];\n    \n    // Token-Expiration prüfen\n    if (tokenData.expires_at < Date.now()) {\n        delete global.accessTokens[token];\n        return [{\n            json: {\n                active: false,\n                error: 'token_expired'\n            }\n        }];\n    }\n    \n    // Token ist valide\n    return [{\n        json: {\n            active: true,\n            client_id: tokenData.client_id,\n            scope: tokenData.scope,\n            token_type: tokenData.token_type,\n            expires_in: Math.floor((tokenData.expires_at - Date.now()) / 1000)\n        }\n    }];\n    \n} catch (error) {\n    console.error('Token Validation Error:', error);\n    return [{\n        json: {\n            active: false,\n            error: 'validation_failed'\n        }\n    }];\n}"},"id":"d97df800-1952-4bb7-96c8-06ba3fb640af","name":"Validate Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,620]},{"parameters":{"options":{}},"id":"9e85a421-af45-416b-a4ea-bac45eb1da9d","name":"Respond Validation","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[320,620]}],"connections":{"OAuth Metadata Discovery":{"main":[[{"node":"Generate OAuth Metadata","type":"main","index":0}]]},"Generate OAuth Metadata":{"main":[[{"node":"Respond OAuth Metadata","type":"main","index":0}]]},"OAuth Authorization Endpoint":{"main":[[{"node":"Process Authorization","type":"main","index":0}]]},"Process Authorization":{"main":[[{"node":"Respond Authorization","type":"main","index":0}]]},"Simplified Token Endpoint":{"main":[[{"node":"Generate Simple Token","type":"main","index":0}]]},"Generate Simple Token":{"main":[[{"node":"Respond Token","type":"main","index":0}]]},"Token Validation Endpoint":{"main":[[{"node":"Validate Token","type":"main","index":0}]]},"Validate Token":{"main":[[{"node":"Respond Validation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"70c7a386-6b7c-468d-b342-31e00b90f954","activeVersionId":null,"versionCounter":1,"triggerCount":4,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:08:31.751Z","createdAt":"2025-06-24T20:08:31.751Z","role":"workflow:owner","workflowId":"26cPX8VcK6Zsb8WT","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}