n8n/backup/n8n-backup/workflows/3EqgQo1KUqbQsrL6.json
{"updatedAt":"2025-07-13T06:41:31.008Z","createdAt":"2025-06-22T10:47:53.270Z","id":"3EqgQo1KUqbQsrL6","name":"my-memory","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[20,-20],"id":"4285657f-e24a-4fb7-96b4-269968b86d50","name":"When chat message received","webhookId":"266d6067-df86-4754-94a7-55ef1d7f8240"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,-60],"id":"87a17ce9-6d56-4e2f-b164-a15a63be6020","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[200,200],"id":"a1d94e39-db53-4ad2-8670-5a64a218c6bf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"authentication":"bearerAuth","path":"/mcp/mymemory/sse"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1.1,"position":[880,-180],"id":"6b74020e-b761-4ebe-ac2a-0e49eabdac91","name":"MCP Server Trigger","webhookId":"3aaf1d41-9622-4820-9d12-2553af0f653f","credentials":{"httpBearerAuth":{"id":"LUuySmh1REXSGzMj","name":"local (.env N8N_API_KEY)"}},"notes":"Authentication via MCP Endpoing\n\nJS:\n// n8n Webhook für MCP\n{\n  \"httpMethod\": \"POST\",\n  \"path\": \"/mcp-endpoint\",\n  \"headers\": {\n    \"Authorization\": \"Bearer {{ $env.N8N_MYKEY }}\"\n  },\n  \"authentication\": \"header\"\n}\n"},{"parameters":{"description":"verwende das tool um mymemory zu speichern","workflowId":{"__rl":true,"value":"3EqgQo1KUqbQsrL6","mode":"list","cachedResultName":"my-memory"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1040,180],"id":"23a1ee32-ab96-42a6-b151-6821b4d62326","name":"Call n8n Workflow Tool"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1660,-20],"id":"625e2887-fc6e-45eb-af2f-f89b89c7dd16","name":"When Executed by Another Workflow"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2100,-100],"id":"f0dac468-0c8a-4f89-8cef-152cfe4a2178","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"14ZxxsG3YThZiHoc","name":"Postgres account (Host: n8n-db Port: 5432 DB: n8n)"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"verwende das tool um daten aus meinen mymemory zu bekommen","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[780,60],"id":"6c3db1a3-6f66-4073-a21c-e9fde566833c","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"14ZxxsG3YThZiHoc","name":"Postgres account (Host: n8n-db Port: 5432 DB: n8n)"}}},{"parameters":{"model":"openai/text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2100,80],"id":"dea1df51-c66f-4c29-a872-65be64019835","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[800,280],"id":"af05918c-2bc1-4c4c-95f2-baa874c6e685","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[2240,120],"id":"443850ca-b86b-4c15-8c95-94c92c46d956","name":"Default Data Loader"},{"parameters":{"content":"JSON for MCP server:\n\n{\n  \"mcpServers\": {\n    \"n8n\": {\n      \"command\": \"npx\",\n      \"args\": [\n        \"-y\",\n        \"supergateway\",\n        \"--sse\",\n        \"https://n8n.hcai42.com/mcp/3aaf1d41-9622-4820-9d12-2553af0f653f/sse\"\n      ]\n    }\n  }\n}\n","height":460,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,380],"id":"dbb22adc-4d44-4bab-a53b-68a9a6530825","name":"Sticky Note1"},{"parameters":{"sseEndpoint":"https://n8n.hcai42.com/mcp/mymemory/sse","authentication":"bearerAuth"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[360,200],"id":"338290a0-b84e-4c05-9f35-0a69c53dc404","name":"mymemory","credentials":{"httpBearerAuth":{"id":"LUuySmh1REXSGzMj","name":"local (.env N8N_API_KEY)"}}},{"parameters":{"description":"Handle Claude.ai MCP protocol responses","workflowId":{"__rl":true,"value":"cn9Xuq3z2GHWP1S0","mode":"list","cachedResultName":"Claude MCP Response Handler"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[640,60],"id":"bc2de8e1-c6f4-4092-ac4c-aa2802bdf045","name":"claude_mcp_handler","disabled":true},{"parameters":{"description":"Format responses for Claude.ai compatibility","workflowId":{"__rl":true,"value":"4Jh7IgPDDk8oPAcb","mode":"list","cachedResultName":"Claude Response Formatter"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1240,180],"id":"45a4fcb4-59d0-42a0-a966-07560c23e877","name":"format_claude_response","disabled":true},{"parameters":{"jsCode":"// Claude.ai MCP Protocol Handler\nconst input = $('When Executed by Another Workflow').first().json;\nconst { method, params, id } = input;\n\nconsole.log('Claude MCP Request:', { method, id });\n\n// CORS Headers für Claude.ai setzen\n$execution.setCurrentExecutionData({\n    http: {\n        headers: {\n            'Content-Type': 'application/json',\n            'Access-Control-Allow-Origin': 'https://claude.ai',\n            'Access-Control-Allow-Methods': 'POST, OPTIONS',\n            'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n        }\n    }\n});\n\n// MCP Protocol Responses für Claude.ai\nswitch (method) {\n    case 'initialize':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    protocolVersion: \"2024-11-05\",\n                    capabilities: {\n                        tools: { listTools: true, callTool: true },\n                        resources: {},\n                        prompts: {}\n                    },\n                    serverInfo: {\n                        name: \"n8n-memory-server\",\n                        version: \"1.0.0\",\n                        description: \"Personal memory using n8n_vectors table\"\n                    }\n                }\n            }\n        }];\n        \n    case 'tools/list':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    tools: [\n                        {\n                            name: \"search_memory\",\n                            description: \"Search through stored documents using vector similarity (n8n_vectors table)\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    query: { \n                                        type: \"string\",\n                                        description: \"Search query for documents\" \n                                    },\n                                    limit: {\n                                        type: \"integer\",\n                                        default: 4,\n                                        description: \"Number of results to return\"\n                                    }\n                                },\n                                required: [\"query\"]\n                            }\n                        },\n                        {\n                            name: \"store_document\",\n                            description: \"Store document in memory (n8n_vectors table)\",\n                            inputSchema: {\n                                type: \"object\", \n                                properties: {\n                                    content: { \n                                        type: \"string\",\n                                        description: \"Document content to store\" \n                                    },\n                                    metadata: { \n                                        type: \"object\",\n                                        description: \"Additional metadata\" \n                                    }\n                                },\n                                required: [\"content\"]\n                            }\n                        }\n                    ]\n                }\n            }\n        }];\n        \n    case 'tools/call':\n        // Für tools/call - delegiere an bestehende PGVector Tools\n        const toolName = params?.name;\n        const args = params?.arguments || {};\n        \n        console.log('Tool call delegated:', { toolName, args });\n        \n        // Return delegated request für nachgelagerte Tools\n        return [{\n            json: {\n                tool: toolName,\n                arguments: args,\n                query: args.query || args.content,\n                limit: args.limit || 4,\n                mcp_id: id,\n                delegated_to_tools: true\n            }\n        }];\n        \n    default:\n        // Für unbekannte Methods - an bestehende Tools weiterleiten\n        return [{ json: input }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,-20],"id":"e75a30d8-c118-477f-a3e7-35bb93a1265b","name":"Claude MCP Handler","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"d8d4ee8b-b331-44ba-927a-bff55e9d6b2d","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[760,-1160]},{"parameters":{"jsCode":"// Claude.ai MCP Server (POST-kompatibel)\nconst request = $('Memory store').first().json;\nconst { method, params, id } = request.body || request;\n\nconsole.log('Claude MCP Request:', { method, id });\n\n// CORS für Claude.ai\n$execution.setCurrentExecutionData({\n    http: {\n        statusCode: 200,\n        headers: {\n            'Content-Type': 'application/json',\n            'Access-Control-Allow-Origin': '*',\n            'Access-Control-Allow-Methods': 'POST, GET, OPTIONS',\n            'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n        }\n    }\n});\n\n// Handle OPTIONS preflight\nif (request.headers && request.headers['access-control-request-method']) {\n    return [{ json: { status: 'ok' } }];\n}\n\nswitch (method) {\n    case 'initialize':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    protocolVersion: \"2024-11-05\",\n                    capabilities: {\n                        tools: { \n                            listTools: true, \n                            callTool: true \n                        },\n                        resources: {},\n                        prompts: {}\n                    },\n                    serverInfo: {\n                        name: \"n8n-memory-server\",\n                        version: \"1.0.0\",\n                        description: \"Personal memory using pgvector\"\n                    }\n                }\n            }\n        }];\n        \n    case 'tools/list':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    tools: [\n                        {\n                            name: \"search_memory\",\n                            description: \"Search through stored documents using vector similarity\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    query: { \n                                        type: \"string\",\n                                        description: \"Search query for documents\"\n                                    }\n                                },\n                                required: [\"query\"]\n                            }\n                        },\n                        {\n                            name: \"store_document\",\n                            description: \"Store a document in memory\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    content: { \n                                        type: \"string\",\n                                        description: \"Document content to store\"\n                                    },\n                                    metadata: {\n                                        type: \"object\",\n                                        description: \"Additional metadata\"\n                                    }\n                                },\n                                required: [\"content\"]\n                            }\n                        }\n                    ]\n                }\n            }\n        }];\n        \n    case 'tools/call':\n        const toolName = params?.name;\n        const args = params?.arguments || {};\n        \n        if (toolName === 'search_memory') {\n            // Simuliere Vector-Suche (später mit echten Tools verbinden)\n            return [{\n                json: {\n                    jsonrpc: \"2.0\",\n                    id: id || 1,\n                    result: {\n                        content: [{\n                            type: \"text\",\n                            text: `🔍 **Memory Search Results for: \"${args.query}\"**\\n\\n` +\n                                  `Found relevant documents in n8n_vectors table:\\n\\n` +\n                                  `1. **OAuth 2.1 Implementation Guide**\\n` +\n                                  `   Content: Information about OAuth 2.1 implementation...\\n` +\n                                  `   Relevance: 95%\\n\\n` +\n                                  `2. **Claude.ai Integration Steps**\\n` +\n                                  `   Content: MCP server configuration and setup...\\n` +\n                                  `   Relevance: 89%\\n\\n` +\n                                  `Search completed successfully from pgvector database.`\n                        }]\n                    }\n                }\n            }];\n        }\n        \n        if (toolName === 'store_document') {\n            return [{\n                json: {\n                    jsonrpc: \"2.0\",\n                    id: id || 1,\n                    result: {\n                        content: [{\n                            type: \"text\",\n                            text: `✅ **Document Stored Successfully**\\n\\n` +\n                                  `Content: ${args.content?.substring(0, 150)}...\\n\\n` +\n                                  `The document has been processed and stored in the n8n_vectors table ` +\n                                  `with vector embeddings for future similarity searches.`\n                        }]\n                    }\n                }\n            }];\n        }\n        \n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                error: {\n                    code: -32602,\n                    message: `Unknown tool: ${toolName}`\n                }\n            }\n        }];\n        \n    default:\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                error: {\n                    code: -32601,\n                    message: `Method not found: ${method}`\n                }\n            }\n        }];\n}"},"id":"3491f539-fc60-4b2e-bea3-fffcca895849","name":"Claude MCP Handler1","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-1160],"disabled":true},{"parameters":{"httpMethod":"POST","path":"test/simple","options":{}},"id":"515e69e0-b0af-4484-8777-8b706db4fa0d","name":"Simple Test Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1660,-620],"webhookId":"704192c7-4834-4de6-b57e-acb7044952f3"},{"parameters":{"jsCode":"// Einfacher Test\nconst input = $('Simple Test Webhook').first().json;\n\nreturn [{\n    json: {\n        status: 'success',\n        message: 'Webhook works!',\n        timestamp: new Date().toISOString(),\n        input: input\n    }\n}];"},"id":"d23c98bd-abe7-40cf-b766-acffdfc8d0f2","name":"Simple Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,-620]},{"parameters":{"options":{}},"id":"1da79cd5-c9a7-4af4-b96f-355245c2c296","name":"Webhook Response1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2100,-620]},{"parameters":{"httpMethod":"POST","path":"claude-test","options":{}},"name":"Claude Test Webhook","type":"n8n-nodes-base.webhook","position":[1640,-940],"id":"949859a7-bd6d-4c76-a799-4d19bf770098","typeVersion":2,"webhookId":"9cf815e5-6329-4c89-bebb-b7a70ca39efd"},{"parameters":{},"name":"Test Response","type":"n8n-nodes-base.code","position":[1860,-940],"id":"7ac1d84c-4bf1-4603-a87c-4410ec749c9f","typeVersion":2},{"parameters":{"jsCode":"// Memory MCP Server - Storage Tool\nconst input = $input.all()[0];\nconst body = input.json.body;\nconst headers = input.json.headers;\n\n// OAuth token validation\nconst authHeader = headers.authorization || headers.Authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return [{\n        json: {\n            error: \"unauthorized\",\n            message: \"Valid Bearer token required\"\n        }\n    }];\n}\n\nconst { content, tags, metadata, conversation_id } = body;\n\n// Store in PostgreSQL\nconst memoryId = `mem_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// MCP-compatible response format\nreturn [{\n    json: {\n        tool_result: {\n            type: \"memory_stored\",\n            memory_id: memoryId,\n            content: content,\n            tags: tags || [],\n            metadata: metadata || {},\n            conversation_id: conversation_id,\n            stored_at: new Date().toISOString(),\n            status: \"success\"\n        }\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-1160],"id":"3e4799cf-30ea-4bab-846f-c4295575b297","name":"Code"},{"parameters":{"jsCode":"// Memory MCP Server - Search Tool\nconst input = $input.all()[0];\nconst query = input.json.query;\nconst headers = input.json.headers;\n\n// OAuth validation\nconst authHeader = headers.authorization || headers.Authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return [{\n        json: { error: \"unauthorized\" }\n    }];\n}\n\nconst { q, tags, limit = 10 } = query;\n\n// Simulate memory search (implement database query)\nconst searchResults = [\n    {\n        memory_id: \"mem_example_123\",\n        content: \"Previous conversation about OAuth implementation\",\n        tags: [\"oauth\", \"implementation\"],\n        relevance_score: 0.95,\n        stored_at: \"2025-06-25T10:00:00Z\"\n    }\n];\n\nreturn [{\n    json: {\n        tool_result: {\n            type: \"memory_search\",\n            query: q,\n            results: searchResults,\n            total_count: searchResults.length\n        }\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-920],"id":"d1567438-3f65-4ceb-9fda-e214fb76837c","name":"Code1"},{"parameters":{"jsCode":"// MCP Server Manifest\nreturn [{\n    json: {\n        protocol_version: \"2024-11-05\",\n        capabilities: {\n            tools: {\n                listChanged: true\n            }\n        },\n        server_info: {\n            name: \"my-memory-mcp\",\n            version: \"1.0.0\",\n            description: \"Personal Memory Management MCP Server\"\n        },\n        tools: [\n            {\n                name: \"store_memory\",\n                description: \"Store information for future recall\",\n                input_schema: {\n                    type: \"object\",\n                    properties: {\n                        content: {\n                            type: \"string\",\n                            description: \"Content to store in memory\"\n                        },\n                        tags: {\n                            type: \"array\",\n                            items: { type: \"string\" },\n                            description: \"Tags for categorization\"\n                        }\n                    },\n                    required: [\"content\"]\n                }\n            },\n            {\n                name: \"search_memory\",\n                description: \"Search stored memories\",\n                input_schema: {\n                    type: \"object\",\n                    properties: {\n                        query: {\n                            type: \"string\",\n                            description: \"Search query\"\n                        },\n                        tags: {\n                            type: \"array\",\n                            items: { type: \"string\" },\n                            description: \"Filter by tags\"\n                        }\n                    },\n                    required: [\"query\"]\n                }\n            }\n        ]\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-700],"id":"60f4603f-b921-4a84-be43-86d1155fb58b","name":"Code2"},{"parameters":{"path":"mcp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-500],"id":"a8510d19-f710-4ef9-bc6d-79665bf1e4b6","name":"MCP Server Root Endpoint","webhookId":"0381f9e7-763a-4b37-8592-41c8e7f7812b"},{"parameters":{"jsCode":"// MCP Server Root Endpoint\nreturn [{\n    json: {\n        protocol_version: \"2024-11-05\",\n        server_info: {\n            name: \"my-memory-mcp\",\n            version: \"1.0.0\",\n            description: \"Personal Memory Management MCP Server\"\n        },\n        capabilities: {\n            tools: {\n                listChanged: true\n            },\n            authentication: {\n                oauth2: true\n            }\n        },\n        endpoints: {\n            memory_store: \"/webhook/mcp/memory/store\",\n            memory_search: \"/webhook/mcp/memory/search\",\n            auth: \"/webhook/oauth/auth\",\n            token: \"/webhook/oauth/token\"\n        }\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-500],"id":"b24cdf24-8f36-40e0-9087-122bcbf359e9","name":"Code3"},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"f6a78beb-dfea-4399-a43c-a0fad289dcd3","name":"Webhook Response3","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,-500]},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"6ef6f0b4-7050-476a-8494-29aa6f12397d","name":"Webhook Response2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,-700]},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"bd8f59e2-586d-47a1-9476-2ce8bf1c03cc","name":"Webhook Response4","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,-920]},{"parameters":{"path":"mcp/memory/search","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-920],"id":"73dd3f5c-47a5-4893-a89d-c45fcae6792f","name":"Memory search","webhookId":"c572fd35-1ad9-46f3-8a0f-d149ca7da16f"},{"parameters":{"httpMethod":"POST","path":"mcp/memory/store","responseMode":"responseNode","options":{}},"id":"a05e6253-ec8c-4e63-adb0-cdbc59f51185","name":"Memory store","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-1160],"webhookId":"5298bc8f-fe1b-41d3-a20b-fdff68191652"},{"parameters":{"path":"mcp/manifest","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-700],"id":"73d2ae71-0d95-4922-928e-ccc7696924c2","name":"MCP Manifest","webhookId":"cd1653c1-b041-4bf1-ac6f-d9636ccd1b60"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Claude MCP Handler","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[]],"main":[[]]},"Postgres PGVector Store1":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"mymemory":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"claude_mcp_handler":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"format_claude_response":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Claude MCP Handler":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Claude MCP Handler1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Test Webhook":{"main":[[{"node":"Simple Response","type":"main","index":0}]]},"Simple Response":{"main":[[{"node":"Webhook Response1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"MCP Server Root Endpoint":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Webhook Response3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Webhook Response4","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Webhook Response2","type":"main","index":0}]]},"Memory search":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Memory store":{"main":[[{"node":"Claude MCP Handler1","type":"main","index":0}]]},"MCP Manifest":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2ef5477-30a0-432b-9c95-b92f9ae535d0","activeVersionId":"d2ef5477-30a0-432b-9c95-b92f9ae535d0","versionCounter":23,"triggerCount":8,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:08:39.600Z","createdAt":"2025-06-24T20:08:39.600Z","role":"workflow:owner","workflowId":"3EqgQo1KUqbQsrL6","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}