n8n/backup/n8n-backup/workflows/4JK71aVT3fFtIKMF.json
{"updatedAt":"2025-06-28T04:23:41.443Z","createdAt":"2025-06-28T04:23:41.443Z","id":"4JK71aVT3fFtIKMF","name":"Web scraping flow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-580,120],"id":"0f31f0cb-541c-4136-b5d7-ad8a27a5ab73","name":"When chat message received","webhookId":"[REDACTED]"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aa9156b4-7556-4229-938b-38e0d9391015","leftValue":"={{ $json.data }}","rightValue":"sitemap","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,120],"id":"c5c39bed-513e-4992-a738-c02a1a2b557a","name":"If sitemap exists"},{"parameters":{"url":"={{ $json.message.content.baseUrl }}/robots.txt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,120],"id":"4c4f5bb9-dd73-4541-ae4b-fdacf1b94afd","name":"Check robots","onError":"continueErrorOutput"},{"parameters":{"content":"## robots.txt\n\nUm zu testen ob wir Webseite schaben dürfen","height":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,-100],"id":"86c0281f-a6d7-42b3-b8de-44f253cf2445","name":"Sticky Note"},{"parameters":{"content":"## sitemap.xml\n\num Unterseiten zu bekommen","height":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-100],"id":"9bc0d07d-7d11-43c1-9414-8c5aa5f3baa3","name":"Sticky Note1"},{"parameters":{"url":"={{ $json.message.content.sitemap }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,0],"id":"a333455c-f94f-44cc-b978-2ff93f63c4ff","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Gib den Sitemap-Wert im JSON-Format mit dieser Struktur aus:\n{\"sitemap\":\"www.example.com/sitemap.xml\"}\nBeachte, dass nur ein einzelner Sitemap-Wert ausgegeben wird. Falls mehrere vorhanden sind, wähle den besten aus, um den richtigen zu verwenden.","role":"system"},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[700,0],"id":"16da222f-40b9-4809-9c17-fda511bc5a14","name":"OpenAI"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Extrahiere jedes einzelne <loc>-Element und gib ein JSON-Objekt wie unten zurück. Achte darauf, dass das erste Schlüssel-Wert-Paar angibt, ob es sich bei den Pfaden um reguläre URLs oder XML handelt. Gib die <loc>-Werte EXAKT so zurück, wie sie im XML stehen – inklusive \"https://\" oder \"http://\", ohne Änderungen oder Kürzungen.\n\n{\n  \"pathway\": \"xml\",\n  \"loc1\": \"https://www.example1.com/sitemap.xml\",\n  \"loc2\": \"https://www.example2.com/sitemap.xml\",\n  \"loc3\": \"https://www.example3.com/sitemap.xml\"\n}\n\noder\n\n{\n  \"pathway\": \"url\",\n  \"loc1\": \"https://www.example1.com\",\n  \"loc2\": \"https://www.example2.com\",\n  \"loc3\": \"https://www.example3.com\"\n}","role":"system"},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-560,1140],"id":"2d5dc088-0f9e-4f68-ad35-d33c63bb126d","name":"OpenAI1"},{"parameters":{"jsCode":"const content = $input.first().json.message.content;\n\n// Extract all `loc1`, `loc2`, etc., into an array\nconst urls = Object.values(content);\n\n// Return each URL as a separate item\nreturn urls.map(url => ({\n  json: { url }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,1240],"id":"87c9dc26-33cd-4f92-a66b-a7af89005533","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[460,1240],"id":"7eab08f0-dbb2-4b34-8742-2e72602e4a35","name":"XML","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Du bist ein Assistent zur Normalisierung von URLs.\nDeine Aufgabe ist es, jede eingegebene URL in ihr standardisiertes Basis-URL-Format umzuwandeln und das Ergebnis als JSON zurückzugeben.\nNormalisierungsregeln:\nStelle sicher, dass die URL mit https:// beginnt (falls nicht, füge es hinzu).\nEntferne www., es sei denn, es ist für die Identität der Domain zwingend erforderlich.\nEntferne alles nach der Domain (Pfade, Query-Strings, Fragmente).\nErhalte Subdomains (z. B. blog.beispiel.com → https://blog.beispiel.com).\nWandle den Domainteil in Kleinbuchstaben um.\nGib das Ergebnis im JSON-Format aus als:\n{\n\"baseUrl\": \"https://beispiel.com\"\n}\nBeispiele:\nInput: n8n.io/path/page\nOutput: { \"baseUrl\": \"https://n8n.io\" }\nInput: http://www.Example.COM/query=1\nOutput: { \"baseUrl\": \"https://example.com\" }\nGib nur das JSON-Objekt aus. Keine zusätzlichen Texte oder Erklärungen.\n","role":"system"},{"content":"={{ $json.chatInput }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-400,120],"id":"d1c8c0ea-23eb-4c13-a168-b6f1c7fee114","name":"OpenAI2"},{"parameters":{"content":"## Xml check\n\nSome websites have 2x sitemap/ xml pages as they have categories, more basic websites will just have one xml","height":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,920],"id":"dca2ee1c-9c50-4783-863f-f6ea138952ff","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b9a4d5b0-2385-49cd-9228-df1c56284cf1","leftValue":"={{ $json.message.content.pathway }}","rightValue":"url","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,1140],"id":"31ff70e3-2ce5-4ab1-8550-02f8235acb31","name":"If"},{"parameters":{"jsCode":"const data = $('OpenAI1').first().json.message;\n\nconst content = data.content;\n\nconst urls = [];\n\nObject.keys(content).forEach(key => {\n  if (key.startsWith('loc')) {\n    urls.push({ json: { url: content[key] } });\n  }\n});\n\nreturn urls;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,1060],"id":"2fac0e80-2c3c-4947-9a55-528eed10de19","name":"Code2"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[460,1060],"id":"b411bd32-7540-486f-b277-47a844f216b1","name":"Markdown"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1100,1240],"id":"36f5b70d-d992-4159-97e5-62ac66c96ac7","name":"Markdown1","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('OpenAI2').item.json.message.content.baseUrl }}/sitemap.xml","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,200],"id":"96e717e8-92cf-4454-b67e-250dcffc8e8e","name":"HTTP Request4","onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('OpenAI2').item.json.message.content.baseUrl }}/site-map.xml","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,480],"id":"a8f441e5-b9b3-4dfb-9bfc-909fc98b867d","name":"HTTP Request5","executeOnce":false,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('OpenAI2').item.json.message.content.baseUrl }}/sitemap_index.xml","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,340],"id":"af79a67b-c495-4a2d-9a12-ec2235cddcf0","name":"HTTP Request6","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('OpenAI2').item.json.message.content.baseUrl }}/sitemap.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,620],"id":"3050cd6f-6cf5-496a-8ec0-3f66a3a77849","name":"HTTP Request7","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1620,620],"id":"7b7c8bc3-448f-4f03-b809-f5e3bbf36e38","name":"Merge"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Function to convert markdown to plain text\nfunction convertMarkdownToPlainText(markdown) {\n  // Ensure we're working with a string\n  let plainText = String(markdown);\n  \n  // Remove links: [text](URL)\n  plainText = plainText.replace(/\\[([^\\]]+)\\]\\([^\\)]+\\)/g, '$1');\n  \n  // Remove images: ![alt text](URL)\n  plainText = plainText.replace(/!\\[([^\\]]*)\\]\\([^\\)]+\\)/g, '$1');\n  \n  // Remove headers: # Header\n  plainText = plainText.replace(/(#+)\\s*(.*)/g, '$2');\n  \n  // Remove bold and italic formatting\n  plainText = plainText.replace(/\\*\\*|\\*|__|_/g, '');\n  \n  // Remove HTML special characters\n  plainText = plainText.replace(/([<>])/g, '');\n  \n  // Remove extra line breaks\n  plainText = plainText.replace(/\\n\\s*\\n/g, '\\n');\n  \n  // Remove bullet points or numbered list formatting\n  plainText = plainText.replace(/^\\s*[-*+]\\s+/gm, '');\n  \n  return plainText.trim();\n}\n\n// Process all items and combine them with page numbers and clear formatting\nconst combinedContent = items.map((item, index) => {\n  let content;\n  if (typeof item === 'object' && item !== null) {\n    content = item.data || item.content || item.text || JSON.stringify(item);\n  } else {\n    content = String(item);\n  }\n  \n  const pageNumber = index + 1;\n  const processedContent = convertMarkdownToPlainText(content);\n  \n  return `Page ${pageNumber}\\n──────────────────\\n\\n${processedContent}\\n\\n\\n`;\n}).join('\\n\\n'); // Double line breaks between pages\n\n// Return with both raw content and formatted content\nreturn [{\n  json: {\n    content: combinedContent,\n    rawContent: items.map((item, index) => ({\n      pageNumber: index + 1,\n      content: convertMarkdownToPlainText(String(item.data || item.content || item.text || item))\n    }))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,1060],"id":"d52d80e8-5a67-4639-ad93-f6f7ebcab791","name":"Strip"},{"parameters":{"jsCode":"function extractAllLocs(data) {\n    const locs = [];\n\n    function findLocs(obj) {\n        if (!obj) return;\n\n        // If it's an object, check for loc key and continue recursion\n        if (typeof obj === 'object') {\n            for (const key in obj) {\n                if (key === 'loc' && typeof obj[key] === 'string') {\n                    locs.push(obj[key]);\n                } else {\n                    findLocs(obj[key]);\n                }\n            }\n        }\n        // If it's an array, loop through each item\n        else if (Array.isArray(obj)) {\n            obj.forEach(findLocs);\n        }\n    }\n\n    findLocs(data);\n    return locs.map(url => ({ url }));\n}\n\n// Usage in n8n:\nconst data = $input.first().json.urlset; // Extracting from the urlset\n\nconst urls = extractAllLocs(data);\n\nreturn urls.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1240],"id":"8026ea38-6c35-4301-a0ab-7e1e0fb4b58a","name":"find URLs"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{"batching":{"batch":{"batchSize":1}},"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,1240],"id":"5ef794ab-29c4-40cc-9891-e7814f6e7f8f","name":"GET URLs"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Function to convert markdown to plain text\nfunction convertMarkdownToPlainText(markdown) {\n  // Ensure we're working with a string\n  let plainText = String(markdown);\n  \n  // Remove links: [text](URL)\n  plainText = plainText.replace(/\\[([^\\]]+)\\]\\([^\\)]+\\)/g, '$1');\n  \n  // Remove images: ![alt text](URL)\n  plainText = plainText.replace(/!\\[([^\\]]*)\\]\\([^\\)]+\\)/g, '$1');\n  \n  // Remove headers: # Header\n  plainText = plainText.replace(/(#+)\\s*(.*)/g, '$2');\n  \n  // Remove bold and italic formatting\n  plainText = plainText.replace(/\\*\\*|\\*|__|_/g, '');\n  \n  // Remove HTML special characters\n  plainText = plainText.replace(/([<>])/g, '');\n  \n  // Remove extra line breaks\n  plainText = plainText.replace(/\\n\\s*\\n/g, '\\n');\n  \n  // Remove bullet points or numbered list formatting\n  plainText = plainText.replace(/^\\s*[-*+]\\s+/gm, '');\n  \n  return plainText.trim();\n}\n\n// Process all items and combine them with page numbers and clear formatting\nconst combinedContent = items.map((item, index) => {\n  let content;\n  if (typeof item === 'object' && item !== null) {\n    content = item.data || item.content || item.text || JSON.stringify(item);\n  } else {\n    content = String(item);\n  }\n  \n  const pageNumber = index + 1;\n  const processedContent = convertMarkdownToPlainText(content);\n  \n  return `Page ${pageNumber}\\n──────────────────\\n\\n${processedContent}\\n\\n\\n`;\n}).join('\\n\\n'); // Double line breaks between pages\n\n// Return with both raw content and formatted content\nreturn [{\n  json: {\n    content: combinedContent,\n    rawContent: items.map((item, index) => ({\n      pageNumber: index + 1,\n      content: convertMarkdownToPlainText(String(item.data || item.content || item.text || item))\n    }))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,1240],"id":"c53afceb-7c55-400a-b3d4-025734ee4b05","name":"Strip1"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1240],"id":"91d6399b-586d-48b2-a3ad-06461dc0b513","name":"GET XML","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}]},"options":{"batching":{"batch":{"batchSize":1}},"allowUnauthorizedCerts":false,"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1060],"id":"336362dd-5ff0-4e8f-b75a-ff2fc72a607e","name":"GET URLs1","onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FEHC1Jzvf5cci10Fi0fkPdoQ8M_2CSHLzHWcXOnZ7mc","mode":"list","cachedResultName":"Test scraping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FEHC1Jzvf5cci10Fi0fkPdoQ8M_2CSHLzHWcXOnZ7mc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FEHC1Jzvf5cci10Fi0fkPdoQ8M_2CSHLzHWcXOnZ7mc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Sitemap":"={{ $('OpenAI').all()[0].json.message.content.sitemap }}","XML":"={{ $('Code').all().map(item => item.json.url).join('\\n') }}","Website URL ":"={{ $('OpenAI2').first().json.message.content.baseUrl }}","Url Liste":"={{ $('find URLs').all().map(item => item.json.url).join('\\n') }}","Inhalt":"={{ $json.content }}"},"matchingColumns":["id"],"schema":[{"id":"Website URL ","displayName":"Website URL ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sitemap","displayName":"Sitemap","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"XML","displayName":"XML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Url Liste","displayName":"Url Liste","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Inhalt","displayName":"Inhalt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,1240],"id":"b8c96502-1181-44f2-8175-8af6d4094a0e","name":"Google Sheets2"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgTKnc3UtYiX5Kd","mode":"list","cachedResultName":"Website_Scraping test","cachedResultUrl":"https://airtable.com/appgTKnc3UtYiX5Kd"},"table":{"__rl":true,"value":"tblBeFbeFjkvkW9Ko","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appgTKnc3UtYiX5Kd/tblBeFbeFjkvkW9Ko"},"columns":{"mappingMode":"defineBelow","value":{"Url":"={{ $('OpenAI').first().json.message.content.sitemap }}","Sitemap":"={{ $('OpenAI').all()[0].json.message.content.sitemap }}","Url Liste":"={{ $('Code2').all().map(item => item.json.url).join('\\n') }}","Inhalt":"={{ $json.content }}"},"matchingColumns":["Name"],"schema":[{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sitemap","displayName":"Sitemap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Xml","displayName":"Xml","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Url Liste","displayName":"Url Liste","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inhalt","displayName":"Inhalt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1740,1240],"id":"5eb8c3b1-b5f1-48c2-990a-6e7cea914b3f","name":"Airtable"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appgTKnc3UtYiX5Kd","mode":"list","cachedResultName":"Website_Scraping test","cachedResultUrl":"https://airtable.com/appgTKnc3UtYiX5Kd"},"table":{"__rl":true,"value":"tblBeFbeFjkvkW9Ko","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appgTKnc3UtYiX5Kd/tblBeFbeFjkvkW9Ko"},"columns":{"mappingMode":"defineBelow","value":{"Url":"={{ $('OpenAI').first().json.message.content.sitemap }}","Sitemap":"={{ $('OpenAI').all()[0].json.message.content.sitemap }}","Url Liste":"={{ $('Code2').all().map(item => item.json.url).join('\\n') }}","Inhalt":"={{ $json.content }}"},"matchingColumns":["Name"],"schema":[{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sitemap","displayName":"Sitemap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Xml","displayName":"Xml","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Url Liste","displayName":"Url Liste","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Inhalt","displayName":"Inhalt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1100,1060],"id":"d488f6dc-c852-413a-b1bb-bfd74ef83988","name":"Airtable1"},{"parameters":{"content":"## Du kannst entweder google sheets oder airtable verbinden (Habe in einem Video in der Beschreibung erklärt wie das geht)","height":180,"width":440},"type":"n8n-nodes-base.stickyNote","position":[1560,920],"typeVersion":1,"id":"0f66b08e-3cba-4225-bfb1-77d4d7160fc5","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FEHC1Jzvf5cci10Fi0fkPdoQ8M_2CSHLzHWcXOnZ7mc","mode":"list","cachedResultName":"Test scraping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FEHC1Jzvf5cci10Fi0fkPdoQ8M_2CSHLzHWcXOnZ7mc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FEHC1Jzvf5cci10Fi0fkPdoQ8M_2CSHLzHWcXOnZ7mc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Sitemap":"={{ $('OpenAI').all()[0].json.message.content.sitemap }}","XML":"=","Website URL ":"={{ $('OpenAI2').first().json.message.content.baseUrl }}","Url Liste":"={{ $('find URLs').all().map(item => item.json.url).join('\\n') }}","Inhalt":"={{ $json.content }}"},"matchingColumns":["id"],"schema":[{"id":"Website URL ","displayName":"Website URL ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sitemap","displayName":"Sitemap","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"XML","displayName":"XML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Url Liste","displayName":"Url Liste","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Inhalt","displayName":"Inhalt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,1060],"id":"7538a1e0-aca6-4187-a648-fd7fed8e4fa5","name":"Google Sheets"}],"connections":{"When chat message received":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"If sitemap exists":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0},{"node":"HTTP Request6","type":"main","index":0},{"node":"HTTP Request5","type":"main","index":0},{"node":"HTTP Request7","type":"main","index":0}]]},"Check robots":{"main":[[{"node":"If sitemap exists","type":"main","index":0}],[{"node":"If sitemap exists","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"GET XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"find URLs","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Check robots","type":"main","index":0}]]},"If":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code2":{"main":[[{"node":"GET URLs1","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Strip","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"Strip1","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request5":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request7":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Strip":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"find URLs":{"main":[[{"node":"GET URLs","type":"main","index":0}]]},"GET URLs":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Strip1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"GET XML":{"main":[[{"node":"XML","type":"main","index":0}]]},"GET URLs1":{"main":[[{"node":"Markdown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bdb4570a-f893-4d17-aedd-ce4fc0ccb7db","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-28T04:23:41.443Z","createdAt":"2025-06-28T04:23:41.443Z","role":"workflow:owner","workflowId":"4JK71aVT3fFtIKMF","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}