n8n/backup/n8n-backup/workflows/4KJkJzTMOhwlQ9Ys.json
{"updatedAt":"2025-06-26T08:58:50.707Z","createdAt":"2025-06-24T09:59:22.492Z","id":"4KJkJzTMOhwlQ9Ys","name":"OAuth 2.1 - Server","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-540,720],"id":"8edf5ce0-8d08-4710-946e-8bd98eab218c","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"oauth/token","responseMode":"responseNode","options":{}},"id":"2b5c1465-7fc3-4411-b2f0-f58bab3ad354","name":"Webhook OAuth Token","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,1960],"webhookId":"oauth-token-endpoint","disabled":true},{"parameters":{"jsCode":"// OAuth 2.1 Client Credentials Flow - Token Request Processing (Fixed)\ntry {\n    // Input von Webhook Node\n    const requestBody = $('Webhook OAuth Token').first().json.body || {};\n    const requestHeaders = $('Webhook OAuth Token').first().json.headers || {};\n    \n    const { grant_type, client_id, client_secret, scope } = requestBody;\n    \n    console.log('OAuth Token Request:', { grant_type, client_id, scope });\n    \n    // Validierung des Grant Types\n    if (grant_type !== 'client_credentials') {\n        return [{\n            json: {\n                error: 'unsupported_grant_type',\n                error_description: 'Only client_credentials grant type is supported',\n                valid_grant_types: ['client_credentials'],\n                statusCode: 400,\n                isError: true\n            }\n        }];\n    }\n    \n    // Prüfe ob alle erforderlichen Parameter vorhanden sind\n    if (!client_id || !client_secret) {\n        return [{\n            json: {\n                error: 'invalid_request',\n                error_description: 'Missing required parameters: client_id and client_secret',\n                statusCode: 400,\n                isError: true\n            }\n        }];\n    }\n    \n    // Environment Variables laden\n    const jwtSecret = $env.JWT_SECRET;\n    const issuer = $env.OAUTH_ISSUER || 'https://oauth.srv768465.hstgr.cloud';\n    const audience = $env.OAUTH_AUDIENCE || 'mcp-api';\n    \n    // Basis-Validierung der Environment Variables\n    if (!jwtSecret) {\n        return [{\n            json: {\n                error: 'server_error',\n                error_description: 'OAuth server configuration incomplete',\n                statusCode: 500,\n                isError: true\n            }\n        }];\n    }\n    \n    // Erfolgreiche Vorbereitung für Client-Validation\n    return [{\n        json: {\n            client_id,\n            client_secret,\n            scope: scope || 'mcp:read mcp:execute',\n            jwtSecret,\n            issuer,\n            audience,\n            grant_type,\n            request_time: new Date().toISOString(),\n            statusCode: 200,\n            isError: false\n        }\n    }];\n    \n} catch (error) {\n    console.error('OAuth Token Processing Error:', error);\n    return [{\n        json: {\n            error: 'server_error',\n            error_description: 'Internal processing error: ' + error.message,\n            statusCode: 500,\n            isError: true\n        }\n    }];\n}\n"},"id":"e0ee79a3-34a5-44b5-80fa-b64891e6d949","name":"Process Token Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,1740]},{"parameters":{"operation":"executeQuery","query":"SELECT client_id, client_name, scopes, active\nFROM oauth_clients \nWHERE client_id = '{{ $('Process Token Request').item.json.client_id }}'\n  AND client_secret = '{{ $('Process Token Request').item.json.client_secret }}'\n  AND active = true\nLIMIT 1;\n","options":{"queryReplacement":"={\n  \"client_id\": \"{{ $('Process Token Request').item.json.client_id }}\",\n  \"client_secret\": \"{{ $('Process Token Request').item.json.client_secret }}\"\n}"}},"id":"c609712d-f212-4536-91ac-50b1c609b023","name":"Validate Client","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[160,1740],"credentials":{"postgres":{"id":"hAzDmp31rfcaYBX8","name":"Postgres account"}}},{"parameters":{"jsCode":"// JWT Token Generation für OAuth 2.1 (Fixed)\nconst crypto = require('crypto');\n\ntry {\n    // Input von vorherigen Nodes\n    const clientValidation = $('Validate Client').first().json || [];\n    const tokenRequest = $('Process Token Request').first().json;\n    \n    // Prüfe ob vorheriger Node einen Fehler hatte\n    if (tokenRequest.isError) {\n        return [{\n            json: tokenRequest  // Fehler weiterleiten\n        }];\n    }\n    \n    console.log('Client Validation Result:', clientValidation.length, 'clients found');\n    \n    // Client existiert nicht oder invalid\n    if (!clientValidation || clientValidation.length === 0) {\n        return [{\n            json: {\n                error: 'invalid_client',\n                error_description: 'Invalid client credentials or client not found',\n                statusCode: 401,\n                isError: true\n            }\n        }];\n    }\n    \n    const client = clientValidation[0];\n    const requestedScopes = tokenRequest.scope.split(' ');\n    \n    // Scope-Validierung\n    const clientScopes = client.scopes || [];\n    const validScopes = requestedScopes.filter(scope => \n        clientScopes.includes(scope) || scope === 'mcp:read'\n    );\n    \n    // Default Scope falls keine validen Scopes\n    if (validScopes.length === 0) {\n        validScopes.push('mcp:read');\n    }\n    \n    console.log('Granted Scopes:', validScopes);\n    \n    // JWT Header\n    const header = {\n        alg: 'HS256',\n        typ: 'JWT',\n        kid: 'oauth-server-key-1'\n    };\n    \n    // JWT Payload\n    const now = Math.floor(Date.now() / 1000);\n    const tokenId = crypto.randomUUID();\n    \n    const payload = {\n        iss: tokenRequest.issuer,\n        aud: tokenRequest.audience,\n        sub: client.client_id,\n        client_id: client.client_id,\n        client_name: client.client_name,\n        scope: validScopes.join(' '),\n        iat: now,\n        exp: now + (24 * 60 * 60), // 24 Stunden\n        nbf: now,\n        jti: tokenId,\n        token_type: 'access_token'\n    };\n    \n    console.log('JWT Payload created for client:', client.client_id);\n    \n    // JWT signieren\n    const headerB64 = Buffer.from(JSON.stringify(header)).toString('base64url');\n    const payloadB64 = Buffer.from(JSON.stringify(payload)).toString('base64url');\n    const signatureInput = `${headerB64}.${payloadB64}`;\n    \n    const signature = crypto\n        .createHmac('sha256', tokenRequest.jwtSecret)\n        .update(signatureInput)\n        .digest('base64url');\n    \n    const accessToken = `${headerB64}.${payloadB64}.${signature}`;\n    \n    // Success Response\n    return [{\n        json: {\n            access_token: accessToken,\n            token_type: 'Bearer',\n            expires_in: 86400, // 24 Stunden\n            scope: validScopes.join(' '),\n            client_id: client.client_id,\n            client_name: client.client_name,\n            issued_at: now,\n            expires_at: new Date((now + 86400) * 1000).toISOString(),\n            token_id: tokenId,\n            db_scopes: validScopes,\n            statusCode: 200,\n            isError: false\n        }\n    }];\n    \n} catch (error) {\n    console.error('JWT Generation Error:', error);\n    return [{\n        json: {\n            error: 'server_error',\n            error_description: 'Token generation failed: ' + error.message,\n            statusCode: 500,\n            isError: true\n        }\n    }];\n}\n"},"id":"1760d75a-22e6-488e-8ea2-cdbb66348925","name":"Generate JWT Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,1740]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO oauth_tokens (access_token, client_id, scopes, expires_at, active)\nVALUES (\n  '{{ $('Generate JWT Token').item.json.access_token }}',\n  '{{ $('Generate JWT Token').item.json.client_id }}',\n  ARRAY[{{ $('Generate JWT Token').item.json.db_scopes.map(s => `'${s}'`).join(',') }}],\n  '{{ $('Generate JWT Token').item.json.expires_at }}',\n  true\n)\nRETURNING token_id, created_at;\n","options":{"queryReplacement":"={\n  \"access_token\": \"{{ $('Generate JWT Token').item.json.access_token }}\",\n  \"client_id\": \"{{ $('Generate JWT Token').item.json.client_id }}\",\n  \"scopes\": \"{{ $('Generate JWT Token').item.json.scope.split(' ') }}\",\n  \"expires_at\": \"{{ $('Generate JWT Token').item.json.expires_at }}\"\n}\n"}},"id":"89702eea-bd18-4283-931f-6cceaffecb72","name":"Store Token1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[600,1740],"credentials":{"postgres":{"id":"hAzDmp31rfcaYBX8","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"98f35b25-3d6f-42c0-a550-2767b122721e","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1100,1740]},{"parameters":{"jsCode":"// Response Handler für OAuth-Workflow (Fixed)\ntry {\n    const input = $input.first().json;\n    \n    // Prüfe ob es ein Fehler-Response ist\n    if (input.isError || input.error) {\n        console.error('OAuth Error:', input.error, input.error_description);\n        \n        // HTTP Status über $execution setzen für Webhook Response\n        $execution.setCurrentExecutionData({\n            http: {\n                statusCode: input.statusCode || 400,\n                headers: {\n                    'Content-Type': 'application/json',\n                    'Cache-Control': 'no-store',\n                    'Pragma': 'no-cache'\n                }\n            }\n        });\n        \n        return [{\n            json: {\n                error: input.error,\n                error_description: input.error_description,\n                timestamp: new Date().toISOString(),\n                request_id: $('Webhook OAuth Token').first().json.headers['x-request-id'] || 'unknown'\n            }\n        }];\n    }\n    \n    // Success Response\n    const tokenData = $('Store Token').first().json[0] || {};\n    const jwtResponse = input;\n    \n    console.log('OAuth Token issued successfully for client:', jwtResponse.client_id);\n    \n    // HTTP Status für Success setzen\n    $execution.setCurrentExecutionData({\n        http: {\n            statusCode: 200,\n            headers: {\n                'Content-Type': 'application/json',\n                'Cache-Control': 'no-store',\n                'Pragma': 'no-cache',\n                'X-Token-ID': tokenData.token_id || 'unknown'\n            }\n        }\n    });\n    \n    return [{\n        json: {\n            access_token: jwtResponse.access_token,\n            token_type: jwtResponse.token_type,\n            expires_in: jwtResponse.expires_in,\n            scope: jwtResponse.scope,\n            issued_at: jwtResponse.issued_at,\n            token_id: tokenData.token_id\n        }\n    }];\n    \n} catch (error) {\n    console.error('Response Handler Error:', error);\n    \n    $execution.setCurrentExecutionData({\n        http: {\n            statusCode: 500,\n            headers: {\n                'Content-Type': 'application/json'\n            }\n        }\n    });\n    \n    return [{\n        json: {\n            error: 'server_error',\n            error_description: 'Response processing failed'\n        }\n    }];\n}\n"},"id":"d446a7af-9b04-4c11-8bd2-ebd59146f8e2","name":"Format Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,1740]},{"parameters":{"jsCode":"# If code logic fails:\n# 1. Edit the Code node\n# 2. Replace with simple response:\nreturn [{ json: { message: \"Authorization endpoint active\" } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-560],"id":"0ce0994f-b346-4fd0-81cf-1f9cd7be3f31","name":"Code","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1020,-560],"id":"fb79485c-a779-40b2-ba5a-d275eacefa77","name":"Respond to Webhook"},{"parameters":{"jsCode":"// OAuth Callback Handler\nconst query = $input.all()[0].json.query;\nconst { code, state } = query;\n\nreturn [{\n    json: {\n        message: \"Authorization code received\",\n        code: code,\n        state: state,\n        next_step: \"Exchange code for token at /webhook/oauth/token\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-80],"id":"78aef978-d24b-42d8-84ab-a9626b7ac41d","name":"Code1","disabled":true},{"parameters":{"respondWith":"text","responseBody":"=  {\n    \"message\": \"OAuth authorization successful\",\n    \"status\": \"complete\",\n    \"code\": \"{{$json.code}}\"\n  }","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"=Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,-80],"id":"841ca9ef-daf5-4869-a723-d2028a5d6d64","name":"Respond to Webhook2"},{"parameters":{"path":"oauth/auth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,-560],"id":"f54ebdf5-8bbb-4e5e-9679-63fc99aedbd5","name":"Webhook auth","webhookId":"316e9da1-8019-4633-9bd0-222f1e271c15"},{"parameters":{"path":"oauth/callback","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,-80],"id":"79067c0a-f31f-46a7-8cb1-34d8df1d6d45","name":"Webhook callback","webhookId":"ec4d0c59-ec97-4b1f-a4fb-0b2baa7eae3f","disabled":true},{"parameters":{"jsCode":"const query = $input.all()[0].json.query;\nconst { client_id, response_type, redirect_uri, code_challenge, code_challenge_method, state } = query;\n\n// Basic validation\nif (client_id !== 'ai-service-client') {\n    return [{ json: { error: \"invalid_client\" } }];\n}\n\n// Generate auth code\nconst authCode = `auth_${Date.now()}`;\nconst redirectUrl = `${redirect_uri}?code=${authCode}&state=${state}`;\n\nreturn [{ json: { \n    auth_code: authCode,\n    redirect_url: redirectUrl,\n    message: \"Authorization successful\"\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,-560],"id":"56984b36-cad6-48c3-b776-7adf7d01df41","name":"Code2","disabled":true},{"parameters":{"jsCode":"// OAuth Callback Handler\nconst query = $input.all()[0].json.query;\nconst { code, state } = query;\n\nconsole.log('OAuth Callback received:', { code, state });\n\n// Validate authorization code\nif (!code || !code.startsWith('auth_')) {\n    return [{\n        json: {\n            error: \"invalid_grant\",\n            error_description: \"Invalid authorization code\",\n            status: 400\n        }\n    }];\n}\n\n// Success response for OAuth flow completion\nreturn [{\n    json: {\n        message: \"OAuth authorization complete\",\n        code: code,\n        state: state,\n        status: \"success\",\n        next_step: \"Authorization code can now be exchanged for access token\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,-80],"id":"485377ce-1106-411c-be95-84032de3dd11","name":"Code3","disabled":true},{"parameters":{"jsCode":"// OAuth 2.1 Token Exchange Handler\nconst input = $input.all()[0];\nconst body = input.json.body || {};\nconst headers = input.json.headers || {};\n\nconsole.log('Token request received:', body);\n\n// Parse form data if content-type is application/x-www-form-urlencoded\nlet tokenData = body;\nif (headers['content-type'] && headers['content-type'].includes('application/x-www-form-urlencoded')) {\n    // Parse URL encoded data\n    const params = new URLSearchParams(body);\n    tokenData = Object.fromEntries(params);\n} else if (typeof body === 'string') {\n    // Parse if body is a string\n    try {\n        const params = new URLSearchParams(body);\n        tokenData = Object.fromEntries(params);\n    } catch (e) {\n        console.log('Failed to parse body as URL encoded:', e);\n    }\n}\n\nconst { grant_type, code, client_id, client_secret, code_verifier, redirect_uri } = tokenData;\n\nconsole.log('Parsed token data:', { grant_type, code, client_id, code_verifier: code_verifier ? 'present' : 'missing' });\n\n// Validate grant type (OAuth 2.1 requirement)\nif (grant_type !== 'authorization_code') {\n    return [{\n        json: {\n            error: \"unsupported_grant_type\",\n            error_description: \"Only authorization_code grant type is supported in OAuth 2.1\"\n        },\n        headers: { \n            \"Content-Type\": \"application/json\",\n            \"Cache-Control\": \"no-store\"\n        }\n    }];\n}\n\n// Validate client credentials\nif (client_id !== 'ai-service-client') {\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Invalid client_id\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// Validate authorization code\nif (!code || !code.startsWith('auth_')) {\n    return [{\n        json: {\n            error: \"invalid_grant\",\n            error_description: \"Invalid or expired authorization code\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// OAuth 2.1 MANDATORY: Validate PKCE code verifier\nif (!code_verifier) {\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"PKCE code_verifier is required for OAuth 2.1\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// Generate access and refresh tokens\nconst accessToken = `access_${Date.now()}_${Math.random().toString(36).substr(2, 16)}`;\nconst refreshToken = `refresh_${Date.now()}_${Math.random().toString(36).substr(2, 16)}`;\nconst expiresIn = 3600; // 1 hour\n\n// Return successful token response (OAuth 2.1 compliant)\nreturn [{\n    json: {\n        access_token: accessToken,\n        token_type: \"Bearer\",\n        expires_in: expiresIn,\n        refresh_token: refreshToken,\n        scope: \"api_access\"\n    },\n    headers: { \n        \"Content-Type\": \"application/json\",\n        \"Cache-Control\": \"no-store\",\n        \"Pragma\": \"no-cache\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,120],"id":"9602164f-780a-462b-8562-0d1c2538e9ab","name":"Code4","disabled":true},{"parameters":{"httpMethod":"POST","path":"oauth/token","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,120],"id":"aa934bf5-28d7-4bfe-bebb-404e092881bb","name":"Webhook token","webhookId":"4465f62c-c8af-42c1-a33d-acbc9d424c08"},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Cache-Control","value":"no-store"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1460,120],"id":"b5a30605-d1e4-41dd-b2d1-58021bcf3f64","name":"Respond to Webhook3"},{"parameters":{"jsCode":"// Enhanced OAuth 2.1 Authorization Handler\nconst query = $input.all()[0].json.query;\nconst { client_id, response_type, redirect_uri, code_challenge, code_challenge_method, state, scope } = query;\n\nconsole.log('OAuth Auth Request:', query);\n\n// OAuth 2.1 MANDATORY: PKCE with S256\nif (!code_challenge || code_challenge_method !== 'S256') {\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"PKCE with S256 method is required for OAuth 2.1\",\n            status: 400\n        }\n    }];\n}\n\n// OAuth 2.1 MANDATORY: State parameter for CSRF protection\nif (!state) {\n    return [{\n        json: {\n            error: \"invalid_request\", \n            error_description: \"State parameter is required for CSRF protection\",\n            status: 400\n        }\n    }];\n}\n\n// Validate client_id\nif (client_id !== 'ai-service-client') {\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Unknown client_id\",\n            status: 400\n        }\n    }];\n}\n\n// Validate redirect_uri (exact matching)\nconst allowedRedirectUris = [\n    'https://n8n.hcai42.com/webhook/oauth/callback',\n    'https://n8n.hcai42.com/rest/oauth2-credential/callback'\n];\n\nif (!allowedRedirectUris.includes(redirect_uri)) {\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"Invalid redirect_uri\",\n            status: 400\n        }\n    }];\n}\n\n// Reject implicit flow (OAuth 2.1 deprecation)\nif (response_type === 'token') {\n    return [{\n        json: {\n            error: \"unsupported_response_type\",\n            error_description: \"Implicit flow is deprecated in OAuth 2.1\",\n            status: 400\n        }\n    }];\n}\n\n// Generate authorization code with PKCE binding\nconst authCode = `auth_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Store code_challenge for verification (in production, use database)\n// For now, include in response for verification\nconst redirectUrl = `${redirect_uri}?code=${authCode}&state=${state}`;\n\nreturn [{\n    json: {\n        auth_code: authCode,\n        redirect_url: redirectUrl,\n        client_id: client_id,\n        scope: scope || 'api_access',\n        code_challenge: code_challenge, // Store for later verification\n        state: state\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-560],"id":"2613336d-94a3-4fe0-b35d-bb8106b6b140","name":"auth (improved security)","disabled":true},{"parameters":{"jsCode":"// Enhanced OAuth 2.1 Token Exchange Handler\nconsole.log('Token exchange request received');\nconsole.log('Input data:', JSON.stringify($input.all(), null, 2));\n\nconst input = $input.all()[0];\nconst rawBody = input.json.body;\nconst headers = input.json.headers || {};\nconst query = input.json.query || {};\n\nconsole.log('Raw body:', rawBody);\nconsole.log('Headers:', headers);\nconsole.log('Query:', query);\n\n// Handle different body formats\nlet tokenData = {};\n\n// Check if body is URL-encoded string\nif (typeof rawBody === 'string') {\n    console.log('Processing URL-encoded body');\n    try {\n        const params = new URLSearchParams(rawBody);\n        tokenData = Object.fromEntries(params);\n        console.log('Parsed URL-encoded data:', tokenData);\n    } catch (e) {\n        console.log('Failed to parse URL-encoded body:', e);\n    }\n} else if (rawBody && typeof rawBody === 'object') {\n    console.log('Processing object body');\n    tokenData = rawBody;\n} else {\n    console.log('Processing query parameters as fallback');\n    tokenData = query;\n}\n\nconst { grant_type, code, client_id, client_secret, code_verifier, redirect_uri } = tokenData;\n\nconsole.log('Extracted token data:', { \n    grant_type, \n    code, \n    client_id, \n    code_verifier: code_verifier ? 'present' : 'missing',\n    client_secret: client_secret ? 'present' : 'missing'\n});\n\n// Validate grant type\nif (grant_type !== 'authorization_code') {\n    console.log('Invalid grant type:', grant_type);\n    return [{\n        json: {\n            error: \"unsupported_grant_type\",\n            error_description: \"Only authorization_code grant type is supported in OAuth 2.1\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// Validate client credentials\nif (client_id !== 'ai-service-client') {\n    console.log('Invalid client_id:', client_id);\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Invalid client_id\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// Validate authorization code\nif (!code || !code.startsWith('auth_')) {\n    console.log('Invalid authorization code:', code);\n    return [{\n        json: {\n            error: \"invalid_grant\",\n            error_description: \"Invalid or expired authorization code\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// OAuth 2.1 MANDATORY: Validate PKCE code verifier\nif (!code_verifier) {\n    console.log('Missing code_verifier');\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"PKCE code_verifier is required for OAuth 2.1\"\n        },\n        headers: { \"Content-Type\": \"application/json\" }\n    }];\n}\n\n// Generate tokens\nconst timestamp = Date.now();\nconst randomSuffix = Math.random().toString(36).substr(2, 16);\nconst accessToken = `access_${timestamp}_${randomSuffix}`;\nconst refreshToken = `refresh_${timestamp}_${randomSuffix}`;\n\nconsole.log('Generated tokens successfully');\n\n// Return successful token response\nreturn [{\n    json: {\n        access_token: accessToken,\n        token_type: \"Bearer\",\n        expires_in: 3600,\n        refresh_token: refreshToken,\n        scope: \"api_access\"\n    },\n    headers: { \n        \"Content-Type\": \"application/json\",\n        \"Cache-Control\": \"no-store\",\n        \"Pragma\": \"no-cache\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,120],"id":"01eb63e0-d886-4d9d-b40b-d9022a212f38","name":"Code5","disabled":true},{"parameters":{"jsCode":"// Fixed OAuth 2.1 Token Exchange with Proper Body Parsing\nconsole.log('=== TOKEN EXCHANGE DEBUG ===');\n\nconst input = $input.all()[0];\nconsole.log('Full input:', JSON.stringify(input, null, 2));\n\n// Get the raw body and headers\nconst rawBody = input.json.body;\nconst headers = input.json.headers || {};\nconst method = input.json.method;\nconst query = input.json.query || {};\n\nconsole.log('Raw body type:', typeof rawBody);\nconsole.log('Raw body content:', rawBody);\nconsole.log('Headers:', headers);\nconsole.log('Method:', method);\n\n// Multiple parsing strategies\nlet tokenData = {};\n\n// Strategy 1: If body is already an object (parsed by n8n)\nif (rawBody && typeof rawBody === 'object' && !Array.isArray(rawBody)) {\n    console.log('Using parsed object body');\n    tokenData = rawBody;\n}\n// Strategy 2: If body is a URL-encoded string\nelse if (typeof rawBody === 'string' && rawBody.includes('grant_type=')) {\n    console.log('Parsing URL-encoded string body');\n    try {\n        // Manual parsing of URL-encoded data\n        const pairs = rawBody.split('&');\n        pairs.forEach(pair => {\n            const [key, value] = pair.split('=');\n            if (key && value) {\n                tokenData[decodeURIComponent(key)] = decodeURIComponent(value);\n            }\n        });\n        console.log('Manually parsed data:', tokenData);\n    } catch (e) {\n        console.log('Manual parsing failed:', e);\n    }\n}\n// Strategy 3: Check query parameters as fallback\nelse if (query && Object.keys(query).length > 0) {\n    console.log('Using query parameters as fallback');\n    tokenData = query;\n}\n// Strategy 4: Try URLSearchParams if available\nelse if (typeof rawBody === 'string') {\n    console.log('Trying URLSearchParams parsing');\n    try {\n        const searchParams = new URLSearchParams(rawBody);\n        tokenData = Object.fromEntries(searchParams.entries());\n        console.log('URLSearchParams parsed data:', tokenData);\n    } catch (e) {\n        console.log('URLSearchParams failed:', e);\n    }\n}\n\nconsole.log('Final parsed tokenData:', tokenData);\n\n// Extract parameters\nconst { grant_type, code, client_id, client_secret, code_verifier } = tokenData;\n\nconsole.log('Extracted parameters:', {\n    grant_type: grant_type,\n    code: code,\n    client_id: client_id,\n    code_verifier: code_verifier ? 'present' : 'missing',\n    client_secret: client_secret ? 'present' : 'missing'\n});\n\n// Validate grant type with detailed logging\nconsole.log('Validating grant_type...');\nconsole.log('grant_type value:', `\"${grant_type}\"`);\nconsole.log('grant_type type:', typeof grant_type);\n\nif (!grant_type) {\n    console.log('ERROR: grant_type is missing');\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"Missing grant_type parameter\"\n        }\n    }];\n}\n\nif (grant_type !== 'authorization_code') {\n    console.log('ERROR: Invalid grant_type:', grant_type);\n    return [{\n        json: {\n            error: \"unsupported_grant_type\",\n            error_description: `Received grant_type: \"${grant_type}\", expected: \"authorization_code\"`\n        }\n    }];\n}\n\nconsole.log('grant_type validation passed');\n\n// Validate client_id\nif (client_id !== 'ai-service-client') {\n    console.log('ERROR: Invalid client_id:', client_id);\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Invalid client_id\"\n        }\n    }];\n}\n\n// Validate authorization code\nif (!code || !code.startsWith('auth_')) {\n    console.log('ERROR: Invalid code:', code);\n    return [{\n        json: {\n            error: \"invalid_grant\",\n            error_description: \"Invalid authorization code\"\n        }\n    }];\n}\n\n// OAuth 2.1 PKCE validation\nif (!code_verifier) {\n    console.log('ERROR: Missing code_verifier');\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"PKCE code_verifier required\"\n        }\n    }];\n}\n\n// Generate tokens\nconst accessToken = `access_${Date.now()}_${Math.random().toString(36).substr(2, 12)}`;\nconst refreshToken = `refresh_${Date.now()}_${Math.random().toString(36).substr(2, 12)}`;\n\nconsole.log('=== TOKEN GENERATION SUCCESSFUL ===');\n\nreturn [{\n    json: {\n        access_token: accessToken,\n        token_type: \"Bearer\",\n        expires_in: 3600,\n        refresh_token: refreshToken,\n        scope: \"api_access\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,120],"id":"b90227a8-c174-4550-8639-18dee8edc2b8","name":"Code6","disabled":true},{"parameters":{"jsCode":"// OAuth 2.1 Token Exchange with Database Storage\nconst input = $input.all()[0];\nconst body = input.json.body || {};\n\n// Parse form data\nlet tokenData = body;\nif (typeof body === 'string') {\n    try {\n        const params = new URLSearchParams(body);\n        tokenData = Object.fromEntries(params);\n    } catch (e) {\n        console.log('Failed to parse body:', e);\n    }\n}\n\nconst { grant_type, code, client_id, client_secret, code_verifier } = tokenData;\n\n// Validation logic (same as before)\nif (grant_type !== 'authorization_code') {\n    return [{ json: { error: \"unsupported_grant_type\" } }];\n}\n\nif (client_id !== 'ai-service-client') {\n    return [{ json: { error: \"invalid_client\" } }];\n}\n\nif (!code || !code.startsWith('auth_')) {\n    return [{ json: { error: \"invalid_grant\" } }];\n}\n\nif (!code_verifier) {\n    return [{ json: { error: \"invalid_request\", error_description: \"PKCE required\" } }];\n}\n\n// Generate tokens\nconst accessToken = `access_${Date.now()}_${Math.random().toString(36).substr(2, 16)}`;\nconst refreshToken = `refresh_${Date.now()}_${Math.random().toString(36).substr(2, 16)}`;\n\n// Store in database (if you have PostgreSQL node connected)\nconst expiresAt = new Date(Date.now() + 3600000).toISOString();\n\nreturn [{\n    json: {\n        access_token: accessToken,\n        token_type: \"Bearer\",\n        expires_in: 3600,\n        refresh_token: refreshToken,\n        scope: \"api_access\"\n    },\n    // Pass data for database storage\n    db_data: {\n        auth_code: code,\n        client_id: client_id,\n        access_token: accessToken,\n        refresh_token: refreshToken,\n        expires_at: expiresAt,\n        scope: \"api_access\",\n        used: true\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,120],"id":"7409785c-58e7-449b-a6f9-9604efc9ea33","name":"Code7","disabled":true},{"parameters":{"path":"rest/oauth2-credential/callback","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-280,40],"id":"3e2b6d96-e5db-446c-ab02-30c6ebc1375b","name":"Webhook callback1","webhookId":"ec4d0c59-ec97-4b1f-a4fb-0b2baa7eae3f","disabled":true},{"parameters":{"path":"rest/oauth2-credential/auth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-280,-460],"id":"34cbc28b-5a4b-4a58-89a6-f36e504deff1","name":"Webhook auth1","webhookId":"316e9da1-8019-4633-9bd0-222f1e271c15"},{"parameters":{"httpMethod":"POST","path":"rest/oauth2-credential/token","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-280,240],"id":"2019b993-ee71-4bb9-8018-102d4371089e","name":"Webhook token1","webhookId":"4465f62c-c8af-42c1-a33d-acbc9d424c08"},{"parameters":{"jsCode":"// n8n Built-in OAuth Authorization Handler\nconst query = $input.all()[0].json.query;\nconst { client_id, response_type, redirect_uri, code_challenge, code_challenge_method, state, scope } = query;\n\nconsole.log('n8n OAuth request:', query);\n\n// Validate n8n OAuth request\nif (client_id !== 'ai-service-client') {\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Invalid client_id\"\n        }\n    }];\n}\n\n// Generate authorization code\nconst authCode = `n8n_auth_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Return n8n-compatible redirect\nconst redirectUrl = `${redirect_uri}?code=${authCode}&state=${state}`;\n\nreturn [{\n    json: {\n        redirect_url: redirectUrl,\n        status: \"success\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-80],"id":"1df0f4f4-643e-45f3-9511-cc1f695dad8b","name":"Code8"},{"parameters":{"path":"oauth/callback","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-280,-200],"id":"8fa861b6-bc06-4579-8921-3f5ab391b159","name":"Webhook callback2","webhookId":"ec4d0c59-ec97-4b1f-a4fb-0b2baa7eae3f","disabled":true},{"parameters":{"jsCode":"// OAuth Callback Handler for n8n Credential\nconst query = $input.all()[0].json.query;\nconst { code, state, error } = query;\n\nconsole.log('OAuth callback received:', { code, state, error });\n\nif (error) {\n    return [{\n        json: {\n            error: error,\n            error_description: \"OAuth authorization failed\"\n        }\n    }];\n}\n\n// Validate authorization code\nif (!code || !code.startsWith('auth_')) {\n    return [{\n        json: {\n            error: \"invalid_grant\",\n            error_description: \"Invalid authorization code\"\n        }\n    }];\n}\n\n// Return success response for n8n credential system\nreturn [{\n    json: {\n        message: \"OAuth authorization successful\",\n        code: code,\n        state: state,\n        status: \"authorized\",\n        // This tells n8n the OAuth flow completed successfully\n        authorization_complete: true\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-280],"id":"fe222adc-7530-4921-8999-985b607a5455","name":"Code9","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[360,-280],"id":"27b5da43-4c5d-447f-8527-d56a2da2c487","name":"Respond to Webhook4","disabled":true},{"parameters":{"path":"oauth/validate","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,440],"id":"8f7f6b87-a87e-452c-91b7-1060b49808af","name":"Webhook oauth validate","webhookId":"58e10d77-63ea-4a34-8c85-d4978148d71c"},{"parameters":{"jsCode":"// OAuth Token Validation Endpoint\nconst headers = $input.all()[0].json.headers;\nconst authHeader = headers.authorization || headers.Authorization;\n\nconsole.log('Received auth header:', authHeader);\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return [{\n        json: {\n            error: \"unauthorized\",\n            message: \"Missing or invalid Authorization header\"\n        }\n    }];\n}\n\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\n\n// Validate token format\nif (!token.startsWith('access_')) {\n    return [{\n        json: {\n            error: \"invalid_token\",\n            message: \"Invalid access token format\"\n        }\n    }];\n}\n\n// Return success response\nreturn [{\n    json: {\n        message: \"Token validation successful\",\n        token_valid: true,\n        token_prefix: token.substring(0, 20) + \"...\",\n        authenticated: true\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,440],"id":"f0aed1f1-bb31-4800-97c5-d0690b8cf21c","name":"Code10","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Cache-Control","value":"no-store"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[580,440],"id":"1ca71833-55ad-47f7-9cc2-c8d1e576d832","name":"Respond to Webhook5"},{"parameters":{"jsCode":"// OAuth Token Validation Endpoint\nconst headers = $input.all()[0].json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization;\n\nconsole.log('=== TOKEN VALIDATION ===');\nconsole.log('All headers:', headers);\nconsole.log('Auth header:', authHeader);\n\nif (!authHeader) {\n    return [{\n        json: {\n            error: \"unauthorized\",\n            message: \"Missing Authorization header\",\n            token_valid: false\n        }\n    }];\n}\n\nif (!authHeader.startsWith('Bearer ')) {\n    return [{\n        json: {\n            error: \"invalid_token_format\",\n            message: \"Authorization header must start with 'Bearer '\",\n            token_valid: false\n        }\n    }];\n}\n\nconst token = authHeader.substring(7); // Remove \"Bearer \" prefix\nconsole.log('Token extracted:', token.substring(0, 20) + '...');\n\n// Validate token format (should start with 'access_')\nif (!token.startsWith('access_')) {\n    return [{\n        json: {\n            error: \"invalid_token\",\n            message: \"Invalid access token format\",\n            token_valid: false\n        }\n    }];\n}\n\n// Return success response\nreturn [{\n    json: {\n        message: \"Token validation successful\",\n        token_valid: true,\n        token_preview: token.substring(0, 20) + \"...\",\n        authenticated: true,\n        client_id: \"ai-service-client\",\n        scope: \"api_access\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,440],"id":"6053e34a-b647-4e0f-86d8-e7c32a2e6faa","name":"Code11"},{"parameters":{"jsCode":"// Hardcoded test response for debugging\nconsole.log('Token webhook triggered - hardcoded response test');\n\nreturn [{\n    json: {\n        access_token: \"test_access_token_12345\",\n        token_type: \"Bearer\",\n        expires_in: 3600,\n        refresh_token: \"test_refresh_token_67890\",\n        scope: \"api_access\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,120],"id":"65bf7417-2467-4cde-954f-fc81c2425564","name":"hardcoded test","disabled":true},{"parameters":{"jsCode":"// Fixed OAuth 2.1 Token Exchange with Proper URL-encoded Parsing\nconsole.log('=== TOKEN EXCHANGE START ===');\n\nconst input = $input.all()[0];\nconst rawBody = input.json.body;\nconst headers = input.json.headers || {};\n\nconsole.log('Raw body received:', rawBody);\nconsole.log('Content-Type:', headers['content-type']);\n\n// Parse URL-encoded body correctly\nlet tokenData = {};\n\nif (typeof rawBody === 'string' && rawBody.length > 0) {\n    console.log('Parsing URL-encoded string:', rawBody);\n    \n    // Split by & and then by = to parse URL-encoded data\n    const pairs = rawBody.split('&');\n    pairs.forEach(pair => {\n        const [key, value] = pair.split('=');\n        if (key && value !== undefined) {\n            tokenData[decodeURIComponent(key)] = decodeURIComponent(value);\n        }\n    });\n    \n    console.log('Parsed token data:', tokenData);\n} else if (typeof rawBody === 'object' && rawBody !== null) {\n    console.log('Using object body directly');\n    tokenData = rawBody;\n} else {\n    console.log('No valid body found');\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"No request body found\"\n        }\n    }];\n}\n\n// Extract OAuth parameters\nconst { grant_type, code, client_id, client_secret, code_verifier } = tokenData;\n\nconsole.log('Extracted parameters:', {\n    grant_type,\n    code,\n    client_id,\n    code_verifier: code_verifier ? 'present' : 'missing'\n});\n\n// Validate grant type\nif (grant_type !== 'authorization_code') {\n    console.log('Invalid grant_type:', grant_type);\n    return [{\n        json: {\n            error: \"unsupported_grant_type\",\n            error_description: `Expected authorization_code, got: ${grant_type}`\n        }\n    }];\n}\n\n// Validate client\nif (client_id !== 'ai-service-client') {\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Invalid client_id\"\n        }\n    }];\n}\n\n// Validate authorization code\nif (!code || !code.startsWith('auth_')) {\n    return [{\n        json: {\n            error: \"invalid_grant\",\n            error_description: \"Invalid authorization code\"\n        }\n    }];\n}\n\n// Validate PKCE\nif (!code_verifier) {\n    return [{\n        json: {\n            error: \"invalid_request\",\n            error_description: \"PKCE code_verifier required\"\n        }\n    }];\n}\n\n// Generate tokens using the actual auth code\nconst timestamp = Date.now();\nconst codePrefix = code.substring(5, 15); // Use part of auth code for uniqueness\nconst accessToken = `access_${timestamp}_${codePrefix}`;\nconst refreshToken = `refresh_${timestamp}_${codePrefix}`;\n\nconsole.log('=== TOKEN GENERATION SUCCESS ===');\n\nreturn [{\n    json: {\n        access_token: accessToken,\n        token_type: \"Bearer\", \n        expires_in: 3600,\n        refresh_token: refreshToken,\n        scope: \"api_access\"\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,120],"id":"2144db19-1954-416e-8adb-b8a569a544aa","name":"Code12"},{"parameters":{"url":"https://n8n.hcai42.com/webhook/oauth/validate","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,720],"id":"c6971d0e-d707-43e2-b702-1e3a06aed7b0","name":"HTTP Request","credentials":{"oAuth2Api":{"id":"3m2Ns6rMrZ66JhIc","name":"OAuth 2.1 Credential"},"httpCustomAuth":{"id":"etGIWMLvCn7JhRc3","name":"Custom Auth account 3"}}},{"parameters":{"jsCode":"// Enhanced OAuth for MCP Support\nconst query = $input.all()[0].json.query;\nconst { client_id, response_type, redirect_uri, code_challenge, code_challenge_method, state, scope } = query;\n\n// Support MCP clients\nconst validClients = [\n    'ai-service-client',\n    'memory-mcp-client',\n    'claude-mcp-client'  // For Claude.ai integration\n];\n\nif (!validClients.includes(client_id)) {\n    return [{\n        json: {\n            error: \"invalid_client\",\n            error_description: \"Unknown client_id\"\n        }\n    }];\n}\n\n// MCP-specific scopes\nconst mcpScopes = ['memory:read', 'memory:write', 'memory:search', 'mcp:tools'];\nif (client_id.includes('mcp') && !mcpScopes.some(s => scope.includes(s))) {\n    return [{\n        json: {\n            error: \"invalid_scope\",\n            error_description: \"MCP clients require memory scopes\"\n        }\n    }];\n}\n\n// Generate authorization code\nconst authCode = `auth_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst redirectUrl = `${redirect_uri}?code=${authCode}&state=${state}`;\n\nreturn [{\n    json: {\n        auth_code: authCode,\n        redirect_url: redirectUrl,\n        client_id: client_id,\n        scope: scope,\n        mcp_enabled: true\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-560],"id":"bd3ee3cd-c9f6-46e1-a9fb-2b0e0b4e5dfc","name":"Code13"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook OAuth Token":{"main":[[{"node":"Process Token Request","type":"main","index":0}]]},"Process Token Request":{"main":[[{"node":"Validate Client","type":"main","index":0}]]},"Validate Client":{"main":[[{"node":"Generate JWT Token","type":"main","index":0}]]},"Generate JWT Token":{"main":[[{"node":"Store Token1","type":"main","index":0}]]},"Store Token1":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Format Response1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Webhook auth":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook callback":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Webhook token":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"auth (improved security)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"hardcoded test","type":"main","index":0}]]},"Webhook callback1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Webhook auth1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook token1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Webhook callback2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Webhook oauth validate":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Code11","type":"main","index":0}]]},"Code11":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"hardcoded test":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Code13":{"main":[[{"node":"auth (improved security)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"375f7bde-9919-4b38-8340-7c0b3c36783b","activeVersionId":"375f7bde-9919-4b38-8340-7c0b3c36783b","versionCounter":23,"triggerCount":5,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:09:03.942Z","createdAt":"2025-06-24T20:09:03.942Z","role":"workflow:owner","workflowId":"4KJkJzTMOhwlQ9Ys","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}