n8n/backup/n8n-backup/workflows/9rY0gEAGs2P2TLyk.json
{"updatedAt":"2025-07-16T07:37:56.373Z","createdAt":"2025-07-16T06:44:50.244Z","id":"9rY0gEAGs2P2TLyk","name":"my_archive","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5968f4a5-5f0d-4b20-81f1-0b7d034a418f","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,200],"id":"8dcf8249-a0fe-466b-82e5-4e03704c11c5","name":"When chat message received","webhookId":"291dbfc1-438f-489f-a19e-31b2ac342b98","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,0],"id":"0d47d061-203b-4927-bf32-0f4e0d83d4e5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,220],"id":"a4db53c9-1fa9-42bc-a90c-1628f8c9553c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[520,220],"id":"10187424-c49e-457a-8320-d08cbda53b30","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreZep","typeVersion":1.3,"position":[800,0],"id":"916e1ca9-5022-451f-ac6b-19d3f8a59f38","name":"Zep Vector Store"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"},{"id":"280ff90e-15f3-4c31-b549-f4d1e3df1e99","name":"","value":"","type":"string"}]},"options":{}},"id":"b364535f-7118-4c04-87d7-6d433b3c7b4d","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-320]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"31806473-771a-4f7d-8602-1a4c81fbcc5e","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-20,-480],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"e73842e8-da95-41de-a1da-e2cd0b99cbe7","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[140,-480],"credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.voiceFileID }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ae8a0add-940e-4fa9-a0d6-a4bce7ea0ad6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"allMatchingOutputs":false}},"id":"499506c0-aebf-4cfa-bb5d-819e9c41e266","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-280,-400]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"e9c003c7-4cd0-4422-a12c-c9d3f16d9f34","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-660,-320],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}},"disabled":true},{"parameters":{"content":"# Trigger\n","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,-560],"id":"3fc77a6a-adf8-47e0-b0be-1426f7b725c7","name":"Sticky Note1"},{"parameters":{"content":"# Response\n\n","height":400,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,-560],"id":"116530b4-4fdf-4223-b99d-f8e651ab3068","name":"Sticky Note5"},{"parameters":{"content":"# Voice or Text","height":400,"width":420,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,-560],"id":"8f6c437c-9b54-4817-8e21-af1da4657681","name":"Sticky Note7"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n\"query\": \"Please create a blog post about the effect of missing the opportunity to work with AI systems in organizations for employees in the public service in Germany.\",\n\"messageID\": 123,\n\"chatID\": 789\n}\n"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-660,-480],"id":"71c433a4-1362-461d-a3b8-2588fd9ce039","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ecb0b603-474d-491e-b000-cf0a56dea154","name":"message.text","value":"={{ $json.query }}","type":"string"},{"id":"ec3f76fb-cf8f-4574-b700-7a45e5d552e4","name":"messageID","value":"={{ $json.messageID }}","type":"number"},{"id":"d4ea82e5-83ca-444b-a764-28ec33607e65","name":"chatID","value":"={{ $json.chatID }}","type":"number"},{"id":"d6c7ecc9-5b11-4538-adfb-b6f8bf7e0c10","name":"voiceFileID","value":"={{ $json.voiceFileID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-500,-480],"id":"acfff7f2-a1fd-4061-98b8-5c715499d92b","name":"Edit Fields"},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.chatID }}","text":"={{ $ifEmpty( $json.output, 'Empty return value at Workflow: ' + $workflow.name + ' - ID: ' + $workflow.id + '\\n' ) }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,-400],"id":"010a4505-3c95-41c4-abdc-9293ff2da012","name":"Send a text message","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"content":"# Archive","height":400,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,-560],"id":"07d3a903-6c88-4c87-aa0f-f00cccb6b3d0","name":"Sticky Note"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[520,400],"id":"443b61e0-e8bc-413d-b633-149583204e49","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"14ZxxsG3YThZiHoc","name":"Postgres account (Host: n8n-db Port: 5432 DB: n8n)"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[620,220],"id":"ec116114-a519-4025-9147-3aa4ab449da8","name":"Zep"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"Zep Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"Zep":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Please let Marketing create a video of  an ai agent is hunting business professionals","messageID":373,"chatID":7523827206}}]},"versionId":"533c5b53-3721-443f-afdf-f410f4da6386","activeVersionId":"533c5b53-3721-443f-afdf-f410f4da6386","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-07-16T06:44:50.244Z","createdAt":"2025-07-16T06:44:50.244Z","role":"workflow:owner","workflowId":"9rY0gEAGs2P2TLyk","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}