n8n/backup/n8n-backup/workflows/BMwKdbYbHPxhEeIB.json
{"updatedAt":"2025-06-28T04:32:55.655Z","createdAt":"2025-05-25T07:25:14.539Z","id":"BMwKdbYbHPxhEeIB","name":"Google Drive","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ \n(($json.query.length) > 0) ? $json.query : ''; \n}}","options":{"systemMessage":"# Overview\nYou are a document management assistant. Your responsibilities include looking up files and folder, adding new file, or updating document information.\n\n# Tools Available\n**Search Files**\n- Use this tool to find a specific files in Google Drive.\n- The user may ask for a file name or folder name.\n- **Always use this tool first before retrieving all files.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[200,0],"id":"14454dd3-427a-4287-b113-fec046894e72","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,240],"id":"de9cb75a-2516-46ed-ab30-defac6ab1916","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"11534de3-81db-4b63-925c-9c3d6feef07a","name":"When Executed by Another Workflow","notesInFlow":false},{"parameters":{"resource":"fileFolder","limit":50,"queryString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[360,240],"id":"f103ccce-afe0-4a89-847c-a58052f0a123","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"v4Smj3HRLiJq7Au6","name":"Google Drive account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Get contact information for Adonis"}}]},"versionId":"c622a4db-6410-43e8-ac67-1f329016e872","activeVersionId":"c622a4db-6410-43e8-ac67-1f329016e872","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:09:57.357Z","createdAt":"2025-06-24T20:09:57.357Z","role":"workflow:owner","workflowId":"BMwKdbYbHPxhEeIB","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}