n8n/backup/n8n-backup/workflows/cEg1F7THoOaYmCQA.json
{"updatedAt":"2025-06-28T04:24:11.687Z","createdAt":"2025-06-28T04:24:11.687Z","id":"cEg1F7THoOaYmCQA","name":"WhatsApp Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].audio.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9775ac2e-85b9-4cb2-9fe2-6f84ac7da66e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3388ce7f-5682-4851-8fce-65cd19c74ab1","leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-200,-20],"id":"0b55caaf-b182-46b7-a99c-cf6d5db2fc8f","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,-120],"id":"a434e507-a661-4ba7-92f3-4367234ff55a","name":"Transkribieren"},{"parameters":{"assignments":{"assignments":[{"id":"3af8999f-0611-4e73-a7b1-fc4943a05d24","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,80],"id":"cd346ff5-24d7-4b63-99ca-953ad1efe22f","name":"Text standardisieren"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-540,-20],"id":"8237499e-013c-4873-9056-b75f628ce8c4","name":"WhatsApp Trigger","webhookId":"c6d493ca-461d-4f9c-a1a3-86dddd0c5949"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[20,-120],"id":"e0523fcd-fee0-426b-b86a-18fc09e8d991","name":"Audio Download","webhookId":"f934c36b-efb2-4da8-9783-aa47605b60d1"},{"parameters":{"operation":"send","phoneNumberId":"646567571865121","recipientPhoneNumber":"+4917684019210","textBody":"={{ $json.message.content }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1080,-20],"id":"80bf147e-7625-4bb9-9f18-fcedfe751f88","name":"Nachricht senden","webhookId":"10215879-a376-4208-9941-6a1e73a563ae"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d30b693f0355d6086eb340db2b8df8d4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-120],"id":"3bb12728-7f4a-476f-b584-dcb68bf8b1e0","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}{{ $json.text }}","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[680,-20],"id":"ff0954b9-0eac-4de2-ba41-c334b1bcdd87","name":"OpenAI"},{"parameters":{"path":"47053ef9-6239-438f-9bee-2bde5e3269c6","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,160],"id":"5f270336-5dc5-4c4d-96d1-f3e0c04e2754","name":"Webhook","webhookId":"47053ef9-6239-438f-9bee-2bde5e3269c6"}],"connections":{"Switch":{"main":[[{"node":"Audio Download","type":"main","index":0}],[{"node":"Text standardisieren","type":"main","index":0}]]},"Transkribieren":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Text standardisieren":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Audio Download":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transkribieren","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Nachricht senden","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"71d81be5-2351-4e6e-8d69-69f44e23c8ec","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-28T04:24:11.687Z","createdAt":"2025-06-28T04:24:11.687Z","role":"workflow:owner","workflowId":"cEg1F7THoOaYmCQA","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}