n8n/backup/n8n-backup/workflows/EzsavXDyz6eI54yb.json
{"updatedAt":"2025-06-24T22:18:59.111Z","createdAt":"2025-06-24T10:20:18.374Z","id":"EzsavXDyz6eI54yb","name":"MCP-OAuth-Validator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"47a8b21c-ece4-40f1-9bd3-0c420aecadc0","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const authHeader = $('Webhook').first().json.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return [{\n        json: {\n            error: 'missing_token',\n            error_description: 'Authorization header missing or invalid'\n        },\n        http: { statusCode: 401 }\n    }];\n}\n\nconst token = authHeader.substring(7); // Entferne \"Bearer \"\n\n// Token-Format prüfen (JWT: header.payload.signature)\nconst tokenParts = token.split('.');\nif (tokenParts.length !== 3) {\n    return [{\n        json: {\n            error: 'invalid_token',\n            error_description: 'Token format invalid'\n        },\n        http: { statusCode: 401 }\n    }];\n}\n\nreturn [{\n    json: {\n        access_token: token,\n        header: tokenParts[0],\n        payload: tokenParts[1],\n        signature: tokenParts[2]\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"6db51eb4-d2ad-4cbb-b116-103d4f5826c5","name":"Parse Authorization Header"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst tokenData = $('Parse Authorization Header').first().json;\nconst jwtSecret = $env.JWT_SECRET;\n\ntry {\n    // Signature validieren\n    const signatureInput = `${tokenData.header}.${tokenData.payload}`;\n    const expectedSignature = crypto\n        .createHmac('sha256', jwtSecret)\n        .update(signatureInput)\n        .digest('base64url');\n    \n    if (expectedSignature !== tokenData.signature) {\n        return [{\n            json: {\n                error: 'invalid_token',\n                error_description: 'Token signature invalid'\n            },\n            http: { statusCode: 401 }\n        }];\n    }\n    \n    // Payload dekodieren\n    const payload = JSON.parse(Buffer.from(tokenData.payload, 'base64url').toString());\n    \n    // Expiration prüfen\n    const now = Math.floor(Date.now() / 1000);\n    if (payload.exp < now) {\n        return [{\n            json: {\n                error: 'token_expired',\n                error_description: 'Token has expired'\n            },\n            http: { statusCode: 401 }\n        }];\n    }\n    \n    // Audience prüfen\n    if (payload.aud !== $env.OAUTH_AUDIENCE) {\n        return [{\n            json: {\n                error: 'invalid_audience',\n                error_description: 'Token audience mismatch'\n            },\n            http: { statusCode: 401 }\n        }];\n    }\n    \n    return [{\n        json: {\n            valid: true,\n            client_id: payload.client_id,\n            scopes: payload.scope.split(' '),\n            expires_at: payload.exp,\n            token_id: payload.jti\n        }\n    }];\n    \n} catch (error) {\n    return [{\n        json: {\n            error: 'invalid_token',\n            error_description: 'Token validation failed'\n        },\n        http: { statusCode: 401 }\n    }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"910655e9-a928-4ba3-8802-b59af7dde778","name":"Validate JWT"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Parse Authorization Header","type":"main","index":0}]]},"Parse Authorization Header":{"main":[[{"node":"Validate JWT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d0c76c62-a20c-4dbe-bb7c-e000c27ad427","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:10:30.872Z","createdAt":"2025-06-24T20:10:30.872Z","role":"workflow:owner","workflowId":"EzsavXDyz6eI54yb","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}