n8n/backup/n8n-backup/workflows/EZZ5g93jpn7pxE3v.json
{"updatedAt":"2025-08-01T06:33:13.921Z","createdAt":"2025-07-31T15:00:09.262Z","id":"EZZ5g93jpn7pxE3v","name":"HCAIstructure","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"output","stringValue":"={{ $('AI Agent').item.json.output }}"}]},"include":"none","options":{}},"id":"abd169d2-c1e5-42b3-b657-6399055404ab","name":"Edit Fields","type":"n8n-nodes-base.set","position":[352,96],"typeVersion":3.2},{"parameters":{},"id":"a283149c-8690-4987-87e2-88aae6108d47","name":"Limit","type":"n8n-nodes-base.limit","position":[128,96],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"HCAIstructure","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,96],"id":"11ea4843-6b51-48f1-9f6a-62eb5795296c","name":"Webhook","webhookId":"2c125942-9bce-467c-8cef-40e4627d1a5d","credentials":{"httpHeaderAuth":{"id":"mLTFxRaJAdwPdHC9","name":"x-api-key"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": true,\n  \"message\": \"Task wurde erfolgreich verarbeitet\",\n  \"updatedTask\": {\n    \"status\": \"In Bearbeitung\",\n    \"taskId\": \"{{$node['Webhook'].json.body.id}}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-688,96],"id":"0076aa3d-55ff-4b57-b373-1b26df04c48c","name":"Respond to Webhook","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"181cf7fc-17a0-4c5a-9fc4-2207f244b6ae","name":"body.message","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,96],"id":"aa1926e2-7dcf-478a-b29b-3055d58cdaf2","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=Message: {{ $json.body.message }}\n\nGib die Antwort ausschließlich als gültiges Wert für ein JSON-Objekt im folgenden Format zurück und ohne \" am Beginn oder am Ende, ohne Markdown, Code-Block oder zusätzliche Zeichen zurück. Gib KEINE erklärenden Worte und KEINE ``` und KEINE \"\n\n# Beispiel:\n\"<Antwort>\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-272,96],"id":"c9b19f9f-b051-4818-924a-eb106057643c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-304,304],"id":"d3fcdc6d-127d-4cff-b8c5-092b21ed8294","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"message\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[784,96],"id":"1502ee1c-2ffb-4e70-8097-fb8d076b07bd","name":"Respond to Webhook1"},{"parameters":{"jsCode":"return items.map(origItem => {\n  try {\n    const output = origItem.output;\n    const parsed = typeof output === 'string' ? JSON.parse(output) : output;\n    origItem.valid_json = true;\n    origItem.parsed_output = parsed;\n  } catch (e) {\n    origItem.valid_json = false;\n    origItem.error = \"Invalid JSON: \" + e.message;\n  }\n  // **WICHTIG: neues Objekt mit \"json\"-Key zurückgeben**\n  return { json: origItem };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,96],"id":"3b497bba-58ff-4ceb-94ed-9d62a8138330","name":"validation and correction","disabled":true}],"connections":{"Edit Fields":{"main":[[{"node":"validation and correction","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Limit","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"validation and correction":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.hcai42.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36","content-length":"79","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9,de;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"217.233.122.24","cf-ipcountry":"DE","cf-ray":"96833e68ab9060e6-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"a81272ab-f5eb-4574-9081-88f1c88aaf60","connection":"keep-alive","content-type":"application/json","origin":"https://www.hcai42.com","priority":"u=1, i","referer":"https://www.hcai42.com/","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"217.233.122.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"message":"wie schreibe ich eine höffliche e-mail für meinen vorgesetzten?"},"webhookUrl":"https://n8n.hcai42.com/webhook/HCAIstructure","executionMode":"production"}}]},"versionId":"fa0d3de4-1c30-43ad-a180-05766a96bea4","activeVersionId":"fa0d3de4-1c30-43ad-a180-05766a96bea4","versionCounter":23,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-07-31T15:00:09.262Z","createdAt":"2025-07-31T15:00:09.262Z","role":"workflow:owner","workflowId":"EZZ5g93jpn7pxE3v","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}