n8n/backup/n8n-backup/workflows/fXTV6m6I84Eryjcn.json
{"updatedAt":"2025-06-24T22:23:32.524Z","createdAt":"2025-06-16T06:53:00.819Z","id":"fXTV6m6I84Eryjcn","name":"Kalender-Agent-Teamplate","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1100,280],"id":"af24f52a-5912-44a8-9108-23213e709819","name":"Telegram Trigger","webhookId":"45a20069-fe0a-4809-a434-62186e1427df"},{"parameters":{"promptType":"define","text":"=Nutzer query: {{ $json.message.text }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Kalenderassistent. Deine Aufgabe ist es, die eingehende Anfrage zu analysieren und die Absicht des Nutzers zu erkennen.\n\n## Tools\n\nContacts – Verwende dieses Tool, um Kontaktinformationen wie E-Mail-Adressen abzurufen. Du musst dieses Tool verwenden, wenn der Nutzer ein Ereignis mit einem Teilnehmer erstellen möchte. Wenn kein Teilnehmer angegeben ist, musst du dieses Tool nicht verwenden.\n\nGet_Events – Verwende dieses Tool, wenn der Nutzer ein Ereignis erstellen, löschen oder aktualisieren möchte. Du solltest die Details des Ereignisses bereitstellen, um sicherzustellen, dass es sich um das richtige Ereignis handelt, das gelöscht oder aktualisiert werden soll.\n\n## Regeln\n\nDu musst immer die Funktion „Ereignisse abrufen“ verwenden, um sicherzustellen, dass es keine Terminkonflikte gibt.\nWenn du gebeten wirst, ein Ereignis zu verschieben, zu aktualisieren oder zu löschen, musst du „Ereignisse abrufen“ verwenden, um das Ereignis zu bestätigen. Gib dabei die Details des Ereignisses wie Datum, Uhrzeit und E-Mail-Adressen der Teilnehmer an.\n\n## Ausgabe\n\nGib die Anfrage des Nutzers wieder und stelle bei Bedarf Rückfragen zur Klärung.\nGib immer die E-Mail-Adresse des angeforderten Kontakts aus, falls der Nutzer dies wünscht.\nFalls es zwei Einträge für denselben Namen gibt, gib die E-Mail-Adresse sowie die Art des Kontakts an.\n\n## Abschließende Hinweise\nHier ist das aktuelle Datum/Uhrzeit: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-960,280],"id":"eac690aa-8181-491d-a31f-30ef498b4a97","name":"Intent Agent"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-900,460],"id":"ce33cc60-8745-42a9-8e41-d1b93710bd78","name":"Get_Events"},{"parameters":{"assignments":{"assignments":[{"id":"3ab6c175-d35c-48a3-a9db-5162f962d5f9","name":"intent","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,280],"id":"3a4b8139-1968-4a71-9009-9e0b99970f39","name":"Set Intent"},{"parameters":{"inputText":"={{ $json.result.text }}","categories":{"categories":[{"category":"Genehmigt","description":"Der Nutzer bestätigt oder stimmt unserer Anfrage zu. Das bedeutet, dass er anerkennt, dass die bereitgestellten Informationen oder Maßnahmen korrekt sind und wir fortfahren können. Genehmigungsnachrichten enthalten oft Formulierungen wie:\n„Ja“\n„Sieht gut aus für mich“\n„Senden“\n„Korrekt“\n„Genehmigt“\n„Das funktioniert“\n„Klingt gut“\n„Mach weiter“"},{"category":"Abgelehnt","description":"Der Nutzer gibt Feedback, das keine Zustimmung signalisiert. Dies kann Änderungswünsche, Korrekturen oder zusätzliche Klärungen umfassen. Eine Ablehnung kann auch die Angabe eines E-Mail-Typs beinhalten, wie z. B. „geschäftlich“ oder „privat“.\n\nBeispiele für Ablehnungsformulierungen:\n„Abgelehnt“\n„Geschäftlich“\n„Ändere die Uhrzeit“\n„Privat“\n„Beide löschen“\n„Das erste löschen“\n„Heute“\n„Morgen“\n„22. Februar“"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-360,280],"id":"3adf74d9-2998-4cce-86fb-733dc695804a","name":"Check Feedback"},{"parameters":{"promptType":"define","text":"=Ursprüngliche Absicht: {{ $('Set Intent').item.json.intent }}\n\nFeedback des Nutzers: {{ $json.data.text }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Korrekturassistent. Deine Aufgabe ist es, die ursprüngliche Ausgabe zu überprüfen und basierend auf dem Feedback des Nutzers zu korrigieren.\n\n## Ausgabe\n\nDeine Aufgabe ist es, die neue Absicht der Anfrage auszugeben.\nGib immer alle erforderlichen Details an, wie die E-Mail-Adressen der Teilnehmer, Uhrzeit, Datum, Zusammenfassung usw.\nStelle bei Bedarf eine Klärungsfrage. Wenn es nichts zu klären gibt, frage einfach: „Ist das korrekt?"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,380],"id":"e7cbefe3-64a6-46d2-949f-ec10ba0ab8a5","name":"Correction Agent"},{"parameters":{"promptType":"define","text":"={{ $('Set Intent').item.json.intent }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Kalenderassistent. Deine Aufgaben umfassen das Erstellen, Abrufen und Löschen von Terminen im Kalender des Nutzers.\n\n**Kalenderverwaltungs-Tools**\n\n- Verwende „Termin mit Teilnehmer erstellen“, wenn ein Ereignis einen Teilnehmer beinhaltet.\n- Verwende „Termin erstellen“ für Einzeltermine.\n- Verwende „Termine abrufen“, um den Kalenderplan abzurufen, wenn dies gewünscht wird.\n- Verwende „Termin löschen“, um ein Ereignis zu entfernen. Du musst zuerst „Termine abrufen“ nutzen, um die ID des zu löschenden Termins zu erhalten.\n- Verwende „Termin aktualisieren“, um einen Termin zu ändern. Auch hier musst du zuerst „Termine abrufen“ verwenden, um die ID des zu aktualisierenden Termins zu ermitteln.\n\n## Regeln\n\nSetze die eingehende Anfrage direkt in eine Aktion um. Ignoriere Klärungsfragen und handle ausschließlich basierend auf der erhaltenen Absicht.\n\n## Abschließende Hinweise\n\nAktuelles Datum/Uhrzeit: {{ $now }}\nFalls keine Dauer für einen Termin angegeben wird, gehe davon aus, dass er eine Stunde dauert."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,0],"id":"25ba4590-d9f1-41a3-b424-fb36f25bb5be","name":"Calendar Agent"},{"parameters":{"calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[20,220],"id":"f392eddf-ff01-4f07-b3f6-daf87e7dbc9d","name":"Create Event"},{"parameters":{"calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[140,220],"id":"b0c2cc6c-d709-49ff-b33f-c89e136fbf08","name":"Create Event with Attendee"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[380,220],"id":"91e96d10-86b5-4a3e-a110-5173797126cc","name":"Update Event"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[260,220],"id":"8965c5bd-815b-485e-9c76-1371cdf516c6","name":"Get Events"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[500,220],"id":"a82bc891-7948-495a-8351-690638888dae","name":"Delete Event"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,0],"id":"69bb782a-e41a-45e8-920e-4db87f9c164c","name":"Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f"},{"parameters":{"documentId":{"__rl":true,"value":"1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w","mode":"list","cachedResultName":"Test Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-780,460],"id":"346aa312-057d-4b8d-a3f5-55af3c17dd6e","name":"Contacts"},{"parameters":{"sessionKey":"=chat_with_{{ $('Telegram Trigger').first().json.message.chat.id }}","contextWindowLength":12},"id":"a36a0e3f-8eed-4be8-a5ba-ffebff3232d3","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-1020,460],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-280,520],"id":"e6e34749-52f3-4bb8-9bdc-60daa0569421","name":"4o"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.intent }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-500,280],"id":"12cb3cec-b9f0-4ffc-81c1-465047d9a5db","name":"Answer User","webhookId":"06135021-087d-4558-be06-94de90f2f053"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Intent Agent","type":"main","index":0}]]},"Get_Events":{"ai_tool":[[{"node":"Intent Agent","type":"ai_tool","index":0}]]},"Intent Agent":{"main":[[{"node":"Set Intent","type":"main","index":0}]]},"Set Intent":{"main":[[{"node":"Answer User","type":"main","index":0}]]},"Check Feedback":{"main":[[{"node":"Calendar Agent","type":"main","index":0}],[{"node":"Correction Agent","type":"main","index":0}]]},"Correction Agent":{"main":[[{"node":"Set Intent","type":"main","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Calendar Agent":{"main":[[{"node":"Response","type":"main","index":0}]]},"Contacts":{"ai_tool":[[{"node":"Intent Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Intent Agent","type":"ai_memory","index":0}]]},"4o":{"ai_languageModel":[[{"node":"Correction Agent","type":"ai_languageModel","index":0},{"node":"Calendar Agent","type":"ai_languageModel","index":0},{"node":"Check Feedback","type":"ai_languageModel","index":0},{"node":"Intent Agent","type":"ai_languageModel","index":0}]]},"Answer User":{"main":[[{"node":"Check Feedback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e1078e02-981e-415b-a3e5-e87a703c1dfd","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:14:04.090Z","createdAt":"2025-06-24T20:14:04.090Z","role":"workflow:owner","workflowId":"fXTV6m6I84Eryjcn","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}