n8n/backup/n8n-backup/workflows/glEuEuo0LJuiN6ci.json
{"updatedAt":"2025-06-24T22:23:17.975Z","createdAt":"2025-06-16T06:50:53.346Z","id":"glEuEuo0LJuiN6ci","name":"KI-Agenten-Armee","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1960,560],"id":"297cc8e5-1f4b-472d-8243-7c295177eb90","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5980147848688175869"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1020,1200],"id":"19904b85-3d05-4f8f-a005-e082e9d3deec","name":"Add Label","webhookId":"2c5fd530-fdd0-4cb0-8f05-e139ee997e00","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Email Classifier').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-20,1500],"id":"4df135b8-9d92-4266-a604-43a6874909e4","name":"Mark As Read","webhookId":"7a0744ac-f775-4fb5-a86d-ae47d5748d27","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1220,1140],"id":"33c5f496-ce98-4b28-8036-a61e5832d3bf","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"inputText":"=E-Mail-Betreff: {{ $('Gmail Trigger').item.json.subject }}\nAbsender: {{ $('Gmail Trigger').item.json.from.text }}","categories":{"categories":[{"category":"Community Interaktion","description":"Diese Kategorie umfasst E-Mails von noreply@skool.com, die mich über Interaktionen mit meinen Inhalten oder neue Beiträge in meiner Skool-Community informieren. Dazu gehören Benachrichtigungen über Likes, Kommentare, Antworten oder neue Beiträge von Community-Mitgliedern. Typische Betreffzeilen enthalten Formulierungen wie „1 new notification since…“."},{"category":"Event Erinnerungen","description":"Diese Kategorie umfasst Event-Erinnerungen aus dem Skool-Kalender, die von noreply@skool.com gesendet werden. Diese E-Mails informieren über anstehende Veranstaltungen, z. B. mit Betreffzeilen wie „1 event happening tomorrow“."},{"category":"Private Chat Nachrichten","description":"Diese Kategorie umfasst E-Mails von noreply@skool.com, die mich über eine private Nachricht von einem Skool-Nutzer informieren. Die Betreffzeile enthält oft den Namen des Absenders und eine Formulierung wie „Name sent you a message“."},{"category":"Systemnachrichten","description":"Diese Kategorie umfasst administrative Systemnachrichten von noreply@skool.com, die mich als Community-Administrator betreffen. Sie enthalten wichtige Informationen zu meinem Konto, anstehenden Aktionen oder Änderungen an den Einstellungen. Beispiele für Betreffzeilen sind „Free trial ends in…“ oder „Your payment method needs an update“."},{"category":"Stripe  Zahlungen","description":"Diese Kategorie umfasst E-Mails von support@stripe.com, die sich auf Skool-Zahlungen beziehen. Sie können Informationen zu Zahlungseingängen, offenen Rechnungen oder erforderlichen Aktionen enthalten. Typische Betreffzeilen sind „Action required Stripe still needs more information to continue receiving payments from Skool“."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-860,1200],"id":"90f6e71b-d5e1-4a08-b7c9-3df6b6dfe194","name":"Skool Classifier"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Input\n\nBetreff: {{ $('Gmail Trigger').item.json.subject }}\nAbsender: {{  $('Gmail Trigger').item.json.from.text }}\nE-Mail-Inhalt: {{  $('Gmail Trigger').item.json.textAsHtml }}\n\n## Aufgabe\n\nFasse diese Stripe-Zahlungsnachricht in maximal zwei Sätzen zusammen.\nFalls eine Aktion erforderlich ist, erwähne dies deutlich.\n\n### Beispielausgabe:\n\n„**Skool Payment:** Stripe benötigt weitere Informationen für deine Skool-Zahlungen. Bitte überprüfe dein Konto.“\n\n## Zusätzliche Regeln\n\n- Die deine Nachricht muss immer auf deutsch sein\n- Füge an den Begin der Nachricht den Prefix „**Skool Payment:**“\n\n## Output\n\nDeine Antwort muss im folgenden JSON Format sein:\n\n{\n  \"message\": \"Deine Nachricht hier\"\n}","role":"system"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,1500],"id":"59ca4fc9-6c7a-48bd-8e99-4ae96fbea52c","name":"Stripe Payment","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Input\n\nBetreff: {{ $('Gmail Trigger').item.json.subject }}\nAbsender: {{  $('Gmail Trigger').item.json.from.text }}\nE-Mail-Inhalt: {{  $('Gmail Trigger').item.json.textAsHtml }}\n\n## Aufgabe\n\nFasse diese Skool-Event-Erinnerung in maximal zwei Sätzen zusammen.\nErwähne den Event-Namen und wann er stattfindet.\n\n### Beispielausgabe:\n\n„**Skool Event:** Morgen um 19 Uhr findet das wöchentliche Community-Meeting statt.“\n\n## Zusätzliche Regeln\n\n- Die deine Nachricht muss immer auf deutsch sein\n- Füge an den Begin der Nachricht den Prefix „**Skool Event:**“\n\n## Output\n\nDeine Antwort muss im folgenden JSON Format sein:\n\n{\n  \"message\": \"Deine Nachricht hier\"\n}","role":"system"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,1140],"id":"701b2119-3575-4ac1-8951-dfcd6a779b16","name":"Event Notification","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Input\n\nBetreff: {{ $('Gmail Trigger').item.json.subject }}\nAbsender: {{  $('Gmail Trigger').item.json.from.text }}\nE-Mail-Inhalt: {{  $('Gmail Trigger').item.json.textAsHtml }}\n\n## Aufgabe\n\nFasse die Community-Interaktion aus meiner Skool-Community in maximal zwei Sätzen zusammen.\nErwähne, wer interagiert hat und in welcher Form (z. B. Kommentar, Like oder neuer Beitrag).\nFalls es sich um eine Benachrichtigung über mehrere Interaktionen handelt, fasse es so kompakt wie möglich zusammen.\n\n### Beispielausgabe:\n\n„**Neue Skool Interaktion: ** Max Mustermann hat deinen Beitrag kommentiert: ‚Super hilfreich, danke!‘“\n\n## Zusätzliche Regeln\n\n- Die deine Nachricht muss immer auf deutsch sein\n- Füge an den Begin der Nachricht den Prefix „**Neue Skool Interaktion:**“\n\n## Output\n\nDeine Antwort muss im folgenden JSON Format sein:\n\n{\n  \"message\": \"Deine Nachricht hier\"\n}","role":"system"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,1020],"id":"7a5584b8-625d-43ed-9cf4-cc6a4aa467e1","name":"Community Interaction ","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Input\n\nBetreff: {{ $('Gmail Trigger').item.json.subject }}\nAbsender: {{  $('Gmail Trigger').item.json.from.text }}\nE-Mail-Inhalt: {{  $('Gmail Trigger').item.json.textAsHtml }}\n\n## Aufgabe\n\nFasse diese administrative Systemnachricht von Skool in maximal zwei Sätzen zusammen.\nFalls eine Aktion erforderlich ist, erwähne dies deutlich.\n\n### Beispielausgabe:\n\n**Skool System Nachricht:** „Deine Skool-Testphase endet in 3 Tagen. Falls du dein Abo fortsetzen möchtest, aktualisiere deine Zahlungsmethode.“\n\n\n## Zusätzliche Regeln\n\n- Die deine Nachricht muss immer auf deutsch sein\n- Füge an den Begin der Nachricht den Prefix „**Skool System Nachricht:**“\n\n## Output\n\nDeine Antwort muss im folgenden JSON Format sein:\n\n{\n  \"message\": \"Deine Nachricht hier\"\n}","role":"system"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,1380],"id":"f64ea70a-e88d-4209-86c5-4641602bc8e3","name":"System  Notification","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=## Input\n\nBetreff: {{ $('Gmail Trigger').item.json.subject }}\nAbsender: {{  $('Gmail Trigger').item.json.from.text }}\nE-Mail-Inhalt: {{  $('Gmail Trigger').item.json.textAsHtml }}\n\n## Aufgabe\n\nFasse die private Nachricht aus Skool zusammen.\nErwähne den Absender und den Inhalt der Nachricht.\nFalls die Nachricht eine Aktion erfordert, weise darauf hin.\n\n### Beispielausgabe:\n\n„**Neue Skool Chat Nachricht:** Andreas Pichler hat dir geschrieben: ‚Hey, hast du einen Tipp für meinen Workflow?‘“\n\n\n## Zusätzliche Regeln\n\n- Die deine Nachricht muss immer auf deutsch sein\n- Füge an den Begin der Nachricht den Prefix „**Neue Skool Chat Nachricht:**“\n\n## Output\n\nDeine Antwort muss im folgenden JSON Format sein:\n\n{\n  \"message\": \"Deine Nachricht hier\"\n}","role":"system"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,1260],"id":"6fb04d01-3fbb-43a7-bb12-b615aa3ea0b6","name":"Private Chat Message","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"5355046437","text":"={{ $json.choices[0].message.content.message }}","replyMarkup":"=none","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-180,1260],"id":"7f5ae1ad-b0df-47ea-a5d7-37bd4e006b17","name":"Send Summary","webhookId":"19c5938d-8f93-4219-9d30-737a8cb136c8","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"operation":"delete","messageId":"={{ $('Email Classifier').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-20,1260],"id":"346d6181-1b43-4f7e-a589-5d35b356205a","name":"Gmail","webhookId":"f1a7072b-90bd-40aa-b1d8-828e868e8fb1","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"chatId":"5355046437","text":"={{ $json.choices[0].message.content.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-180,1500],"id":"910019a1-b7d8-42d7-8a8f-4a055d8047dc","name":"Send Summary1","webhookId":"19c5938d-8f93-4219-9d30-737a8cb136c8","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Nutzer query: {{ $json.text }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein persönlicher Assistent. Deine Aufgabe ist es, die eingehende Anfrage zu analysieren und die Absicht des Nutzers zu erkennen.\n\n## Tools\n\nGet_All_Contacts – Verwende dieses Tool, um Kontaktinformationen wie E-Mail-Adressen abzurufen. Du musst dieses Tool verwenden, wenn der Nutzer ein Google Calendar Ereignis mit einem Teilnehmer erstellen möchte (Wenn kein Teilnehmer angegeben ist, musst du dieses Tool nicht verwenden), einen neuen Kontakt seiner Kontakliste hinzufügen, bearbeiten oder löschen möchte.  \n\nGet_All_Events – Verwende dieses Tool, wenn der Nutzer ein Google Calendar Ereignis erstellen, löschen oder aktualisieren möchte. Du solltest die Details des Ereignisses bereitstellen, um sicherzustellen, dass es sich um das richtige Ereignis handelt, das gelöscht oder aktualisiert werden soll.\n\n## Regeln\n\nDu musst immer die Funktion „Ereignisse abrufen“ verwenden, um sicherzustellen, dass es keine Terminkonflikte gibt.\nWenn du gebeten wirst, ein Ereignis zu verschieben, zu aktualisieren oder zu löschen, musst du „Ereignisse abrufen“ verwenden, um das Ereignis zu bestätigen. Gib dabei die Details des Ereignisses wie Datum, Uhrzeit und E-Mail-Adressen der Teilnehmer an.\n\nWenn der Nutzer möchte, dass du ihm einen Beitrag für seine Sozialen Medien erstellst, dann genehmige die Anfrage direkt. Du darfst den beitrag nicht selbst erstellen sondern sollst einfach nur \"Social Media Beiträgen zum Thema erstellen {Nutzer Eingabe} wurde genehmigt\" zurückgeben\n\n## Ausgabe\n\nGib die Anfrage des Nutzers wieder und stelle bei Bedarf Rückfragen zur Klärung.\nGib immer die E-Mail-Adresse des angeforderten Kontakts aus, falls der Nutzer dies wünscht.\nFalls es zwei Einträge für denselben Namen gibt, gib die E-Mail-Adresse sowie die Art des Kontakts an.\n\n## Abschließende Hinweise\nHier ist das aktuelle Datum/Uhrzeit: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-960,300],"id":"f0e0358a-0c39-4cd4-9abb-a9b3c79e1af7","name":"Intent Agent"},{"parameters":{"assignments":{"assignments":[{"id":"3ab6c175-d35c-48a3-a9db-5162f962d5f9","name":"intent","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,300],"id":"c826e16a-2366-4dcc-989a-0ad7cde43bec","name":"Set Intent"},{"parameters":{"inputText":"={{ $json.result.text }}","categories":{"categories":[{"category":"Genehmigt","description":"Der Nutzer bestätigt oder stimmt unserer Anfrage zu. Das bedeutet, dass er anerkennt, dass die bereitgestellten Informationen oder Maßnahmen korrekt sind und wir fortfahren können. Genehmigungsnachrichten enthalten oft Formulierungen wie:\n„Ja“\n„Sieht gut aus für mich“\n„Senden“\n„Korrekt“\n„Genehmigt“\n„Das funktioniert“\n„Klingt gut“\n„Mach weiter“"},{"category":"Abgelehnt","description":"Der Nutzer gibt Feedback, das keine Zustimmung signalisiert. Dies kann Änderungswünsche, Korrekturen oder zusätzliche Klärungen umfassen.\n\nBeispiele für Ablehnungsformulierungen:\n„Abgelehnt“\n„Nein“\n„Ändere die Uhrzeit“\n„Ändere den Namen des Kontakts“\n„Privat“\n„Beide löschen“\n„Das erste löschen“\n„Heute“\n„Morgen“\n„22. Februar“"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-360,300],"id":"073f4d32-3861-46b6-aa0a-53a9f3dc0759","name":"Check Feedback"},{"parameters":{"promptType":"define","text":"=Ursprüngliche Absicht: {{ $('Set Intent').item.json.intent }}\n\nFeedback des Nutzers: {{ $json.data.text }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Korrekturassistent. Deine Aufgabe ist es, die ursprüngliche Ausgabe zu überprüfen und basierend auf dem Feedback des Nutzers zu korrigieren.\n\n## Ausgabe\n\nDeine Aufgabe ist es, die neue Absicht der Anfrage auszugeben.\nGib immer alle erforderlichen Details an, wie die E-Mail-Adressen der Teilnehmer, Uhrzeit, Datum, Zusammenfassung usw.\nStelle bei Bedarf eine Klärungsfrage. Wenn es nichts zu klären gibt, frage einfach: „Ist das korrekt?"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,400],"id":"4cb7e6df-4e79-4c09-8f81-c991bbf77f14","name":"Correction Agent"},{"parameters":{"sessionKey":"=chat_with_{{ $('Telegram Trigger1').item.json.message.chat.id }}","contextWindowLength":12},"id":"303d690a-4d0a-413b-9297-9602d03d43e1","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-1060,480],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,540],"id":"f3190e58-5a67-4087-b3c8-eb5ff7476858","name":"4o","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.intent }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-500,300],"id":"9a004ae4-67a6-46b0-8ea6-672c1090e362","name":"Answer User","webhookId":"06135021-087d-4558-be06-94de90f2f053","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"inputText":"={{ $('Set Intent').item.json.intent }}","categories":{"categories":[{"category":"Gmail","description":"Der Text bezieht sich auf alles, was mit Gmail zu tun hat. Dazu gehören das Erstellen, Ändern, Löschen von Emails, das Anlegen von Email Entwürfen, sowie das Verwalten von Terminen in Gmail oder ähnlichen Email-Tools."},{"category":"Calendar","description":"Der Text bezieht sich auf alles, was mit Kalender-Events zu tun hat. Dazu gehören das Erstellen, Ändern, Löschen von Terminen, das Anlegen von Kalender-Events, das Abrufen von Terminen, das Hinzufügen oder Bearbeiten von Teilnehmern sowie das Verwalten von Terminen in Google Kalender oder ähnlichen Kalender-Tools."},{"category":"Contacts","description":"Der Text bezieht sich auf alles, was mit Kontakten in Google Sheets zu tun hat. Dazu gehören das Erstellen, Ändern, Löschen von Kontakten, sowie das Verwalten von Kontakten in Google Sheets oder ähnlichen Kontakt-Tools."},{"category":"Content Creation","description":"Der Text bezieht sich auf das erstellen von Social Media Beiträgen und enthält ein Thema."},{"category":"Scraping","description":"Der Text bezieht sich auf das scrapen von Daten aus dem Internet und enthält ein Webseite."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[0,200],"id":"bbac75a0-f50f-4782-aba4-4035384cb7d4","name":"Text Classifier"},{"parameters":{"promptType":"define","text":"={{ $('Set Intent').item.json.intent }}","options":{"systemMessage":"=# Übersicht  \n\nDu bist ein Kontaktassistent. Deine Aufgaben umfassen das Erstellen, Abrufen, Aktualisieren und Löschen von Kontakten in der Kontaktliste des Nutzers.  \n\n**Kontaktverwaltungs-Tools**  \n\n- Verwende „Get_Contacts“, um vorhandene Kontakte abzurufen, wenn dies gewünscht wird.  \n- Verwende „Create_Contact“, um einen neuen Kontakt anzulegen.  \n- Verwende „Update_Contact“, um einen bestehenden Kontakt zu bearbeiten. Du musst zuerst „Get_Contacts“ verwenden, um die ID des zu aktualisierenden Kontakts zu ermitteln.  \n- Verwende „Delete_Contact“, um einen Kontakt zu entfernen. Auch hier musst du zuerst „Get_Contacts“ nutzen, um die ID des zu löschenden Kontakts zu erhalten.  \n\n**Kontaktstruktur**  \n\nEin Kontakt besteht aus folgenden Feldern:  \n- Vorname  \n- Nachname  \n- E-Mail-Adresse  \n- Telefonnummer  \n- Firma  \n- Firmenadresse  \n- Notiz  \n\n## Regeln  \n\nSetze die eingehende Anfrage direkt in eine Aktion um. Ignoriere Klärungsfragen und handle ausschließlich basierend auf der erhaltenen Absicht.  \n\n## Abschließende Hinweise  \n\nFalls keine spezifischen Felder für einen neuen Kontakt angegeben werden, frage nicht nach, sondern lege den Kontakt mit einem Platzhalternamen an.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,1260],"id":"0aef6bc7-61e0-4d82-ad3e-fe3780bcb6f3","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-940,480],"id":"40710249-ac90-443f-bfca-da0f6563311a","name":"Get_All_Events","credentials":{"googleCalendarOAuth2Api":{"id":"wJWY1EGTxaLd9zAd","name":"Google Calendar account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["E-Mail-Adresse"],"schema":[{"id":"Vorname","displayName":"Vorname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nachname","displayName":"Nachname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-Mail-Adresse","displayName":"E-Mail-Adresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefonnummer","displayName":"Telefonnummer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Firma","displayName":"Firma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Firmenadresse","displayName":"Firmenadresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notiz","displayName":"Notiz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[540,1480],"id":"78de5779-ec94-405a-9b2c-5e8be72c2c9a","name":"Create_Contact","credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["E-Mail-Adresse"],"schema":[{"id":"Vorname","displayName":"Vorname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nachname","displayName":"Nachname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-Mail-Adresse","displayName":"E-Mail-Adresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefonnummer","displayName":"Telefonnummer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Firma","displayName":"Firma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Firmen-Adresse","displayName":"Firmen-Adresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notiz","displayName":"Notiz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[660,1480],"id":"5a20e22e-24ff-449b-bffe-650619b2b588","name":"Update_Contact","credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-820,480],"id":"5ce28db1-075b-47c3-80f2-fcb102a15b30","name":"Get_All_Contacts","credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[420,1480],"id":"dd4ed25c-6dea-471c-9ddf-44462988dc68","name":"Get_Contacts","credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FlYUXzoXbnolRw9usik4_Oswr-jMBDoD0ekjaTABZgg/edit#gid=0"}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[780,1480],"id":"e3716ece-bb89-4a6b-a026-79429c12c910","name":"Delete_Contact","credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[920,1060],"id":"db1ce1ee-f9b1-4f1a-a10a-13fdbbb999ed","name":"Delete_Event","credentials":{"googleCalendarOAuth2Api":{"id":"wJWY1EGTxaLd9zAd","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[440,1060],"id":"eab928a6-35fa-4436-806a-9ae57d969ac0","name":"Get_Events","credentials":{"googleCalendarOAuth2Api":{"id":"wJWY1EGTxaLd9zAd","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[800,1060],"id":"93007dbd-baaa-48c5-9927-1606e97a53f4","name":"Update_Event","credentials":{"googleCalendarOAuth2Api":{"id":"wJWY1EGTxaLd9zAd","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[680,1060],"id":"3041f93f-bfd5-403a-b783-2e07f4822371","name":"Create_Event_with_Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"wJWY1EGTxaLd9zAd","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"s.claes.work@gmail.com","mode":"list","cachedResultName":"s.claes.work@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[560,1060],"id":"ee630c9b-2845-49e9-93c8-d34b22f95fe3","name":"Create_Event","credentials":{"googleCalendarOAuth2Api":{"id":"wJWY1EGTxaLd9zAd","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $('Set Intent').item.json.intent }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Kalenderassistent. Deine Aufgaben umfassen das Erstellen, Abrufen und Löschen von Terminen im Kalender des Nutzers.\n\n**Kalenderverwaltungs-Tools**\n\n- Verwende „Termin mit Teilnehmer erstellen“, wenn ein Ereignis einen Teilnehmer beinhaltet.\n- Verwende „Termin erstellen“ für Einzeltermine.\n- Verwende „Termine abrufen“, um den Kalenderplan abzurufen, wenn dies gewünscht wird.\n- Verwende „Termin löschen“, um ein Ereignis zu entfernen. Du musst zuerst „Termine abrufen“ nutzen, um die ID des zu löschenden Termins zu erhalten.\n- Verwende „Termin aktualisieren“, um einen Termin zu ändern. Auch hier musst du zuerst „Termine abrufen“ verwenden, um die ID des zu aktualisierenden Termins zu ermitteln.\n\n## Regeln\n\nSetze die eingehende Anfrage direkt in eine Aktion um. Ignoriere Klärungsfragen und handle ausschließlich basierend auf der erhaltenen Absicht.\n\n## Abschließende Hinweise\n\nAktuelles Datum/Uhrzeit: {{ $now }}\nFalls keine Dauer für einen Termin angegeben wird, gehe davon aus, dass er eine Stunde dauert."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,780],"id":"0de974f6-3cc4-46a9-8884-6e6d13fee774","name":"Calendar Agent","onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["IMPORTANT"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1880,760],"id":"dddf7a44-92d2-4e82-a7e7-c8c30217b94b","name":"Hohe Priorität","webhookId":"ce758868-943b-4f83-b202-02e8b1a9f9c3","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4107887626338623068"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1880,1120],"id":"ba39902d-a6f0-404c-a69c-5bdbb6c70fa0","name":"Werbung","webhookId":"9f08b73f-07a2-4da5-8341-326512eb2971","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4320569347198327875"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1880,1300],"id":"4221f840-9bf2-4154-ace3-64d9e1985930","name":"3D-Druck Kundensupport","webhookId":"4a71a4f0-04a5-4d73-acf7-addfa1eb3ffe","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Du bist eine Assistenzkraft auf Vorstandsebene. Deine Aufgabe ist es, auf eingehende E-Mails mit hoher Priorität so genau und professionell wie möglich zu antworten. Lies die folgende E-Mail sorgfältig durch und verfasse eine klare, präzise und angemessene Antwort, die alle wesentlichen Punkte anspricht. Hier ist die E-Mail, auf die du antwortest: {{ $('Gmail Trigger').item.json.text }}\n\nGib bitte die folgenden Parameter aus:\nsubject\nmessage","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1720,760],"id":"e6486ea8-2f14-4e5e-a191-c383032d0dbf","name":"OpenAI","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"5355046437","text":"=EMAIL MIT HOHER PRIORITÄT von {{ $('Gmail Trigger').item.json.from.value[0].name }}\n\nIch habe dir einen Entwurf mit folgendem Betreff erstellt:\n{{ $('OpenAI').item.json.message.content.subject }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1220,860],"id":"ed593e95-0a39-4d97-9433-8178cc4ea7a0","name":"Telegram","webhookId":"85671696-59d2-4117-8be6-c9400b390823","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Du bist ein Kundenservice-Mitarbeiter des Unternehmens '3D-Druck Jüterbog'. Deine Aufgabe ist es, auf eingehende Support- und Druck- sowie Modellierungsanfragen so genau und professionell wie möglich zu antworten. Falls die Anfrage nicht von dir bearbeitet werden kann, verweise den Absender bitte an folgende E-Mail-Adresse: info@3d-druck-jueterbog.de.\n\nSchließe die E-Mail immer mit 'Sebastian' ab und setze keinen Platzhalter wie [Ihr Name] oder [Your Name] an das Ende.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1720,1300],"id":"39e0e28b-e580-4900-b2cb-bbf8e355f639","name":"OpenAI1","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"5355046437","text":"=Ich habe gerade auf eine 3D-Druck Kundenanfrage von {{ $('Gmail Trigger').item.json.from.value[0].name }} geantwortet.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1220,1300],"id":"4b7eb3b0-14c1-4dc7-a87a-af706a9e0091","name":"Telegram1","webhookId":"3ec8f33b-85a2-4279-a6f3-0e5158d8876a","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Du bist für die Bewertung von Werbe-E-Mails zuständig. Analysiere die folgende Nachricht, erstelle eine prägnante Zusammenfassung und gib eine Empfehlung zur weiteren Vorgehensweise ab.\n\nHier ist die eingehende Nachricht: {{ $('Gmail Trigger').item.json.text }}\n\nGib die folgenden Parameter separat aus:\n\nsummary: Eine kurze Übersicht über den Inhalt der E-Mail.\nrecommendation: Eine Einschätzung, ob und wie auf die Werbe-E-Mail reagiert werden sollte.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1720,1120],"id":"20d61b8a-c631-4c86-abae-7b6d85c3ad0e","name":"OpenAI2","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"5355046437","text":"=Hier ist die Zusammenfassung einer Werbe E-Mail die du gerade erhalten hast:\n{{ $json.message.content.summary }}\n\nIch würde folgendes empfehlen:\n{{ $json.message.content.recommendation }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1400,1120],"id":"f2495e9f-47ad-4073-8c18-ea29019ee148","name":"Telegram2","webhookId":"de4150a1-e5fe-457c-a706-3737c260ee3f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1400,1300],"id":"871eb962-47a4-440c-ab29-0086d7a703ca","name":"Wait","webhookId":"9c726da4-448f-4614-923b-a8046e44036a"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Du bist für die Bewertung von Rechnungen und finanziellen E-Mails zuständig. Analysiere die folgende Nachricht, erstelle eine prägnante Zusammenfassung und gib eine Empfehlung zur weiteren Vorgehensweise ab.\n\nHier ist die eingehende Nachricht: {{ $('Gmail Trigger').item.json.text }}\n\nGib die folgenden Parameter separat aus:\n\nsummary: Eine kurze Übersicht über den Inhalt der E-Mail (z. B. Rechnungsbetrag, Fälligkeit, Absender, relevante Finanzinformationen).\nrecommendation: Eine Einschätzung, ob die Rechnung geprüft, bezahlt oder reklamiert werden sollte, sowie weitere empfohlene Schritte (z. B. Weiterleitung an die Buchhaltung, Speicherung für Steuerzwecke).","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1720,940],"id":"b2926907-0bd4-430d-9dd5-bfc32f7d60ce","name":"OpenAI4","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"5355046437","text":"=Hier ist die Zusammenfassung einer Finanz-Email die du gerade erhalten hast:\n{{ $json.message.content.summary }}\n\nIch würde folgendes empfehlen:\n{{ $json.message.content.recommendation }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1400,940],"id":"60671d00-b331-443e-b196-c66ebc270884","name":"Telegram4","webhookId":"f20ef9c8-ce61-4151-9bf9-043b262edb39","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.subject }}","message":"={{ $json.message.content.message }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1400,760],"id":"225caffa-fc28-4223-b77a-8e72b60b7f68","name":"Gmail2","webhookId":"a3570b5d-f33f-4acb-afd9-8daf916db37f","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"inputText":"=E-Mail Betreff: {{ $json.subject }}\nE-Mail Text: {{ $json.text }}","categories":{"categories":[{"category":"Hohe Priorität","description":"E-Mails, die eine hohe Priorität haben und sofortige Aufmerksamkeit erfordern. Dazu gehören insbesondere: Anfragen oder Nachrichten von wichtigen Kunden, Geschäftspartnern oder Lieferanten, die zeitkritische Entscheidungen oder Antworten erfordern. Antworten auf laufende Konversationen, die für den Geschäftsablauf oder die Kundenbetreuung entscheidend sind. E-Mails mit Schlüsselbegriffen wie „dringend“, „wichtig“, „sofort“, „kritisch“, „zeitnah“, „Deadline“, „Notfall“ oder ähnlichen Begriffen, die eine hohe Dringlichkeit signalisieren. Nachrichten von Vorgesetzten, direkten Mitarbeitern oder anderen entscheidenden Stakeholdern, die geschäftsrelevante Anweisungen, Eskalationen oder kurzfristige Anforderungen enthalten. System- oder Sicherheitswarnungen, die unmittelbares Handeln erfordern, z. B. Serverausfälle, Sicherheitsvorfälle oder Zahlungsprobleme. Kundenbeschwerden oder Eskalationen, die eine schnelle Reaktion erfordern, um negative Folgen zu vermeiden. Vertrags- oder Angebotsanfragen mit engen Fristen, die Einfluss auf Geschäftsabschlüsse oder laufende Projekte haben. Eine hohe Priorität liegt vor, wenn der Inhalt der E-Mail auf eine dringende Entscheidung, einen potenziellen geschäftlichen oder operativen Schaden oder eine zeitkritische Verpflichtung hinweist."},{"category":"Rechnungen & Finanzen","description":"E-Mails, die finanzielle Dokumente, Transaktionen oder buchhalterische Vorgänge betreffen. Dazu gehören insbesondere: Rechnungen, Quittungen, Zahlungserinnerungen oder Mahnungen, die sich auf offene oder abgeschlossene Zahlungen beziehen. Kontoauszüge, Transaktionsbestätigungen oder Abrechnungen von Banken, Zahlungsanbietern oder Finanzdienstleistern wie PayPal, Stripe, N26, Trade Republic, Scalable Capital oder Parqet. Steuer- und Buchhaltungsunterlagen, einschließlich Umsatzsteuerbescheiden, Steuererklärungen oder Anfragen von Finanzbehörden, Buchhaltungsdiensten wie Buhl oder Steuerwelt. Vertrags- oder Finanzierungsdokumente, die Kredite, Investitionen oder Finanzierungszusagen betreffen. E-Mails mit Schlüsselbegriffen wie „Rechnung“, „Zahlung“, „Überweisung“, „Buchhaltung“, „Steuer“, „Finanzamt“, „Gutschrift“, „Rückerstattung“, „Depot“, „Portfolio“, „Dividende“, „Anlage“ oder ähnlichen Begriffen, die auf finanzielle Prozesse hinweisen. Eine E-Mail gehört in diese Kategorie, wenn ihr Inhalt sich auf den Geldfluss, buchhalterische Vorgänge oder steuerliche Verpflichtungen bezieht."},{"category":"Werbung","description":"E-Mails mit Marketing- oder Werbeinhalten, die darauf abzielen, Produkte, Dienstleistungen oder Angebote zu bewerben. Dazu gehören insbesondere: Newsletter, Rabattangebote, Sonderaktionen oder Produktankündigungen von Unternehmen, Online-Shops oder Dienstleistern. Werbung von Software-Anbietern, Streaming-Diensten, Finanz- oder Telekommunikationsunternehmen, die neue Produkte, Abonnements oder Upgrades bewerben. Werbe-E-Mails mit Schlüsselbegriffen wie „Rabatt“, „Sale“, „Sonderangebot“, „exklusiv“, „nur für kurze Zeit“, „kostenlos testen“ oder ähnlichen Formulierungen, die auf eine Verkaufsabsicht hindeuten. Unaufgeforderte Produktwerbung oder Akquise-Mails, die potenzielle Kunden zu einem Kauf oder einer Anmeldung bewegen sollen. Eine E-Mail fällt in diese Kategorie, wenn ihr primäres Ziel die kommerzielle Bewerbung eines Produkts, einer Dienstleistung oder eines Angebots ist."},{"category":"3D-Druck Kundensupport","description":"E-Mails, die sich auf den Kundensupport für 3D-Druck- und 3D-Modellierungsdienstleistungen beziehen. Dazu gehören insbesondere: Anfragen zu individuellen 3D-Druckaufträgen, Materialoptionen, Drucktechniken oder Machbarkeitsprüfungen. Support-Anfragen zu bestehenden oder laufenden Aufträgen, einschließlich Rückfragen zu Druckqualität, Lieferzeiten oder Anpassungen. Technische Fragen zu 3D-Modellierungsprojekten, Datei-Kompatibilität (z. B. STL, OBJ) oder Optimierungen für den 3D-Druck. Reklamationen oder Korrekturwünsche zu gelieferten Drucken, fehlerhaften Modellen oder unpassenden Spezifikationen. E-Mails mit Begriffen wie „3D-Druck“, „Modellierung“, „Angebot“, „Bestellung“, „Druckfehler“, „Materialwahl“ oder ähnlichen Begriffen, die auf einen Support-Bedarf hinweisen. Eine E-Mail fällt in diese Kategorie, wenn sie sich auf Service-Anfragen, technische Unterstützung oder Problemlösungen im Bereich 3D-Druck und 3D-Modellierung bezieht."},{"category":"Skool","description":"E-Mails, die sich auf die Plattform Skool und die dortigen Community-Aktivitäten beziehen, insbesondere aus den Communities 'KI-Agenten | Made in Germany' oder 'AI Automation Society (Skool)'. Dazu gehören Benachrichtigungen über neue Beiträge, Anfragen oder Updates aus Foren und Gruppen, die sich mit KI-Agenten, Automatisierung oder No-Code-Tools beschäftigen, sowie direkte Nachrichten oder Erwähnungen zu Themen wie n8n, RAG, GPT, AI-Workflows, No-Code oder AI-Agenten. Relevante E-Mails enthalten Schlüsselbegriffe wie 'KI-Agent', 'Skool Community', 'AI-Automatisierung', 'No-Code', 'Automation', 'Workflow' oder 'AI-Agent' und beziehen sich auf Diskussionen oder Aktivitäten innerhalb von Skool. Eine E-Mail fällt in diese Kategorie, wenn sie Informationen, Diskussionen oder Interaktionen im Bereich KI-Agenten, Automatisierung oder AI-gestützte Workflows innerhalb der Skool-Plattform enthält."},{"category":"Bambu Lab Rechnung","description":"Identifiziere ausschließlich Rechnungs-E-Mails von Bambu Lab, erkennbar am Betreff, der mit 'Ihre Rechnung' beginnt und eine eindeutige Rechnungsnummer mit dem Präfix '#EN' enthält. Andere E-Mails von Bambu Lab oder Rechnungen von anderen Absendern dürfen nicht klassifiziert werden."}]},"options":{"systemPromptTemplate":"Analysiere den vom Nutzer bereitgestellten Text und ordne ihn einer der folgenden Kategorien zu: {categories}. Gib die Antwort ausschließlich im JSON-Format aus, ohne zusätzliche Erklärungen oder Kommentare."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-1820,560],"id":"0b92a0af-4b43-4912-9afa-0901f6fa7274","name":"Text Classifier1"},{"parameters":{"sendTo":"={{ $fromAI(\"emailAddress\") }}","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[420,500],"id":"d60c830f-1b87-4b5c-b8c5-b47e20485b5b","name":"Send_Email","webhookId":"86c8c4b1-13bb-4ebe-acb9-30e1d7082d55","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"the message ID\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[540,500],"id":"e8ab9b05-f273-47b5-9878-d837dd347dcc","name":"Email_Reply","webhookId":"114785e6-a859-432b-81b4-c490c1c35b1c","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"the ID of the message\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[660,500],"id":"61ceb552-4f02-4f18-a426-e857fff0b596","name":"Label_Emails","webhookId":"0e951529-2e6d-40bf-ac40-fc0947e242e2","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[780,500],"id":"5e93db81-39bd-40ca-af6d-7ca9b9e91c2f","name":"Create_Draft","webhookId":"17016bce-d7d7-428a-a56c-f6ea122db8be","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails the user wants\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"who the emails are from\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[900,500],"id":"44897cd4-6ace-4aaf-bb0a-8172588eccf3","name":"Get_Emails","webhookId":"af4b3298-9037-44b0-aa12-2acbfbb5e66f","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1020,500],"id":"4ba21262-6088-4934-80ba-f8bfa6ef6eac","name":"Get_Labels","webhookId":"9e08b59e-792d-4566-83f1-9263c9ad86ae","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1140,500],"id":"c1425c75-7535-4545-bdb4-eb5cfa495b72","name":"Mark_Unread","webhookId":"a35af9d8-f67d-4ff9-803f-59ec6356e795","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Übersicht  \nDu bist ein E-Mail-Management-Assistent. Alle E-Mails müssen professionell im HTML-Format erstellt und mit „Claes“ unterzeichnet werden.  \n\n**E-Mail-Management-Tools**  \n- Verwende „Send_Email“, um E-Mails zu senden.  \n- Verwende „Create_Draft“, wenn der Nutzer einen Entwurf wünscht.  \n- Verwende „Get_Emails“, um E-Mails abzurufen, wenn dies angefordert wird.  \n- Verwende „Get_Labels“, um Labels abzurufen.  \n- Verwende „Mark_Unread“, um eine E-Mail als ungelesen zu markieren. Du musst zuerst „Get Emails“ verwenden, um die Nachrichten-ID der zu markierenden E-Mail zu erhalten.  \n- Verwende „Label_Email“, um eine E-Mail zu kennzeichnen. Du musst zuerst „Get Emails“ verwenden, um die Nachrichten-ID der zu kennzeichnenden E-Mail zu erhalten. Danach musst du „Get Labels“ nutzen, um die Label-ID zu erhalten.  \n- Verwende „Email_Reply“, um auf eine E-Mail zu antworten. Du musst zuerst „Get Emails“ verwenden, um die Nachrichten-ID der E-Mail zu erhalten, auf die geantwortet werden soll.  \n\n## Abschließende Hinweise  \n- Hier ist das aktuelle Datum/Uhrzeit: {{ $now }}  \n"}},"id":"b732fd24-deda-4657-8e80-702a67742558","name":"Gmail Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[440,300],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"81ddd290-e74f-491d-bab9-804f88a72c75","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1240,360]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64f09078-fd80-4d44-9a84-6e99c9b8c36e","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Invoice"}]},"options":{}},"id":"5538f949-478a-497a-815b-f72e7c51ed0b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1800,400]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"721b2a93-6435-4df7-a545-6b88f37269d9","name":"Download File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1300,200],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"3a7116d2-5dff-4b99-ade5-1238862cddd5","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1180,200],"credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"1435dcb0-66dd-4fc1-aa34-bc8e7bb9703f","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1960,400],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,880],"id":"110ca7f0-966e-40f9-b724-561e7b7daa7b","name":"Calendar Response1","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,700],"id":"6ddcae4f-1e2e-413a-a4d8-e252ef1a0681","name":"Calendar Success Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,1400],"id":"f0749dff-f1d5-4290-a0c7-092b817d6a4a","name":"Contact Error Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,1240],"id":"65885f0f-6a97-4a99-9b79-e4cd85eb53fa","name":"Contact Success Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,320],"id":"ff5e06d0-0dfc-498d-878c-97a1222e0314","name":"Gmail Error Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,160],"id":"f41f2ee9-08a6-43b8-943c-0bceff5553bb","name":"Gmail Success Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"resource":"folder","name":"={{ $('OpenAI3').item.json.message.content.invoiceMonth }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1TjWG_wIl1LOcb2m4vZva1bSeN2siduYC","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-780,960],"id":"d19812cb-f737-4609-8d3f-3c6f21aff526","name":"Create Folder","credentials":{"googleDriveOAuth2Api":{"id":"v4Smj3HRLiJq7Au6","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.message.content.invoiceMonth }}\n","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1060,860],"id":"82f2091a-861c-4229-9bb3-6254da04b92d","name":"Search Folder","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"v4Smj3HRLiJq7Au6","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b56136a5-b245-4b8e-94ac-bb1088881133","leftValue":"={{ $(\"Search Folder\").item.length === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-920,860],"id":"cd39a1bc-dc05-42ef-9635-fdc9b0ed7d4e","name":"Exists"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"104TPwhXp50riXheGyP8w7LKuErs7VGmU-5IyyIXjqDc","mode":"list","cachedResultName":"EüR_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/104TPwhXp50riXheGyP8w7LKuErs7VGmU-5IyyIXjqDc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ausgaben","cachedResultUrl":"https://docs.google.com/spreadsheets/d/104TPwhXp50riXheGyP8w7LKuErs7VGmU-5IyyIXjqDc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Rechnungs Nr.":"={{ $json.message.content.invoiceNumber }}","Rechnungsdatum":"={{ $json.message.content.invoiceDate }}","Gesamtbetrag":"={{ $json.message.content.totalAmount }}","Verkäufer":"={{ $json.message.content.vendor }}","Buchungstext / Beschreibung":"={{ $json.message.content.bookingText }}"},"matchingColumns":[],"schema":[{"id":"Rechnungs Nr.","displayName":"Rechnungs Nr.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rechnungsdatum","displayName":"Rechnungsdatum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Gesamtbetrag","displayName":"Gesamtbetrag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Verkäufer","displayName":"Verkäufer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Buchungstext / Beschreibung","displayName":"Buchungstext / Beschreibung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-500,640],"id":"1c17a9da-1959-4030-bc1b-c0df9c3fd821","name":"Update EüR ","credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Download File1').item.json.result.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-640,860],"id":"63043f3e-e391-4f08-a624-a5b0abc18d39","name":"Get File","webhookId":"f9a17905-97ae-4814-90ff-cab268e1a22d","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"name":"=Rechnung_{{ $('OpenAI3').item.json.message.content.invoiceNumber }}_{{$('OpenAI3').item.json.message.content.invoiceDate.split(\"-\").reverse().join(\"_\")}}\n\n","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $(\"Search Folder\").item.length === 0 ? $(\"Search Folder\").item.json.id : $(\"Create Folder\").item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-500,860],"id":"9c10a5d2-add0-431a-b90c-ba47970f8c46","name":"Upload File","credentials":{"googleDriveOAuth2Api":{"id":"v4Smj3HRLiJq7Au6","name":"Google Drive account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6677419842169748983"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1020,1040],"id":"2dc518c1-6c92-46a6-84c1-3d8d0192a8f7","name":"Rechnung Erfasst","webhookId":"abc2bcde-fb27-4c40-a7e8-cb4703ad19ca","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"method":"POST","url":"https://api.ocr.space/parse/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"K87190035988957"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-980,640],"id":"fbb4e9be-f0df-4403-84ad-f78de5a5230a","name":"Analyze PDF"},{"parameters":{"chatId":"5355046437","text":"=Ich habe gerade einen neuen Beleg erfasst abgelegt und in deine EüR eingetragen:\n{{ $json.name }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-360,860],"id":"3399c46a-956a-47d8-b144-8058288c9ae1","name":"Inform User","webhookId":"63f099fa-0d7f-4a09-90c8-535a746fed0b","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.ParsedResults[0].ParsedText }}\n\nAnalysiere die Rechnung, die du als input bekommen hast und extrahiere die folgenden Daten aus dieser Rechnung:\n\n\"invoiceNumber\", \"invoiceDate\", \"invoiceMonth\", \"totalAmount\", \"vendor\", \"bookingText\", \"fileName\"\n\nGebe mir das ergebnis als json in der folgenden Struktur zurück:\n\n{\n  \"invoiceNumber\": \"\",\n  \"invoiceMonth\": \"\",\n  \"month\": \"\",\n  \"totalAmount\": \"\",\n  \"vendor\": \"\",\n  \"bookingText\": \"\"\n}\n\nStelle sicher, dass \"bookingText\" eine kurze und prägnant Auflistung dessen ist, was in der gesamten Rechnung erworden wurde. Füge keine weiteren Anmerkungen hinzu, ich will nur die Produktauflistung.\n\nStelle zusätzlich sicher sicher, dass \"invoiceMonth\" der ausgeschriebene Monat in deutscher Sprache ist (bsp.: \"März\")\n\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-840,640],"id":"4644471c-42fc-4881-af99-1353ba48b50b","name":"OpenAI3","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1200,640],"id":"aef345e8-f9cf-4263-ba72-b8c3065e1ead","name":"Download File1","webhookId":"9e1a8747-d8a3-47f0-a48d-250c08f09481","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"url":"https://docs.n8n.io/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"f98fb8cb-ff43-4414-9ac3-f46b8033fc13","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"link","cssSelector":".md-sidebar__inner a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,0],"id":"8c5e8214-f6c8-42ec-807a-26b16a58cdce","name":"HTML"},{"parameters":{"jsCode":"return [\n  {\n    urls: $input.first().json.link.filter(url => !url.startsWith(\"https\") && url !== \".\")\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"id":"9814eb62-3300-4001-b64d-fd720abbcc27","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1280,40],"id":"219fabe1-c4e3-4be6-9e5e-3c742c84bc59","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-940,40],"id":"aecb6997-bbb6-406f-97c7-9b5511e40e96","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"url":"=https://docs.n8n.io/{{ $json.urls }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,40],"id":"9ff5bc5b-34cf-46cd-8ea5-212b3b243cce","name":"HTTP Request1"},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1140,40],"id":"9f5d3ee0-684a-465d-86e9-98dbf182a250","name":"Split Out"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":".md-content"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-520,40],"id":"b6c9688c-cb82-4716-804e-8a930cae4d66","name":"HTML1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[520,60],"id":"e2fad7f2-f50e-40d4-aa39-22ebb7a84a1f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[640,60],"id":"d5cb86d7-a068-4b11-b6a5-1552e6e5714a","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[740,220],"id":"cbb45c29-aecd-4d59-add6-e7f156c2813e","name":"Recursive Character Text Splitter"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"title, raw_content","options":{}},"id":"b3b45efd-de72-41a0-ad68-655225e2f761","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[220,640]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"api_key\": \"Dein API Key\",\n    \"query\": \"{{ $json.query.replace(/\"/g, '\\\\\"') }}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","options":{}},"id":"09c8ea10-4496-48d4-a601-9761e177cdc0","name":"Search Internet","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,640]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vQA-Vqnhba9TzlzlW61oPcWJ4BBHosy6ZD3fp5Wz_lI","mode":"list","cachedResultName":"Social Media Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vQA-Vqnhba9TzlzlW61oPcWJ4BBHosy6ZD3fp5Wz_lI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tabellenblatt1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vQA-Vqnhba9TzlzlW61oPcWJ4BBHosy6ZD3fp5Wz_lI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Campaign":"test","Content Subject":"test","Target Audience":"test","LinkedIn":"test","X":"test","Blog":"test"},"matchingColumns":[],"schema":[{"id":"Campaign","displayName":"Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content Subject","displayName":"Content Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target Audience","displayName":"Target Audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"X","displayName":"X","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Blog","displayName":"Blog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2f11527d-2727-4c9e-9223-ee075796dfd9","name":"Update Campaign","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,1060],"credentials":{"googleSheetsOAuth2Api":{"id":"EGxkvpCDxkQdm1sK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b493a3c6-939a-4301-9257-055b80c28d7a","name":"query","value":"={{ $json.result.text }}","type":"string"},{"id":"e2813669-08fd-4d0d-a215-b0634032330b","name":"targetAudience","value":"=KI-Begeisterte","type":"string"}]},"options":{}},"id":"2fca168c-f1b4-4438-acbd-a5f54e06d0fb","name":"Set Search Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,640]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}","options":{"systemMessage":"# System Role\nYou are a skilled and creative blog writer, capable of crafting engaging, concise, and well-structured two-paragraph blog articles based on provided content.\n\n# Task Specification\nWrite a two-paragraph blog article using the provided content. The blog should be coherent, engaging, and informative, tailored to a general audience. Ensure the tone is professional yet approachable, and the structure flows logically from introduction to conclusion.\n\n# Specifics and Context\nThis task is essential for producing quick, high-quality blog articles that capture readers' attention while accurately conveying the intended message. By writing clear and engaging content, you help brands or individuals establish thought leadership and connect with their audience effectively.\n\n# Examples\n## Example 1\n**Input:**  \nContent: \"Remote work has grown 44% in the last five years. Benefits include flexibility and reduced commute times. Challenges include maintaining productivity and combating isolation.\"\n\n**Output:**  \nRemote work has become a transformative trend, with a 44% increase in adoption over the past five years. The appeal lies in its flexibility, allowing employees to tailor their schedules and eliminate time-consuming commutes. This shift has unlocked new possibilities for work-life balance and broadened the talent pool for businesses willing to embrace remote setups.\n\nHowever, remote work isn’t without its challenges. Employees often face difficulties in maintaining productivity outside a structured office environment and struggle with feelings of isolation. Addressing these concerns requires thoughtful solutions, such as virtual collaboration tools and strategies to foster connection, ensuring remote work remains both productive and fulfilling.\n\n## Example 2\n**Input:**  \nContent: \"The Mediterranean diet includes fruits, vegetables, whole grains, and healthy fats like olive oil. Studies show it reduces the risk of heart disease and supports brain health.\"\n\n**Output:**  \nThe Mediterranean diet has long been celebrated as one of the healthiest eating patterns in the world. Emphasizing fresh fruits, vegetables, whole grains, and heart-healthy fats like olive oil, this diet is as delicious as it is nutritious. Its flavorful diversity makes it easy to adopt and sustain, whether you’re enjoying a vibrant Greek salad or a wholesome bowl of minestrone.\n\nWhat sets the Mediterranean diet apart is its scientifically backed health benefits. Numerous studies highlight its ability to reduce the risk of heart disease and support cognitive health, making it a cornerstone for longevity and wellness. By prioritizing natural, unprocessed foods, this lifestyle offers a sustainable approach to eating well and living better.\n\n# Reminders\n- Maintain clarity and logical flow between paragraphs.\n- Ensure the tone is engaging yet professional.\n- Keep the blog concise and aligned with the provided content.\n"}},"id":"b739af33-98f8-470e-a7e3-7b7f56ad365d","name":"Blog Writer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,1060]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Article Content:\n{{ $json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}","options":{"systemMessage":"# System Role  \nYou are an expert LinkedIn content creator specializing in transforming incoming articles into highly engaging posts tailored to a specific target audience.  \n\n# Task Specification  \nUsing the provided article, craft a LinkedIn post that is:  \n1. Written in a concise, engaging tone optimized for readability on mobile.  \n2. Tailored specifically to the target audience’s interests, needs, and professional goals.  \n3. Plain text only, with frequent line breaks for clarity.  \n4. Incorporates 1-2 emojis to enhance personality and appeal.  \n5. Provides actionable value and includes a clear call to action.  \n6. Contains 3-5 relevant hashtags.  \n7. Outputs only the post text—nothing else.  \n\n# Specifics and Context  \nThe post should succinctly capture the core message of the article while resonating with the audience’s values. It must sound human and conversational, staying under 3,000 characters.  \n\n# Examples  \n## Example 1  \n**Input:** Article about productivity tips for managers.  \n**Output:**  \n🔥 Time to Supercharge Your Productivity!  \n\nManagers, are your days packed with back-to-back meetings and endless to-do lists? Here’s the secret to working smarter, not harder: [insight summary].  \n\n👉 Top tips to stay ahead:  \n1. Prioritize tasks using the Eisenhower Matrix.  \n2. Block time on your calendar for deep focus.  \n3. Delegate effectively to your team.  \n\nWhat strategies help you lead and manage your time effectively? Share your thoughts below!  \n\n#Leadership #TimeManagement #Productivity  \n\n# Reminders  \n- Ensure the content aligns with the target audience's interests and challenges.  \n- Always include 1-2 emojis and a call to action.  \n- Use plain text and only output the post content.  \n"}},"id":"fa920bba-2ec1-417b-937c-d40cf2c27dd1","name":"LinkedIn","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,860]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}","options":{"systemMessage":"=# System Role  \nYou are an expert Twitter content creator specializing in transforming articles into engaging, concise tweets tailored to a specific target audience.  \n\n# Task Specification  \nUsing the provided article, craft a tweet that is:  \n1. Short, concise, and optimized for Twitter’s character limit (280 characters).  \n2. Tailored to resonate with the target audience’s interests, needs, and goals.  \n3. Incorporates 1-2 emojis to enhance personality and appeal.  \n4. Offers value or insight and includes a clear call to action.  \n5. Contains 1-3 relevant hashtags.  \n6. Outputs only the tweet text—nothing else.  \n\n# Specifics and Context  \nThe tweet should distill the essence of the article into a single impactful message. It must grab attention, provide immediate value, and encourage engagement (e.g., likes, replies, or clicks).  \n\n# Examples  \n## Example 1  \n**Input:** Article about productivity tips for managers.  \n**Output:**  \n🔥 Overwhelmed by meetings and to-dos? Managers, here’s how to stay ahead:  \n- Use the Eisenhower Matrix.  \n- Block focus time.  \n- Delegate smarter.  \n\nWhat’s your top time-management hack? Let’s share! ⏰  \n\n#Leadership #Productivity  \n\n# Reminders  \n- Keep the tone approachable and engaging.  \n- Use emojis sparingly for emphasis.  \n- Ensure the tweet stays within 280 characters and is tailored to the audience.  \n- Only output the tweet text.  \n"}},"id":"ddfb5cdd-8547-47ac-a4fa-0580649bcaf0","name":"X","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[120,860]},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"525f6b7a-85bc-4f5b-a796-f5c7d368d32f","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[60,640]},{"parameters":{"operation":"addLabels","messageId":"{{ $json.id }}","labelIds":["Label_4459975618133592282"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1880,940],"id":"f00691f5-3513-487e-ae63-92e071144be3","name":"Rechnungen & Finanzen","webhookId":"857051a9-d0f6-4f43-b3cf-d018715f4be8","credentials":{"gmailOAuth2":{"id":"PPKo9feS28JmFQUQ","name":"Gmail account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8n-docs-rag","mode":"list","cachedResultName":"n8n-docs-rag"},"options":{"pineconeNamespace":"n8n"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-360,40],"id":"d2f41a37-f989-4ca3-9cf0-27875c08c38e","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"CLfI00Y7OhjLzO8d","name":"PineconeApi account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier1","type":"main","index":0}]]},"Add Label":{"main":[[{"node":"Skool Classifier","type":"main","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Skool Classifier","type":"ai_languageModel","index":0},{"node":"Text Classifier1","type":"ai_languageModel","index":0},{"node":"Blog Writer","type":"ai_languageModel","index":0},{"node":"X","type":"ai_languageModel","index":0},{"node":"LinkedIn","type":"ai_languageModel","index":0}]]},"Skool Classifier":{"main":[[{"node":"Community Interaction ","type":"main","index":0}],[{"node":"Event Notification","type":"main","index":0}],[{"node":"Private Chat Message","type":"main","index":0}],[{"node":"System  Notification","type":"main","index":0}],[{"node":"Stripe Payment","type":"main","index":0}]]},"Stripe Payment":{"main":[[{"node":"Send Summary1","type":"main","index":0}]]},"Event Notification":{"main":[[{"node":"Send Summary","type":"main","index":0}]]},"Community Interaction ":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"System  Notification":{"main":[[{"node":"Send Summary1","type":"main","index":0}]]},"Private Chat Message":{"main":[[{"node":"Send Summary","type":"main","index":0}]]},"Send Summary":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Send Summary1":{"main":[[{"node":"Mark As Read","type":"main","index":0}]]},"Intent Agent":{"main":[[{"node":"Set Intent","type":"main","index":0}]]},"Set Intent":{"main":[[{"node":"Answer User","type":"main","index":0}]]},"Check Feedback":{"main":[[{"node":"Text Classifier","type":"main","index":0}],[{"node":"Correction Agent","type":"main","index":0}]]},"Correction Agent":{"main":[[{"node":"Set Intent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Intent Agent","type":"ai_memory","index":0}]]},"4o":{"ai_languageModel":[[{"node":"Correction Agent","type":"ai_languageModel","index":0},{"node":"Check Feedback","type":"ai_languageModel","index":0},{"node":"Intent Agent","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Contact Agent","type":"ai_languageModel","index":0},{"node":"Calendar Agent","type":"ai_languageModel","index":0},{"node":"Gmail Agent","type":"ai_languageModel","index":0}]]},"Answer User":{"main":[[{"node":"Check Feedback","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Gmail Agent","type":"main","index":0}],[{"node":"Calendar Agent","type":"main","index":0}],[{"node":"Contact Agent","type":"main","index":0}],[{"node":"Set Search Fields","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Contact Agent":{"main":[[{"node":"Contact Success Response","type":"main","index":0}],[{"node":"Contact Error Response","type":"main","index":0}]]},"Get_All_Events":{"ai_tool":[[{"node":"Intent Agent","type":"ai_tool","index":0}]]},"Create_Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Update_Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Get_All_Contacts":{"ai_tool":[[{"node":"Intent Agent","type":"ai_tool","index":0}]]},"Get_Contacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Delete_Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Delete_Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get_Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update_Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create_Event_with_Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create_Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Calendar Agent":{"main":[[{"node":"Calendar Success Response","type":"main","index":0}],[{"node":"Calendar Response1","type":"main","index":0}]]},"Hohe Priorität":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Werbung":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"3D-Druck Kundensupport":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"Gmail2":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Text Classifier1":{"main":[[{"node":"Hohe Priorität","type":"main","index":0}],[{"node":"Rechnungen & Finanzen","type":"main","index":0}],[{"node":"Werbung","type":"main","index":0}],[{"node":"3D-Druck Kundensupport","type":"main","index":0}],[{"node":"Add Label","type":"main","index":0}],[{"node":"Analyze PDF","type":"main","index":0},{"node":"Rechnung Erfasst","type":"main","index":0}]]},"Send_Email":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Email_Reply":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Label_Emails":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Create_Draft":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Get_Emails":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Get_Labels":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Mark_Unread":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Gmail Agent":{"main":[[{"node":"Gmail Success Response","type":"main","index":0}],[{"node":"Gmail Error Response","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}],[{"node":"Download File1","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Intent Agent","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Intent Agent","type":"main","index":0}]]},"Create Folder":{"main":[[{"node":"Get File","type":"main","index":0}]]},"Search Folder":{"main":[[{"node":"Exists","type":"main","index":0}]]},"Exists":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Create Folder","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Inform User","type":"main","index":0}]]},"Analyze PDF":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Update EüR ","type":"main","index":0},{"node":"Search Folder","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Analyze PDF","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Aggregate":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Search Internet":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Set Search Fields":{"main":[[{"node":"Search Internet","type":"main","index":0}]]},"Blog Writer":{"main":[[{"node":"Update Campaign","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"X","type":"main","index":0}]]},"X":{"main":[[{"node":"Blog Writer","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Rechnungen & Finanzen":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750090176}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"90370d0f-db11-4af3-9d34-1f4e9c47fcb3","activeVersionId":null,"versionCounter":1,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:14:26.968Z","createdAt":"2025-06-24T20:14:26.968Z","role":"workflow:owner","workflowId":"glEuEuo0LJuiN6ci","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}