n8n/backup/n8n-backup/workflows/gsG5RDccyBQQGYe3.json
{"updatedAt":"2025-06-24T22:23:53.033Z","createdAt":"2025-06-15T05:42:18.153Z","id":"gsG5RDccyBQQGYe3","name":"web-scraping","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"9cbbd8e7-d129-4874-987c-2348bb5ccb89"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1.1,"position":[0,0],"id":"06ccc97c-b4f5-4737-894b-b7100cabab31","name":"MCP Server Trigger","webhookId":"9cbbd8e7-d129-4874-987c-2348bb5ccb89"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,-200],"id":"f8b24a21-77cc-4688-a456-960a3f642183","name":"When chat message received","webhookId":"503c3a19-1977-4625-84b2-5651eab7a296"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-360],"id":"cd012575-57a4-4763-81fe-3ce4c8ba35ff","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"screenshot","operation":"capture","url":"https://www.google.com","manipulate":{},"imageOptions":{},"browserOptions":{},"addition":{}},"type":"@n8n-zengchao/n8n-nodes-browserless.Browserless","typeVersion":1,"position":[220,-540],"id":"ea235199-5dff-4e35-abaf-751026fecccd","name":"Browserless","credentials":{"browserlessApi":{"id":"5B7EXM5HFp7IJyk4","name":"Browserless Credentials account"}}},{"parameters":{"method":"POST","url":"http://82.29.181.193:3001/content?token=zjs-secure-playwright-token-0815","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url || 'https://www.google.de' }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-380],"id":"b15ba05e-5073-43e6-b761-c6e8cedd511e","name":"take content of URI"},{"parameters":{"method":"POST","url":"http://82.29.181.193:3001/screenshot?token=zjs-secure-playwright-token-0815","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url || 'https://www.google.de' }}\",\n  \"options\": {\n    \"fullPage\": true,\n    \"type\": \"png\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,-380],"id":"236b4acf-04cb-42b6-a88e-f06ca6ff6c7e","name":"take screenshot of URI"},{"parameters":{"assignments":{"assignments":[{"id":"6bdaad96-3c21-4952-9df3-f5451f6fb311","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-360],"id":"358b838a-5631-4c5d-9cb5-7b9a3cbb94fc","name":"set URI input"},{"parameters":{"method":"POST","url":"http://82.29.181.193:3001/pdf?token=zjs-secure-playwright-token-0815","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('set URI input').item.json.url || 'https://www.google.de' }}\",\n  \"options\": {\n    \"format\": \"A4\",\n    \"printBackground\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,-380],"id":"ad66e5dc-c5c8-410c-8169-51148d7d295d","name":"take pdf of URI1"},{"parameters":{"method":"POST","url":"http://82.29.181.193:3001/function?token=zjs-secure-playwright-token-0815","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"code\": \"module.exports = async ({ page }) => { await page.goto('https://www.google.de'); return await page.title(); }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,-380],"id":"c292a264-2d1c-4149-a756-44c4a498a853","name":"execute JS on URI1"},{"parameters":{"method":"POST","url":"http://82.29.181.193:3001/function?token=zjs-secure-playwright-token-0815","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"code\": \"async ({ page }) => { try { await page.goto('https://www.google.de'); const title = await page.title(); return { success: true, title }; } catch (error) { return { success: false, error: error.message }; } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,-160],"id":"a5d69094-0d58-4030-b471-a93eb51667ac","name":"execute JS on URI"},{"parameters":{"jsCode":"const { chromium } = require('playwright');\n\nclass PlaywrightBrowserless {\n  constructor() {\n    this.browserlessUrl = 'ws://82.29.181.193:3001';\n    this.token = 'zjs-secure-playwright-token-0815';\n  }\n\n  async connect() {\n    // Connect to browserless instance\n    this.browser = await chromium.connectOverCDT({\n      wsEndpoint: `${this.browserlessUrl}?token=${this.token}`\n    });\n    return this.browser;\n  }\n\n  async automateEcommerce(url) {\n    const browser = await this.connect();\n    const context = await browser.newContext({\n      viewport: { width: 1920, height: 1080 },\n      userAgent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36'\n    });\n    \n    const page = await context.newPage();\n\n    try {\n      console.log(`🚀 Starting automation for: ${url}`);\n      \n      // Navigate and wait for page load\n      await page.goto(url, { waitUntil: 'networkidle' });\n      \n      // Extract product information\n      const products = await page.evaluate(() => {\n        const productElements = document.querySelectorAll('[data-testid=\"product\"], .product-item, .product-card');\n        return Array.from(productElements).map(product => ({\n          title: product.querySelector('h1, h2, h3, .title, .product-title')?.textContent?.trim(),\n          price: product.querySelector('.price, .cost, [data-testid=\"price\"]')?.textContent?.trim(),\n          image: product.querySelector('img')?.src,\n          link: product.querySelector('a')?.href\n        })).filter(p => p.title || p.price);\n      });\n\n      // Handle cookie consent\n      await this.handleCookieConsent(page);\n      \n      // Search functionality\n      const searchResults = await this.performSearch(page, 'laptop');\n      \n      // Form interactions\n      const formData = await this.fillContactForm(page);\n      \n      // Take screenshots\n      const fullPageScreenshot = await page.screenshot({ \n        fullPage: true,\n        type: 'png'\n      });\n\n      // Generate PDF\n      const pdf = await page.pdf({\n        format: 'A4',\n        printBackground: true,\n        margin: { top: '1cm', bottom: '1cm', left: '1cm', right: '1cm' }\n      });\n\n      return {\n        url,\n        products,\n        searchResults,\n        formData,\n        screenshots: {\n          fullPage: fullPageScreenshot.toString('base64')\n        },\n        pdf: pdf.toString('base64'),\n        timestamp: new Date().toISOString()\n      };\n\n    } finally {\n      await context.close();\n      await browser.close();\n    }\n  }\n\n  async handleCookieConsent(page) {\n    // Common cookie consent selectors\n    const cookieSelectors = [\n      'button[data-testid=\"accept-cookies\"]',\n      '.cookie-accept',\n      '#accept-cookies',\n      'button:has-text(\"Accept\")',\n      'button:has-text(\"Allow\")',\n      'button:has-text(\"OK\")'\n    ];\n\n    for (const selector of cookieSelectors) {\n      try {\n        await page.click(selector, { timeout: 2000 });\n        console.log(`✅ Accepted cookies using: ${selector}`);\n        break;\n      } catch (e) {\n        // Try next selector\n      }\n    }\n  }\n\n  async performSearch(page, searchTerm) {\n    try {\n      // Find search input\n      const searchInput = await page.locator('input[type=\"search\"], input[placeholder*=\"search\"], #search, .search-input').first();\n      \n      if (await searchInput.isVisible()) {\n        await searchInput.fill(searchTerm);\n        await searchInput.press('Enter');\n        \n        // Wait for results\n        await page.waitForLoadState('networkidle');\n        \n        // Extract search results\n        const results = await page.evaluate(() => {\n          const resultElements = document.querySelectorAll('.search-result, .result-item, [data-testid=\"search-result\"]');\n          return Array.from(resultElements).slice(0, 10).map(result => ({\n            title: result.querySelector('h1, h2, h3, .title')?.textContent?.trim(),\n            description: result.querySelector('p, .description, .snippet')?.textContent?.trim(),\n            link: result.querySelector('a')?.href\n          }));\n        });\n\n        return { searchTerm, results, count: results.length };\n      }\n    } catch (error) {\n      console.log(`⚠️ Search failed: ${error.message}`);\n      return { searchTerm, results: [], error: error.message };\n    }\n  }\n\n  async fillContactForm(page) {\n    try {\n      // Look for contact forms\n      const forms = await page.locator('form').all();\n      \n      for (const form of forms) {\n        const hasEmailInput = await form.locator('input[type=\"email\"], input[name*=\"email\"]').count() > 0;\n        const hasNameInput = await form.locator('input[name*=\"name\"], input[placeholder*=\"name\"]').count() > 0;\n        \n        if (hasEmailInput && hasNameInput) {\n          // Fill the form\n          await form.locator('input[name*=\"name\"], input[placeholder*=\"name\"]').first().fill('John Doe');\n          await form.locator('input[type=\"email\"], input[name*=\"email\"]').first().fill('john.doe@example.com');\n          \n          const messageField = form.locator('textarea, input[name*=\"message\"]').first();\n          if (await messageField.isVisible()) {\n            await messageField.fill('This is an automated test message.');\n          }\n          \n          console.log('✅ Contact form filled successfully');\n          return { status: 'filled', form: 'contact' };\n        }\n      }\n      \n      return { status: 'no_form_found' };\n    } catch (error) {\n      return { status: 'error', error: error.message };\n    }\n  }\n\n  async automateGoogleSearch(query) {\n    const browser = await this.connect();\n    const page = await browser.newPage();\n\n    try {\n      await page.goto('https://www.google.com');\n      \n      // Handle cookie consent\n      try {\n        await page.click('button:has-text(\"Accept all\")', { timeout: 3000 });\n      } catch (e) {\n        // Cookie consent not found, continue\n      }\n\n      // Perform search\n      await page.fill('input[name=\"q\"]', query);\n      await page.press('input[name=\"q\"]', 'Enter');\n      await page.waitForLoadState('networkidle');\n\n      // Extract results\n      const results = await page.evaluate(() => {\n        const searchResults = document.querySelectorAll('[data-result-index]');\n        return Array.from(searchResults).slice(0, 10).map(result => ({\n          title: result.querySelector('h3')?.textContent,\n          url: result.querySelector('a')?.href,\n          snippet: result.querySelector('[data-sncf=\"1\"]')?.textContent\n        }));\n      });\n\n      return { query, results, count: results.length };\n\n    } finally {\n      await page.close();\n      await browser.close();\n    }\n  }\n\n  async monitorPrices(products) {\n    const browser = await this.connect();\n    const results = [];\n\n    for (const product of products) {\n      const page = await browser.newPage();\n      \n      try {\n        await page.goto(product.url);\n        \n        // Extract current price\n        const currentPrice = await page.evaluate((selectors) => {\n          for (const selector of selectors) {\n            const element = document.querySelector(selector);\n            if (element) {\n              return element.textContent.trim();\n            }\n          }\n          return null;\n        }, [\n          '.price', '.cost', '[data-testid=\"price\"]', \n          '.price-current', '.current-price', '.sale-price'\n        ]);\n\n        results.push({\n          name: product.name,\n          url: product.url,\n          currentPrice,\n          previousPrice: product.lastKnownPrice,\n          priceChanged: currentPrice !== product.lastKnownPrice,\n          timestamp: new Date().toISOString()\n        });\n\n      } catch (error) {\n        results.push({\n          name: product.name,\n          url: product.url,\n          error: error.message,\n          timestamp: new Date().toISOString()\n        });\n      } finally {\n        await page.close();\n      }\n    }\n\n    await browser.close();\n    return results;\n  }\n\n  async generateReports(urls) {\n    const browser = await this.connect();\n    const reports = [];\n\n    for (const url of urls) {\n      const page = await browser.newPage();\n      \n      try {\n        await page.goto(url, { waitUntil: 'networkidle' });\n\n        // Performance metrics\n        const metrics = await page.evaluate(() => ({\n          loadTime: performance.timing.loadEventEnd - performance.timing.navigationStart,\n          domReady: performance.timing.domContentLoadedEventEnd - performance.timing.navigationStart,\n          resourceCount: performance.getEntriesByType('resource').length\n        }));\n\n        // SEO analysis\n        const seoData = await page.evaluate(() => ({\n          title: document.title,\n          metaDescription: document.querySelector('meta[name=\"description\"]')?.content,\n          headings: {\n            h1: Array.from(document.querySelectorAll('h1')).map(h => h.textContent),\n            h2: Array.from(document.querySelectorAll('h2')).map(h => h.textContent),\n            h3: Array.from(document.querySelectorAll('h3')).map(h => h.textContent)\n          },\n          images: Array.from(document.querySelectorAll('img')).map(img => ({\n            src: img.src,\n            alt: img.alt,\n            hasAlt: !!img.alt\n          })),\n          links: Array.from(document.querySelectorAll('a[href]')).length\n        }));\n\n        // Accessibility checks\n        const a11yIssues = await page.evaluate(() => {\n          const issues = [];\n          \n          // Check for missing alt text\n          const imagesWithoutAlt = document.querySelectorAll('img:not([alt])');\n          if (imagesWithoutAlt.length > 0) {\n            issues.push(`${imagesWithoutAlt.length} images missing alt text`);\n          }\n\n          // Check for heading structure\n          const headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');\n          if (headings.length === 0) {\n            issues.push('No headings found');\n          }\n\n          return issues;\n        });\n\n        // Take screenshot\n        const screenshot = await page.screenshot({ fullPage: true });\n\n        reports.push({\n          url,\n          metrics,\n          seo: seoData,\n          accessibility: a11yIssues,\n          screenshot: screenshot.toString('base64'),\n          timestamp: new Date().toISOString()\n        });\n\n      } catch (error) {\n        reports.push({\n          url,\n          error: error.message,\n          timestamp: new Date().toISOString()\n        });\n      } finally {\n        await page.close();\n      }\n    }\n\n    await browser.close();\n    return reports;\n  }\n}\n\n// Usage Examples\nasync function runExamples() {\n  const automation = new PlaywrightBrowserless();\n  \n  try {\n    // E-commerce automation\n    console.log('🛒 Running e-commerce automation...');\n    const ecommerceResults = await automation.automateEcommerce('https://example-shop.com');\n    console.log(`Found ${ecommerceResults.products.length} products`);\n\n    // Google search\n    console.log('🔍 Performing Google search...');\n    const searchResults = await automation.automateGoogleSearch('playwright automation');\n    console.log(`Found ${searchResults.count} search results`);\n\n    // Price monitoring\n    console.log('💰 Monitoring prices...');\n    const products = [\n      { name: 'iPhone', url: 'https://example.com/iphone', lastKnownPrice: '$999' },\n      { name: 'MacBook', url: 'https://example.com/macbook', lastKnownPrice: '$1299' }\n    ];\n    const priceResults = await automation.monitorPrices(products);\n    console.log(`Monitored ${priceResults.length} products`);\n\n    // Generate reports\n    console.log('📊 Generating reports...');\n    const reportUrls = ['https://example.com', 'https://github.com'];\n    const reports = await automation.generateReports(reportUrls);\n    console.log(`Generated ${reports.length} reports`);\n\n    // Save all results\n    const allResults = {\n      ecommerce: ecommerceResults,\n      search: searchResults,\n      prices: priceResults,\n      reports: reports,\n      timestamp: new Date().toISOString()\n    };\n\n    require('fs').writeFileSync('automation-results.json', JSON.stringify(allResults, null, 2));\n    console.log('✅ All results saved to automation-results.json');\n\n  } catch (error) {\n    console.error('❌ Automation failed:', error);\n  }\n}\n\n// Run the examples\nif (require.main === module) {\n  runExamples();\n}\n\nmodule.exports = PlaywrightBrowserless;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,60],"id":"8c515524-23b2-455e-8c34-934298a44663","name":"Code"},{"parameters":{"jsCode":"// Use only built-in HTTP capabilities\nconst axios = require('axios'); // This might be available\n\nconst browserlessUrl = 'http://82.29.181.193:3001';\nconst token = 'zjs-secure-playwright-token-0815';\n\n// Get page content\nconst contentResponse = await $execution.sendHttpRequest({\n  method: 'POST',\n  url: `${browserlessUrl}/content?token=${token}`,\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: {\n    url: items[0].json.url\n  }\n});\n\n// Extract title from HTML\nconst title = contentResponse.content.match(/<title>(.*?)<\\/title>/i)?.[1] || 'No title';\n\nreturn [{\n  json: {\n    url: items[0].json.url,\n    title: title,\n    content: contentResponse.content.substring(0, 1000) + '...'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,260],"id":"f36c6020-c35e-4021-9b5b-22c3737685fe","name":"Code1"},{"parameters":{"method":"POST","url":"http://browserless-api:3002/automate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url }}\",\n  \"actions\": {\n    \"screenshot\": {\"fullPage\": true},\n    \"extractData\": {\n      \"selectors\": {\n        \"titles\": \"h1, h2, h3\",\n        \"links\": \"a\",\n        \"paragraphs\": \"p\"\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,-180],"id":"6b9ce379-6374-4ed7-9af4-77e9a4a3e6ba","name":"HTTP Request"},{"parameters":{"jsCode":"const result = $input.first().json;\n\nreturn [{\n  json: {\n    url: result.url,\n    title: result.pageInfo.title,\n    linkCount: result.pageInfo.linkCount,\n    titlesFound: result.extractedData?.titles?.length || 0,\n    hasScreenshot: !!result.screenshot,\n    timestamp: result.timestamp\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-180],"id":"7bef2950-2c13-4033-90d5-6188773ffa24","name":"Code2"},{"parameters":{"method":"POST","url":"http://browserless-api:3002/automate","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://www.example.com\",\n  \"actions\": {\n    \"screenshot\": {\n      \"fullPage\": true,\n      \"type\": \"png\"\n    },\n    \"extractData\": {\n      \"selectors\": {\n        \"mainContent\": \"body\",\n        \"title\": \"h1\",\n        \"description\": \"p\"\n      }\n    },\n    \"pdf\": {\n      \"format\": \"A4\",\n      \"printBackground\": true,\n      \"margin\": {\n        \"top\": \"1cm\",\n        \"bottom\": \"1cm\",\n        \"left\": \"1cm\",\n        \"right\": \"1cm\"\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,40],"id":"826273cb-3980-4add-a2fa-e98dd1d4b019","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"http://browserless-api:3002/screenshot-binary","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"image/png"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"url\": \"https://www.example.com\",\n    \"options\": {\n      \"fullPage\": true,\n      \"type\": \"png\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,40],"id":"c497ef0e-5cd6-42b8-8e5d-4bde463a0fab","name":"HTTP Request2"}],"connections":{"When chat message received":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"set URI input","type":"main","index":0}]]},"Browserless":{"main":[[]]},"take screenshot of URI":{"main":[[{"node":"take content of URI","type":"main","index":0}]]},"take content of URI":{"main":[[{"node":"take pdf of URI1","type":"main","index":0}]]},"set URI input":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"take pdf of URI1":{"main":[[{"node":"execute JS on URI1","type":"main","index":0},{"node":"Code","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"url":"https://www.example.com"}}]},"versionId":"03831f0b-1167-4df1-ab4c-77cd82d7eec5","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:14:34.661Z","createdAt":"2025-06-24T20:14:34.661Z","role":"workflow:owner","workflowId":"gsG5RDccyBQQGYe3","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}