n8n/backup/n8n-backup/workflows/gV1gUZPO8xQWtIAk.json
{"updatedAt":"2025-06-28T04:33:59.676Z","createdAt":"2025-05-26T16:19:13.532Z","id":"gV1gUZPO8xQWtIAk","name":"playwright","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://httpbin.org/get","browserOptions":{},"addition":{}},"type":"@n8n-zengchao/n8n-nodes-browserless.Browserless","typeVersion":1,"position":[240,700],"id":"5bac60ac-6ecb-4f7b-a930-915d85923b65","name":"Browserless","credentials":{"browserlessApi":{"id":"5B7EXM5HFp7IJyk4","name":"Browserless Credentials account"}}},{"parameters":{"method":"POST","url":"http://litellm-browserless-1:3000/screenshot?token=zjs-secure-playwright-token-0815","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://httpbin.org/get\",\n  \"options\": {\n    \"fullPage\": true\n  }\n}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"test-screenshot.png"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,900],"id":"ad025d32-844e-4e15-a665-4dc4fac3b5cf","name":"screenshot1"},{"parameters":{"method":"POST","url":"http://litellm-browserless-1:3000/content?token=zjs-secure-playwright-token-0815","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer zjs-secure-playwright-token-0815"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://httpbin.org/get\",\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle2\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1120],"id":"22c82cb0-433c-4c5f-81e9-a1cdfeddbafc","name":"content"},{"parameters":{"jsCode":"const puppeteer = require('puppeteer');\n\nasync function googleSearch() {\n  let browser = null;\n  \n  try {\n    // Browser mit Docker-optimierten Argumenten\n    browser = await puppeteer.launch({\n      executablePath: '/usr/bin/chromium-browser',\n      args: [\n        '--no-sandbox',\n        '--disable-setuid-sandbox', \n        '--disable-dev-shm-usage',\n        '--disable-gpu',\n        '--disable-web-security',\n        '--no-first-run'\n      ],\n      headless: true\n    });\n    \n    const page = await browser.newPage();\n    await page.setViewport({ width: 1280, height: 800 });\n\n    // Zu Google navigieren\n    await page.goto('https://www.google.com', { \n      waitUntil: 'domcontentloaded',\n      timeout: 15000 \n    });\n\n    // Cookie-Banner akzeptieren (falls vorhanden)\n    try {\n      await page.waitForSelector('button[id=\"L2AGLb\"]', { timeout: 3000 });\n      await page.click('button[id=\"L2AGLb\"]');\n      await page.waitForTimeout(1000);\n    } catch (cookieError) {\n      // Cookie-Banner nicht gefunden, weitermachen\n    }\n\n    // Suchbegriff aus Input oder Standard verwenden\n    const searchTerm = $input.first()?.json?.searchTerm || 'n8n automation';\n    \n    await page.waitForSelector('input[name=\"q\"]');\n    await page.type('input[name=\"q\"]', searchTerm);\n    await page.keyboard.press('Enter');\n\n    // Auf Suchergebnisse warten\n    await page.waitForSelector('div#search', { timeout: 10000 });\n\n    // Erstes Suchergebnis extrahieren\n    const firstResult = await page.evaluate(() => {\n      // Ersten Link finden (verschiedene Selektoren probieren)\n      const selectors = ['div#search h3', '.yuRUbf h3', '.tF2Cxc h3', 'div.g h3'];\n      let firstLink = null;\n      \n      for (const selector of selectors) {\n        const element = document.querySelector(selector);\n        if (element) {\n          firstLink = element.closest('a');\n          break;\n        }\n      }\n      \n      const link = firstLink ? firstLink.href : null;\n      const title = firstLink ? firstLink.querySelector('h3')?.textContent : null;\n      \n      // Erstes Bild finden\n      const firstImage = document.querySelector('div#search img');\n      const imageSrc = firstImage ? firstImage.src : null;\n      \n      return { link, title, imageSrc };\n    });\n\n    // Screenshot der Suchergebnisse\n    const screenshotBuffer = await page.screenshot({ \n      fullPage: false,\n      type: 'png'\n    });\n\n    // ✅ n8n-konformes Return-Format (verhindert read-only errors)\n    return [{\n      json: {\n        success: true,\n        searchTerm: searchTerm,\n        firstResult: {\n          link: firstResult.link,\n          title: firstResult.title,\n          image: firstResult.imageSrc\n        },\n        timestamp: new Date().toISOString()\n      },\n      binary: {\n        screenshot: {\n          data: screenshotBuffer.toString('base64'),\n          mimeType: 'image/png',\n          fileName: `google-search-${searchTerm.replace(/[^a-zA-Z0-9]/g, '-')}.png`\n        }\n      }\n    }];\n    \n  } catch (err) {\n    console.log();\n    // ✅ Korrekte Error-Behandlung (verhindert \"read only property\" Fehler)\n    const errorMessage = String(err.message || err || 'Unbekannter Fehler');\n    \n    return [{\n      json: {\n        success: false,\n        error: errorMessage,\n        searchTerm: $input.first()?.json?.searchTerm || 'n8n automation',\n        timestamp: new Date().toISOString()\n      }\n    }];\n  } finally {\n    if (browser) {\n      try {\n        await browser.close();\n      } catch (closeError) {\n        // Browser-Schließung-Fehler ignorieren\n      }\n    }\n  }\n}\n\n// Funktion ausführen\nreturn await googleSearch();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,220],"id":"047a3087-3e0f-4f8a-aa6c-eb99464f89b7","name":"google-steering"},{"parameters":{"operation":"navigate","sessionId":"zjs01","url":"https://httpbin.org/get"},"type":"@couleetech/n8n-nodes-playwright-api.playwrightApi","typeVersion":1,"position":[520,220],"id":"05eae1c2-e377-4b0c-90ca-7f5866e31ac5","name":"Playwright API2","alwaysOutputData":false,"credentials":{"playwrightApi":{"id":"0bXMMi8sniIYIWLH","name":"Playwright account"}}},{"parameters":{"url":"https://httpbin.org/get","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,480],"id":"5a703915-3be7-4e0c-91fa-100a4835960c","name":"navi"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-20,0],"id":"8081a31c-9688-4536-a921-1c8f9a89469f","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://httpbin.org/get","browser":"firefox","browserOptions":{"headless":false,"slowMo":0}},"type":"n8n-nodes-playwright.playwright","typeVersion":1,"position":[240,0],"id":"1eed36ad-2733-40c9-843f-ba1118495c84","name":"Playwright"},{"parameters":{"authentication":"headerAuth","path":"d7e2ca28-408a-442a-8c86-a8d60c3934fc"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[680,440],"id":"50eb2c21-e748-402b-824f-707c15dddef9","name":"MCP Server Trigger","webhookId":"d7e2ca28-408a-442a-8c86-a8d60c3934fc","credentials":{"httpHeaderAuth":{"id":"f456BczHYQOZEpDI","name":"Header Auth account"}}},{"parameters":{},"type":"@couleetech/n8n-nodes-playwright-api.playwrightCreateSessionTool","typeVersion":1,"position":[780,660],"id":"e1d076c2-d1e2-4dd2-84c1-8fe7661087ad","name":"Create Session","credentials":{"playwrightApi":{"id":"0bXMMi8sniIYIWLH","name":"Playwright account"}}},{"parameters":{"sessionId":"https://www.google.com"},"type":"@couleetech/n8n-nodes-playwright-api.playwrightNavigateTool","typeVersion":1,"position":[940,660],"id":"fb220d5e-3002-4136-9d9b-c43f2f7a1704","name":"Navigate","credentials":{"playwrightApi":{"id":"0bXMMi8sniIYIWLH","name":"Playwright account"}}},{"parameters":{"name":"zjs01"},"type":"@couleetech/n8n-nodes-playwright-api.playwrightApi","typeVersion":1,"position":[680,80],"id":"5a1977a1-6960-4386-80ee-5da955aff41f","name":"Playwright API","credentials":{"playwrightApi":{"id":"0bXMMi8sniIYIWLH","name":"Playwright account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1080,660],"id":"bda93ad6-4fd7-445a-8f36-38772edd684f","name":"Calculator"}],"connections":{"google-steering":{"main":[[]]},"content":{"main":[[]]},"navi":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Playwright","type":"main","index":0}]]},"Create Session":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Navigate":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":60},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53c52516-8cee-4e6b-b93a-2d4c479b397e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:14:19.373Z","createdAt":"2025-06-24T20:14:19.373Z","role":"workflow:owner","workflowId":"gV1gUZPO8xQWtIAk","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}