n8n/backup/n8n-backup/workflows/hg1N3MImEuBj9YeC.json
{"updatedAt":"2025-06-24T22:22:57.563Z","createdAt":"2025-06-16T15:31:50.330Z","id":"hg1N3MImEuBj9YeC","name":"Dateien-Analysieren-Template","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"fbd9d74f-7d6f-433b-ba97-dcfeb5ec13de","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1guNeEoHeclGyAGrPgj1Aeq_eF7lOy83s","mode":"list","cachedResultName":"Wahlprogramme","cachedResultUrl":"https://drive.google.com/drive/folders/1guNeEoHeclGyAGrPgj1Aeq_eF7lOy83s"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"id":"4696e1fb-aba3-4dfd-a72b-62abc5b4717a","name":"Google Drive"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,0],"id":"21c5215b-a379-4eea-8325-7528b1be0339","name":"Google Drive1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,0],"id":"f691069e-e2f5-414e-82a2-f73f5140a187","name":"Loop Over Items"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"bundestagswahl","mode":"list","cachedResultName":"bundestagswahl"},"options":{"pineconeNamespace":"wahlprogramme"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[880,100],"id":"f0b57348-682c-4671-920c-61d01b0bed35","name":"Pinecone Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[780,360],"id":"2f889d6a-0113-47f5-8009-9916c1c0b384","name":"Embeddings OpenAI"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[960,340],"id":"2c399a2f-8d94-4e2c-b9c5-a48cf143ce2c","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1060,480],"id":"0f76b103-87fd-404f-b2dc-b46c9397ef67","name":"Recursive Character Text Splitter"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b753ea2a-4b80-4abd-9508-5e9cb1512910","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:14:49.665Z","createdAt":"2025-06-24T20:14:49.665Z","role":"workflow:owner","workflowId":"hg1N3MImEuBj9YeC","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}