n8n/backup/n8n-backup/workflows/hgbi1OTipVRqUrBD.json
{"updatedAt":"2025-07-06T11:51:52.945Z","createdAt":"2025-06-30T06:47:19.491Z","id":"hgbi1OTipVRqUrBD","name":"my-memory TEST","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,-40],"id":"81a8cccf-c75b-4da7-8c79-1bc6abe2bcda","name":"When chat message received","webhookId":"4faa68fe-07a8-4a23-8be6-3e7534b8371f","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,-60],"id":"326e6fbd-1921-477d-8330-ab7f3997a9a2","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[200,200],"id":"a97db202-cfad-4866-97f7-a480ae740b10","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"path":"a455d88c-27c5-4ac1-a660-0092f362db37"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1.1,"position":[880,-180],"id":"5165affe-cad8-4def-8bda-c15a331eaeef","name":"MCP Server Trigger","webhookId":"a455d88c-27c5-4ac1-a660-0092f362db37","disabled":true,"notes":"Authentication via MCP Endpoing\n\nJS:\n// n8n Webhook für MCP\n{\n  \"httpMethod\": \"POST\",\n  \"path\": \"/mcp-endpoint\",\n  \"headers\": {\n    \"Authorization\": \"Bearer {{ $env.N8N_MYKEY }}\"\n  },\n  \"authentication\": \"header\"\n}\n"},{"parameters":{"description":"verwende das tool um mymemory zu speichern","workflowId":{"__rl":true,"value":"3EqgQo1KUqbQsrL6","mode":"list","cachedResultName":"my-memory"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1040,180],"id":"c15bc70c-64b3-4d99-8b08-e2256e97346b","name":"Call n8n Workflow Tool"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1660,-20],"id":"fea8d7fd-df54-46d7-9663-a8548cff0e6e","name":"When Executed by Another Workflow"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2100,-100],"id":"8ee3fee9-1e3a-46f6-9c0c-bce4d8586fbe","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"14ZxxsG3YThZiHoc","name":"Postgres account (Host: n8n-db Port: 5432 DB: n8n)"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"verwende das tool um daten aus meinen mymemory zu bekommen","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[780,60],"id":"e26856a1-0111-4f57-840d-60098ee7206f","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"14ZxxsG3YThZiHoc","name":"Postgres account (Host: n8n-db Port: 5432 DB: n8n)"}}},{"parameters":{"model":"openai/text-embedding-3-small","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2100,80],"id":"37b0cbf2-60b7-44bd-a0a4-329c0c201777","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[800,280],"id":"584ae3e4-b9e5-4e1d-b79e-e9d4895bdb3a","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[2240,120],"id":"8b242344-8d11-4ed7-9f52-235db658d07c","name":"Default Data Loader"},{"parameters":{"content":"JSON for MCP server:\n\n{\n  \"mcpServers\": {\n    \"n8n\": {\n      \"command\": \"npx\",\n      \"args\": [\n        \"-y\",\n        \"supergateway\",\n        \"--sse\",\n        \"https://n8n.hcai42.com/mcp/3aaf1d41-9622-4820-9d12-2553af0f653f/sse\"\n      ]\n    }\n  }\n}\n","height":460,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,380],"id":"6ee7130d-be3f-45e5-8b00-9cbb6b597d67","name":"Sticky Note1"},{"parameters":{"sseEndpoint":"https://n8n.hcai42.com/mcp/mymemory/sse","authentication":"bearerAuth"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[360,200],"id":"b7e02125-e7c7-42f5-b34d-999582d8d158","name":"mymemory","credentials":{"httpBearerAuth":{"id":"LUuySmh1REXSGzMj","name":"local access"}}},{"parameters":{"description":"Handle Claude.ai MCP protocol responses","workflowId":{"__rl":true,"value":"cn9Xuq3z2GHWP1S0","mode":"list","cachedResultName":"Claude MCP Response Handler"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[640,60],"id":"5b8a730f-f0a7-43d8-9783-1ad1314502cd","name":"claude_mcp_handler","disabled":true},{"parameters":{"description":"Format responses for Claude.ai compatibility","workflowId":{"__rl":true,"value":"4Jh7IgPDDk8oPAcb","mode":"list","cachedResultName":"Claude Response Formatter"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1240,180],"id":"c9fc9e34-2305-4852-a1b4-b6a1bcbcf712","name":"format_claude_response","disabled":true},{"parameters":{"jsCode":"// Claude.ai MCP Protocol Handler\nconst input = $('When Executed by Another Workflow').first().json;\nconst { method, params, id } = input;\n\nconsole.log('Claude MCP Request:', { method, id });\n\n// CORS Headers für Claude.ai setzen\n$execution.setCurrentExecutionData({\n    http: {\n        headers: {\n            'Content-Type': 'application/json',\n            'Access-Control-Allow-Origin': 'https://claude.ai',\n            'Access-Control-Allow-Methods': 'POST, OPTIONS',\n            'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n        }\n    }\n});\n\n// MCP Protocol Responses für Claude.ai\nswitch (method) {\n    case 'initialize':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    protocolVersion: \"2024-11-05\",\n                    capabilities: {\n                        tools: { listTools: true, callTool: true },\n                        resources: {},\n                        prompts: {}\n                    },\n                    serverInfo: {\n                        name: \"n8n-memory-server\",\n                        version: \"1.0.0\",\n                        description: \"Personal memory using n8n_vectors table\"\n                    }\n                }\n            }\n        }];\n        \n    case 'tools/list':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    tools: [\n                        {\n                            name: \"search_memory\",\n                            description: \"Search through stored documents using vector similarity (n8n_vectors table)\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    query: { \n                                        type: \"string\",\n                                        description: \"Search query for documents\" \n                                    },\n                                    limit: {\n                                        type: \"integer\",\n                                        default: 4,\n                                        description: \"Number of results to return\"\n                                    }\n                                },\n                                required: [\"query\"]\n                            }\n                        },\n                        {\n                            name: \"store_document\",\n                            description: \"Store document in memory (n8n_vectors table)\",\n                            inputSchema: {\n                                type: \"object\", \n                                properties: {\n                                    content: { \n                                        type: \"string\",\n                                        description: \"Document content to store\" \n                                    },\n                                    metadata: { \n                                        type: \"object\",\n                                        description: \"Additional metadata\" \n                                    }\n                                },\n                                required: [\"content\"]\n                            }\n                        }\n                    ]\n                }\n            }\n        }];\n        \n    case 'tools/call':\n        // Für tools/call - delegiere an bestehende PGVector Tools\n        const toolName = params?.name;\n        const args = params?.arguments || {};\n        \n        console.log('Tool call delegated:', { toolName, args });\n        \n        // Return delegated request für nachgelagerte Tools\n        return [{\n            json: {\n                tool: toolName,\n                arguments: args,\n                query: args.query || args.content,\n                limit: args.limit || 4,\n                mcp_id: id,\n                delegated_to_tools: true\n            }\n        }];\n        \n    default:\n        // Für unbekannte Methods - an bestehende Tools weiterleiten\n        return [{ json: input }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,-20],"id":"dd4ba595-6706-47d1-b129-310d5fec1aa0","name":"Claude MCP Handler","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"9bdc6c97-422c-40d0-9370-012ea65b9510","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[760,-1160]},{"parameters":{"jsCode":"// Claude.ai MCP Server (POST-kompatibel)\nconst request = $('Memory store').first().json;\nconst { method, params, id } = request.body || request;\n\nconsole.log('Claude MCP Request:', { method, id });\n\n// CORS für Claude.ai\n$execution.setCurrentExecutionData({\n    http: {\n        statusCode: 200,\n        headers: {\n            'Content-Type': 'application/json',\n            'Access-Control-Allow-Origin': '*',\n            'Access-Control-Allow-Methods': 'POST, GET, OPTIONS',\n            'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n        }\n    }\n});\n\n// Handle OPTIONS preflight\nif (request.headers && request.headers['access-control-request-method']) {\n    return [{ json: { status: 'ok' } }];\n}\n\nswitch (method) {\n    case 'initialize':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    protocolVersion: \"2024-11-05\",\n                    capabilities: {\n                        tools: { \n                            listTools: true, \n                            callTool: true \n                        },\n                        resources: {},\n                        prompts: {}\n                    },\n                    serverInfo: {\n                        name: \"n8n-memory-server\",\n                        version: \"1.0.0\",\n                        description: \"Personal memory using pgvector\"\n                    }\n                }\n            }\n        }];\n        \n    case 'tools/list':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    tools: [\n                        {\n                            name: \"search_memory\",\n                            description: \"Search through stored documents using vector similarity\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    query: { \n                                        type: \"string\",\n                                        description: \"Search query for documents\"\n                                    }\n                                },\n                                required: [\"query\"]\n                            }\n                        },\n                        {\n                            name: \"store_document\",\n                            description: \"Store a document in memory\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    content: { \n                                        type: \"string\",\n                                        description: \"Document content to store\"\n                                    },\n                                    metadata: {\n                                        type: \"object\",\n                                        description: \"Additional metadata\"\n                                    }\n                                },\n                                required: [\"content\"]\n                            }\n                        }\n                    ]\n                }\n            }\n        }];\n        \n    case 'tools/call':\n        const toolName = params?.name;\n        const args = params?.arguments || {};\n        \n        if (toolName === 'search_memory') {\n            // Simuliere Vector-Suche (später mit echten Tools verbinden)\n            return [{\n                json: {\n                    jsonrpc: \"2.0\",\n                    id: id || 1,\n                    result: {\n                        content: [{\n                            type: \"text\",\n                            text: `🔍 **Memory Search Results for: \"${args.query}\"**\\n\\n` +\n                                  `Found relevant documents in n8n_vectors table:\\n\\n` +\n                                  `1. **OAuth 2.1 Implementation Guide**\\n` +\n                                  `   Content: Information about OAuth 2.1 implementation...\\n` +\n                                  `   Relevance: 95%\\n\\n` +\n                                  `2. **Claude.ai Integration Steps**\\n` +\n                                  `   Content: MCP server configuration and setup...\\n` +\n                                  `   Relevance: 89%\\n\\n` +\n                                  `Search completed successfully from pgvector database.`\n                        }]\n                    }\n                }\n            }];\n        }\n        \n        if (toolName === 'store_document') {\n            return [{\n                json: {\n                    jsonrpc: \"2.0\",\n                    id: id || 1,\n                    result: {\n                        content: [{\n                            type: \"text\",\n                            text: `✅ **Document Stored Successfully**\\n\\n` +\n                                  `Content: ${args.content?.substring(0, 150)}...\\n\\n` +\n                                  `The document has been processed and stored in the n8n_vectors table ` +\n                                  `with vector embeddings for future similarity searches.`\n                        }]\n                    }\n                }\n            }];\n        }\n        \n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                error: {\n                    code: -32602,\n                    message: `Unknown tool: ${toolName}`\n                }\n            }\n        }];\n        \n    default:\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                error: {\n                    code: -32601,\n                    message: `Method not found: ${method}`\n                }\n            }\n        }];\n}"},"id":"e5f875fe-fa7a-4303-8af9-ae22e3e4c30b","name":"Claude MCP Handler1","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-1160],"disabled":true},{"parameters":{"httpMethod":"POST","path":"661ac914-21f6-4f38-b86f-cba7a36b310d","options":{}},"id":"7e0d3941-ca16-406b-b673-26d256c77441","name":"Simple Test Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1660,-620],"webhookId":"661ac914-21f6-4f38-b86f-cba7a36b310d"},{"parameters":{"jsCode":"// Einfacher Test\nconst input = $('Simple Test Webhook').first().json;\n\nreturn [{\n    json: {\n        status: 'success',\n        message: 'Webhook works!',\n        timestamp: new Date().toISOString(),\n        input: input\n    }\n}];"},"id":"a1e54bb0-57c4-4ec8-bda7-8c3c872d458c","name":"Simple Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,-620]},{"parameters":{"options":{}},"id":"1331ef3c-6e35-4b71-b307-c3ecdfb88196","name":"Webhook Response1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2100,-620]},{"parameters":{"httpMethod":"POST","path":"e2ec033b-ca62-45e9-a3a5-b1a943f86c14","options":{}},"name":"Claude Test Webhook","type":"n8n-nodes-base.webhook","position":[1640,-940],"id":"f987a949-e175-47e1-85d5-e02f2d441264","typeVersion":2,"webhookId":"e2ec033b-ca62-45e9-a3a5-b1a943f86c14"},{"parameters":{},"name":"Test Response","type":"n8n-nodes-base.code","position":[1860,-940],"id":"8d7be542-f7c0-4aa3-a43b-8cb4473c51b6","typeVersion":2},{"parameters":{"jsCode":"// Memory MCP Server - Storage Tool\nconst input = $input.all()[0];\nconst body = input.json.body;\nconst headers = input.json.headers;\n\n// OAuth token validation\nconst authHeader = headers.authorization || headers.Authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return [{\n        json: {\n            error: \"unauthorized\",\n            message: \"Valid Bearer token required\"\n        }\n    }];\n}\n\nconst { content, tags, metadata, conversation_id } = body;\n\n// Store in PostgreSQL\nconst memoryId = `mem_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// MCP-compatible response format\nreturn [{\n    json: {\n        tool_result: {\n            type: \"memory_stored\",\n            memory_id: memoryId,\n            content: content,\n            tags: tags || [],\n            metadata: metadata || {},\n            conversation_id: conversation_id,\n            stored_at: new Date().toISOString(),\n            status: \"success\"\n        }\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-1160],"id":"a8a394e3-1dc3-4cb8-b2b9-68fb7a7cde6d","name":"Code"},{"parameters":{"jsCode":"// Memory MCP Server - Search Tool\nconst input = $input.all()[0];\nconst query = input.json.query;\nconst headers = input.json.headers;\n\n// OAuth validation\nconst authHeader = headers.authorization || headers.Authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return [{\n        json: { error: \"unauthorized\" }\n    }];\n}\n\nconst { q, tags, limit = 10 } = query;\n\n// Simulate memory search (implement database query)\nconst searchResults = [\n    {\n        memory_id: \"mem_example_123\",\n        content: \"Previous conversation about OAuth implementation\",\n        tags: [\"oauth\", \"implementation\"],\n        relevance_score: 0.95,\n        stored_at: \"2025-06-25T10:00:00Z\"\n    }\n];\n\nreturn [{\n    json: {\n        tool_result: {\n            type: \"memory_search\",\n            query: q,\n            results: searchResults,\n            total_count: searchResults.length\n        }\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-920],"id":"cfc8dfa5-16ae-4041-abc7-c22c42ded603","name":"Code1"},{"parameters":{"jsCode":"// MCP Server Manifest\nreturn [{\n    json: {\n        protocol_version: \"2024-11-05\",\n        capabilities: {\n            tools: {\n                listChanged: true\n            }\n        },\n        server_info: {\n            name: \"my-memory-mcp\",\n            version: \"1.0.0\",\n            description: \"Personal Memory Management MCP Server\"\n        },\n        tools: [\n            {\n                name: \"store_memory\",\n                description: \"Store information for future recall\",\n                input_schema: {\n                    type: \"object\",\n                    properties: {\n                        content: {\n                            type: \"string\",\n                            description: \"Content to store in memory\"\n                        },\n                        tags: {\n                            type: \"array\",\n                            items: { type: \"string\" },\n                            description: \"Tags for categorization\"\n                        }\n                    },\n                    required: [\"content\"]\n                }\n            },\n            {\n                name: \"search_memory\",\n                description: \"Search stored memories\",\n                input_schema: {\n                    type: \"object\",\n                    properties: {\n                        query: {\n                            type: \"string\",\n                            description: \"Search query\"\n                        },\n                        tags: {\n                            type: \"array\",\n                            items: { type: \"string\" },\n                            description: \"Filter by tags\"\n                        }\n                    },\n                    required: [\"query\"]\n                }\n            }\n        ]\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-700],"id":"0c0f1dfa-87c2-4ce3-a597-3ae1bb4e140e","name":"Code2"},{"parameters":{"path":"f1094755-a2a6-40e4-9a5f-d0217dacdc79","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-500],"id":"61d7a8d7-281b-427e-ad6d-08e56ff5b323","name":"MCP Server Root Endpoint","webhookId":"f1094755-a2a6-40e4-9a5f-d0217dacdc79"},{"parameters":{"jsCode":"// MCP Server Root Endpoint\nreturn [{\n    json: {\n        protocol_version: \"2024-11-05\",\n        server_info: {\n            name: \"my-memory-mcp\",\n            version: \"1.0.0\",\n            description: \"Personal Memory Management MCP Server\"\n        },\n        capabilities: {\n            tools: {\n                listChanged: true\n            },\n            authentication: {\n                oauth2: true\n            }\n        },\n        endpoints: {\n            memory_store: \"/webhook/mcp/memory/store\",\n            memory_search: \"/webhook/mcp/memory/search\",\n            auth: \"/webhook/oauth/auth\",\n            token: \"/webhook/oauth/token\"\n        }\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-500],"id":"cf2b95b8-c0ae-40d9-aaa4-3bae3d629e72","name":"Code3"},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"48e7a147-c232-4b84-842f-fcc005a45c22","name":"Webhook Response3","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,-500]},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"1db0a65f-dc9a-4ac2-8565-9752b46c70ef","name":"Webhook Response2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,-700]},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200}},"id":"1c71a043-663d-4f84-814d-9b05ae8f8a01","name":"Webhook Response4","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,-920]},{"parameters":{"path":"7ad064df-ae23-4a21-b1f4-fa07c53a4125","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-920],"id":"4ae471eb-8b06-4f99-bb30-a975c826a18f","name":"Memory search","webhookId":"7ad064df-ae23-4a21-b1f4-fa07c53a4125"},{"parameters":{"httpMethod":"POST","path":"0e73834a-3509-4321-9bc8-4ff2f665855c","responseMode":"responseNode","options":{}},"id":"05c1142f-8c8b-4f8e-81ef-41e3b5ca17f4","name":"Memory store","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-1160],"webhookId":"0e73834a-3509-4321-9bc8-4ff2f665855c"},{"parameters":{"path":"dbb22176-9888-4084-91f9-29cfb3ba7a25","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,-700],"id":"939b3463-f02c-4879-b529-4b2e3899e8b5","name":"MCP Manifest","webhookId":"dbb22176-9888-4084-91f9-29cfb3ba7a25"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Claude MCP Handler","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[]],"main":[[]]},"Postgres PGVector Store1":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"mymemory":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"claude_mcp_handler":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"format_claude_response":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Claude MCP Handler":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Claude MCP Handler1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Test Webhook":{"main":[[{"node":"Simple Response","type":"main","index":0}]]},"Simple Response":{"main":[[{"node":"Webhook Response1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"MCP Server Root Endpoint":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Webhook Response3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Webhook Response4","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Webhook Response2","type":"main","index":0}]]},"Memory search":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Memory store":{"main":[[{"node":"Claude MCP Handler1","type":"main","index":0}]]},"MCP Manifest":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"401b2a8e-fe00-436e-8189-a8a845dd9582","activeVersionId":"401b2a8e-fe00-436e-8189-a8a845dd9582","versionCounter":17,"triggerCount":6,"tags":[],"shared":[{"updatedAt":"2025-06-30T06:47:19.491Z","createdAt":"2025-06-30T06:47:19.491Z","role":"workflow:owner","workflowId":"hgbi1OTipVRqUrBD","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}