n8n/backup/n8n-backup/workflows/i3Ixz2sgTCf66095.json
{"updatedAt":"2025-07-07T11:44:24.350Z","createdAt":"2025-06-30T13:08:40.579Z","id":"i3Ixz2sgTCf66095","name":"Blog_Post","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1280,500],"id":"67acabb3-566b-4333-86d3-dec88eb86bc3","name":"Tavily","credentials":{"httpHeaderAuth":{"id":"khfQs6JT80oe8kzo","name":"tavily.com"}}},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1140,500],"id":"5f22ec44-9de1-4ce8-a253-dfba366f3d75","name":"GPT_4.1","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Blog Post: \n{{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an AI agent that transforms blog posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given blog post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output two fields: \n1) title (2-4 words) \n2) prompt\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the blog post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-860,220],"id":"a2a296b3-b712-45cf-99be-771e9c079d03","name":"Image Prompt Agent"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.prompt.replace(/\"/g, '') }}"},{"name":"size","value":"1024x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,220],"id":"ca5b0c28-192b-4780-8bc6-ed85b74299bb","name":"Generate Image","credentials":{"httpHeaderAuth":{"id":"QBC9AdjuavOdsmH6","name":"platform.openai.com"},"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"operation":"toBinary","sourceProperty":"=data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-220,220],"id":"b7c11c56-085a-41c1-ac10-cb46adcc0cb2","name":"Convert to Binary"},{"parameters":{"content":"# Content Generation","height":260,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,120],"id":"a6cc2a84-8a14-4b1d-84fb-b0d90b5c7432","name":"Sticky Note"},{"parameters":{"content":"# Generate Image\n","height":260,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-500,120],"id":"91cdf6fb-687e-44c4-843a-28552817802d","name":"Sticky Note1"},{"parameters":{"content":"# Image Prompt\n","height":260,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,120],"id":"eeae571b-477e-4ebd-bbb0-537a94659f40","name":"Sticky Note4"},{"parameters":{"content":"## Tool & Model","height":240,"width":380,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,400],"id":"8dc31925-ee58-4a04-829d-9ca4ecd1db0e","name":"Sticky Note2"},{"parameters":{"workflowInputs":{"values":[{"name":"blogTopic"},{"name":"targetAudience"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1560,220],"id":"d84c7b4c-4e3e-4c7f-8a7a-bce297450fab","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Topic of Blog: {{ $json.blogTopic }}\n\nTarget Audience: {{ $json.targetAudience }}","options":{"systemMessage":"=# Overview\nYou are an AI agent specialized in creating professional, educational, and engaging blog articles based on any topic provided by the user.\n\n## Objectives:\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The blog article should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured blog post that:\n- Starts with an engaging and informative introduction that sets up the importance of the topic\n- Maintains a professional, clear, and easy-to-read tone\n- Is educational, insightful, and provides depth\n- Uses headers, subheaders, and paragraphs to create good readability\n- Incorporates real data, examples, or case studies, properly attributing sources (e.g., “according to [source]”)\n- Light on emojis (use only if highly relevant and minimal)\n- Includes a natural conclusion that summarizes key takeaways\n- (Optional but encouraged) Suggests next steps for the reader, such as related articles, resources, or actionable advice\n\n## Output Instructions:\n- Your ONLY output should be the final blog article text.\n- Do not include explanations, notes, or anything beyond the blog content itself.\n\n## Example Workflow:\n1) Receive a topic (e.g., “The ROI of warehouse automation”)\n2) Use Tavily to search and gather recent information, studies, or examples\n3) Draft a blog post using that research\n4) Format it with an engaging intro, structured sections, source citations, and a natural conclusion"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1300,220],"id":"3f23d988-a577-49c1-8ad9-552796c0668e","name":"Blog Post Agent"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Request":"={{ $('When Executed by Another Workflow').item.json.blogTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}","Post":"={{ $('Blog Post Agent').item.json.output }}","Title":"={{ $('Image Prompt Agent').item.json.output.title }}","Type":"Post"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[340,380],"id":"4b6ac6b9-a5a3-4b7c-bf0c-06912766bec0","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"kqWF6D5OmglPCaqB","name":"Google Sheets account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-760,500],"id":"0ec51440-2233-4b9f-b7b0-89f811d1840d","name":"Image & Title"},{"parameters":{"content":"## Structured Output","height":240,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,400],"id":"81f4ca32-60e9-4f1e-abb5-01b5e298480d","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.chatID || 7523827206 }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,80],"id":"e159ce09-a0ed-4ca7-9db7-c5e07a187138","name":"Send Blog","webhookId":"94fa70af-f2fc-4c05-8fa1-d9f55637485f","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID || 7523827206 }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[120,80],"id":"60c9ebb9-35d1-4e1a-998b-96bedd337be6","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1640,120],"id":"e8cfa924-2d7a-4fd5-8a83-bb9c8f0c597f","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,300],"id":"e3255bc4-48f7-411c-90dc-82b7379ca26c","name":"Sticky Note6"},{"parameters":{"content":"# Send Content","height":240,"width":820,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"1972dbb2-7ff3-4bea-8cb6-22c7cb14b8b0","name":"Sticky Note7"},{"parameters":{"name":"={{ $('Image Prompt Agent').item.json.output.title }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1J4LAK8SjxBARJ6hQ1gxAxui03NGc8DOI","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1J4LAK8SjxBARJ6hQ1gxAxui03NGc8DOI"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[120,380],"id":"8c4d842e-83b3-41d9-a460-b4f15dd01420","name":"Upload","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}},{"parameters":{"jsCode":"const text = $('Blog Post Agent').first().json.output;\nif (!text) {\n  throw new Error('No text found from Blog Post Agent');\n}\nconst chunkSize = 4096;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({ text: text.slice(i, i + chunkSize) });\n}\nreturn chunks;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,80],"id":"1bd55fe1-2113-424c-bc8c-18cd8d4fbafe","name":"Code"},{"parameters":{"content":"# find water mark and non printable signs\n## check for:\n- watermarks\n- non printable signs\n- text in very small letters\n- text in same color like background\n\n## script to find non printable signs\nconst nonPrintable = /[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g;\nconst matches = $json[\"text\"].match(nonPrintable);\nreturn { json: { nonPrintable: matches } };\n\n## ideas\nocr erkennung via mistral\nTesseract community node - (onsite algorithm - not best quality but free of charge)\n\n","height":460,"width":860},"type":"n8n-nodes-base.stickyNote","position":[-260,-720],"typeVersion":1,"id":"7a399f86-6ab7-40bd-897a-4c9f333866db","name":"Sticky Note8"}],"connections":{"Tavily":{"ai_tool":[[{"node":"Blog Post Agent","type":"ai_tool","index":0}]]},"GPT_4.1":{"ai_languageModel":[[{"node":"Blog Post Agent","type":"ai_languageModel","index":0},{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to Binary","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Blog Post Agent","type":"main","index":0}]]},"Blog Post Agent":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"Convert to Binary":{"main":[[{"node":"Send Photo","type":"main","index":0},{"node":"Upload","type":"main","index":0}]]},"Image & Title":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Send Photo":{"main":[[{"node":"Code","type":"main","index":0}]]},"Upload":{"main":[[{"node":"Image Log","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Blog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"blogTopic":"Effects of Missing AI Opportunities for Public Service Employees in Germany","targetAudience":"Public sector employees, HR managers, policymakers, and digital transformation leaders in Germany"}}]},"versionId":"21778cc6-8854-4f59-b860-11ab26973534","activeVersionId":"21778cc6-8854-4f59-b860-11ab26973534","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-30T13:08:40.579Z","createdAt":"2025-06-30T13:08:40.579Z","role":"workflow:owner","workflowId":"i3Ixz2sgTCf66095","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}