n8n/backup/n8n-backup/workflows/Ot8iRAWvOa7PYLZL.json
{"updatedAt":"2025-06-28T04:33:28.919Z","createdAt":"2025-05-31T11:49:32.923Z","id":"Ot8iRAWvOa7PYLZL","name":"Chart_Analyse","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-220,140],"id":"9afb3dd2-3be4-4c94-9505-8bb1512a986c","name":"Workflow Input Trigger"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"2eb3a3e3-efb2-4f11-816d-03fc608ca7f7","name":"Download Chart","disabled":true},{"parameters":{"method":"POST","url":"https://api.chart-img.com/v2/tradingview/advanced-chart ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RI8DZJRZeN7jW31EPOUSsavYxvJ61mzgaNlLFKkQ"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,140],"id":"f888f644-41dd-412d-be6d-68fad9ab9d10","name":"Get Chart URL","notesInFlow":false,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"cf5f7210-5b54-4f4a-abf7-87873be82df4","name":"ticker","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,20],"id":"d25eae45-b97f-4464-bf3e-61109eedfad1","name":"Set Ticker"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=#Rolle\nDu bist ein erfahrener Finanzanalyst mit Spezialisierung auf technische Analyse von Aktiencharts. Deine Aufgabe ist es, relevante technische Signale zu identifizieren und eine kompakte, prägnante Analyse bereitzustellen.\n\n#Analyseumfang\n1. Trend & Candlestick-Analyse\nBeschreibe den aktuellen Trend (bullisch, bärisch, seitwärts).\nIdentifiziere und erkläre wichtige Candlestick-Muster (z. B. Hammer, Doji, Engulfing).\nPrüfe auf mögliche Breakouts oder Pullbacks.\n\n2. Indikatoren & Volumenanalyse\nBeurteile das MACD-Signal (bullisches/bärisches Crossover, Divergenzen).\nAnalysiere das Handelsvolumen auf signifikante Veränderungen.\nErkenne institutionelle Aktivitäten anhand ungewöhnlicher Volumenspitzen.\n\n3. Unterstützungs- & Widerstandszonen\nBestimme relevante Unterstützungs- und Widerstandsniveaus.\nErkläre ihre Bedeutung für potenzielle Kursbewegungen.\n\n4. Marktsentiment & Bestätigungssignale\nGib eine kurze Einschätzung, ob die Marktstimmung aktuell eher bullisch oder bärisch ist.\nFalls keine klare Aussage möglich ist, verweise auf notwendige Bestätigungssignale.\n\n5. Kurzfristige Handlungsempfehlung\nPräzise Einschätzung möglicher Chancen oder Risiken.\nKeine direkten Kauf-/Verkaufsentscheidungen, sondern objektive Analyse.\n\n🔹 Deine Analyse muss prägnant, objektiv und umsetzbar sein. Keine unnötigen Details, sondern klare Kernpunkte.","inputType":"base64","simplify":false,"options":{"detail":"auto"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,140],"id":"258d65c2-fb21-4d42-8558-3e59a568b207","name":"Technische Analyse","alwaysOutputData":false,"executeOnce":true,"credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fdf7e016-7082-4146-9038-454139023990","name":"response","value":"={{ $('Technische Analyse').all()[0].json.choices[0].message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,140],"id":"cb49cc44-aa01-4d29-b8a2-393a6db40885","name":"Antwort"},{"parameters":{"url":"https://n8niostorageaccount.blob.core.windows.net/n8nio-strapi-blobs-prod/assets/Home_ITO_Ps_5a5aac3fda.webp","sendBody":true,"contentType":"raw","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,620],"id":"b3ac0513-28df-47b7-bcee-e369ebc415b8","name":"Get Chart URL1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[640,620],"id":"11d6ba03-2d4a-4d16-bbb2-eaf8fc237c22","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"operation":"sendPhoto","chatId":"=7523827206","binaryData":true,"binaryPropertyName":"=data","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1340,620],"id":"86edb36e-3ca9-4f8f-859b-161ebb934d6a","name":"Chart_senden1","webhookId":"5cfec8f7-40f1-4cc8-a585-81d48e8f7972","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"jsCode":"// In a Code node before Telegram\nconst binaryData = items[0].binary.data;\nreturn [{\n  binary: {\n    data: {\n      data: binaryData.data,\n      fileName: binaryData.fileName || 'image.png',\n      mimeType: binaryData.mimeType || 'image/png'\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,620],"id":"a4243de2-d9d0-43b8-9875-d3d8d0d7ed4c","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[880,360],"id":"6f9923a6-a031-4e91-aa9c-fc68f98ad76e","name":"add binary image"},{"parameters":{"operation":"sendPhoto","chatId":"=7523827206","binaryData":true,"binaryPropertyName":"=data","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1340,320],"id":"88d7eddf-8547-4354-a54e-dce542f38083","name":"Chart senden","webhookId":"5cfec8f7-40f1-4cc8-a585-81d48e8f7972","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// In a Code node before Telegram\nconst binaryData = items[1].binary.data;\nreturn [{\n  binary: {\n    data: {\n      data: binaryData.data,\n      fileName: binaryData.fileName || 'image.png',\n      mimeType: binaryData.mimeType || 'image/png'\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,140],"id":"a9428ec4-93b5-4df9-86fe-536c870731fe","name":"add metadata to binary object"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[880,140],"id":"ab978394-07e2-4c1b-9d3c-37c9d80b0283","name":"Limit"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Set Ticker","type":"main","index":0}]]},"Download Chart":{"main":[[]]},"Get Chart URL":{"main":[[{"node":"Download Chart","type":"main","index":0},{"node":"Technische Analyse","type":"main","index":0},{"node":"add binary image","type":"main","index":1}],[]]},"Set Ticker":{"main":[[{"node":"Get Chart URL","type":"main","index":0}]]},"Technische Analyse":{"main":[[{"node":"Limit","type":"main","index":0}],[]]},"Get Chart URL1":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Chart URL1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Chart_senden1","type":"main","index":0}]]},"add binary image":{"main":[[{"node":"add metadata to binary object","type":"main","index":0}]]},"Chart senden":{"main":[[{"node":"Antwort","type":"main","index":0}]]},"add metadata to binary object":{"main":[[{"node":"Chart senden","type":"main","index":0}]]},"Limit":{"main":[[{"node":"add binary image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Input Trigger":[{"json":{"ticker_symbol":"MSFT","message_id":12345,"chat_id":757385875,"query":"Get AAPL stock"}}],"Set Ticker":[{"json":{"ticker":"ETR ALV"}}]},"versionId":"ee81bb74-9b70-4b1c-b6f1-c9c9ece44365","activeVersionId":"ee81bb74-9b70-4b1c-b6f1-c9c9ece44365","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:11:55.338Z","createdAt":"2025-06-24T20:11:55.338Z","role":"workflow:owner","workflowId":"Ot8iRAWvOa7PYLZL","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}