n8n/backup/n8n-backup/workflows/PoN0lm3ZD6aVr3P8.json
{"updatedAt":"2025-07-02T06:06:23.162Z","createdAt":"2025-05-22T22:25:23.602Z","id":"PoN0lm3ZD6aVr3P8","name":"My Assistant with memory","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"={{ $json.messages }}","options":{}},"id":"cca4cff5-e30b-40a2-9b46-4c25543b2806","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[2740,240],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"fields":{"values":[{"name":"output","stringValue":"={{ $('Message a model').item.json.message.content }}"}]},"options":{}},"id":"3d34bb0d-7e62-44ce-a402-b984d8be178a","name":"Edit Fields","type":"n8n-nodes-base.set","position":[5020,240],"typeVersion":3.2},{"parameters":{},"id":"706d0bb0-cac2-4e3d-a9e3-6a28d7bf785b","name":"Limit","type":"n8n-nodes-base.limit","position":[4800,240],"typeVersion":1},{"parameters":{"content":"Read contents of the chat from memory","height":217,"width":795,"color":7},"id":"ae16c311-f465-4fa4-bdfd-8a970c85ad96","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,180],"typeVersion":1},{"parameters":{"content":"Call the assistant, passing in the previous chat messages","height":237,"width":338,"color":7},"id":"d6bcc4b7-9349-43b4-94fa-2291e1960549","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[3220,180],"typeVersion":1},{"parameters":{"content":"Add the latest chat messages to the memory","height":217,"width":298,"color":7},"id":"c857aa4f-2956-4f4a-a97c-6c57937dfc53","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[4180,180],"typeVersion":1},{"parameters":{"content":"Return the model output","height":217,"width":356,"color":7},"id":"3c8c19d2-05e1-46ae-af90-04cde1cada08","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[4560,180],"typeVersion":1},{"parameters":{"content":"My Personal Assistant\n","height":300.48941882630095},"id":"a3296e66-182f-4702-9e92-cb7699a4b5aa","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-140,520],"typeVersion":1},{"parameters":{"sessionKey":"=123","contextWindowLength":20},"id":"a758411b-b4ee-4175-9d84-af8ab68926ab","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[4220,460],"typeVersion":1.1},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-220,240],"id":"9d9b5683-2686-4042-a972-f3bcd3babaaf","name":"Telegram Trigger","webhookId":"d6bcd912-9e7e-4ff2-829a-4e25d6889892","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"chatId":"={{ \n// $('Telegram Trigger').item.json.message.chat.id || '' \n\n$('Edit Fields1').item.json.sessionId\n}}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5460,540],"id":"89b0c866-f4b6-4596-a187-29a6af710a21","name":"Telegram","webhookId":"ad89eae3-d894-4067-b25a-da272028913e","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"f66b31c9-e4a0-45f5-a08a-558b85a7aeb3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3388ce7f-5682-4851-8fce-65cd19c74ab1","leftValue":"={{\n($json.message.text.length > 0) ? $json.message.text : ''\n}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c967cd2-c18e-430d-a931-2866d1094eb2","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bild"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1060,240],"id":"2c6b4ee5-eb15-42cd-921c-7a88cd298fb6","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1500,40],"id":"ab282417-5d9a-47bd-9995-96bb79f85cb1","name":"Audio Download","webhookId":"9c20010e-02f4-4e11-ac1b-25cd0cfddca1","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fbb1bac-e576-4534-b33a-8c7f0d9a4846","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5240,240],"id":"cef62ec0-57af-40ba-b799-9b39ba21fc89","name":"If"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5720,220],"id":"b54e97f0-c7e3-481c-8cc7-e342181eff23","name":"Audio senden","webhookId":"9236d5ba-4ac9-4c86-a0da-789aa80dcb46","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"jsCode":"const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,600],"id":"d23ad764-cd82-44cf-82be-e6d0e913b8da","name":"Code"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $('Telegram Trigger').item.json.message.caption || \"Beschreibe das Bild\"}}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5020,600],"id":"a7a36b92-b21a-4688-920b-647d0b989055","name":"Analysiere Bild","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1740,40],"id":"6df85daf-c533-4ee5-98df-c39f9db4c63c","name":"Transkribieren","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5480,220],"id":"ac2c5a30-ea35-42dc-9a66-a7c53ca6b43a","name":"Audio generieren","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[2].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4500,600],"id":"fa5ac1ce-3e20-4219-bba4-99b0f3c9acd2","name":"Bild herunterladen","webhookId":"c90ad07e-3b92-4f5f-8d5f-321525149a14","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{"labelIds":["INBOX","UNREAD"]}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2580,1060],"id":"d02ff425-0404-4101-83e7-db9b8a241781","name":"Emails lesen","webhookId":"52bfa37e-8371-40ea-9fe4-e04a221344ef","credentials":{"gmailOAuth2":{"id":"IzG4S8CMj7lyNYIQ","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $fromAI('email_adresse','Die Emailadresse des Empfängers.') }}","subject":"={{ $fromAI('email_betreff','Der Betreff der Email.') }}","emailType":"text","message":"={{ $fromAI('email_nachricht','Die Nachricht der Email.') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2700,1060],"id":"37ccb29c-7855-4894-b247-6cff13c72ecb","name":"Emails senden","webhookId":"8ffff9be-6b47-4b00-afe3-568725dde5ad","credentials":{"gmailOAuth2":{"id":"IzG4S8CMj7lyNYIQ","name":"Gmail account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2880,1060],"id":"4c168ec0-de42-4b93-8765-540faee576c1","name":"Kalender einsehen","credentials":{"googleCalendarOAuth2Api":{"id":"fEC6VbLuxigRZL1r","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"start":"={{ $fromAI('start') }}","end":"={{ $fromAI('ende') }}","additionalFields":{"summary":"={{ $fromAI('titel') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[3040,1060],"id":"46226e86-1d0d-4f16-86e1-f5ccb9b19dbb","name":"Kalendertermin planen","credentials":{"googleCalendarOAuth2Api":{"id":"fEC6VbLuxigRZL1r","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[3240,1060],"id":"5787a65c-c417-4e9a-8f56-2ecf913085e7","name":"Internetsuche","credentials":{"serpApi":{"id":"XUcd9LmKZ3Wtl8UR","name":"SerpAPI account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4200,800],"id":"4f38385c-9da7-422f-adb6-4d89a9758d46","name":"Embeddings OpenAI","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3af8999f-0611-4e73-a7b1-fc4943a05d24","name":"text","value":"={{ \n($json.message.text.length > 0) ? $json.message.text : '' \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2140,240],"id":"ee1af2dd-f5c2-44e8-8217-6a7b3d3c79d0","name":"Text standardisieren"},{"parameters":{"assignments":{"assignments":[{"id":"1c39951a-df34-4fc6-b7b1-991bcad6f5d8","name":"output","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5240,600],"id":"3771baec-5398-483e-ac9c-9bc6a6bf09c7","name":"Bild standardisieren"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[840,560],"id":"c1bc1ec7-7f16-4182-a0ba-0a749e83c9c5","name":"No Operation, do nothing"},{"parameters":{"recipientPhoneNumber":"+4917684019210"},"type":"n8n-nodes-base.whatsAppTool","typeVersion":1,"position":[3960,480],"id":"3480032e-0aa9-4373-91f4-41178f63033d","name":"WhatsApp Business Cloud","webhookId":"5b2b04f9-1a05-4a76-adb1-e8828e18ec19","disabled":true},{"parameters":{"pageId":{"__rl":true,"mode":"id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Page', ``, 'string') }}","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[3620,460],"id":"c1e0e956-64d5-4cdd-844c-242be739e919","name":"Notiz erstellen","disabled":true},{"parameters":{"operation":"search","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[3360,1060],"id":"a93f285e-4709-4df7-a2d2-9c00327a51d8","name":"Notiz suchen","credentials":{"notionApi":{"id":"hAvCdmlReJSSCjEq","name":"Notion account"}}},{"parameters":{"authentication":"oAuth2","operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.googleChatTool","typeVersion":1,"position":[3780,460],"id":"d33851d5-afed-4e9d-89d7-99f39b9abeb2","name":"Google Chat","webhookId":"dc87898d-0135-4ac3-9579-48e8ba35216c","disabled":true},{"parameters":{"content":"Calendar","height":220,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2840,1000],"id":"d79a6c09-9834-44cb-813b-cd73a1a0a83d","name":"Sticky Note5"},{"parameters":{"content":"E-Mail","height":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2560,1000],"id":"e194bb17-37a9-4404-a6ca-fda5a3804b49","name":"Sticky Note6"},{"parameters":{"content":"Internet","height":220,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3200,1000],"id":"df5e52a5-6bf6-4150-9215-32f2863fd7d8","name":"Sticky Note7"},{"parameters":{"content":"Kontakte","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3520,1000],"id":"d3005d34-a208-4d8b-b426-97da64edc35f","name":"Sticky Note8"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3900,700],"id":"86648b08-9edd-45ef-984f-6c182c35ce5e","name":"Perplexity (wip)","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1e18640-57b1-4fc6-9d60-3a5cf63a7f6c","leftValue":"={{ $json.message.from.id }}","rightValue":5154929017,"operator":{"type":"number","operation":"equals"}},{"id":"bfb5c42a-4720-405e-bba4-68377e8e4cd7","leftValue":"={{ $json.message.from.first_name }}","rightValue":".","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,240],"id":"a7954a5b-e23c-49f7-a0ad-f88bb46bec7d","name":"Juergen 1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5cdbe4ef-596e-454d-8d1c-c924a355b0cd","leftValue":"={{ $json.message.from.id }}","rightValue":7523827206,"operator":{"type":"number","operation":"equals"}},{"id":"bfb5c42a-4720-405e-bba4-68377e8e4cd7","leftValue":"={{ $json.message.from.first_name }}","rightValue":"Juergen","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,380],"id":"dbe8e7e1-7325-412d-87d2-e1b90d6e92ce","name":"Juergen 017684019210"},{"parameters":{"mode":"retrieve-as-tool","toolName":"Kontakte","toolDescription":"Nutze dieses Tool, um Emailadressen abzurufen.","pineconeIndex":{"__rl":true,"value":"n8n-agent040-index","mode":"list","cachedResultName":"n8n-agent040-index"},"options":{"pineconeNamespace":"kontakte-hochladen"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[4060,680],"id":"6ca677a3-bd51-4824-8b81-d26176fc7904","name":"Kontakte1","disabled":true},{"parameters":{"name":"my_google_contacts_tool","workflowId":{"__rl":true,"value":"UcnR9W8PuVX43EdK","mode":"list","cachedResultName":"Google Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[3580,1060],"id":"119f06ac-7cb5-49bf-9f77-483b8d449845","name":"Kontakte"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,-40],"id":"57984708-b044-4a19-96da-ff2528b6b8af","name":"When chat message received","webhookId":"546b8a59-6ec5-49f0-b8da-f6057ee212ae"},{"parameters":{"name":"my_google_drive_tool","workflowId":{"__rl":true,"value":"BMwKdbYbHPxhEeIB","mode":"list","cachedResultName":"Google Drive"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[3800,1060],"id":"3efd3058-d89b-41f5-9a1d-d2b3976ece96","name":"Dokumente"},{"parameters":{"content":"Dokumente\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3740,1000],"id":"626918bd-20ae-4519-90d5-3550282ba068","name":"Sticky Note9"},{"parameters":{"assignments":{"assignments":[{"id":"b0ff6b0b-2781-4593-926f-3ede9a3cb03f","name":"message.text","value":"={{ $json.chatInput || $json.message?.text || json.text || 'Keine Nachricht' }}","type":"string"},{"id":"dc1967af-8e4b-493b-9a4a-862ee1823654","name":"sessionId","value":"={{ $json.sessionId || $('Telegram Trigger').item.json.message.chat.id || 'Missing ID' }}","type":"string"},{"id":"7f70a166-1fc4-4f5f-be35-77651ec345a9","name":"inputSrc","value":"={{ $('Telegram Trigger').item.json.message.message_id != empty ? 'Telegram' : '' }}","type":"string"},{"id":"05ef1ebb-58a8-4411-958c-2c8d3bee59f6","name":"message.from.first_name","value":"={{ $('Telegram Trigger').item.json.message.from.first_name || 'Missing Name' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,240],"id":"d93b502a-6a51-40e0-b0e5-ec2e4764d0c4","name":"Edit Fields1","alwaysOutputData":false},{"parameters":{"jsCode":"// Verwende Input-Daten statt Node-Referenz\nconst inputData = $input.all();\nconst text = inputData[0]?.json?.message?.text || ' ';\n\nreturn [{\n  json: {\n    message: { text: text }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,320],"id":"8c6c1664-c423-4154-a09a-84d473b20a5c","name":"Code1"},{"parameters":{"name":"my_aktien_tool","workflowId":{"__rl":true,"value":"wPGU0ZUSPURhjZ2O","mode":"list","cachedResultName":"Aktien_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[4020,1060],"id":"45bb6bcc-1102-4981-b915-012991d3a6f6","name":"Aktien"},{"parameters":{"content":"Aktien\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3960,1000],"id":"4eb9b3a9-5023-4264-ae2b-3f55f8f56bd0","name":"Sticky Note10"},{"parameters":{"sseEndpoint":"https://n8n.hcai42.com/mcp-test/858bea23-8cd7-4790-a6f5-5f68b99fe744/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2600,660],"id":"467f9f6d-ec60-42b6-86e5-027a5407b6a1","name":"e-mail","disabled":true},{"parameters":{"content":"Marketing\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4180,1000],"id":"2fc575fb-8aa5-42db-891c-db856943f857","name":"Sticky Note11"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"OPENAI/GPT-4.1-MINI"},"messages":{"values":[{"content":"=## Our Previous Conversation:\n{{ \n  ($json.messages && Array.isArray($json.messages) && $json.messages.length > 0) ? \n    $json.messages.map(m => `Human: ${m.human || ''}\\nAI Assistant: ${m.ai || ''}`).join('\\n') : \n    ''\n}}\n## Current message:\n{{ \n($('Text standardisieren').isExecuted) ? $('Text standardisieren').item.json.text : '' \n}}"},{"content":"=# ROLLE\nDu bist ein freundlicher und hilfreicher Agent namens Jarvis.\n\n# EXTRA INFORMATIONEN\nDu sprichst gerade mit {{ $('Switch').item.json.message.from.first_name }}\nDas aktuelle Datum und die aktuelle Zeit sind: {{ $now }}\n\n# TOOLS\n\n## Emails lesen\nNutze dieses Tool, um Emails zu lesen.\n\n## Emails senden\nNutze dieses Tool, um Emails zu versenden.\n\n## Kalender einsehen\nNutze dieses Tool, um Termine im Kalender einzusehen.\n\n## Kalendertermin planen\nNutze dieses Tool, um Termine im Kalender zu planen.\n\n## Internetsuche\nNutze dieses Tool, um das Internet zu durchsuchen.\n\n## Kontakte\nNutze dieses Tool, um Informationen über Kontakte abzurufen, wie z.B. Email-Adressen oder Rufnummern.\n\n## Notiz suchen\nNutze dieses Tool, um Notizen zu durchsuchen.\n\n## Notiz erstellen\nNutze dieses Tool, um Notizen zu erstellen.\n\n## Dokumente suchen\nNutze dieses Tool, um Dokumente zu suchen.\n\n## Marketing\nNutze dieses Tool, um Marketing Aufgaben zu erledigen\n\n## Aktien analysieren\nNutze dieses Tool, um Aktien zu analysieren. Übergebe folgende JSson Anfrage an dieses Tool:\n{\n\"exchange\": <example value NASDAQ for stock exchange platform >\n\"symbol\": <example value MSFT for ticker-symbol>,\n\"message_id\": {{ $('Telegram Trigger').item.json.message.message_id }},\n\"chat_id\": {{ $('Telegram Trigger').item.json.message.chat.id }},\n\"query\": <query text>\n}\nÄnder nichts an dieser Rückmeldung und gebe diese ohne weitere inhaltliche Änderungen oder Formatänderungen aus.\n\n## Error handling\nIn case of any error, add the error message to the output, without any modification.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3260,240],"id":"62ef3323-360d-4c3c-8720-22dabd5d2e5c","name":"Message a model","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"workflowId":{"__rl":true,"value":"X63lashCAP9VAHHw","mode":"list","cachedResultName":"AI_Marketing_Team"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4240,1060],"id":"8796e4c7-5928-4e65-9258-d238c1666f57","name":"Marketing"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('Text standardisieren').item.json.text }}"},{"type":"ai","message":"={{ $json.message.content }}"}]}},"id":"ddf8b400-9c8d-4a0b-957c-ba556d3b8c77","name":"Chat Memory Manager insert","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[4200,240],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"options":{"groupMessages":true}},"id":"09f7a8d6-b78b-4695-9d4d-b28ee4f64f98","name":"Chat Memory Manager get","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[2360,240],"typeVersion":1,"alwaysOutputData":true,"retryOnFail":false,"maxTries":3,"onError":"continueRegularOutput"}],"connections":{"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Chat Memory Manager get","type":"ai_memory","index":0},{"node":"Chat Memory Manager insert","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Juergen 017684019210","type":"main","index":0},{"node":"Juergen 1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Audio Download","type":"main","index":0}],[{"node":"Text standardisieren","type":"main","index":0}],[{"node":"Bild herunterladen","type":"main","index":0}]]},"Audio Download":{"main":[[{"node":"Transkribieren","type":"main","index":0}]]},"If":{"main":[[{"node":"Audio generieren","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analysiere Bild","type":"main","index":0}]]},"Analysiere Bild":{"main":[[{"node":"Bild standardisieren","type":"main","index":0}]]},"Transkribieren":{"main":[[{"node":"Text standardisieren","type":"main","index":0}]]},"Audio generieren":{"main":[[{"node":"Audio senden","type":"main","index":0}]]},"Bild herunterladen":{"main":[[{"node":"Code","type":"main","index":0}]]},"Emails lesen":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Emails senden":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Kalender einsehen":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Kalendertermin planen":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Internetsuche":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Kontakte1","type":"ai_embedding","index":0}]]},"Text standardisieren":{"main":[[{"node":"Chat Memory Manager get","type":"main","index":0}]]},"Bild standardisieren":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Notiz suchen":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Juergen 1":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Juergen 017684019210":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Kontakte":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Dokumente":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Aktien":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"e-mail":{"ai_tool":[[]]},"Message a model":{"main":[[{"node":"Chat Memory Manager insert","type":"main","index":0}]]},"Marketing":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Chat Memory Manager insert":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Chat Memory Manager get":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Telegram Trigger":[{"json":{"update_id":411632717,"message":{"message_id":321,"from":{"id":7523827206,"is_bot":false,"first_name":"Juergen","language_code":"de"},"chat":{"id":7523827206,"first_name":"Juergen","type":"private"},"date":1751393329,"text":"was waren meine letzten 5 e-mails von heute?"}}}]},"versionId":"e447a22e-bc67-489d-93ce-4f861435dd74","activeVersionId":null,"versionCounter":1,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:12:11.049Z","createdAt":"2025-06-24T20:12:11.049Z","role":"workflow:owner","workflowId":"PoN0lm3ZD6aVr3P8","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}