n8n/backup/n8n-backup/workflows/PvaV1MWvR3mjSb0P.json
{"updatedAt":"2025-06-24T22:23:45.050Z","createdAt":"2025-06-16T06:43:56.794Z","id":"PvaV1MWvR3mjSb0P","name":"Voice Assistant","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"{{ $json.body.question }}","options":{"systemMessage":"=Du bist ein KI-Agent, der sachlich und informativ auf Fragen zur n8n Dokumentation antwortet.\nBeantworte Fragen ausschließlich auf Basis der bereitgestellten Inhalte aus dem Pinecone Vectorte Store."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"af56b911-e7ea-4142-86ef-e23263d41661","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,220],"id":"2abb5fac-3cd5-45db-bca6-2611a8becf5d","name":"OpenAI Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,220],"id":"4b76c82c-728a-4e11-b78c-8e5492818cd9","name":"Window Buffer Memory"},{"parameters":{"name":"Data","description":"Rufe dieses Tool auf, um auf die Datenbank zuzugreifen und die Fragen des Nutzers zu beantworten."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[400,220],"id":"33abe761-3e1b-4966-b080-5ea8ae050074","name":"Answer questions with a vector store"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,380],"id":"18e6740d-16c5-4cc2-96f4-d9dcf3901d73","name":"OpenAI Chat Model1"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"n8n-docs-rag","mode":"list","cachedResultName":"n8n-docs-rag"},"options":{"pineconeNamespace":"n8n"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[240,380],"id":"9220c08f-db69-4ed1-b85b-dfc1eeb19a2c","name":"Pinecone Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[320,520],"id":"3ffc7a7d-178d-447e-999e-5e5831e0e8b0","name":"Embeddings OpenAI"},{"parameters":{"httpMethod":"POST","path":"f395e61b-3576-4180-9312-c14cea1f40fa","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"88c8611a-0c9c-47e8-ab5c-f5859fe71439","name":"Webhook","webhookId":"f395e61b-3576-4180-9312-c14cea1f40fa"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[580,0],"id":"41cb0316-bf2f-4f56-ab49-88198fcaba02","name":"Respond to Webhook"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"19f993d8-cddd-4c8e-a177-18e0dff94e9f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:12:25.996Z","createdAt":"2025-06-24T20:12:25.996Z","role":"workflow:owner","workflowId":"PvaV1MWvR3mjSb0P","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}