n8n/backup/n8n-backup/workflows/Qr4K86GI21ti8oMD.json
{"updatedAt":"2025-07-05T07:24:22.520Z","createdAt":"2025-07-05T06:25:46.015Z","id":"Qr4K86GI21ti8oMD","name":"AI agent website integration","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"0e388a59-be7a-4047-a43e-19787945456e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,200],"id":"7321ccc4-00a4-450b-a467-880d02835935","name":"Webhook","webhookId":"0e388a59-be7a-4047-a43e-1978794565be"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": \"{{ $json.output.replace(/【.*?】/g, '').replace(/\\n/g, '\\\\n').trim() }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[500,200],"id":"4d7f923b-558f-4179-bb45-c25120a95cd8","name":"Respond to Webhook"},{"parameters":{"options":{"systemMessage":"Du bist ein hilfreicher Assistent der Firma Nexora und antwortest Websitebesucher auf ihre Fragen.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[180,940],"id":"efcda5a7-9243-4892-b9cc-a0380081bd49","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[60,1140],"id":"1feae7d1-a322-4724-a4bb-3697e036a595","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,1140],"id":"06aa8fda-da46-4623-97dd-51bfba890fcf","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Retrieve internal Documents.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[400,1140],"id":"34b84402-a148-4b3f-99ea-8860ce05d8fa","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"RVbRh4P2iwNCOtEB","name":"Supabase account (https://supabase.com/)"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[360,1280],"id":"ce35d231-7ed0-425b-be36-65f363fa10fa","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"formTitle":"Dateien hochladen","formFields":{"values":[{"fieldLabel":"PDF","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[720,940],"id":"eb9b080e-cb81-433b-82b5-df7456a029c3","name":"On form submission","webhookId":"8578f05e-ace2-4e15-91e6-1c0b61a41a95"},{"parameters":{"operation":"pdf","binaryPropertyName":"PDF","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[920,940],"id":"f340dd74-3192-4b46-b698-8b78d532d8fc","name":"Extract from File"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1120,940],"id":"6819c459-ff7e-49e1-9146-29c8bef7799d","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"RVbRh4P2iwNCOtEB","name":"Supabase account (https://supabase.com/)"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1220,1140],"id":"bb0b371e-e00e-4e0e-ace7-bbe1e2c5ccee","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1080,1140],"id":"f4da9cb9-22cc-4690-af43-c14d5fbacb23","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"content":"# OpenAI Assistants + Voiceflow","height":80,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"820c328e-dbcb-490a-adaa-fc340d8d1833","name":"Sticky Note1"},{"parameters":{"content":"# Agent mit Wissensdatenbank","height":80,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,780],"id":"b3b544e4-0c5e-462a-9098-1b298b057a74","name":"Sticky Note2"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_FP1hxaivxAQXLdZOYI7Za0UM","mode":"list","cachedResultName":"Schneider Assistent"},"prompt":"define","text":"={{ $json.body.message }}","memory":"threadId","threadId":"={{ $json.headers.threadid }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[140,200],"id":"73977fac-9b63-4337-a6c6-17bdda2a1bdb","name":"Message a model1","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"simplify":true,"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[300,420],"id":"2057ba43-3672-48a9-97f3-6202baa5c3e1","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"vUEgb567L92ssUoE","name":"Perplexity account"}}},{"parameters":{"content":"# Youtube Video: [Guide](https://www.youtube.com/watch?v=SXd3f2GKR9g)","height":100,"width":520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-200],"id":"c5477daf-24eb-44b1-ab9c-b1d2e60bf35d","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Message a model1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"317da466-d76e-46c1-86df-1c1a42c5c781","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-07-05T06:25:46.015Z","createdAt":"2025-07-05T06:25:46.015Z","role":"workflow:owner","workflowId":"Qr4K86GI21ti8oMD","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}