n8n/backup/n8n-backup/workflows/R6s3HJtluNmVH1zX.json
{"updatedAt":"2025-09-25T04:40:25.544Z","createdAt":"2025-08-01T11:18:21.431Z","id":"R6s3HJtluNmVH1zX","name":"HCAIstructure - AGN","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"output","stringValue":"={{ $('AI Agent').item.json.output }}"}]},"include":"none","options":{}},"id":"acaf16a5-f1e1-45e6-ac48-6fdf8f6591d5","name":"Edit Fields","type":"n8n-nodes-base.set","position":[400,96],"typeVersion":3.2},{"parameters":{},"id":"cb2a1e93-7928-4524-8381-e0cea9f1c8b5","name":"Limit","type":"n8n-nodes-base.limit","position":[176,96],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"HCAIstructureAGN","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-928,96],"id":"27b79e8d-ba7b-4d6d-a672-e04ae83e04b3","name":"Webhook","webhookId":"f4344e8c-b363-4002-acf9-046cd49c8a09","credentials":{"httpHeaderAuth":{"id":"mSsWeX9yVbrBd9Cm","name":"my Bearer"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": true,\n  \"message\": \"Task wurde erfolgreich verarbeitet\",\n  \"updatedTask\": {\n    \"status\": \"In Bearbeitung\",\n    \"taskId\": \"{{$node['Webhook'].json.body.id}}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-688,96],"id":"e6f7437f-61cd-4c06-becc-1ce37d3b1f92","name":"Respond to Webhook","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"181cf7fc-17a0-4c5a-9fc4-2207f244b6ae","name":"body.message","value":"={{ $json.body.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,96],"id":"4c3da47c-8e7a-4d97-9667-6b88728fdad4","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[832,96],"id":"85a6c00a-64a9-41ff-8a9f-6e4a103d8ff3","name":"Respond to Webhook1"},{"parameters":{"jsCode":"return items.map(origItem => {\n  try {\n    const output = origItem.output;\n    const parsed = typeof output === 'string' ? JSON.parse(output) : output;\n    origItem.valid_json = true;\n    origItem.parsed_output = parsed;\n  } catch (e) {\n    origItem.valid_json = false;\n    origItem.error = \"Invalid JSON: \" + e.message;\n  }\n  // **WICHTIG: neues Objekt mit \"json\"-Key zurückgeben**\n  return { json: origItem };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,96],"id":"2f1873e5-fdf5-45eb-ba96-ecc5413fcf3e","name":"validation and correction","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-416,304],"id":"b7755e8a-fbf0-4040-ad32-a2df7629d178","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","hasOutputParser":true,"options":{"systemMessage":"Gib die Antwort ausschließlich als gültiges Wert für ein JSON-Objekt im folgenden Format zurück und ohne \" am Beginn oder am Ende, ohne Markdown, Code-Block oder zusätzliche Zeichen zurück. Gib KEINE erklärenden Worte und KEINE ```\n\n# Beispiel:\n\"<Beispieltext>\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-256,96],"id":"2f4f6372-1b3b-4199-99ce-eaa5770af1d1","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"output\": \"<Text>\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-96,304],"id":"93c40418-e3c2-4ecc-9a40-58b659f53e14","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-176,512],"id":"9ea13916-7784-4ffd-945f-939cdbc1ecaa","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}}],"connections":{"Edit Fields":{"main":[[{"node":"validation and correction","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"validation and correction":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.hcai42.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36","content-length":"19","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9,de;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"217.233.122.24","cf-ipcountry":"DE","cf-ray":"968590384b604288-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"a81272ab-f5eb-4574-9081-88f1c88aaf60","connection":"keep-alive","content-type":"application/json","origin":"https://www.hcai42.com","priority":"u=1, i","referer":"https://www.hcai42.com/","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-api-key":"__n8n_BLANK_VALUE_e5362baf-c777-4d57-a609-6eaf1f9e87f6","x-forwarded-for":"217.233.122.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"message":"Hallo"},"webhookUrl":"https://n8n.hcai42.com/webhook/HCAIstructureAGN","executionMode":"production"}}]},"versionId":"262db649-f49c-448e-950d-c5aaaf0f237b","activeVersionId":"262db649-f49c-448e-950d-c5aaaf0f237b","versionCounter":23,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-08-01T11:18:21.431Z","createdAt":"2025-08-01T11:18:21.431Z","role":"workflow:owner","workflowId":"R6s3HJtluNmVH1zX","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}