n8n/backup/n8n-backup/workflows/UcnR9W8PuVX43EdK.json
{"updatedAt":"2025-06-28T04:33:03.525Z","createdAt":"2025-05-25T07:26:10.642Z","id":"UcnR9W8PuVX43EdK","name":"Google Contacts","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ \n(($json.query.length) > 0) ? $json.query : ''; \n}}","options":{"systemMessage":"# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n# Tools Available\n**Search Contacts**\n- Use this tool to find a specific contact in Google Contacts.\n- The user may ask for a contact using first name, last name, or full name.\n- **Always use this tool first before retrieving all contacts.**\n\n**Get All Contacts From Google**\n- Retrieves a list of all contacts tored in Google Contacts.\n- **Use this tool ONLY if \"Search Contacts\" does not find the requested contact.**\n- This ensures efficient lookups and prevents unncesessary API calls.\n\n**Update Contact**\n- Use this tool to update an existing contact in Google Contacts.\n- **Before updating a contact, ensure you have the correct Contact ID from \"Search Contacts\".**\n- **Never assume a Contact ID.**\n- Always use the retrieved ID from the search.\n\n**Create a contact**\n- Use this tool to store new contact information when a contact does not exist.\n- **Before creating a contact, verify that \"Search Contacts\" and \"Get All Contacts From Goole\" do not find a match.**\n- If the user wants to add a new contact, use this tool."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[200,0],"id":"ab3931c9-c398-4766-85a8-dec611038cdb","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,240],"id":"5fee2854-6660-4bf6-995a-e8ed53c178e4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"1d755155-887c-4a3a-8d8f-a297a8d15e71","name":"When Executed by Another Workflow","notesInFlow":false},{"parameters":{"familyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', ``, 'string') }}","givenName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[580,240],"id":"42a15adb-aaf1-4d05-b0f6-aa844beb6d66","name":"Create Contact","credentials":{"googleContactsOAuth2Api":{"id":"TbIO6WxJtCTACA39","name":"Google Contacts account"}}},{"parameters":{"operation":"getAll","limit":1,"fields":["addresses","emailAddresses","names","phoneNumbers","organizations","birthdays","biographies"],"useQuery":true,"query":"={{ $fromAI('name', '', 'string') }}"},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[440,240],"id":"37556e5c-9157-4f34-94c0-236c78f6d4d4","name":"Get Contacts","credentials":{"googleContactsOAuth2Api":{"id":"TbIO6WxJtCTACA39","name":"Google Contacts account"}}},{"parameters":{"operation":"update","contactId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}","fields":["addresses","emailAddresses","names","phoneNumbers","organizations","birthdays","biographies"],"updateFields":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[720,240],"id":"35f16e92-0a06-4f51-b762-115d797b0c14","name":"Update Contact","credentials":{"googleContactsOAuth2Api":{"id":"TbIO6WxJtCTACA39","name":"Google Contacts account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Create Contact":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Contacts":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update Contact":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Get contact information for Adonis"}}]},"versionId":"12ef0d47-b54f-4481-a8bc-523bde22be38","activeVersionId":"12ef0d47-b54f-4481-a8bc-523bde22be38","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:12:40.745Z","createdAt":"2025-06-24T20:12:40.745Z","role":"workflow:owner","workflowId":"UcnR9W8PuVX43EdK","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}