n8n/backup/n8n-backup/workflows/UT1TPrFp4DysQgvK.json
{"updatedAt":"2025-07-01T14:00:12.807Z","createdAt":"2025-06-30T13:09:46.438Z","id":"UT1TPrFp4DysQgvK","name":"Edit_Image","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"image"},{"name":"request"},{"name":"chatID"},{"name":"pictureID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-940,200],"id":"261fccd6-dfb5-48b7-81b6-210daefb1563","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/edits","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.request.replace(/\"/g, '') }}"},{"name":"model","value":"gpt-image-1"},{"name":"size","value":"1024x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,200],"id":"e66f9502-5e89-4155-91a7-7d8a4f5c6780","name":"Edit Image","credentials":{"httpHeaderAuth":{"id":"QBC9AdjuavOdsmH6","name":"platform.openai.com"},"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-200,200],"id":"6e1fc6d4-36be-4561-a02a-c75bff13d3bb","name":"Convert to File"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Request":"={{ $('When Executed by Another Workflow').item.json.request }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}","Title":"={{ $('When Executed by Another Workflow').item.json.image }}","Type":"Edit"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[340,340],"id":"c1863dbf-5505-47c0-98c0-d4fc1b4ccf12","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"kqWF6D5OmglPCaqB","name":"Google Sheets account"}}},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.image }} (Edited).png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1J4LAK8SjxBARJ6hQ1gxAxui03NGc8DOI","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1J4LAK8SjxBARJ6hQ1gxAxui03NGc8DOI"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[100,340],"id":"f2d7a202-e71a-442e-9387-d5342cdc2dbf","name":"Upload Image","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}},{"parameters":{"content":"# Edit Image\n","height":260,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-500,120],"id":"356a3af0-8cfd-4b5d-8398-8ef622d7f61b","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3c763c6d-1f82-457c-8fd0-55cc232334a2","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,260],"id":"26c418d0-5dac-46aa-b873-d8306dc8dfae","name":"Sticky Note6"},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1020,120],"id":"4d81e434-fe24-4bfa-b1d6-50463c36bbbf","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Download\n","height":260,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-740,120],"id":"79e4a443-fdfd-49de-86a2-83765c72c257","name":"Sticky Note4"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[100,80],"id":"d22097bf-3e93-4c05-bdee-63006f5ba9e0","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.pictureID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-680,200],"id":"284e7daf-9056-43af-986f-23dca47fa71c","name":"Download","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Download","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send Photo","type":"main","index":0},{"node":"Upload Image","type":"main","index":0}]]},"Upload Image":{"main":[[{"node":"Image Log","type":"main","index":0}]]},"Download":{"main":[[{"node":"Edit Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7e23f15e-b38b-4d78-8811-b032eba3f83b","activeVersionId":"7e23f15e-b38b-4d78-8811-b032eba3f83b","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-30T13:09:46.438Z","createdAt":"2025-06-30T13:09:46.438Z","role":"workflow:owner","workflowId":"UT1TPrFp4DysQgvK","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}