n8n/backup/n8n-backup/workflows/wPGU0ZUSPURhjZ2O.json
{"updatedAt":"2025-06-28T04:33:26.346Z","createdAt":"2025-05-31T11:49:08.063Z","id":"wPGU0ZUSPURhjZ2O","name":"Aktien_Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.message_id || 'zjs1' }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,400],"id":"c7b0f955-099c-4e1e-8e9c-2bbdf836bc1f","name":"Window Buffer Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-420,120],"id":"3c683327-35d3-457c-a360-6561335b97ae","name":"Telegram Trigger","webhookId":"dbf7f0b7-5cdd-45a3-8c91-39f0665aba76","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}},"disabled":true},{"parameters":{"name":"Chart_Analyse","description":" Rufe dieses Tool auf, um eine Chart Analyse einer angeforderten Aktie zu erhalten. Die von diesem Tool ausgegebene URL muss im Markdown-Format zurückgegeben werden. Zum Beispiel:  \n`![](url)`","workflowId":{"__rl":true,"value":"Ot8iRAWvOa7PYLZL","mode":"list","cachedResultName":"Chart_Analyse"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[860,480],"id":"17fbcf7d-7eaa-493b-a993-bc89bc36607b","name":"Chart_Analyse"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,380],"id":"02a09cd3-6499-417a-b809-8195ca3b720e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"=7523827206","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[840,120],"id":"e17e6aff-7bf9-4b25-ad13-671707f935ba","name":"Sende Analyse","webhookId":"64476027-a103-4392-9189-c0039428a63d","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}},"disabled":true},{"parameters":{"name":"Finanzdaten_Tool","description":"Nutze dieses Tool bei der Aktienanalyse, um Finanz- und Analysedaten zu bekommen.","workflowId":{"__rl":true,"value":"Pv6vgapIsAGlIhlp","mode":"list","cachedResultName":"Finanzdaten_Tool"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[700,480],"id":"03262f0b-f268-42f6-8a03-092be326db0d","name":"Finanzdaten_Tool"},{"parameters":{"name":"Recherche_Agent","description":"Nutze diesen Agent um Aktiennews zu bekommen. ","workflowId":{"__rl":true,"value":"pBmxiH3eFwkwfitw","mode":"list","cachedResultName":"Recherche_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[540,480],"id":"ffe2f959-9e77-4fd5-b07d-0c0e72e3b02b","name":"Recherche_Agent"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Rolle:\nDu bist ein erfahrener Finanzanalyst, spezialisiert auf technische Analyse, fundamentale Unternehmensbewertung und Marktrecherche. Deine Aufgabe ist es, mit dem Nutzer über Finanzen zu kommunizieren und – falls gewünscht – Aktienanalysen basierend auf drei spezialisierten Tools durchzuführen. Du erstellst eine professionelle, aber verständliche Zusammenfassung der Ergebnisse und passt die Länge der Analyse flexibel an: Standardmäßig soll sie detailliert und strukturiert sein, bei Bedarf auch in wenigen prägnanten Sätzen.\n\n# Tools und Nutzung:\n\n## Finanzdaten_Tool:\nBewertet die finanziellen Kennzahlen eines Unternehmens (z. B. KGV, Umsatzwachstum, Gewinnmargen) und liefert eine Analyse der wirtschaftlichen Stabilität und Rentabilität.\n(Eingabe: Ticker-Symbol)\n\n## Chart_Analyse:\nAnalysiert das Kursdiagramm der Aktie, identifiziert wichtige technische Signale wie Candlestick-Muster, Widerstands-/Unterstützungszonen, MACD und Volumenveränderungen und gibt eine technische Analyse zurück.\n(Eingabe: Ticker-Symbol)\n\n## Recherche_Agent:\nDurchsucht aktuelle Nachrichten nach relevanten Ereignissen, Insider-Trades oder Unternehmensentscheidungen, die den Aktienkurs beeinflussen könnten.\n(Eingabe: Unternehmensname)\n\n# Vorgehensweise:\nExtrahiere aus der Nutzeranfrage automatisch das Ticker-Symbol (z. B. aus „Analysiere Apple“ → „AAPL“) und den Unternehmensnamen.\n\nSende das Ticker-Symbol an GetChart und Finanzdaten_Agent, sowie den Namen an den RechercheAgent.\n\nVerarbeite die Ergebnisse der technischen Chart-Analyse, der fundamentalen Finanzdaten und der Markt-News. Falls ein Tool keine relevanten Informationen liefert, lasse diesen Teil weg.\n\nVergleiche die drei Berichte miteinander:\n\nStimmen die technische Analyse, die Finanzdaten und die Markt-News überein?\nGibt es Widersprüche? Falls ja, erkläre sie.\nErkenne Trends über die letzten Monate hinweg:\n\nHat sich die finanzielle Lage verbessert oder verschlechtert?\nEntwickelt sich der Aktienkurs in Übereinstimmung mit den Finanzkennzahlen und Markt-News?\nFasse alle gewonnenen Erkenntnisse zusammen und erstelle einen strukturierten Finanzbericht, der folgende Punkte enthält:\n\n## Struktur\nÜberblick: Kurze Einführung zum Unternehmen und Marktumfeld.\nTechnische Analyse: Zusammenfassung der Chart-Erkenntnisse.\nFundamentale Analyse: Wichtige finanzielle Kennzahlen und deren Bewertung.\nMarkt-News: Relevante aktuelle Nachrichten und Ereignisse.\nFazit & Einordnung: Eine abschließende Bewertung, die technische, fundamentale und marktbezogene Aspekte kombiniert.\nFalls sich eine klare Tendenz abzeichnet, hebe diese besonders hervor.\n\nGib direkte Kauf- oder Verkaufsempfehlungen nur wenn der Nutzer das wünscht. Falls der Nutzer explizit eine Einschätzung wünscht, weise darauf hin, dass diese keine Garantie darstellt.\n\n# Sprache:\nPasse das Niveau und die Fachlichkeit deiner Sprache an das finanzielle Verständnis des Nutzers an, sodass auch Anfänger die Analyse verstehen können.\n\n# Hinweise zur Ausgabe:\nPasse die Länge der Analyse dynamisch an:\n\nErstelle standardmäßig einen ausführlichen Bericht, wenn keine Kürzung angefordert wird.\nFalls eine kurze Einschätzung gewünscht ist, fasse die wichtigsten Punkte in maximal drei Sätzen zusammen.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[480,120],"id":"b291bb3b-3945-468e-a636-ca9396ccdb5d","name":"Aktien_Agent","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"e724a232-42a2-4756-8b7a-e9ad36df23d3","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,220]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"3138dae2-2624-4a41-b6d8-9ba793d9bbfa","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,120]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"d2a3bd54-0228-46c8-a403-3248e9654118","name":"Download File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"db55ab23-e1b6-4e35-a41e-26068bfd2464","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[200,0],"credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-660,380],"id":"2490a621-8b41-4245-a3c1-724ac616b24c","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"b158bf00-be04-4297-913c-6ab9ba93bf21","name":"message.text","value":"={{ $('When Executed by Another Workflow').item.json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,380],"id":"ee53823a-ac5c-4399-b17c-600ca5a61b12","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"fdf7e016-7082-4146-9038-454139023990","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,120],"id":"99561b83-6338-4f16-b60d-19bd80f8a60d","name":"Antwort"}],"connections":{"Window Buffer Memory":{"ai_memory":[[{"node":"Aktien_Agent","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Chart_Analyse":{"ai_tool":[[{"node":"Aktien_Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Aktien_Agent","type":"ai_languageModel","index":0}]]},"Finanzdaten_Tool":{"ai_tool":[[{"node":"Aktien_Agent","type":"ai_tool","index":0}]]},"Recherche_Agent":{"ai_tool":[[{"node":"Aktien_Agent","type":"ai_tool","index":0}]]},"Aktien_Agent":{"main":[[{"node":"Sende Analyse","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Transcribe","type":"main","index":0}],[]]},"Set 'Text'":{"main":[[{"node":"Aktien_Agent","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Aktien_Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Sende Analyse":{"main":[[{"node":"Antwort","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"stock_exchange_symbol":"NASDAQ","ticker_symbol":"MSFT","message_id":12345,"chat_id":757385875,"query":"Get AAPL stock"}}]},"versionId":"6c968cbe-557c-40bc-9300-a081557cfa91","activeVersionId":"6c968cbe-557c-40bc-9300-a081557cfa91","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:16:22.466Z","createdAt":"2025-06-24T20:16:22.466Z","role":"workflow:owner","workflowId":"wPGU0ZUSPURhjZ2O","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}