n8n/backup/n8n-backup/workflows/wU2lfZmU8hLdlV9r.json
{"updatedAt":"2025-07-04T07:50:53.981Z","createdAt":"2025-06-30T13:10:15.669Z","id":"wU2lfZmU8hLdlV9r","name":"Faceless_Video","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output.replace(/\"/g, '') }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,100],"id":"ffef7b8d-d7d2-49ba-aede-ba125f48211a","name":"Generate Image","credentials":{"httpHeaderAuth":{"id":"9AtmygStmCxpFiA7","name":"piapi.ai"}}},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,100],"id":"85381aed-7800-4630-8a4d-1f00dcc40219","name":"Get Images","credentials":{"httpHeaderAuth":{"id":"9AtmygStmCxpFiA7","name":"piapi.ai"}}},{"parameters":{"promptType":"define","text":"=Scene: {{ $('Get Images').item.json.data.input.prompt }}","options":{"systemMessage":"=# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1440,100],"id":"7c21598a-06e5-444d-b6be-0b07e35abe9b","name":"Sound Agent"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,100],"id":"748db25f-921a-4b7e-8286-02edea3fde42","name":"Generate Audio","credentials":{"httpHeaderAuth":{"id":"ftNbiXOwo6AT2btx","name":"elevenlabs.io"}}},{"parameters":{"name":"={{ $('Get Videos').item.json.id }}.mp3","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1meggt1pzzObn7Jhq_J31eus6-j2Tr-50","mode":"list","cachedResultName":"Audio Files","cachedResultUrl":"https://drive.google.com/drive/folders/1meggt1pzzObn7Jhq_J31eus6-j2Tr-50"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1980,100],"id":"5e26722a-3e20-44cd-88dd-3b8987d1aedb","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1460,440],"id":"b97f3f85-e458-4772-82d7-779cdbad686f","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"e19f26a1-dfb6-4a0d-a3ba-d394e398b3c9\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.urls[0].url }}\",\n    \"Video-2.source\": \"{{ $json.urls[1].url }}\",\n    \"Video-3.source\": \"{{ $json.urls[2].url }}\",\n    \"Video-4.source\": \"{{ $json.urls[3].url }}\",\n    \"Audio-1.source\": \"{{ $json.urls[0].webContentLink }}\",\n    \"Audio-2.source\": \"{{ $json.urls[1].webContentLink }}\",\n    \"Audio-3.source\": \"{{ $json.urls[2].webContentLink }}\",\n    \"Audio-4.source\": \"{{ $json.urls[3].webContentLink }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,440],"id":"7d006242-36a9-4f57-b40c-710fecd5b761","name":"Render Video"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2060,440],"id":"0463ac04-19fa-4373-9758-79e2972eab72","name":"25 Seconds","webhookId":"d5cd29e8-d3f7-491c-a6b6-2d705aa47931"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,660],"id":"427a42c2-6ecb-4815-b7e7-5d23c9c4d65e","name":"Download Video"},{"parameters":{"content":"# Generate Image Prompts","height":540,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"0ac60adb-fab1-4cb2-b15c-b221e7695dc6","name":"Sticky Note3","disabled":true},{"parameters":{"content":"# Generate Images\n","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[760,0],"typeVersion":1,"id":"b9576960-068e-433f-bb74-b573d0a49429","name":"Sticky Note4"},{"parameters":{"content":"# Generate Audio\n\n","height":320,"width":980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1380,0],"typeVersion":1,"id":"1b2a42cd-3e63-4a7e-984a-9fb83c978501","name":"Sticky Note"},{"parameters":{"content":"# Render & Log\n","height":500,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[1380,340],"typeVersion":1,"id":"a8c30263-eda3-4cf2-a307-de86247fee52","name":"Sticky Note2"},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,380],"id":"3012e936-965d-4058-bb05-2bf7071a663a","name":"Get Videos","credentials":{"httpHeaderAuth":{"id":"Ri3F07bwhSfTeyoD","name":"dev.runwayml.com"}}},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.data.output.image_url }}"},{"name":"model","value":"gen3a_turbo"},{"name":"ratio","value":"768:1280"},{"name":"duration","value":"5"},{"name":"promptText","value":"={{ $json.data.input.prompt.replace(/\"/g, '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,380],"id":"2666e50e-b53a-4fbf-bcbc-6dc04d22304e","name":"Generate Videos","credentials":{"httpHeaderAuth":{"id":"Ri3F07bwhSfTeyoD","name":"dev.runwayml.com"}}},{"parameters":{"content":"# Generate Videos\n","height":760,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[760,280],"typeVersion":1,"id":"3f48fb18-10db-47e2-8b94-194b73a17b11","name":"Sticky Note5"},{"parameters":{"jsCode":"// N8n Code Node to extract URLs from output arrays and combine them into a single array\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = items.map(item => item.json || item);\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n// Create a single array to hold all URLs\nconst urlArray = [];\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // Add URL along with metadata including the web content link\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt,\n        webContentLink: data.webContentLink || null // Add the web content link\n      });\n    }\n  }\n}\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,440],"id":"872b808a-edcb-475a-884b-284ed16aae59","name":"Split Out Parts"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2180,100],"id":"f3dbd811-6005-4c3a-8736-ca35b156178a","name":"Share File","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,160],"id":"fd4e9fd7-f88e-400a-82b9-23db69c89c25","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[240,340],"id":"39f3a89e-896a-4b14-8764-63cb5ec1e6ee","name":"GPT 4.1 mini","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[440,340],"id":"a910fca2-1dcb-44fc-94d6-a7ec3bf87368","name":"4 Parts"},{"parameters":{"promptType":"define","text":"=Video Topic: {{ $json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a Master Visual Story Structuring Agent.\nYour task is to take a given short video topic and split it into four parts that together form a cohesive, vivid story, optimized for text-to-image generation.\n\n## Instructions:\n- You must create exactly four parts: Part 1, Part 2, Part 3, and Part 4.\n- Describe the subject of the story in the EXACT same way in all four parts. Each part should be consistent.\n- Each part should build upon the previous, creating a complete visual story by the end.\n- Every part must be written as a high-quality, richly detailed image prompt, following professional standards for models like Flux or similar.\n- Describe characters, settings, outfits, actions, and background elements vividly and precisely.\n- Use rich, imaginative language to maximize visual fidelity.\n- Avoid generic terms — always opt for specific and colorful descriptions.\n- No quotation marks (\"\") or newlines (\\n) should be included in the output.\n- Keep the description natural and seamless so it can be fed directly into a text-to-image model.\n\n## Key Elements to Include in Each Part:\n- Clear description of main subjects (appearance, outfits, facial expressions, poses)\n- Accessories or objects that add to the scene\n- A vivid background that matches the theme and enhances the overall story\n- Consistency and natural progression from part to part\n\n## Output Format:\nReturn your response structured into four fields:\n- Part 1: [Vivid image prompt for Part 1]\n- Part 2: [Vivid image prompt for Part 2]\n- Part 3: [Vivid image prompt for Part 3]\n- Part 4: [Vivid image prompt for Part 4]\n\nOnly output the fields listed above.\nMake sure the story across all four parts feels cohesive, visually rich, and cinematic."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,160],"id":"15d25d81-2e51-4d1e-a800-35fa7b18df96","name":"Image Prompt Agent"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,160],"id":"6013b3d2-75be-4b03-ab18-59967c4c5900","name":"Split Out"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1680,200],"id":"a361324a-2ce9-4cb4-ba82-1b788b14f528","name":"GPT-4.1 mini","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').first().json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1640,660],"id":"efadfdef-4a9d-4088-ba82-6fdd3be26bbd","name":"Send Video","webhookId":"cdeb2987-d275-480b-8532-f69bbed64999","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"},{"content":"Create a 3-4 word title for the given video","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1840,660],"id":"a6523d58-4872-4714-8e46-6e9c39381536","name":"Title","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.message.content }}","Request":"={{ $('When Executed by Another Workflow').first().json.videoTopic }}","Link":"={{ $('Download Video').item.json.url }}","Type":"Video"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2200,660],"id":"7591c91c-64e6-4859-a8a1-0c112cd4b56a","name":"Log Video","credentials":{"googleSheetsOAuth2Api":{"id":"kqWF6D5OmglPCaqB","name":"Google Sheets account"}}},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,100],"id":"3a6697e4-c17e-4ac5-b7e4-8fea4e3a1744","name":"90 Seconds","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,380],"id":"4674d876-ae2f-4895-9a14-305a7ab3e8a5","name":"90_Seconds","webhookId":"3ce99001-8f5a-4c0a-9b25-e3e261fcc778"},{"parameters":{"method":"POST","url":"https://europe-west3-aiplatform.googleapis.com/v1/projects/n8n-assistant-453910/locations/europe-west3/publishers/google/models/veo-2:predict","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"instances\": [{\n    \"prompt\": \"{{ $json.data.input.prompt }}\"\n  }],\n  \"parameters\": {\n    \"aspectRatio\": \"16:9\",\n    \"personGeneration\": \"dont_allow\",\n    \"guidance_scale\": 0,\n    \"seed\": 0,\n    \"steps\": 0,\n    \"width\": 540\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,580],"id":"1e062268-ca51-48ea-87ea-a726c2074510","name":"Generate Videos with Google Veo2","credentials":{"httpHeaderAuth":{"id":"Ri3F07bwhSfTeyoD","name":"dev.runwayml.com"},"googleOAuth2Api":{"id":"WcEHgfS4brSU28uK","name":"Google account (Vertext AI for Veo Video)"}}},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kling\",\n  \"task_type\": \"video_generation\",\n  \"input\": {\n    \"prompt\": \"{{ $json.data.input.prompt.replace(/\"/g, '') }}\",\n    \"image_url\": \"{{ $json.data.output.image_url }}\",\n    \"duration\": 5,\n    \"aspect_ratio\": \"16:9\",\n    \"mode\": \"std\",\n    \"version\": \"2.1\",\n    \"cfg_scale\": 0.5\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,820],"id":"bde79361-c985-4d26-a669-5a0a085ff71a","name":"Generate Image with Kling AI","credentials":{"httpHeaderAuth":{"id":"9AtmygStmCxpFiA7","name":"piapi.ai"}}},{"parameters":{"content":"# Achtung!\nVideo Modelle benötigen Credits (1 Credit = ~10$).\nhttps://piapi.ai/workspace/billing\n","width":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,820],"id":"caf44bd6-3aeb-4a62-b6c6-fab9c745e3f8","name":"Sticky Note1"}],"connections":{"Generate Image":{"main":[[{"node":"90 Seconds","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"Generate Image with Kling AI","type":"main","index":0}]]},"Sound Agent":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Share File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out Parts","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"25 Seconds","type":"main","index":0}]]},"25 Seconds":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"Get Videos":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Sound Agent","type":"main","index":0}]]},"Generate Videos":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Split Out Parts":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Share File":{"main":[[{"node":"Merge","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"GPT 4.1 mini":{"ai_languageModel":[[{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"4 Parts":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"GPT-4.1 mini":{"ai_languageModel":[[{"node":"Sound Agent","type":"ai_languageModel","index":0}]]},"Send Video":{"main":[[{"node":"Title","type":"main","index":0}]]},"Title":{"main":[[{"node":"Log Video","type":"main","index":0}]]},"90 Seconds":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Videos","type":"main","index":0}]]},"Generate Videos with Google Veo2":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Generate Image with Kling AI":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"videoTopic":"An AI agent hunting business professionals","chatID":7523827206}}]},"versionId":"b0b4253c-4dc2-4248-b3de-e63eef003335","activeVersionId":"b0b4253c-4dc2-4248-b3de-e63eef003335","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-30T13:10:15.669Z","createdAt":"2025-06-30T13:10:15.669Z","role":"workflow:owner","workflowId":"wU2lfZmU8hLdlV9r","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}