n8n/backup/n8n-backup/workflows/ZhR8QYGrzmm8AER0.json
{"updatedAt":"2025-06-24T22:23:11.408Z","createdAt":"2025-06-16T06:48:16.458Z","id":"ZhR8QYGrzmm8AER0","name":"Analyse_Anna__Datenanalystin","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,900],"id":"996d50e1-8380-4aab-b8eb-612bfa566f22","name":"Wait","webhookId":"8a24cea8-ea6a-47de-8bf0-143b74f88e21"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $(\"Request\").item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,780],"id":"733eac71-eadb-4e8b-a280-262fbf5af5d8","name":"Get Data","credentials":{"httpHeaderAuth":{"id":"jv7ytdkl5rVVZi13","name":"open webui"}}},{"parameters":{"jsCode":"const data = $input.first().json.data;\n\nconst hasData = Array.isArray(data)\n  ? data.length > 0\n  : typeof data === 'object' && data !== null && Object.keys(data).length > 0;\n\nreturn { status: hasData };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,780],"id":"cccd5b76-795e-41d3-b2e8-cf066984c097","name":"Check Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec7e1f39-a030-411f-9ca5-ef8632663c49","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,780],"id":"d51714af-6c49-460a-9605-6c9d72a524ed","name":"If Successful"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.message.content.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,780],"id":"32837eac-05d0-481d-824b-28c32159a50f","name":"Request","credentials":{"httpHeaderAuth":{"id":"jv7ytdkl5rVVZi13","name":"open webui"}}},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[180,420],"id":"2b715dab-0af6-40d6-914c-03bb8fc917ed","name":"OpenRouter Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Message Anna').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1320,320],"id":"a329d628-a4d7-47cc-9085-4ea0c16dd655","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Message Anna').item.json.message.chat.id }}","text":"={{ $json.output.analyseAnnaAnswer }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,160],"id":"364c3d1b-7b56-473c-b3e6-d1487bdd805c","name":"Answer User","webhookId":"06135021-087d-4558-be06-94de90f2f053"},{"parameters":{"jsonSchemaExample":"{\n  \"userMessage\": \"Analysiere alle Solartechnik-Firmen in Brandenburg auf Wärmepumpen-Angebote.\",\n  \"analyseAnnaAnswer\": \"Analyse der Solartechnik-Firmen in Brandenburg wird vorbereitet. Fokus: Wärmepumpen-Angebote auf den Webseiten.\",\n  \"website\": [\n    \"https://www.solarexperte-brb.de\",\n    \"https://www.sonnenkraft-technik.de\",\n    \"https://www.solarteam-ost.de\"\n  ],\n  \"userGoal\": \"Wärmepumpen-Angebote finden\",\n  \"startResearch\": true,\n  \"isSingleCompany\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[820,420],"id":"639bf0cf-f77b-4a80-8d2f-d2c0a0a75781","name":"Structured Output Parser"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,160],"id":"a6d1ffc6-3e2e-4404-a2e5-068070b65b79","name":"Message Anna","webhookId":"d7f347dd-476e-414b-a30c-357b366ce6d0","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"51746dd0-2087-430b-aef5-76424ac07607","name":"supabaseProjectID","value":"nythxjdfrrtdvlhxndjg","type":"string"},{"id":"6775cd0c-e308-4cc2-8230-db33a6c7a190","name":"bearerToken","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,160],"id":"bd1d0524-8109-41bf-b484-aafcd00bed2f","name":"ENV"},{"parameters":{"operation":"getAll","tableId":"german_companies","returnAll":true,"filters":{"conditions":[{"keyName":"state","condition":"ilike","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[300,520],"id":"e27112a1-b63c-4751-aefc-4a75d7c9d7e0","name":"Get_Companies_By_State"},{"parameters":{"operation":"getAll","tableId":"german_companies","returnAll":true,"filters":{"conditions":[{"keyName":"city","condition":"ilike","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[500,520],"id":"50ad2bc3-3130-4b2f-9972-e24c102d070f","name":"Get_Companies_By_City"},{"parameters":{"operation":"getAll","tableId":"german_companies","returnAll":true,"filters":{"conditions":[{"keyName":"district","condition":"ilike","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[700,520],"id":"2b451b8a-6f13-4b8a-bdff-2b739df6b7c6","name":"Get_Companies_By_District"},{"parameters":{"operation":"getAll","tableId":"german_companies","returnAll":true,"filters":{"conditions":[{"keyName":"industry","condition":"ilike","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[600,360],"id":"12ca6df8-5b41-4be8-8039-649d07e7d6ab","name":"Get_Companies_By_Industry"},{"parameters":{"operation":"getAll","tableId":"german_companies","returnAll":true,"filters":{"conditions":[{"keyName":"company","condition":"ilike","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[400,360],"id":"68f20ac4-f29a-4db1-b137-0d595180ad7d","name":"Get_Companies_By_Name"},{"parameters":{"workflowInputs":{"values":[{"name":"userMessage"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"71949f59-ab91-41d0-9ad4-a9e83cf3058e","name":"Team Leader"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=\nDu bist ein API-Request-Generator für FireCrawl.\n\nDeine Aufgabe: Erstelle ein JSON-Objekt, das als Request-Body für eine FireCrawl-Abfrage dient – basierend auf dem strukturierten Input einer vorangegangenen Analyse.\n\n## Input\n\nDas folgende JSON-Objekt sollst du verarbeiten:\n\n{{ $('Analyse Anna').all().toJsonString() }}\n\n## Deine Aufgabe\n\nErstelle daraus ein JSON im FireCrawl-Format:\n\n{\n  \"urls\": [...],\n  \"prompt\": \"...\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      ...\n    },\n    \"required\": [...]\n  }\n}\n\n### Regeln für das Format:\n\n1. **urls**: direkt aus `website` übernehmen (Das Array sollte immer nur eine url haben, fals doch mehree drin sind nehme die erste)\n2. **prompt**: formuliere einen präzisen englischen Extraktionsbefehl, z. B.  \n   - „Extract the CEO name“  \n   - „Find the job page URL“  \n   - „Search for career opportunities on the site“  \n3. **schema**: Erzeuge passende Properties im JSON-Schema-Stil, je nachdem, was der Nutzer wissen will.  \n   - z. B. `{ \"ceo_name\": { \"type\": \"string\" } }`  \n   - oder `{ \"job_page_url\": { \"type\": \"string\" } }`  \n   - Falls mehrere Infos gewünscht sind: mehrere Properties  \n4. **required**: Alle Keys aus `properties` müssen hier gelistet werden  \n5. Kein Text außerhalb des JSON – gib ausschließlich das finale JSON-Objekt zurück.\n\n## Beispiele\n\n### Beispiel 1 (nur CEO)\n\nInput:\n{\n  \"userGoal\": \"Finde den Geschäftsführer\",\n  \"website\": [\"https://firma-a.de\"]\n}\n\nOutput:\n{\n  \"urls\": [\"https://firma-a.de\"],\n  \"prompt\": \"Extract the CEO name\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ceo_name\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\"ceo_name\"]\n  }\n}\n\n### Beispiel 2 (mehrere Infos)\n\nInput:\n{\n  \"userGoal\": \"Finde den Geschäftsführer, seine E-Mail und Telefonnummer\",\n  \"website\": [\"https://firma-b.de\"]\n}\n\nOutput:\n{\n  \"urls\": [\"https://firma-b.de\"],\n  \"prompt\": \"Extract the CEO name, the CEO email and the CEO phone number\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ceo_name\": {\n        \"type\": \"string\"\n      },\n      \"ceo_email\": {\n        \"type\": \"string\"\n      },\n      \"ceo_phone\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\"ceo_name\", \"ceo_email\", \"ceo_phone\"]\n  }\n}\n\n## Besondere Hinweise\n\n- Nutze ausschließlich englische Begriffe im `prompt` und in den `schema`-Feldern  \n- Keine allgemeinen Texte oder Kommentare – nur das finale JSON  \n- Wenn das Ziel unklar ist, nimm eine sinnvolle, möglichst spezifische englische Beschreibung als `prompt` (z. B. „Try to find out what services the company offers“)\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[420,780],"id":"1a6b35e0-7d8f-4415-bfa6-a728676af796","name":"Build Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d17cc19-9718-4ca8-8a95-71655e348f07","leftValue":"={{ $('Analyse Anna').item.json.output.website }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"fc028b7e-c3fe-4730-93e7-46a4f7030dfa","leftValue":"={{ $('Analyse Anna').item.json.output.userGoal }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"664fa3e0-b57a-4f48-abe2-abed4edb9fdf","leftValue":"={{ $('Analyse Anna').item.json.output.startResearch }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,540],"id":"2ca764cd-a52f-46f3-a0bf-c336e01642c3","name":"Start Analysing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[200,940],"id":"a1926c98-fb52-474e-9cd0-8e748d64e823","name":"Loop Over Companies"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=# Rolle\n\nDu bist AnalyseAnna – eine digitale Recherche- und Analyse-Expertin. Präzise, professionell und lösungsorientiert. Dein Job: aus Anweisungen wie „Analysiere ...“ eine fundierte Recherche starten – auf Basis einer firmenspezifischen Datenbank.\n\n# Was du brauchst\n\n- Einen **Firmennamen**, eine **Branche**, einen **Ortsteil**, eine **Stadt** oder ein **Bundesland**  \n- Ein konkretes **Analyse-Ziel**: Was soll genau herausgefunden werden?  \n  (z. B. „Analysiere alle Webseiten auf Wärmepumpen-Angebote“ oder „Schau, ob die Firmen Stellenangebote auf ihrer Seite haben“)\n\n📌 Die Eingabe ist meistens eine direkte Anweisung, z. B.:\n> „Analysiere Solartechnik-Firmen in Brandenburg auf Wärmepumpen“\n> „Analysiere diese Firma: XYZ GmbH auf Karriere-Seite und Dienstleistungen“\n\nFalls etwas unklar ist: sachlich und konkret nachfragen.\n\n# Wichtiger Hinweis\n\nWenn keine konkrete Firma angegeben ist, sondern z. B. eine Branche oder ein Ort:\n- Hole **alle passenden Firmen aus der Datenbank**\n- Und analysiere **jede dieser Firmen einzeln**\n\nKeine pauschale Branchenrecherche – du arbeitest immer **firmenspezifisch**.\n\n# Tools\n\n- **Get_Companies_By_Name** – für einzelne Firmen  \n- **Get_Companies_By_Industry** – für Branchen  \n- **Get_Companies_By_State** – für Bundesländer  \n- **Get_Companies_By_City** – für Städte  \n- **Get_Companies_By_District** – für Stadtteile  \n\nImmer das Tool nutzen, das zur Nutzereingabe passt. Wenn nicht eindeutig: Rückfrage stellen.\n\n# Webseiten-Info\n\nDie Analyse erfolgt **auf Basis der Unternehmenswebseiten**.  \nDiese werden aus dem Feld `website` in der Datenbank extrahiert.  \nAlle Tools liefern Daten im gleichen Format, inklusive des Felds `website`.\n\nDu erstellst ein **Array aus URLs**, auf denen dann gescraped wird.\n\n# Flag für Einzelfirma\n\nSetze das Feld `isSingleCompany`:\n\n- `true`, wenn **nur eine Website vorhanden** ist **oder** wenn die Nutzereingabe klar auf **eine bestimmte Firma** zielt (z. B. „Analysiere die XYZ GmbH ...“)  \n- `false`, wenn mehrere Webseiten vorhanden sind **und** keine eindeutige Einzelfirma genannt ist\n\n# Antwortstil\n\n- Professionell, klar, sachlich  \n- Keine Umgangssprache oder Floskeln  \n- Beispiel: „Analyse der Solartechnik-Firmen in Brandenburg wird vorbereitet. Fokus: Wärmepumpen.“\n\n# Ziel\n\n- Eingabe auswerten und verstehen: Firma, Branche oder Region?  \n- Analyse-Ziel erkennen  \n- Passendes Tool aufrufen  \n- Webseiten-Array vorbereiten  \n- Erst wenn alles vollständig ist: `startResearch = true`\n\n# Sonderfall: Smalltalk oder irrelevante Nachricht\n\nWenn die Nachricht **nicht analyserelevant** ist (z. B. „Wie geht’s dir?“), antworte locker, aber mit Stil:\n\n**Beispiel:**\n\n> Guten Morgen, Chef! Mir geht’s bestens – bereit für den nächsten Auftrag.  \n> Soll ich direkt wieder mit der Analyse von Firmen starten?\n\n# Beispiel Output\n\n{\n  \"userMessage\": \"Analysiere alle Solartechnik-Firmen in Brandenburg auf Wärmepumpen-Angebote.\",\n  \"analyseAnnaAnswer\": \"Analyse der Solartechnik-Firmen in Brandenburg wird vorbereitet. Fokus: Wärmepumpen-Angebote auf den Webseiten.\",\n  \"website\": [\n    \"https://www.solarexperte-brb.de\",\n    \"https://www.sonnenkraft-technik.de\",\n    \"https://www.solarteam-ost.de\"\n  ],\n  \"userGoal\": \"Wärmepumpen-Angebote finden\",\n  \"startResearch\": true,\n  \"isSingleCompany\": false\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[380,160],"id":"1bf78aec-f733-4e76-b1e3-1b788954a6b0","name":"Analyse Anna"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e8ddfac-5c09-42c8-b176-9a0a7da41ad7","leftValue":"={{ $('Analyse Anna').item.json.output.isSingleCompany }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,780],"id":"d933a615-0fd9-4f1a-9c18-b296cc083e7d","name":"Analyse A Single Company"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e8ddfac-5c09-42c8-b176-9a0a7da41ad7","leftValue":"={{ $('Analyse Anna').item.json.output.isSingleCompany }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,660],"id":"2b5f7653-7e59-47b1-ac2a-53bb80966686","name":"Analyse A Single Company1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Du bist \"Analyse Anna\", eine freundliche, professionelle KI-Assistentin, die Ergebnisse von Webseitenanalysen zusammenfasst und als Textnachricht zurückgibt. Dein Stil ist sachlich, aber freundlich.\n\n## Ziel\n\nFormuliere eine passende Antwort auf Basis folgender Informationen:\n\n1. **Initialer Analyse-Wunsch des Nutzers** (siehe \"initialRequest\")\n2. **Ergebnisse der FireCrawl-Analyse** (siehe \"result\")\n\nDu gibst **nur** ein JSON-Objekt mit folgendem Format zurück:\n\n```json\n{\n  \"analyseAnnaSuccessAnswer\": \"...\"\n}\n```\n\n## Regeln\n\n- Antworte auf Deutsch.\n- Starte nicht mit einer Begrüßung – du antwortest mitten in einer laufenden Konversation.\n- Gehe freundlich, aber kurz auf das Ziel des Nutzers ein.\n- Formuliere klar, was du herausgefunden hast.\n- Nenne dabei die gefundenen Informationen direkt (z. B. Name, Position, Link etc.)\n- Verwende keine Platzhalter.\n- Schreibe so, als würde \"Anna\" in einem Telegram-Chat antworten – direkt, aber professionell.\n- Kein Text außerhalb des JSON!\n\n### Input:\n\ninitialRequest:\n\n{{ $('Analyse Anna').all().toJsonString() }}\n\nresult:\n\n{{ $('Get Data').item.json.data.toJsonString() }}","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1760,640],"id":"767b3671-74fe-468b-bdfb-8dc0bf38ee28","name":"Build Answer","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Message Anna').item.json.message.chat.id }}","text":"={{ $json.message.content.analyseAnnaSuccessAnswer }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,640],"id":"62456a9c-e64d-4f0a-9df1-47e59331c050","name":"Inform User","webhookId":"fafb6dfa-641a-48a4-9e23-67f152c225e0"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2180,820],"id":"b7f4d78b-655b-42cc-9b94-5663d4fd2493","name":"OpenRouter Chat Model1"},{"parameters":{"tableId":"german_companies","fieldsUi":{"fieldValues":[{"fieldId":"website","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2340,820],"id":"4d56caaf-3545-48a5-b437-03e46ac53d73","name":"Get_Company"},{"parameters":{"promptType":"define","text":"=Du bist AnalyseAnna – eine digitale Recherche- und Analyse-Expertin. Präzise, professionell und lösungsorientiert. Dein Job: Unternehmensdaten in einer Datenbank zu aktualisieren.\n\n# Tools\n\n1. **Get_Company** - Liefert gespeicherte Unternehmensdaten aus der Datenbank zur angegebenen Webseite.\n2. **Update_CEO** - Aktualisiert das column `ceo_name`\n3. **Update_Email** - Aktualisiert das column `email`\n2. **Save_Analysis** - Speichert sonstige in der Analyse herausgefundene informationen als string im column `analysis`\n\n## Ziel\n\nBasierend auf der vorhandenen Webseite und den Ergebnissen einer FireCrawl-Analyse sollst du die gespeicherten Unternehmensdaten aktualisieren.\n\n## Regeln\n\n- Die Webseite ist bereits bekannt (du musst `Get_Company` **nur nutzen, wenn du bestehende Daten vergleichen möchtest**).\n- Wenn neue Informationen aus FireCrawl vorliegen (z. B. ceo_name), aktualisiere diese über `Update_CEO`.\n- Wenn neue Informationen aus FireCrawl vorliegen (z. B. email), aktualisiere diese über `Update_Email`.\n- Wenn neue zusätzliche Informationen aus FireCrawl vorliegen, speicher eine diese mit `Save_Analysis` \n- Verwende keine Platzhalter.\n- Gib am Ende deiner Aktionen eine kurze Erklärung ab was du gemacht hast.\n\n## Input\n\nfirecrawlResult:\n\n{{ $('Get Data').item.json.data.toJsonString() }}\n\ncompanyWebsite:\n\n{{ $('Analyse Anna').first().json.output.website[0] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2240,640],"id":"32ffba1d-5c2a-4a94-98e8-6f4711319dd3","name":"Update Agent"},{"parameters":{"operation":"update","tableId":"german_companies","filters":{"conditions":[{"keyName":"website","condition":"eq","keyValue":"={{ $('Build Request').item.json.message.content.urls[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"ceo_name","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2500,820],"id":"ba40d7fe-64f2-4324-8d47-f444da06078b","name":"Update_CEO"},{"parameters":{"operation":"update","tableId":"german_companies","filters":{"conditions":[{"keyName":"website","condition":"eq","keyValue":"={{ $('Build Request').item.json.message.content.urls[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2260,960],"id":"4020d221-8d13-4765-a479-1c91f0047168","name":"Update_Email"},{"parameters":{"operation":"update","tableId":"german_companies","filters":{"conditions":[{"keyName":"website","condition":"eq","keyValue":"={{ $('Build Request').item.json.message.content.urls[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"analysis","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2420,960],"id":"a2796b6e-b436-4133-9a68-4d091da0bf82","name":"Save_Analysis"},{"parameters":{"chatId":"={{ $('Message Anna').item.json.message.chat.id }}","text":"Ich habe Ihnen die analysierten Informationen in der Datenbank aktualisiert.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2580,640],"id":"2f0c9006-c88a-49fd-b871-dee10ee3c619","name":"Inform User1","webhookId":"fafb6dfa-641a-48a4-9e23-67f152c225e0"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1700,1180],"id":"06d3ee41-33dc-477c-a225-96efb936487a","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"1hyUh89saI32D4U8","name":"OpenRouter account"}}},{"parameters":{"tableId":"german_companies","fieldsUi":{"fieldValues":[{"fieldId":"website","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1860,1180],"id":"45116390-d7a5-42d0-853b-daa7f3c550d9","name":"Get_Company1","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=Du bist AnalyseAnna – eine digitale Recherche- und Analyse-Expertin. Präzise, professionell und lösungsorientiert. Dein Job: Unternehmensdaten in einer Datenbank zu aktualisieren.\n\n# Tools\n\n1. **Get_Company** - Liefert gespeicherte Unternehmensdaten aus der Datenbank zur angegebenen Webseite.\n2. **Update_CEO** - Aktualisiert das column `ceo_name`\n3. **Update_Email** - Aktualisiert das column `email`\n2. **Save_Analysis** - Speichert sonstige in der Analyse herausgefundene informationen als string im column `analysis`\n\n## Ziel\n\nBasierend auf der vorhandenen Webseite und den Ergebnissen einer FireCrawl-Analyse sollst du die gespeicherten Unternehmensdaten aktualisieren.\n\n## Regeln\n\n- Die Webseite ist bereits bekannt (du musst `Get_Company` **nur nutzen, wenn du bestehende Daten vergleichen möchtest**).\n- Wenn neue Informationen aus FireCrawl vorliegen (z. B. ceo_name), aktualisiere diese über `Update_CEO`.\n- Wenn neue Informationen aus FireCrawl vorliegen (z. B. email), aktualisiere diese über `Update_Email`.\n- Wenn neue zusätzliche Informationen aus FireCrawl vorliegen, speicher eine diese mit `Save_Analysis` \n- Verwende keine Platzhalter.\n- Gib am Ende deiner Aktionen eine kurze Erklärung ab was du gemacht hast.\n\n## Input\n\nfirecrawlResult:\n\n{{ $('Get Data').item.json.data.toJsonString() }}\n\ncompanyWebsite:\n\n{{ $('Analyse Anna').first().json.output.website[0] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1760,960],"id":"2735de23-5146-44b8-99ea-31eb8017b083","name":"Update Agent1"},{"parameters":{"operation":"update","tableId":"german_companies","filters":{"conditions":[{"keyName":"website","condition":"eq","keyValue":"={{ $('Build Request').item.json.message.content.urls[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"ceo_name","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2020,1180],"id":"ce24a9ea-7ce5-4206-81d1-b65019ed4283","name":"Update_CEO1"},{"parameters":{"operation":"update","tableId":"german_companies","filters":{"conditions":[{"keyName":"website","condition":"eq","keyValue":"={{ $('Build Request').item.json.message.content.urls[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1780,1320],"id":"48e9d8c5-59ad-4c1c-9f0d-4deae5edada6","name":"Update_Email1"},{"parameters":{"operation":"update","tableId":"german_companies","filters":{"conditions":[{"keyName":"website","condition":"eq","keyValue":"={{ $('Build Request').item.json.message.content.urls[0] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1940,1320],"id":"a2858643-f30c-412c-a36c-25e61a5b3d4e","name":"Save_Analysis1"},{"parameters":{"chatId":"={{ $('Message Anna').item.json.message.chat.id }}","text":"Ich habe Ihnen die analysierten Informationen in der Datenbank aktualisiert.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,960],"id":"36c269fe-3266-45cc-949d-01b80c2ce854","name":"Finished Task","webhookId":"fafb6dfa-641a-48a4-9e23-67f152c225e0"}],"connections":{"Wait":{"main":[[{"node":"Get Data","type":"main","index":0}]]},"Get Data":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"If Successful","type":"main","index":0}]]},"If Successful":{"main":[[{"node":"Analyse A Single Company1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Request":{"main":[[{"node":"Get Data","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Analyse Anna","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Analyse Anna","type":"ai_memory","index":0},{"node":"Update Agent","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Analyse Anna","type":"ai_outputParser","index":0}]]},"Message Anna":{"main":[[{"node":"ENV","type":"main","index":0}]]},"ENV":{"main":[[{"node":"Analyse Anna","type":"main","index":0}]]},"Get_Companies_By_State":{"ai_tool":[[{"node":"Analyse Anna","type":"ai_tool","index":0}]]},"Get_Companies_By_City":{"ai_tool":[[{"node":"Analyse Anna","type":"ai_tool","index":0}]]},"Get_Companies_By_District":{"ai_tool":[[{"node":"Analyse Anna","type":"ai_tool","index":0}]]},"Get_Companies_By_Industry":{"ai_tool":[[{"node":"Analyse Anna","type":"ai_tool","index":0}]]},"Get_Companies_By_Name":{"ai_tool":[[{"node":"Analyse Anna","type":"ai_tool","index":0}]]},"Answer User":{"main":[[{"node":"Start Analysing","type":"main","index":0}]]},"Team Leader":{"main":[[{"node":"ENV","type":"main","index":0}]]},"Build Request":{"main":[[{"node":"Request","type":"main","index":0}]]},"Start Analysing":{"main":[[{"node":"Analyse A Single Company","type":"main","index":0}]]},"Loop Over Companies":{"main":[[{"node":"Finished Task","type":"main","index":0}],[{"node":"Build Request","type":"main","index":0}]]},"Analyse Anna":{"main":[[{"node":"Answer User","type":"main","index":0}]]},"Analyse A Single Company":{"main":[[{"node":"Build Request","type":"main","index":0}],[{"node":"Loop Over Companies","type":"main","index":0}]]},"Analyse A Single Company1":{"main":[[{"node":"Build Answer","type":"main","index":0}],[{"node":"Update Agent1","type":"main","index":0}]]},"Build Answer":{"main":[[{"node":"Inform User","type":"main","index":0}]]},"Inform User":{"main":[[{"node":"Update Agent","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Update Agent","type":"ai_languageModel","index":0}]]},"Get_Company":{"ai_tool":[[{"node":"Update Agent","type":"ai_tool","index":0}]]},"Update_CEO":{"ai_tool":[[{"node":"Update Agent","type":"ai_tool","index":0}]]},"Update_Email":{"ai_tool":[[{"node":"Update Agent","type":"ai_tool","index":0}]]},"Save_Analysis":{"ai_tool":[[{"node":"Update Agent","type":"ai_tool","index":0}]]},"Update Agent":{"main":[[{"node":"Inform User1","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Update Agent1","type":"ai_languageModel","index":0}]]},"Get_Company1":{"ai_tool":[[{"node":"Update Agent1","type":"ai_tool","index":0}]]},"Update Agent1":{"main":[[{"node":"Loop Over Companies","type":"main","index":0}]]},"Update_CEO1":{"ai_tool":[[{"node":"Update Agent1","type":"ai_tool","index":0}]]},"Update_Email1":{"ai_tool":[[{"node":"Update Agent1","type":"ai_tool","index":0}]]},"Save_Analysis1":{"ai_tool":[[{"node":"Update Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"14bdd7d0-7a44-4550-b119-590328406b72","activeVersionId":"14bdd7d0-7a44-4550-b119-590328406b72","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:12:55.902Z","createdAt":"2025-06-24T20:12:55.902Z","role":"workflow:owner","workflowId":"ZhR8QYGrzmm8AER0","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}