n8n/backup/workflows/1R2t8pvrK1xQ8seq.json
{"updatedAt":"2025-07-28T12:50:38.644Z","createdAt":"2025-07-28T12:43:39.088Z","id":"1R2t8pvrK1xQ8seq","name":"KI-Agenten-Armee ZJS copy","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"fields":{"values":[{"name":"output","stringValue":"={{ $('AI Agent').item.json.output }}"}]},"options":{}},"id":"52ac5aa9-d34b-4f30-9f4f-0616e0aa3b79","name":"Edit Fields","type":"n8n-nodes-base.set","position":[3232,-1248],"typeVersion":3.2},{"parameters":{},"id":"5a56ef47-7f49-4a5f-b9a1-20742160ff58","name":"Limit","type":"n8n-nodes-base.limit","position":[3008,-1248],"typeVersion":1},{"parameters":{"content":"Read contents of the chat from memory","height":217,"width":795,"color":7},"id":"0c2e9b90-c339-4e34-9536-a01f1960c883","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[320,-1296],"typeVersion":1},{"parameters":{"content":"Call the assistant, passing in the previous chat messages","height":237,"width":338,"color":7},"id":"51a16391-8215-4de3-b72b-9510b6cb3386","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1424,-1296],"typeVersion":1},{"parameters":{"content":"Add the latest chat messages to the memory","height":217,"width":298,"color":7},"id":"68f427b1-1b18-419f-8a1e-5c52a0fd448f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2384,-1296],"typeVersion":1},{"parameters":{"content":"Return the model output","height":217,"width":356,"color":7},"id":"732f828c-c4c4-4b6f-8952-da9106f73049","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2768,-1296],"typeVersion":1},{"parameters":{"content":"My Personal Assistant\n","height":300.48941882630095},"id":"1ce7aa1c-dc6f-4161-8c34-3b173d134b2b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1936,-960],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2096,-1248],"id":"0f53c20d-f4bb-4c86-b5ed-5cbb3f5700b3","name":"Telegram Trigger","webhookId":"ccb3054d-1378-4bfb-a0da-68b92ee3a534","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-304,-1440],"id":"ba7545dc-1101-4291-83eb-a88556145f46","name":"Audio Download","webhookId":"80794eb1-ec5c-429a-a92b-c1ce8c6a0bd5","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fbb1bac-e576-4534-b33a-8c7f0d9a4846","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3440,-1248],"id":"dbb0380b-4ab9-4496-b2e7-5c0efda6aea7","name":"If"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3920,-1264],"id":"155fd7cf-1f60-4912-a5ab-95c5842d7eff","name":"Audio senden","webhookId":"3b9843c6-6cc3-443a-a025-c7e4b01566a1","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $('Telegram Trigger').item.json.message.caption || \"Beschreibe das Bild\"}}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3232,-880],"id":"3cae5701-a6fc-4608-8ca1-7c94875809c3","name":"Analysiere Bild","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-64,-1440],"id":"0bbb64e0-19a8-4db1-8a5b-1f3d29f60afa","name":"Transkribieren","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3680,-1264],"id":"5f0cdfdd-5a07-4fda-959d-7d63a0a6d957","name":"Audio generieren","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[2].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2704,-880],"id":"626b7aee-3cda-4370-8c58-c687b792eb1b","name":"Bild herunterladen","webhookId":"68625a25-aec8-42d8-82b1-8fe368b5eaf5","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{"labelIds":["INBOX","UNREAD"]}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[784,-416],"id":"5ab32686-7642-48e1-81a0-381d17886c27","name":"Emails lesen","webhookId":"aebefc8a-6fbe-4ce6-95f5-571a2b410596","credentials":{"gmailOAuth2":{"id":"IzG4S8CMj7lyNYIQ","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $fromAI('email_adresse','Die Emailadresse des Empfängers.') }}","subject":"={{ $fromAI('email_betreff','Der Betreff der Email.') }}","emailType":"text","message":"={{ $fromAI('email_nachricht','Die Nachricht der Email.') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[912,-416],"id":"0cd04f45-fc99-4da5-bc6a-e9ccbaafe317","name":"Emails senden","webhookId":"39bd884f-b2f7-47bc-af05-d7609e2a80f2","credentials":{"gmailOAuth2":{"id":"IzG4S8CMj7lyNYIQ","name":"Gmail account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1088,-416],"id":"4f6227c5-8171-4a21-a381-d39f56a17404","name":"Kalender einsehen","credentials":{"googleCalendarOAuth2Api":{"id":"fEC6VbLuxigRZL1r","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"start":"={{ $fromAI('start') }}","end":"={{ $fromAI('ende') }}","additionalFields":{"summary":"={{ $fromAI('titel') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,-416],"id":"ec4e7eff-1255-4b7e-9366-3e3c7fca057c","name":"Kalendertermin planen","credentials":{"googleCalendarOAuth2Api":{"id":"fEC6VbLuxigRZL1r","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1440,-416],"id":"56990262-d9c2-408d-84d1-772ffe7d671c","name":"Internetsuche","credentials":{"serpApi":{"id":"XUcd9LmKZ3Wtl8UR","name":"SerpAPI account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3af8999f-0611-4e73-a7b1-fc4943a05d24","name":"text","value":"={{ \n($json.message.text.length > 0) ? $json.message.text : '' \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-1248],"id":"0e6ff923-5a82-4e90-b14e-127ab5f23118","name":"Text standardisieren","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"1c39951a-df34-4fc6-b7b1-991bcad6f5d8","name":"output","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,-880],"id":"778279e8-f39d-4465-8dbb-0ef4f12d1879","name":"Bild standardisieren"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-960,-928],"id":"824864d3-bfab-4333-81d0-333422daedc3","name":"No Operation, do nothing"},{"parameters":{"recipientPhoneNumber":"+4917684019210"},"type":"n8n-nodes-base.whatsAppTool","typeVersion":1,"position":[2128,-1728],"id":"16750248-bee3-43c4-889a-387853b5c3fa","name":"WhatsApp Business Cloud","webhookId":"47269151-ecca-40c8-b89a-6f83f2128a8c","disabled":true},{"parameters":{"pageId":{"__rl":true,"mode":"id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Page', ``, 'string') }}","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1808,-1744],"id":"644d349f-6ad7-4256-a2bd-6810067e1b16","name":"Notiz erstellen","disabled":true},{"parameters":{"operation":"search","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1568,-416],"id":"96db0dc5-1830-465f-80b6-31e4214c66c0","name":"Notiz suchen","credentials":{"notionApi":{"id":"hAvCdmlReJSSCjEq","name":"Notion account"}}},{"parameters":{"authentication":"oAuth2","operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.googleChatTool","typeVersion":1,"position":[1952,-1760],"id":"8a586bfb-b6ed-4849-b962-babe30d17f1b","name":"Google Chat","webhookId":"cf5f6693-a979-40a4-8a1b-265be6365ac1","disabled":true},{"parameters":{"content":"Calendar","height":220,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-480],"id":"9aceb92e-fd63-42d9-8b5b-04422982f2de","name":"Sticky Note5"},{"parameters":{"content":"E-Mail","height":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,-480],"id":"28486428-6bb6-4ae2-a1f5-6b1ed103b221","name":"Sticky Note6"},{"parameters":{"content":"Internet","height":220,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-480],"id":"0d37ac0b-ec34-4a08-adc9-fba27a71b397","name":"Sticky Note7"},{"parameters":{"content":"Kontakte","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1728,-480],"id":"d2d92599-04a7-4a11-b035-45db953e5c14","name":"Sticky Note8"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2288,-1664],"id":"9e1d8539-ba5e-4ce4-8583-d39c22ca6b4e","name":"Perplexity (wip)","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1e18640-57b1-4fc6-9d60-3a5cf63a7f6c","leftValue":"={{ $json.message.from.id }}","rightValue":5154929017,"operator":{"type":"number","operation":"equals"}},{"id":"bfb5c42a-4720-405e-bba4-68377e8e4cd7","leftValue":"={{ $json.message.from.first_name }}","rightValue":".","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1776,-1248],"id":"7fa5dd89-9108-4de7-9035-374eaf675507","name":"Juergen 1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5cdbe4ef-596e-454d-8d1c-c924a355b0cd","leftValue":"={{ $json.message.from.id }}","rightValue":7523827206,"operator":{"type":"number","operation":"equals"}},{"id":"bfb5c42a-4720-405e-bba4-68377e8e4cd7","leftValue":"={{ $json.message.from.first_name }}","rightValue":"Juergen","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1776,-1104],"id":"603a84a8-94ef-4041-9f86-c14ada717484","name":"Juergen 017684019210"},{"parameters":{"mode":"retrieve-as-tool","toolName":"Kontakte","toolDescription":"Nutze dieses Tool, um Emailadressen abzurufen.","pineconeIndex":{"__rl":true,"value":"n8n-agent040-index","mode":"list","cachedResultName":"n8n-agent040-index"},"options":{"pineconeNamespace":"kontakte-hochladen"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1488,-1760],"id":"3e3ca7af-723f-41ef-840f-7dd37114775d","name":"Kontakte1","disabled":true},{"parameters":{"name":"my_google_contacts_tool","workflowId":{"__rl":true,"value":"UcnR9W8PuVX43EdK","mode":"list","cachedResultName":"Google Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1792,-416],"id":"85b82e8b-6a59-42c6-a456-806955bd5ce6","name":"Kontakte"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1808,-1520],"id":"be788cb9-403b-472a-9969-f862abece7de","name":"When chat message received","webhookId":"ca0d96ec-daf8-49c6-89f5-f5834e41ac35"},{"parameters":{"name":"my_google_drive_tool","workflowId":{"__rl":true,"value":"BMwKdbYbHPxhEeIB","mode":"list","cachedResultName":"Google Drive"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2000,-416],"id":"84224222-5d95-4006-8914-984c54f55b3b","name":"Dokumente"},{"parameters":{"content":"Dokumente\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1952,-480],"id":"1de44924-513d-4aa4-8382-22ad6084845e","name":"Sticky Note9"},{"parameters":{"assignments":{"assignments":[{"id":"b0ff6b0b-2781-4593-926f-3ede9a3cb03f","name":"message.text","value":"={{ $json.chatInput || $json.message?.text || json.text || 'Keine Nachricht' }}","type":"string"},{"id":"dc1967af-8e4b-493b-9a4a-862ee1823654","name":"sessionId","value":"={{ $json.sessionId || $('Telegram Trigger').item.json.message.chat.id || 'Missing ID' }}","type":"string"},{"id":"7f70a166-1fc4-4f5f-be35-77651ec345a9","name":"inputSrc","value":"={{ $('Telegram Trigger').item.json.message.message_id != empty ? 'Telegram' : '' }}","type":"string"},{"id":"05ef1ebb-58a8-4411-958c-2c8d3bee59f6","name":"message.from.first_name","value":"={{ $('Telegram Trigger').item.json.message.from.first_name || 'Missing Name' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,-1248],"id":"4e6f8892-34ac-455e-b8cb-3a4e53cd9a94","name":"Edit Fields1","alwaysOutputData":false},{"parameters":{"jsCode":"// Verwende Input-Daten statt Node-Referenz\nconst inputData = $input.all();\nconst text = inputData[0]?.json?.message?.text || ' ';\n\nreturn [{\n  json: {\n    message: { text: text }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,-1168],"id":"e3220068-ae21-416e-8c81-a52e81742146","name":"Code1"},{"parameters":{"name":"my_aktien_tool","workflowId":{"__rl":true,"value":"wPGU0ZUSPURhjZ2O","mode":"list","cachedResultName":"Aktien_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2224,-416],"id":"dc3e7736-2f1b-4462-a583-e3726d054e9b","name":"Aktien"},{"parameters":{"content":"Aktien\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,-480],"id":"338b99d6-7eff-446b-bee4-b651d3b46a41","name":"Sticky Note10"},{"parameters":{"sseEndpoint":"https://n8n.hcai42.com/mcp-test/858bea23-8cd7-4790-a6f5-5f68b99fe744/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1280,-1760],"id":"d28b029a-6dcf-41ea-8bc1-e55cececf5f6","name":"e-mail","disabled":true},{"parameters":{"content":"Marketing\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2384,-480],"id":"d0d61775-a749-4482-81fc-d9779d3af331","name":"Sticky Note11"},{"parameters":{"workflowId":{"__rl":true,"value":"X63lashCAP9VAHHw","mode":"list","cachedResultName":"AI_Marketing_Team"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","messageID":"={{ $('Telegram Trigger').item.json.message.message_id }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageID","displayName":"messageID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"voiceFileID","displayName":"voiceFileID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2448,-416],"id":"5ca33c27-1157-4cc3-84f2-c0a2c912fed3","name":"Marketing"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('Text standardisieren').item.json.text }}"},{"type":"ai","message":"={{ $json.output }}"}]}},"id":"e807f2e0-5b80-4782-9c88-c81b2ecc77c8","name":"Chat Memory Manager insert","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[2400,-1248],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"options":{"groupMessages":true}},"id":"3e531f3c-72a6-4038-be2a-8df714cb5eaa","name":"Chat Memory Manager get","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[560,-1248],"typeVersion":1,"alwaysOutputData":true,"retryOnFail":false,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"={{ $json.messages }}","include":"=","options":{}},"id":"50be7956-cfa2-4d25-ae85-c7dc28ff368d","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[944,-1248],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"sessionKey":"=123","contextWindowLength":20},"id":"0aeeef4b-f8d1-4aff-a5b7-4d4dde742b6d","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2112,-1088],"typeVersion":1.1},{"parameters":{"chatId":"={{ \n// $('Telegram Trigger').item.json.message.chat.id || '' \n\n$('Edit Fields1').item.json.sessionId\n}}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3664,-944],"id":"f92c6c09-be41-4d4e-8931-3acd2875e378","name":"Telegram3","webhookId":"dc6f06e2-e704-4d6c-8edc-c3f0721b77af","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"f66b31c9-e4a0-45f5-a08a-558b85a7aeb3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3388ce7f-5682-4851-8fce-65cd19c74ab1","leftValue":"={{\n($json.message.text.length > 0) ? $json.message.text : ''\n}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c967cd2-c18e-430d-a931-2866d1094eb2","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bild"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-736,-1248],"id":"b5707e30-7c34-477a-b2e9-da90fd21fbab","name":"Switch1"},{"parameters":{"jsCode":"const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,-880],"id":"bda40c1b-1c01-4d43-8c07-143ae93a9fe4","name":"Code2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1552,-1600],"id":"d4107fa9-d45c-4cc6-adb3-6f5d4260d20a","name":"Embeddings OpenAI1","disabled":true},{"parameters":{"promptType":"define","text":"=## Our Previous Conversation:\n{{ \n  ($json.messages && Array.isArray($json.messages) && $json.messages.length > 0) ? \n    $json.messages.map(m => `Human: ${m.human || ''}\\nAI Assistant: ${m.ai || ''}`).join('\\n') : \n    ''\n}}\n## Current message:\n{{ \n($('Text standardisieren').isExecuted) ? $('Text standardisieren').item.json.text : '' \n}}","options":{"systemMessage":"=# ROLLE\nDu bist ein freundlicher und hilfreicher Agent namens Jarvis.\n\n# EXTRA INFORMATIONEN\nDu sprichst gerade mit {{ $('Switch1').item.json.message.from.first_name }}\nDas aktuelle Datum und die aktuelle Zeit sind: {{ $now }}\n\n# TOOLS\n\n## Emails lesen\nNutze dieses Tool, um Emails zu lesen.\n\n## Emails senden\nNutze dieses Tool, um Emails zu versenden.\n\n## Kalender einsehen\nNutze dieses Tool, um Termine im Kalender einzusehen.\n\n## Kalendertermin planen\nNutze dieses Tool, um Termine im Kalender zu planen.\n\n## Internetsuche\nNutze dieses Tool, um das Internet zu durchsuchen.\n\n## Kontakte\nNutze dieses Tool, um Informationen über Kontakte abzurufen, wie z.B. Email-Adressen oder Rufnummern.\n\n## Notiz suchen\nNutze dieses Tool, um Notizen zu durchsuchen.\n\n## Notiz erstellen\nNutze dieses Tool, um Notizen zu erstellen.\n\n## Dokumente suchen\nNutze dieses Tool, um Dokumente zu suchen.\n\n## Marketing\nNutze dieses Tool, um Marketing Aufgaben zu erledigen. Übergebe folgende JSson Anfrage an dieses Tool:\n{\n\"query\": {{ $('Text standardisieren').item.json.text }}\n}\nÄnder nichts an dieser Rückmeldung und gebe diese ohne weitere inhaltliche Änderungen oder Formatänderungen aus.\n\n## Aktien analysieren\nNutze dieses Tool, um Aktien zu analysieren. Übergebe folgende JSson Anfrage an dieses Tool:\n{\n\"exchange\": <example value NASDAQ for stock exchange platform >\n\"symbol\": <example value MSFT for ticker-symbol>,\n\"message_id\": {{ $('Telegram Trigger').item.json.message.message_id }},\n\"chat_id\": {{ $('Telegram Trigger').item.json.message.chat.id }},\n\"query\": <query text>\n}\nÄnder nichts an dieser Rückmeldung und gebe diese ohne weitere inhaltliche Änderungen oder Formatänderungen aus.\n\n## Error handling\nIn case of any error, add the error message to the output, without any modification.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1472,-1248],"id":"4e367d7f-dd3d-4a77-aa0c-d70c58b3774b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,-1056],"id":"640f0b36-024d-4c3e-a665-c51cfea05db5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2464,-1568],"id":"d17bae1f-fa28-400f-a82d-b8162b6885a7","name":"When clicking ‘Execute workflow’"}],"connections":{"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Juergen 017684019210","type":"main","index":0},{"node":"Juergen 1","type":"main","index":0}]]},"Audio Download":{"main":[[{"node":"Transkribieren","type":"main","index":0}]]},"If":{"main":[[{"node":"Audio generieren","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Analysiere Bild":{"main":[[{"node":"Bild standardisieren","type":"main","index":0}]]},"Transkribieren":{"main":[[{"node":"Text standardisieren","type":"main","index":0}]]},"Audio generieren":{"main":[[{"node":"Audio senden","type":"main","index":0}]]},"Bild herunterladen":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Emails lesen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Emails senden":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kalender einsehen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kalendertermin planen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Internetsuche":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Text standardisieren":{"main":[[{"node":"Chat Memory Manager get","type":"main","index":0}]]},"Bild standardisieren":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Notiz suchen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Juergen 1":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Juergen 017684019210":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Kontakte":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Dokumente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Aktien":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Marketing":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Chat Memory Manager insert":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Chat Memory Manager get":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Chat Memory Manager get","type":"ai_memory","index":0},{"node":"Chat Memory Manager insert","type":"ai_memory","index":0}]]},"Switch1":{"main":[[{"node":"Audio Download","type":"main","index":0}],[{"node":"Text standardisieren","type":"main","index":0}],[{"node":"Bild herunterladen","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Analysiere Bild","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Kontakte1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Chat Memory Manager insert","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1751534452,"possibleDuplicates":["197cf96c332d979f","197cf29051449c21"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Telegram Trigger":[{"json":{"update_id":411632742,"message":{"message_id":371,"from":{"id":7523827206,"is_bot":false,"first_name":"Juergen","language_code":"de"},"chat":{"id":7523827206,"first_name":"Juergen","type":"private"},"date":1751613152,"text":"Please let Marketing create a video of  an ai agent is hunting business professionals"}}}]},"versionId":"c37f09fb-8d81-4c35-bcd3-d5f72574c9f5","activeVersionId":null,"versionCounter":1,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-07-28T12:43:39.088Z","createdAt":"2025-07-28T12:43:39.088Z","role":"workflow:owner","workflowId":"1R2t8pvrK1xQ8seq","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}