n8n/backup/workflows/3K0gQwkUceCpUHnl.json
{"updatedAt":"2025-06-28T04:25:22.632Z","createdAt":"2025-06-28T04:24:40.103Z","id":"3K0gQwkUceCpUHnl","name":"Microsoft Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.text }}","options":{"systemMessage":"=Du bist ein hilfreicher Outlook Assistent der Outlook Tools nutzen kann. Du verwaltest das Outlook von [NAME].\n\nDas aktuelle Datum ist: {{ $now }}\n\n# Tools\n- Email Draft: Um Email Entwürfe zu erstellen.\n- Send Email: Um Emails direkt zu senden.\n- Get Emails: Um Emails zu lesen.\n- Get Events: Um Events im Kalender einzusehen.\n- Create Event: Um ein Event im Kalender zu erstellen.\n- Reply Draft: Um einen Emailantwortentwurf zu erstellen. Führe vorher \"Get Emails\" aus um die entsprechende Message ID der Email, auf die du antworten sollst, zu bekommen.\n- Send Reply: Um einen Emailantwort zu senden. Führe vorher \"Get Emails\" aus um die entsprechende Message ID der Email, auf die du antworten sollst, zu bekommen.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[240,-120],"id":"4e9f8209-e452-4bce-b724-95d41fe22115","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.conversation.id }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[240,160],"id":"3c838c7e-aa8a-4148-8950-cb23f06ef7b5","name":"Window Buffer Memory"},{"parameters":{"httpMethod":"POST","path":"f7eb820e-e24d-4d08-b4a3-0bc05f1600a6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,-120],"id":"86ab68bb-ab20-4e3e-98fd-8643ec974c94","name":"Webhook","webhookId":"f7eb820e-e24d-4d08-b4a3-0bc05f1600a6"},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}","bodyContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Der Inhalt der Email.`, 'string') }}","additionalFields":{"toRecipients":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Die Email des Empfängers.`, 'string') }}"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[560,300],"id":"a2855937-ef54-4c1d-a620-2cc61a47ba04","name":"Email Draft","webhookId":"7b6aff15-d86e-43df-a0a9-9f96f7eaf4aa"},{"parameters":{"method":"POST","url":"https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"client id hier einfügen"},{"name":"client_secret","value":"client secret hier einfügen"},{"name":"scope","value":"https://api.botframework.com/.default"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,-120],"id":"ac3d2381-c623-4839-8ff1-2a0423728057","name":"Get OAuth Token"},{"parameters":{"method":"POST","url":"={{ $json.URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get OAuth Token').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"message"},{"name":"from.id","value":"={{ $('Webhook').item.json.body.from.id }}"},{"name":"recipient.id","value":"={{ $('Webhook').item.json.body.recipient.id }}"},{"name":"text","value":"={{ $('AI Agent').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-120],"id":"b35f7179-0cae-47dd-bf79-709a0a6c1781","name":"Send Reply to Teams"},{"parameters":{"toRecipients":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Die Email des Empfängers.`, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}","bodyContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Der Inhalt der Email.`, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[680,300],"id":"eca7a8cc-cbe2-4329-862f-883c73ed3334","name":"Send Email","webhookId":"5b51bc73-9d33-4bc0-88ee-8d333389f71b"},{"parameters":{"resource":"event","fromAllCalendars":false,"calendarId":{"__rl":true,"value":"AAMkADY3ZTRhODNhLTljMzUtNDU3Ny05ZmIyLWVkMWVkYWViMGJiMQBGAAAAAAAJus55mnsKQLaA8P6JIl0jBwBrqxsuzPqmS7QT7_eRNO1vAAAAAAEGAABrqxsuzPqmS7QT7_eRNO1vAAAAAF1bAAA=","mode":"list","cachedResultName":"Calendar"},"returnAll":true,"filters":{}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[820,300],"id":"262aa9fe-5aa9-4832-9052-3d3827d62da4","name":"Get Events","webhookId":"123d622c-d352-4c90-8ecf-7094c1fc95e2"},{"parameters":{"operation":"getAll","returnAll":true,"filtersUI":{"values":{"filters":{"foldersToInclude":["AAMkADY3ZTRhODNhLTljMzUtNDU3Ny05ZmIyLWVkMWVkYWViMGJiMQAuAAAAAAAJus55mnsKQLaA8P6JIl0jAQBrqxsuzPqmS7QT7_eRNO1vAAAAAAEMAAA="],"readStatus":"unread"}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[420,300],"id":"c280e6ec-6d4e-4fa7-811d-a26264c6196c","name":"Get Emails","webhookId":"709daa12-23a0-4bf4-b2c4-828f76461a7d"},{"parameters":{"resource":"event","operation":"create","calendarId":{"__rl":true,"value":"AAMkADY3ZTRhODNhLTljMzUtNDU3Ny05ZmIyLWVkMWVkYWViMGJiMQBGAAAAAAAJus55mnsKQLaA8P6JIl0jBwBrqxsuzPqmS7QT7_eRNO1vAAAAAAEGAABrqxsuzPqmS7QT7_eRNO1vAAAAAF1bAAA=","mode":"list","cachedResultName":"Calendar"},"subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Der Titel des Events.`, 'string') }}","startDateTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Der Startzeitpunkt des Events.`, 'string') }}","endDateTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Der Endzeitpunkt des Events.`, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[940,300],"id":"42c6608c-e49c-4943-bb6a-ca64436c6f82","name":"Create Event","webhookId":"618e8095-ff13-4bd0-9ab5-5d0c0a0b04a9"},{"parameters":{"assignments":{"assignments":[{"id":"334a429a-0c7e-4b0f-aa41-cbf4dacce84e","name":"URL","value":"={{ $('Webhook').item.json.body.serviceUrl }}/v3/conversations/{{ $('Webhook').item.json.body.conversation.id }}/activities","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,-120],"id":"8bfe3904-9711-4900-8e80-61c29bd5f737","name":"Edit Fields"},{"parameters":{"operation":"reply","messageId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Die Message ID der Nachricht.`, 'string') }}","mode":"id"},"message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Der Inhalt der Nachricht.`, 'string') }}","options":{"saveAsDraft":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Save_as_Draft', ``, 'boolean') }}"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[1240,300],"id":"f712575d-2149-44d4-adc6-8a4cbf483c24","name":"Send Reply","webhookId":"743417c1-82e0-4bee-8d20-4564a90d624a"},{"parameters":{"resource":"table","operation":"getRows","workbook":{"__rl":true,"value":"01FY5XODXV5ERYKYGKDBA35BMLZEVUI2KR","mode":"list","cachedResultName":"company_data","cachedResultUrl":"https://crystalflow-my.sharepoint.com/personal/julianivanov_crystalflow_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8523E9F5-CA60-4118-BE85-8BC92B446951%7D&file=company_data.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{B39EA57F-2ACC-40F7-8758-371CB424D98D}","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://crystalflow-my.sharepoint.com/personal/julianivanov_crystalflow_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8523E9F5-CA60-4118-BE85-8BC92B446951%7D&file=company_data.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"},"table":{"__rl":true,"value":"{3CEA3D6D-0FA7-4C06-A1A1-44C44502E5E8}","mode":"list","cachedResultName":"Table1","cachedResultUrl":"https://crystalflow-my.sharepoint.com/personal/julianivanov_crystalflow_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8523E9F5-CA60-4118-BE85-8BC92B446951%7D&file=company_data.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1:J6"},"returnAll":true,"filters":{}},"type":"n8n-nodes-base.microsoftExcelTool","typeVersion":2.1,"position":[1100,300],"id":"ab95a360-162b-4d31-a29b-c2d07d790f05","name":"Kundeninformationen"},{"parameters":{"model":"gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[80,140],"id":"23e39218-e378-4fd5-857f-95b37bfc6308","name":"Azure OpenAI Chat Model"}],"connections":{"AI Agent":{"main":[[{"node":"Get OAuth Token","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Email Draft":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get OAuth Token":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Reply to Teams","type":"main","index":0}]]},"Kundeninformationen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ae1fcd43-e67c-4c7c-907a-f598c0584944","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-28T04:24:40.103Z","createdAt":"2025-06-28T04:24:40.103Z","role":"workflow:owner","workflowId":"3K0gQwkUceCpUHnl","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}