n8n/backup/workflows/94ETyyS2kWz3tgTE.json
{"updatedAt":"2025-09-12T05:12:18.138Z","createdAt":"2025-06-16T16:10:05.961Z","id":"94ETyyS2kWz3tgTE","name":"KI-Agenten-Armee ZJS","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"output","stringValue":"={{ $('AI Agent').item.json.output }}"}]},"options":{}},"id":"9ccb0866-d9ca-4647-8b1f-14e4451f12ed","name":"Edit Fields","type":"n8n-nodes-base.set","position":[3008,-1248],"typeVersion":3.2},{"parameters":{},"id":"daf3ff35-98a3-4f97-a8d5-d8d7bf82b388","name":"Limit","type":"n8n-nodes-base.limit","position":[2784,-1248],"typeVersion":1},{"parameters":{"content":"Read contents of the chat from memory","height":217,"width":795,"color":7},"id":"5eff915d-56f9-44b9-8597-74969b21d2c9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[512,-1296],"typeVersion":1},{"parameters":{"content":"Call the assistant, passing in the previous chat messages","height":237,"width":338,"color":7},"id":"867a9fbc-147b-49fe-a4bf-66185e38f758","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1424,-1296],"typeVersion":1},{"parameters":{"content":"Add the latest chat messages to the memory","height":217,"width":298,"color":7},"id":"e41ad19a-0498-48b4-b1c3-bcc1bc4dfb47","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2160,-1296],"typeVersion":1},{"parameters":{"content":"Return the model output","height":217,"width":356,"color":7},"id":"5e9f09f4-9841-4132-8ca4-52aa92b85d9e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2544,-1296],"typeVersion":1},{"parameters":{"content":"My Personal Assistant\n","height":300.48941882630095},"id":"85fc8082-8d7a-44f3-a995-c47a27d579f0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1248,-976],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1408,-1264],"id":"b2315e78-21b5-4d77-9dc8-74511a380c3c","name":"Telegram Trigger","webhookId":"d6bcd912-9e7e-4ff2-829a-4e25d6889892","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-1440],"id":"4dd106b8-9c33-4a71-b8e0-91f2bac70bbd","name":"Audio Download","webhookId":"9c20010e-02f4-4e11-ac1b-25cd0cfddca1","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fbb1bac-e576-4534-b33a-8c7f0d9a4846","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3216,-1248],"id":"35120d30-4c80-4771-b269-cfab406f2d87","name":"If"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3696,-1264],"id":"80a9439f-66d8-43bc-917b-96f4672df237","name":"Audio senden","webhookId":"9236d5ba-4ac9-4c86-a0da-789aa80dcb46","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $('Telegram Trigger').item.json.message.caption || \"Beschreibe das Bild\"}}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3008,-880],"id":"8c77501f-8947-4fba-a420-e6de0493efbb","name":"Analysiere Bild","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,-1440],"id":"fdc05fe7-16d1-44e7-b8e4-967ba0c753d5","name":"Transkribieren","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3456,-1264],"id":"8b17a69b-c807-486a-a8a1-8cb5228e2b69","name":"Audio generieren","credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[2].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,-880],"id":"face9408-a239-499f-8a94-0c0bb4d3bdce","name":"Bild herunterladen","webhookId":"c90ad07e-3b92-4f5f-8d5f-321525149a14","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{"labelIds":["INBOX","UNREAD"]}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[784,-416],"id":"ae8d7b0c-d83a-4166-9444-1b94c3d550c7","name":"Emails lesen","webhookId":"52bfa37e-8371-40ea-9fe4-e04a221344ef","credentials":{"gmailOAuth2":{"id":"IzG4S8CMj7lyNYIQ","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $fromAI('email_adresse','Die Emailadresse des Empfängers.') }}","subject":"={{ $fromAI('email_betreff','Der Betreff der Email.') }}","emailType":"text","message":"={{ $fromAI('email_nachricht','Die Nachricht der Email.') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[912,-416],"id":"019afde2-a18a-4581-857e-8718123f8f0e","name":"Emails senden","webhookId":"8ffff9be-6b47-4b00-afe3-568725dde5ad","credentials":{"gmailOAuth2":{"id":"IzG4S8CMj7lyNYIQ","name":"Gmail account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1088,-416],"id":"0ddc8b43-0f9b-40c4-9143-cdd1a2a25ca9","name":"Kalender einsehen","credentials":{"googleCalendarOAuth2Api":{"id":"fEC6VbLuxigRZL1r","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"start":"={{ $fromAI('start') }}","end":"={{ $fromAI('ende') }}","additionalFields":{"summary":"={{ $fromAI('titel') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,-416],"id":"0eeaacd0-de42-4a50-829c-b8fb500a824d","name":"Kalendertermin planen","credentials":{"googleCalendarOAuth2Api":{"id":"fEC6VbLuxigRZL1r","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1440,-416],"id":"1bfc7974-2d98-481b-ac5f-b55c2e0d26fa","name":"Internetsuche","credentials":{"serpApi":{"id":"XUcd9LmKZ3Wtl8UR","name":"SerpAPI account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3af8999f-0611-4e73-a7b1-fc4943a05d24","name":"text","value":"={{ \n($json.message.text.length > 0) ? $json.message.text : '' \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,-1248],"id":"a17fc081-ebb0-4413-8d8b-afc7f1b19202","name":"Text standardisieren","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"1c39951a-df34-4fc6-b7b1-991bcad6f5d8","name":"output","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3216,-880],"id":"21d6b99b-1387-4f24-add2-7eb5445426a5","name":"Bild standardisieren"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-512,-944],"id":"ac7f6689-8d89-43d2-89c3-78fbef1c16c9","name":"No Operation, do nothing"},{"parameters":{"operation":"search","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1568,-416],"id":"79ae5c79-db16-46b6-942e-696aba0f33a6","name":"Notiz suchen","credentials":{"notionApi":{"id":"hAvCdmlReJSSCjEq","name":"Notion account"}}},{"parameters":{"content":"Calendar","height":220,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-480],"id":"4cfb832d-6ecc-492a-841a-18d4d8c8c345","name":"Sticky Note5"},{"parameters":{"content":"E-Mail","height":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,-480],"id":"e96f448b-515e-4103-bf1a-0f160fa7b9bb","name":"Sticky Note6"},{"parameters":{"content":"Internet","height":220,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-480],"id":"ef1e9804-55f4-4674-a267-556914b599c2","name":"Sticky Note7"},{"parameters":{"content":"Kontakte","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1728,-480],"id":"2a6355fc-cf79-4613-bc4e-a60f05769367","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1e18640-57b1-4fc6-9d60-3a5cf63a7f6c","leftValue":"={{ $json.message.from.id }}","rightValue":5154929017,"operator":{"type":"number","operation":"equals"}},{"id":"bfb5c42a-4720-405e-bba4-68377e8e4cd7","leftValue":"={{ $json.message.from.first_name }}","rightValue":".","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,-1264],"id":"494e27bb-9c83-43df-8a14-48793464043f","name":"Juergen 1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5cdbe4ef-596e-454d-8d1c-c924a355b0cd","leftValue":"={{ $json.message.from.id }}","rightValue":7523827206,"operator":{"type":"number","operation":"equals"}},{"id":"bfb5c42a-4720-405e-bba4-68377e8e4cd7","leftValue":"={{ $json.message.from.first_name }}","rightValue":"Juergen","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,-1120],"id":"0ddb4a12-e3a6-45de-8504-61c8ffd88775","name":"Juergen 017684019210"},{"parameters":{"name":"my_google_contacts_tool","workflowId":{"__rl":true,"value":"UcnR9W8PuVX43EdK","mode":"list","cachedResultName":"Google Contacts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1792,-416],"id":"12e5c98f-193e-476b-b7bd-c64718eebcad","name":"Kontakte"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1120,-1536],"id":"a2bb49ec-d129-4819-aecf-3a8857922cc4","name":"When chat message received","webhookId":"546b8a59-6ec5-49f0-b8da-f6057ee212ae"},{"parameters":{"name":"my_google_drive_tool","workflowId":{"__rl":true,"value":"BMwKdbYbHPxhEeIB","mode":"list","cachedResultName":"Google Drive"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2000,-416],"id":"c0d797b5-4080-4d0b-92f2-8c25a9e0f404","name":"Dokumente"},{"parameters":{"content":"Dokumente\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1952,-480],"id":"288f44b7-2ddb-4074-8d52-48df2de2abf8","name":"Sticky Note9"},{"parameters":{"assignments":{"assignments":[{"id":"b0ff6b0b-2781-4593-926f-3ede9a3cb03f","name":"message.text","value":"={{ $json.chatInput || $json.message?.text || json.text || 'Keine Nachricht' }}","type":"string"},{"id":"dc1967af-8e4b-493b-9a4a-862ee1823654","name":"sessionId","value":"={{ $json.sessionId || $('Telegram Trigger').item.json.message.chat.id || 'Missing ID' }}","type":"string"},{"id":"7f70a166-1fc4-4f5f-be35-77651ec345a9","name":"inputSrc","value":"={{ $('Telegram Trigger').item.json.message.message_id != empty ? 'Telegram' : '' }}","type":"string"},{"id":"05ef1ebb-58a8-4411-958c-2c8d3bee59f6","name":"message.from.first_name","value":"={{ $('Telegram Trigger').item.json.message.from.first_name || 'Missing Name' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-1264],"id":"3b9fb1c9-b3eb-41f7-9380-c9c4e08bc5f9","name":"Edit Fields1","alwaysOutputData":false},{"parameters":{"jsCode":"// Verwende Input-Daten statt Node-Referenz\nconst inputData = $input.all();\nconst text = inputData[0]?.json?.message?.text || ' ';\n\nreturn [{\n  json: {\n    message: { text: text }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,-1184],"id":"78510a13-4d3b-41f6-a804-a307c21ea7c3","name":"Code1"},{"parameters":{"name":"my_aktien_tool","workflowId":{"__rl":true,"value":"wPGU0ZUSPURhjZ2O","mode":"list","cachedResultName":"Aktien_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2224,-416],"id":"266b04af-f478-48f0-a3fe-c760d5d75b2b","name":"Aktien"},{"parameters":{"content":"Aktien\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,-480],"id":"fa1d8c6b-d35e-45af-b6e7-b072a8e5a80b","name":"Sticky Note10"},{"parameters":{"content":"Marketing\n","height":220,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2384,-480],"id":"c588b603-66a0-44c1-b5db-44f8a2424aa7","name":"Sticky Note11"},{"parameters":{"workflowId":{"__rl":true,"value":"X63lashCAP9VAHHw","mode":"list","cachedResultName":"AI_Marketing_Team"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","messageID":"={{ $('Telegram Trigger').item.json.message.message_id }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messageID","displayName":"messageID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"voiceFileID","displayName":"voiceFileID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2448,-416],"id":"711e70d4-836b-4319-a68b-d646d316d7d0","name":"Marketing"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('Text standardisieren').item.json.text }}"},{"type":"ai","message":"={{ $json.output }}"}]}},"id":"f3a4c77d-63dc-4c0c-88df-bba41d9e72d1","name":"Chat Memory Manager insert","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[2176,-1248],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"options":{"groupMessages":true}},"id":"23a166ce-7938-488f-bedd-e9a88175d0a8","name":"Chat Memory Manager get","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[752,-1248],"typeVersion":1,"alwaysOutputData":true,"retryOnFail":false,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"={{ $json.messages }}","include":"=","options":{}},"id":"5c6b0da6-e954-42f1-a1e7-bd2bad944d56","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[1136,-1248],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"sessionKey":"=123","contextWindowLength":20},"id":"d8d21ca8-f732-4549-86ed-db21b3075fb6","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1888,-1088],"typeVersion":1.1},{"parameters":{"chatId":"={{ \n// $('Telegram Trigger').item.json.message.chat.id || '' \n\n$('Edit Fields1').item.json.sessionId\n}}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3440,-944],"id":"0b30eb46-efe3-4e8f-aeff-400b18bd6432","name":"Telegram3","webhookId":"ad89eae3-d894-4067-b25a-da272028913e","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"f66b31c9-e4a0-45f5-a08a-558b85a7aeb3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3388ce7f-5682-4851-8fce-65cd19c74ab1","leftValue":"={{\n($json.message.text.length > 0) ? $json.message.text : ''\n}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c967cd2-c18e-430d-a931-2866d1094eb2","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bild"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-288,-1264],"id":"57621932-8604-47d9-967e-56f4db9e2825","name":"Switch1"},{"parameters":{"jsCode":"const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,-880],"id":"45096136-69a0-49bc-9e3b-b31260650bdf","name":"Code2"},{"parameters":{"promptType":"define","text":"=## Our Previous Conversation:\n{{ \n  ($json.messages && Array.isArray($json.messages) && $json.messages.length > 0) ? \n    $json.messages.map(m => `Human: ${m.human || ''}\\nAI Assistant: ${m.ai || ''}`).join('\\n') : \n    ''\n}}\n## Current message:\n{{ \n($('Text standardisieren').isExecuted) ? $('Text standardisieren').item.json.text : '' \n}}","options":{"systemMessage":"=# ROLLE\nDu bist ein freundlicher und hilfreicher Agent namens Jarvis.\n\n# EXTRA INFORMATIONEN\nDu sprichst gerade mit {{ $('Switch1').item.json.message.from.first_name }}\nDas aktuelle Datum und die aktuelle Zeit sind: {{ $now }}\n\n# TOOLS\n\n## Emails lesen\nNutze dieses Tool, um Emails zu lesen.\n\n## Emails senden\nNutze dieses Tool, um Emails zu versenden.\n\n## Kalender einsehen\nNutze dieses Tool, um Termine im Kalender einzusehen.\n\n## Kalendertermin planen\nNutze dieses Tool, um Termine im Kalender zu planen.\n\n## Internetsuche\nNutze dieses Tool, um das Internet zu durchsuchen.\n\n## Kontakte\nNutze dieses Tool, um Informationen über Kontakte abzurufen, wie z.B. Email-Adressen oder Rufnummern.\n\n## Notiz suchen\nNutze dieses Tool, um Notizen zu durchsuchen.\n\n## Notiz erstellen\nNutze dieses Tool, um Notizen zu erstellen.\n\n## Dokumente suchen\nNutze dieses Tool, um Dokumente zu suchen.\n\n## Marketing\nNutze dieses Tool, um Marketing Aufgaben zu erledigen. Übergebe folgende JSson Anfrage an dieses Tool:\n{\n\"query\": {{ $('Text standardisieren').item.json.text }}\n}\nÄnder nichts an dieser Rückmeldung und gebe diese ohne weitere inhaltliche Änderungen oder Formatänderungen aus.\n\n## Aktien analysieren\nNutze dieses Tool, um Aktien zu analysieren. Übergebe folgende JSson Anfrage an dieses Tool:\n{\n\"exchange\": <example value NASDAQ for stock exchange platform >\n\"symbol\": <example value MSFT for ticker-symbol>,\n\"message_id\": {{ $('Telegram Trigger').item.json.message.message_id }},\n\"chat_id\": {{ $('Telegram Trigger').item.json.message.chat.id }},\n\"query\": <query text>\n}\nÄnder nichts an dieser Rückmeldung und gebe diese ohne weitere inhaltliche Änderungen oder Formatänderungen aus.\n\n## Error handling\nIn case of any error, add the error message to the output, without any modification.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1472,-1248],"id":"4045493c-4bfa-4141-8860-1946b8888cc9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,-1056],"id":"5c0074e0-d683-42cd-b722-63a3f247e0b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2464,-1568],"id":"49d04fe0-ceaa-4f7e-8c09-f13469d6fc3c","name":"When clicking ‘Execute workflow’"}],"connections":{"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Juergen 017684019210","type":"main","index":0},{"node":"Juergen 1","type":"main","index":0}]]},"Audio Download":{"main":[[{"node":"Transkribieren","type":"main","index":0}]]},"If":{"main":[[{"node":"Audio generieren","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Analysiere Bild":{"main":[[{"node":"Bild standardisieren","type":"main","index":0}]]},"Transkribieren":{"main":[[{"node":"Text standardisieren","type":"main","index":0}]]},"Audio generieren":{"main":[[{"node":"Audio senden","type":"main","index":0}]]},"Bild herunterladen":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Emails lesen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Emails senden":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kalender einsehen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kalendertermin planen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Internetsuche":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Text standardisieren":{"main":[[{"node":"Chat Memory Manager get","type":"main","index":0}]]},"Bild standardisieren":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Notiz suchen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Juergen 1":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Juergen 017684019210":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Kontakte":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Dokumente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Aktien":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Marketing":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Chat Memory Manager insert":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Chat Memory Manager get":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Chat Memory Manager get","type":"ai_memory","index":0},{"node":"Chat Memory Manager insert","type":"ai_memory","index":0}]]},"Switch1":{"main":[[{"node":"Audio Download","type":"main","index":0}],[{"node":"Text standardisieren","type":"main","index":0}],[{"node":"Bild herunterladen","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Analysiere Bild","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Chat Memory Manager insert","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1751534452,"possibleDuplicates":["197cf96c332d979f","197cf29051449c21"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Telegram Trigger":[{"json":{"update_id":411632742,"message":{"message_id":371,"from":{"id":7523827206,"is_bot":false,"first_name":"Juergen","language_code":"de"},"chat":{"id":7523827206,"first_name":"Juergen","type":"private"},"date":1751613152,"text":"Please let Marketing create a video of  an ai agent is hunting business professionals"}}}]},"versionId":"4bd5d171-2fdd-4fb7-b675-612fafa02618","activeVersionId":"4bd5d171-2fdd-4fb7-b675-612fafa02618","versionCounter":23,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:09:33.847Z","createdAt":"2025-06-24T20:09:33.847Z","role":"workflow:owner","workflowId":"94ETyyS2kWz3tgTE","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}