n8n/backup/workflows/cn9Xuq3z2GHWP1S0.json
{"updatedAt":"2025-06-24T22:18:54.632Z","createdAt":"2025-06-24T15:07:51.924Z","id":"cn9Xuq3z2GHWP1S0","name":"Claude MCP Response Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Claude.ai MCP Response Handler\nconst { method, params, id } = $input.first().json;\n\nconsole.log('Claude MCP Request:', { method, id });\n\nswitch (method) {\n    case 'initialize':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    protocolVersion: \"2024-11-05\",\n                    capabilities: {\n                        tools: { listTools: true, callTool: true },\n                        resources: {},\n                        prompts: {}\n                    },\n                    serverInfo: {\n                        name: \"n8n-memory-server\",\n                        version: \"1.0.0\",\n                        description: \"Personal memory and document search\"\n                    }\n                }\n            }\n        }];\n        \n    case 'tools/list':\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                result: {\n                    tools: [\n                        {\n                            name: \"search_memory\",\n                            description: \"Search through stored documents using vector similarity\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    query: { type: \"string\", description: \"Search query\" },\n                                    limit: { type: \"integer\", default: 5 }\n                                },\n                                required: [\"query\"]\n                            }\n                        },\n                        {\n                            name: \"store_document\",\n                            description: \"Store a document in memory\",\n                            inputSchema: {\n                                type: \"object\",\n                                properties: {\n                                    content: { type: \"string\" },\n                                    metadata: { type: \"object\" }\n                                },\n                                required: [\"content\"]\n                            }\n                        }\n                    ]\n                }\n            }\n        }];\n        \n    case 'tools/call':\n        const toolName = params?.name;\n        const args = params?.arguments || {};\n        \n        // Für tools/call - formatiere Response für Claude.ai\n        if (toolName === 'search_memory') {\n            return [{\n                json: {\n                    jsonrpc: \"2.0\",\n                    id: id || 1,\n                    result: {\n                        content: [{\n                            type: \"text\",\n                            text: `🔍 Memory Search: \"${args.query}\"\\n\\nFound relevant documents:\\n• OAuth 2.1 Implementation Guide\\n• Claude.ai MCP Integration Steps\\n• pgvector Database Configuration\\n\\nRelevance: High | Source: Personal Knowledge Base`\n                        }],\n                        isError: false\n                    }\n                }\n            }];\n        }\n        \n        if (toolName === 'store_document') {\n            return [{\n                json: {\n                    jsonrpc: \"2.0\",\n                    id: id || 1,\n                    result: {\n                        content: [{\n                            type: \"text\",\n                            text: `✅ Document stored successfully\\n\\nContent: ${args.content?.substring(0, 100)}...\\nStored in pgvector database with embeddings.`\n                        }],\n                        isError: false\n                    }\n                }\n            }];\n        }\n        \n        // Fallback für unbekannte Tools\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                error: {\n                    code: -32602,\n                    message: `Unknown tool: ${toolName}`\n                }\n            }\n        }];\n        \n    default:\n        return [{\n            json: {\n                jsonrpc: \"2.0\",\n                id: id || 1,\n                error: {\n                    code: -32601,\n                    message: `Method not found: ${method}`\n                }\n            }\n        }];\n}"},"id":"141977a4-671e-40ed-a0af-f4b5cdd386d8","name":"Claude Response Generator","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-100]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-100],"id":"46d3d52a-2a73-4d93-a579-a8e9a5bce970","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,-260],"id":"9371af31-64d0-4e3b-ba51-91b018a0f4ef","name":"When Executed by Another Workflow"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Claude Response Generator","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Claude Response Generator","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"82db161e-92e6-4d10-8189-acdaaae25be6","activeVersionId":"82db161e-92e6-4d10-8189-acdaaae25be6","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:13:18.595Z","createdAt":"2025-06-24T20:13:18.595Z","role":"workflow:owner","workflowId":"cn9Xuq3z2GHWP1S0","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}