n8n/backup/workflows/cPdxgsSyecE9nuDD.json
{"updatedAt":"2025-07-01T15:53:58.895Z","createdAt":"2025-06-30T13:11:06.272Z","id":"cPdxgsSyecE9nuDD","name":"Search_Images","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-720,560],"id":"9216de84-8c87-41be-8ed7-593bf89b5e0d","name":"GPT 4.1 mini","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-600,560],"id":"8c96a986-98eb-463a-9133-f6609691ec19","name":"Image Database","credentials":{"googleSheetsOAuth2Api":{"id":"kqWF6D5OmglPCaqB","name":"Google Sheets account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"intent"},{"name":"image"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-880,300],"id":"585b64b8-2aa1-4429-b459-9b6ae81508dd","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Image: {{ $json.image }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an Image Retrieval Agent. When the user provides a query, your task is to search the \"Image Database\" using the keywords from the query. Locate the most relevant matching image.\n\n## Output\n- Return the name, ID, and the Link of the image\n- If no image is found, output \"Not Found\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-600,300],"id":"536fdfff-82e7-40ba-b73e-33a2130f3de6","name":"Image Search Agent"},{"parameters":{"assignments":{"assignments":[{"id":"44c36e1d-19e8-4411-bd3d-86c5144ecb14","name":"response","value":"Image wasn't found in the database","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,40],"id":"1459b9b2-c9fd-41d9-a1ca-bf7a8c56dd5a","name":"Not Found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a9fd85-2403-423e-92a2-d3ba20db83d9","leftValue":"={{ $('When Executed by Another Workflow').first().json.intent }}","rightValue":"Get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,300],"id":"eba7a277-4aef-4397-b7c1-f687848ea134","name":"Get?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85e307aa-0bb8-40f1-b62e-5b36c231b0af","leftValue":"={{ $json.output.status }}","rightValue":"Not Found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,300],"id":"9a6cb6d7-41a4-4904-bc00-b41d2953c51c","name":"Not Found?"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.output.image_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,300],"id":"8321c2c0-1e3e-40ec-920e-62d2429ec062","name":"Download File","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}},{"parameters":{"content":"# Trigger\n","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,220],"id":"efd2884f-d0a3-4e22-b7ce-eab461bd8f00","name":"Sticky Note5","disabled":true},{"parameters":{"content":"## Tool & Model","height":200,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,500],"id":"fb806a34-13ec-47f7-9d94-6ae9647bbaa3","name":"Sticky Note2"},{"parameters":{"content":"# Image Search\n","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,220],"id":"df9f7e06-f737-490a-b229-186ac1160620","name":"Sticky Note4"},{"parameters":{"content":"## Structured Output","height":200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-460,500],"id":"1043e182-e4ca-487a-9568-1e17746a20bb","name":"Sticky Note3"},{"parameters":{"jsonSchemaExample":"{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-380,560],"id":"05ed17db-6ab9-42c4-a9e0-80a23e377ff3","name":"Name, ID, & Link"},{"parameters":{"content":"# Not Found?","height":260,"width":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,220],"id":"dc3b61b9-4890-4b54-92ca-672b043418ec","name":"Sticky Note"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6cf88e8c-f35c-4a38-9732-97987b2bafda","name":"Sticky Note1"},{"parameters":{"content":"# Get?","height":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,220],"id":"24a174a2-6199-4168-9f32-3a7161710735","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"be32fa20-d1e6-4831-a266-5991e5c4eb1e","name":"imageName","value":"={{ $json.output.image_name }}","type":"string"},{"id":"10b5ddb9-a482-46a7-962f-8e18533d90d5","name":"imageID","value":"={{ $json.output.image_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,540],"id":"7b74e4cd-dd82-4690-ac95-8190ba9a99b0","name":"Edit"},{"parameters":{"content":"","height":200,"width":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,500],"id":"1768c224-3f50-44e4-a5e7-d0710ed15f34","name":"Sticky Note7"},{"parameters":{"content":"# Send Content","height":260,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[500,220],"id":"9d8a7e2d-f28f-40d5-b50f-8b23034a3bd4","name":"Sticky Note8"},{"parameters":{"content":"# Download\n","height":260,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,220],"id":"b4a63cb1-97ff-4941-b20d-87b9858bceb2","name":"Sticky Note9"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,300],"id":"73e60431-5024-4166-8603-986fb99e5d1a","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}}],"connections":{"GPT 4.1 mini":{"ai_languageModel":[[{"node":"Image Search Agent","type":"ai_languageModel","index":0}]]},"Image Database":{"ai_tool":[[{"node":"Image Search Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Search Agent","type":"main","index":0}]]},"Image Search Agent":{"main":[[{"node":"Not Found?","type":"main","index":0}]]},"Not Found?":{"main":[[{"node":"Not Found","type":"main","index":0}],[{"node":"Get?","type":"main","index":0}]]},"Get?":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Edit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Photo","type":"main","index":0}]]},"Name, ID, & Link":{"ai_outputParser":[[{"node":"Image Search Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2b656d0-4523-4ec4-bc2f-6d3293481d1c","activeVersionId":"d2b656d0-4523-4ec4-bc2f-6d3293481d1c","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-30T13:11:06.272Z","createdAt":"2025-06-30T13:11:06.272Z","role":"workflow:owner","workflowId":"cPdxgsSyecE9nuDD","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}