n8n/backup/workflows/DkhLo6Y2kXJNueAb.json
{"updatedAt":"2025-06-24T22:23:35.186Z","createdAt":"2025-06-16T06:52:25.300Z","id":"DkhLo6Y2kXJNueAb","name":"1000+-Email-Leads-Template","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const data = $input.first().json.data\n \nconst regex = /https?:\\/\\/[^\\/]+/g\n \nurls = data.match(regex)\n \nreturn urls.map(url => ({json: {url: url}}))"},"id":"33fc578e-c859-44de-861b-a1ced6b2f8e8","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ecfbe72-c09a-482e-8f81-43d9e7bb2917","leftValue":"={{ $json.url }}","rightValue":"(google|gstatic|ggpht|schema|example)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"id":"92798803-386f-4d27-97c4-d2608fe3d50e","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[460,300]},{"parameters":{"compare":"selectedFields","fieldsToCompare":"url","options":{}},"id":"be5370b9-5c54-4cd6-8de8-892b61a1164b","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[40,520]},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"28a4045a-8c43-4721-be2d-59a4e4874d85","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,620],"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"db5ecf16-22eb-4fa4-a12a-aa0d92111e1d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[220,520],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $json.data;\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\nlet emails = data.match(emailRegex) || [];\n\n// Filter out suspicious emails\nemails = emails.filter(email => {\n    const [localPart, domain] = email.split(\"@\");\n\n    // Check length constraints\n    if (email.length < 6 || email.length > 100) return false; // Too short or too long\n    if (localPart.length > 64 || domain.length > 255) return false; // RFC limits\n\n    // Check if local part is hex-like (e.g., long alphanumeric strings)\n    if (/^[a-f0-9]{24,}$/.test(localPart)) return false; // Likely a bot email\n\n    return true;\n});\n\nconsole.log(emails);\n\nreturn { json: { emails: emails } };"},"id":"f2e2b925-2376-4e85-aabd-e798b611474b","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,620],"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1wMhefdpYp6NGeX9WVHfBYBm0h3bDfDhRy9Kl8APXU0o","mode":"list","cachedResultName":"Email Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wMhefdpYp6NGeX9WVHfBYBm0h3bDfDhRy9Kl8APXU0o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tabellenblatt1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wMhefdpYp6NGeX9WVHfBYBm0h3bDfDhRy9Kl8APXU0o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Emails":"={{ $json.emails }}"},"matchingColumns":["Emails"],"schema":[{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ad98aec3-27cd-429b-83b7-2debe697c8cd","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[980,660]},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{}},"id":"a6f1fd43-7efb-4d86-8d3a-40c85f901886","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,300]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":true}},"id":"fe3ffecb-91a5-4654-a64c-b4b670eedc31","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,440]},{"parameters":{"compare":"selectedFields","fieldsToCompare":"emails","options":{}},"id":"69e43d36-1ded-4aaa-aaf9-d4bbebd00468","name":"Remove Duplicates1","type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1160,440],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"119bfd8e-8d1e-4bc8-8bf2-bc62ef22c986","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,220],"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[600,520],"id":"1a4978b1-af68-408c-8408-761629659030","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,660],"id":"9b90c774-c8a5-4fe5-afe2-f50daa388124","name":"Wait","webhookId":"656fb0b5-4217-418a-b144-1538ef2e9088"},{"parameters":{"formTitle":"Email Lead Generator","formDescription":"Erhalte hunderte E-Mail-Adressen valider Unternehmen aus einer bestimmten Stadt.","formFields":{"values":[{"fieldLabel":"Schlüsselwort","placeholder":"Friseur","requiredField":true},{"fieldLabel":"Stadt","placeholder":"Berlin","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"e4c5cc51-23c2-464a-b274-84e8aca7848c","name":"On form submission","webhookId":"4e46fe06-80bc-47a0-9178-d8a745581588"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Gib mir eine Liste von Suchanfragen für das Schlüsselwort '{{ $json['Schlüsselwort'] }}' für alle Stadtteile/Viertel von {{ $json.Stadt }}.\n\nDie Struktur muss dem folgenden JSON entsprechen:\n\n{\n  \"queries\": [\n    {\n      \"query\": \"berlin+lichterfelde+ost+friseur\"\n    }  \n  ]\n}\n","role":"system"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[120,0],"id":"5bdcc2da-b756-4d5b-a61e-129b55f3ea66","name":"Build Queries"},{"parameters":{"fieldToSplitOut":"=choices[0].message.content.queries","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,0],"id":"02a9c525-2076-4553-8a54-ec5ced84cdd9","name":"Split Out1"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"4fcdd735-cc9f-4ef7-baf3-c75ab39658c4","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1020,440],"alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"Code":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Build Queries","type":"main","index":0}]]},"Build Queries":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fe718b0d-1212-46cd-b195-825064c41efb","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:10:14.165Z","createdAt":"2025-06-24T20:10:14.165Z","role":"workflow:owner","workflowId":"DkhLo6Y2kXJNueAb","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}