n8n/backup/workflows/eBVbiwAI6aH6R2fm.json
{"updatedAt":"2025-06-24T22:23:41.099Z","createdAt":"2025-06-16T06:45:23.585Z","id":"eBVbiwAI6aH6R2fm","name":"Die_besten_KI_Agenten_Konzepte","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# PROMPT-CHAINING\nPrompt-Chaining zerlegt eine Aufgabe in eine Abfolge von Schritten, wobei jeder LLM-Aufruf die Ausgabe des vorherigen verarbeitet.\n\n![Bildbeschreibung](https://www.anthropic.com/_next/image?url=https%3A%2F%2Fwww-cdn.anthropic.com%2Fimages%2F4zrzovbb%2Fwebsite%2F7418719e3dab222dccb379b8879e1dc08ad34c78-2401x1000.png&w=3840&q=75)\n\n## Wann dieser Workflow verwendet werden sollte:\nDieser Workflow eignet sich ideal für Situationen, in denen eine Aufgabe leicht und klar in feste Teilaufgaben zerlegt werden kann. Das Hauptziel besteht darin, Latenz gegen höhere Genauigkeit einzutauschen, indem jeder LLM-Aufruf eine einfachere Teilaufgabe übernimmt.\n\n### Vorteile\n- Zerlegt die Arbeit in einfachere Abschnitte, wodurch es für jedes LLM leichter wird, daran zu arbeiten.\n- Bietet mehr Flexibilität, da in jeder Phase eines Tasks unterschiedliche Modelle verwendet werden können.\n- Einfacher zu debuggen, da der Prozess in überschaubare Teile aufgeteilt ist.\n","height":720,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7ddac178-03cf-40ea-a82b-b6c2d6325294","name":"Sticky Note"},{"parameters":{"content":"# ROUTING\nRouting klassifiziert eine Eingabe und leitet sie an eine spezialisierte Folgeaufgabe weiter. Dieser Workflow ermöglicht eine klare Trennung von Zuständigkeiten und den Aufbau spezialisierter Prompts. Ohne diesen Workflow kann die Optimierung für eine bestimmte Eingabe die Leistung für andere Eingaben verschlechtern.\n\n![Bildbeschreibung](https://www.anthropic.com/_next/image?url=https%3A%2F%2Fwww-cdn.anthropic.com%2Fimages%2F4zrzovbb%2Fwebsite%2F5c0c0e9fe4def0b584c04d37849941da55e5e71c-2401x1000.png&w=3840&q=75)\n\n## Wann dieser Workflow verwendet werden sollte:\nRouting eignet sich gut für komplexe Aufgaben, bei denen es unterschiedliche Kategorien gibt, die besser getrennt verarbeitet werden, und bei denen die Klassifizierung entweder durch ein LLM oder ein traditionelles Klassifizierungsmodell/-algorithmus genau durchgeführt werden kann.\n","height":620,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,760],"id":"98278c86-bb01-4079-b84e-bb330d9fc3c8","name":"Sticky Note1"},{"parameters":{"content":"# PARALLELISIERUNG\nLLMs können manchmal gleichzeitig an einer Aufgabe arbeiten, wobei ihre Ausgaben programmatisch zusammengeführt werden. Dieser Workflow, die Parallelisierung, zeigt sich in zwei Hauptvarianten:\n\n## Sectioning:\nAufteilung einer Aufgabe in unabhängige Teilaufgaben, die parallel ausgeführt werden.\n\n## Voting:\nMehrmalige Ausführung derselben Aufgabe, um unterschiedliche Ergebnisse zu erhalten.\n\n![Bildbeschreibung](https://www.anthropic.com/_next/image?url=https%3A%2F%2Fwww-cdn.anthropic.com%2Fimages%2F4zrzovbb%2Fwebsite%2F406bb032ca007fd1624f261af717d70e6ca86286-2401x1000.png&w=3840&q=75)\n\n## Wann dieser Workflow verwendet werden sollte:\nParallelisierung ist effektiv, wenn die aufgeteilten Teilaufgaben parallel ausgeführt werden können, um die Geschwindigkeit zu erhöhen, oder wenn mehrere Perspektiven bzw. Versuche erforderlich sind, um zuverlässigere Ergebnisse zu erzielen. Bei komplexen Aufgaben mit mehreren Aspekten erzielen LLMs in der Regel bessere Ergebnisse, wenn jeder Aspekt durch einen separaten LLM-Aufruf behandelt wird, wodurch gezielte Aufmerksamkeit auf jede spezifische Fragestellung ermöglicht wird.\n","height":800,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1420],"id":"b7b887bd-2837-4942-a90f-b843b5a64df0","name":"Sticky Note2"},{"parameters":{"content":"# Orchestrator-workers\nIm Orchestrator-Workers-Workflow bricht ein zentrales LLM dynamisch Aufgaben auf, delegiert sie an Worker-LLMs und synthetisiert deren Ergebnisse.\n![Bildbeschreibung](https://www.anthropic.com/_next/image?url=https%3A%2F%2Fwww-cdn.anthropic.com%2Fimages%2F4zrzovbb%2Fwebsite%2F8985fc683fae4780fb34eab1365ab78c7e51bc8e-2401x1000.png&w=3840&q=75)\n## Wann man diesen Workflow verwenden sollte:\nDieser Workflow eignet sich gut für komplexe Aufgaben, bei denen die benötigten Unteraufgaben nicht vorhergesagt werden können (zum Beispiel bei der Programmierung, wo die Anzahl der zu ändernden Dateien und die Art der Änderungen in jeder Datei wahrscheinlich von der Aufgabe abhängen). Obwohl er topografisch ähnlich ist, besteht der wesentliche Unterschied zur Parallelisierung in seiner Flexibilität – Unteraufgaben sind nicht vordefiniert, sondern werden vom Orchestrator basierend auf der spezifischen Eingabe bestimmt.\n","height":600,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2260],"id":"f4c18e5a-8430-451b-83dd-2f4209b64467","name":"Sticky Note3"},{"parameters":{"content":"# EVALUATOR-OPTIMIZER\nIm Evaluator-Optimizer-Workflow generiert ein LLM-Aufruf eine Antwort, während ein anderer die Bewertung und Rückmeldung in einer Schleife liefert.\n\n![Bildbeschreibung](https://www.anthropic.com/_next/image?url=https%3A%2F%2Fwww-cdn.anthropic.com%2Fimages%2F4zrzovbb%2Fwebsite%2F14f51e6406ccb29e695da48b17017e899a6119c7-2401x1000.png&w=3840&q=75)\n\n## Wann dieser Workflow verwendet werden sollte:\nDieser Workflow ist besonders effektiv, wenn klare Bewertungskriterien vorliegen und wenn iteratives Verfeinern messbaren Nutzen bringt. Die beiden Anzeichen für eine gute Passung sind erstens, dass die LLM-Antworten nachweislich verbessert werden können, wenn ein Mensch sein Feedback formuliert; und zweitens, dass das LLM solches Feedback liefern kann. Dies ist analog zum iterativen Schreibprozess, den ein menschlicher Autor durchlaufen könnte, um ein ausgefeiltes Dokument zu erstellen.\n","height":620,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2880],"id":"4f364dbc-0d77-413c-b22c-88e61591e683","name":"Sticky Note4"},{"parameters":{"content":"# AGENTEN\nAgenten nutzen die Fähigkeiten von LLMs, komplexe Eingaben zu verstehen, zu schlussfolgern und zu planen, zuverlässig Werkzeuge zu verwenden und Fehler zu beheben. Sie beginnen in der Regel mit entweder einem direkten Befehl oder einer interaktiven Unterhaltung mit dem Nutzer. Sobald die Aufgabe klar ist, planen und arbeiten die Agenten eigenständig, können aber für zusätzliche Informationen oder Urteile zum Nutzer zurückkehren. Während der Ausführung ist es wichtig, dass sie Echtzeit-Feedback (wie z. B. Ergebnisse von Werkzeugen oder Ausgaben von Codeausführungen) sammeln, um den Fortschritt zu überwachen. Sie können an Kontrollpunkten oder bei Hindernissen eine Pause für menschliches Feedback einlegen. Aufgaben enden in der Regel nach der Fertigstellung, obwohl Stoppbedingungen (wie eine maximale Anzahl an Iterationen) oft zur Kontrolle festgelegt werden.\n\nObwohl Agenten komplexe Aufgaben verwalten können, ist ihre Implementierung in der Regel einfach. Sie sind im Wesentlichen LLMs, die basierend auf Feedback aus der Umgebung durch die Nutzung von Werkzeugen schleifen. Daher ist es entscheidend, sowohl die Werkzeuge als auch deren Dokumentation sorgfältig zu gestalten.\n\n![Bildbeschreibung](https://www.anthropic.com/_next/image?url=https%3A%2F%2Fwww-cdn.anthropic.com%2Fimages%2F4zrzovbb%2Fwebsite%2F58d9f10c985c4eb5d53798dea315f7bb5ab6249e-2401x1000.png&w=3840&q=75)\n\n## Wann dieser Workflow verwendet werden sollte:\nAgenten können für offene Probleme verwendet werden, bei denen es schwierig oder unmöglich ist, die erforderliche Anzahl an Schritten vorherzusagen, und bei denen kein fester Pfad festgelegt werden kann. Das LLM wird möglicherweise viele Schritte ausführen, und es ist wichtig, ein gewisses Maß an Vertrauen in seine Entscheidungsfindung zu haben. Die Autonomie der Agenten macht sie ideal, um Aufgaben in vertrauenswürdigen Umgebungen zu skalieren.\n\nDie autonome Natur von Agenten führt jedoch zu höheren Kosten und der Möglichkeit sich häufender Fehler. Wir empfehlen umfangreiche Tests in abgesicherten Umgebungen sowie die entsprechenden Sicherheitsvorkehrungen.\n","height":920,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,3540],"id":"504df958-f418-40d8-aec4-bc6abad6480a","name":"Sticky Note5"},{"parameters":{"inputText":"=Dein Ziel ist es, genau zu verstehen, welche Art von Inhalten der Nutzer basierend auf seiner Anfrage erwartet: {{ $json.chatInput }}\n","categories":{"categories":[{"category":"Gedicht","description":"gedicht"},{"category":"Witz","description":"witz"},{"category":"Geschichte","description":"geschichte"},{"category":"Nicht klar","description":"Wenn nicht klar ist, welche Art von Inhalt der Nutzer möchte."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1280,960],"id":"fcd7df04-f01c-4c61-98e4-7fa40c868d05","name":"Text Classifier"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\":  \"Ich bin mir nicht sicher, welche Art von Inhalt du möchtest. Könntest du bitte klären, ob du ein **Gedicht**, einen **Witz** oder eine **Geschichte** möchtest?\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1220],"id":"6b4181d3-036d-437f-bf18-bf31ce409206","name":"Error Message"},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1420,1220],"id":"b0bc8969-1d90-431a-a45f-e8de51757189","name":"O3-mini-Routing"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1180,1920],"id":"567caa21-4f8b-444c-80b9-4fe85663e9e2","name":"SerpAPI"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {{ JSON.stringify(`\n🏨 Hotelempfehlungen:  \n${$('Merge').all()[0].json.output}  \n\n👨‍🍳 Restaurantempfehlungen:  \n${$('Merge').all()[1].json.output}  \n\n🎯 Aktivitätsempfehlungen:  \n${$('Merge').all()[2].json.output}  \n`) }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1700],"id":"94cc8779-565a-441a-9155-e2adc6568d0d","name":"Aggregator","executeOnce":true},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1920,1700],"id":"e05a1511-fbdc-4334-bb96-1001b6e23d49","name":"Merge","executeOnce":false},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3600,1700],"id":"60200574-6f8f-4fb2-86c0-1f8c0d0ed193","name":"Voting Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chatInput\": \"{{ $json.message.text }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,1720],"id":"06cba8bf-f63b-4864-9eb2-8318f1217f22","name":"Sectioning"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chatInput\": \"{{ $json.message.text }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2760,1700],"id":"226a785e-bceb-415c-b182-77fd8fb9efb8","name":"Voting"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chatInput\": \"{{ $json.message.text }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,960],"id":"dc05ee69-cab5-4f9a-9fdc-aad33bc5748d","name":"Routing"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"topic\": \"{{ $json.message.text }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,260],"id":"7accd9b5-85bb-4a6c-b581-a0207453f1e8","name":"Prompt Chaining"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,4040],"id":"83a61dbf-a3c8-4752-b8a2-91b4a8d3e540","name":"Agents - O3-MINI"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chatInput\": \"{{ $json.message.text }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,2440],"id":"b006e9f8-b68f-4b53-8cfe-fd011d530d77","name":"Orchestrator"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=Du bist ein Orchestrator. Ein Benutzer wird einen Text bereitstellen und die Sprache(n) angeben, in die der Text übersetzt werden soll.\n\nDein Ziel:\n1. Identifiziere alle Sprachen, in die der Benutzer den Text übersetzen möchte.\n2. Identifiziere den Text.\n3. Erzeuge ein gültiges JSON-Array, bei dem jedes Element wie folgt aussieht:\n   {\n     \"language\": \"<Zielsprache>\",\n     \"text\": \"<Originaltext>\"\n   }\n\nEinschränkungen:\n- Gib nur das JSON-Array aus, nichts anderes.\n- Wenn mehrere Sprachen angegeben werden, erstelle für jede Sprache ein Objekt.\n- Wenn keine Sprachen angegeben sind, gib ein leeres Array aus.\n\nBeispiel-Eingabe:\n\"Please translate the following to Spanish, Turkish, and French -> Hello! I just arrived in Barcelona...\"\n\nErwartete Ausgabe (gültiges JSON):\n[\n  {\n    \"language\": \"Spanisch\",\n    \"text\": \"Hello! I just arrived in Barcelona...\"\n  },\n  {\n    \"language\": \"Englisch\",\n    \"text\": \"Hello! I just arrived in Barcelona...\"\n  },\n  {\n    \"language\": \"Französisch\",\n    \"text\": \"Hello! I just arrived in Barcelona...\"\n  }\n]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1340,2440],"id":"83269848-2af6-4e47-a43f-f1c11ed9a03a","name":"Orchestrator Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1640,2660],"id":"22c5c036-69dc-4ad0-bcb4-c52ae6d12cb6","name":"O3-mini-Routing2"},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1180,1560],"id":"fe4c1124-27ab-479a-a7ec-d096922bcdd7","name":"O3-mini-P"},{"parameters":{"sessionIdType":"customKey","sessionKey":"gmail_agent"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1260,4040],"id":"75ae54e6-846e-4412-b184-fe00b0217522","name":"Window Buffer Memory"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1680,2440],"id":"8dd503f0-6d86-40ed-a812-cebe222470df","name":"Split Out"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"language\": \"English\",\n    \"text\": \"Sample text, Hi there, My name is John\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1360,2660],"id":"db73047c-b8a6-40ca-abb0-2b88c5a11cb2","name":"Translation Array"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2180,2440],"id":"2cc2878c-fe28-48bd-a1f2-69f5a83b163e","name":"Translated Text"},{"parameters":{"sendTo":"s.claes.work@gmail.com","subject":"=Übersetzter Text","emailType":"text","message":"={{ $json.output.join('\\n\\n') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2320,2440],"id":"a55a8d89-77ad-477a-ab43-bd3df4e6c7b7","name":"Gmail3","webhookId":"39a7f851-3576-477c-8ec6-792a05230062"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1440,4040],"id":"4618faec-7627-4aed-a2e0-3f69c561ce20","name":"Send Email","webhookId":"71a39428-8b08-4105-88fb-5c7ca0e4fa16"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1280,440],"id":"03e1c636-8410-4a99-8c88-341f15dec8d5","name":"OpenAI Chat Model"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1580,440],"id":"24e889f6-dd38-4908-996d-fa2372da983b","name":"OpenAI Chat Model1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,440],"id":"bb525745-ac35-4f1c-9671-e20d32c0eb37","name":"OpenAI Chat Model2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3000,1660],"id":"369a1cf5-a878-41f8-9222-b81b09c40029","name":"gpt-4o"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2980,1820],"id":"ee0336ab-f554-47cd-9900-14e183cd7f69","name":"gpt-4o-mini"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3000,2060],"id":"499faf3e-15aa-4c4a-b079-f411ae2020f5","name":"gpt-3.5-turbo"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1f403630170c8d537460aca9d72600e7f41f29a111216e21171264f622ad6d87@group.calendar.google.com","mode":"list","cachedResultName":"Test"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1240,3360],"id":"b5539321-14f3-44c2-88cd-37031bb8e68c","name":"Get_Events"},{"parameters":{"inputText":"={{ $json.result.text }}","categories":{"categories":[{"category":"Genehmigt","description":"Der Nutzer bestätigt oder stimmt unserer Anfrage zu. Das bedeutet, dass er anerkennt, dass die bereitgestellten Informationen oder Maßnahmen korrekt sind und wir fortfahren können. Genehmigungsnachrichten enthalten oft Formulierungen wie:\n„Ja“\n„Sieht gut aus für mich“\n„Senden“\n„Korrekt“\n„Genehmigt“\n„Das funktioniert“\n„Klingt gut“\n„Mach weiter“"},{"category":"Abgelehnt","description":"Der Nutzer gibt Feedback, das keine Zustimmung signalisiert. Dies kann Änderungswünsche, Korrekturen oder zusätzliche Klärungen umfassen. Eine Ablehnung kann auch die Angabe eines E-Mail-Typs beinhalten, wie z. B. „geschäftlich“ oder „privat“.\n\nBeispiele für Ablehnungsformulierungen:\n„Abgelehnt“\n„Geschäftlich“\n„Ändere die Uhrzeit“\n„Privat“\n„Beide löschen“\n„Das erste löschen“\n„Heute“\n„Morgen“\n„22. Februar“"},{"category":"Warte auf Antwort","description":"Es sind Fragen offen die klärungsbedarf haben, der nutzer hat noch keine Eindeutige Aussage getroffen"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1780,3180],"id":"a1665b27-3dd0-4ca0-8bed-75f5cbb61160","name":"Check Feedback"},{"parameters":{"chatId":"5355046437","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2460,2900],"id":"bd10dc09-028f-498d-9bc6-812e7e334805","name":"Response","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f"},{"parameters":{"documentId":{"__rl":true,"value":"1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w","mode":"list","cachedResultName":"Test Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1360,3360],"id":"89b42773-e18f-42c3-898c-812b379a258e","name":"Contacts"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1860,3420],"id":"4c13b093-fb33-4573-8e50-19efd78119b5","name":"4o"},{"parameters":{"chatId":"5355046437","text":"={{ $json.intent }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1640,3180],"id":"b534c030-4867-46a0-b2b9-46a237f70d10","name":"Answer User","webhookId":"06135021-087d-4558-be06-94de90f2f053"},{"parameters":{"sessionKey":"=chat_with_{{ $('Telegram Trigger').first().json.message.chat.id }}","contextWindowLength":12},"id":"9a452d28-6adf-4b76-a7ed-5dd152905b76","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1120,3360],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[1000,260],"id":"453b8199-8d33-4d86-a884-881b972bf98d","name":"Telegram Trigger","webhookId":"15c601fb-1468-4861-89ea-11203b678c14"},{"parameters":{"promptType":"define","text":"=Erstelle einen detaillierten Bericht im HTML-Format für das folgende Thema: \"{{ $('Prompt Chaining').item.json.topic }}\"\n\nFolge dieser Gliederung: {{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1880,260],"id":"83be05a4-63cd-4f48-8d55-af43554013dd","name":"HTML Bericht erstellen"},{"parameters":{"promptType":"define","text":"=Liste prägnante, strukturierte Schlüsselpunkte und Ansätze zu folgendem Thema: {{ $json.topic }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1280,260],"id":"a9a7b535-9cf6-49e7-a318-cce172b6dfbc","name":"Schlüsselpunkte generierung","retryOnFail":false},{"parameters":{"promptType":"define","text":"=Verwende die folgenden Notizen als Referenz:\n{{$json.output}}\n\nErstelle eine Gliederung für den Bericht über \"{{$('Prompt Chaining').item.json.topic}}\".\nFüge deutlich benannte Abschnitte mit kurzen Beschreibungen hinzu, strukturiert wie folgt:\n\n- Einleitung\n- Hauptabschnitte\n- Fazit","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1580,260],"id":"d480c8e1-d5ff-4f3f-8e47-36a240f8be0b","name":"Bericht planen"},{"parameters":{"sendTo":"s.claes.work@gmail.com","subject":"=Neuer Bericht zum Thema {{ $('Prompt Chaining').item.json.topic }}","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2180,260],"id":"828ca20a-ddab-4c14-99f5-3a34bf025873","name":"Gmail","webhookId":"2342e349-8d67-4185-a2c7-3bf88312a46b"},{"parameters":{"chatId":"5355046437","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2140,940],"id":"148d687f-3f8a-4c76-ad61-4d1972fe81f2","name":"Telegram","webhookId":"3bb2e5ea-311b-43aa-81fd-284a5a48ed5f"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1760,800],"id":"0be2916b-6e58-48e5-8338-c6350bbc2041","name":"Gedicht generieren"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1760,940],"id":"b5dea3c9-da27-47d6-9fb3-b05287d16657","name":"Witz generieren"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1760,1080],"id":"a1d79522-0cb9-4d56-9a0c-ad79388a4a68","name":"Geschichte generieren"},{"parameters":{"promptType":"define","text":"=Suche nach bestbewerteten Restaurants basierend auf \"{{ $json.chatInput }}\".  \nListe 5 empfohlene Restaurants auf, jeweils mit einer kurzen Beschreibung, die den Küchentyp, die Bewertung und beliebte Gerichte hervorhebt.  \n\nAnweisung: Verwende immer das SERP-API-Tool.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1380,1500],"id":"1458113a-f462-4496-b343-5acfd7800abf","name":"Restaurants suchen"},{"parameters":{"promptType":"define","text":"=Suche nach bestbewerteten Hotels basierend auf \"{{ $json.chatInput }}\".  \nGib eine kompakte Liste mit Hotelnamen, Preisspannen, Sternebewertungen und kurzen Highlights an.  \n\nAnweisung: Verwende immer das SERP-API-Tool.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1380,1700],"id":"e936c126-0310-40c3-9e4f-60b32013c81a","name":"Hotels finden"},{"parameters":{"promptType":"define","text":"=Suche nach beliebten Touristenattraktionen und Aktivitäten basierend auf \"{{ $json.chatInput }}\".  \nErstelle eine kurze Liste mit den Namen der Aktivitäten, deren Typ (kulturell, outdoor etc.) und einer kurzen Beschreibung.  \n\nAnweisung: Verwende immer das SERP-API-Tool.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1380,1900],"id":"a3f4b492-f6da-4c35-bd66-531981dee3a3","name":"Aktivitäten finden"},{"parameters":{"sendTo":"s.claes.work@gmail.com","subject":"=Reiseplanung für die Region: {{ $('Telegram Trigger').first().json.message.text }}","emailType":"text","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2240,1700],"id":"c95e9eda-550f-43a6-94c6-1777ed16dce1","name":"Sectioning Demo","webhookId":"080228b9-3925-4009-8241-9b3854616590"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {{ JSON.stringify(`\ngpt-4o:\n${$('Voting Merge').all()[0].json.output}\n\ngpt-4o-mini:\n${$('Voting Merge').all()[1].json.output}\n\ngpt-3.5-turbo:\n${$('Voting Merge').all()[2].json.output}\n`) }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3780,1700],"id":"eea74439-431a-4d41-a5c3-dbeee26e10a2","name":"Solgans zusammenfassen","executeOnce":true},{"parameters":{"chatId":"5355046437","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3960,1700],"id":"d1ffd0b2-4bc8-4d16-8d64-8ed2df25b1c1","name":"Telegram1","webhookId":"3bb2e5ea-311b-43aa-81fd-284a5a48ed5f"},{"parameters":{"promptType":"define","text":"=Erstelle drei tolle Werbe slogans zu folgendem Thema: \"{{ $json.chatInput }}\".  \n\nFormatiere das ergebnis wie folgt:\n\n1. Solgan 1\n2. Slogan 2\n3. Slogan 3","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3120,1460],"id":"fbdd4330-9879-4fcf-993e-c1293bd6ee68","name":"Slogan mit gpt-4o"},{"parameters":{"promptType":"define","text":"=Erstelle drei tolle Werbe slogans zu folgendem Thema: \"{{ $json.chatInput }}\".  \n\nFormatiere das ergebnis wie folgt:\n\n1. Solgan 1\n2. Slogan 2\n3. Slogan 3","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3120,1700],"id":"1849a94c-0ff6-471c-8e2d-f1775f56cae6","name":"Slogan mit gpt-4o-mini"},{"parameters":{"promptType":"define","text":"=Erstelle drei tolle Werbe slogans zu folgendem Thema: \"{{ $json.chatInput }}\".  \n\nFormatiere das ergebnis wie folgt:\n\n1. Solgan 1\n2. Slogan 2\n3. Slogan 3","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3120,1940],"id":"5e0b6372-dd55-4189-83dc-e71acbc8173b","name":"Slogan mit gpt-3.5 turbo"},{"parameters":{"promptType":"define","text":"=Du bist ein Übersetzungs-Agent.\n\nBitte übersetze den folgenden Text in: {{ $json.language }}\n\nZu übersetzender Text:\n{{ $json.text }}\n\nGib nur den übersetzten Text aus, mit der übersetzten Sprache als Titel, ohne zusätzliche Kommentare.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1860,2440],"id":"21d1aedb-11a1-4680-8375-2e69e3705b6a","name":"Übersetzter"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=Du bist ein hilfreicher Gmail Agent\nKontext: Adressat is immer s.claes.work@gmail.com"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1220,3800],"id":"62e20986-30c6-453d-a9ff-c49edb84e44f","name":"Gmail Agent"},{"parameters":{"promptType":"define","text":"=Nutzer query: {{ $json.message.text }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Kalenderassistent. Deine Aufgabe ist es, die eingehende Anfrage zu analysieren und die Absicht des Nutzers zu erkennen.\n\n## Tools\n\nContacts – Verwende dieses Tool, um Kontaktinformationen wie E-Mail-Adressen abzurufen. Du musst dieses Tool verwenden, wenn der Nutzer ein Ereignis mit einem Teilnehmer erstellen möchte. Wenn kein Teilnehmer angegeben ist, musst du dieses Tool nicht verwenden.\n\nGet_Events – Verwende dieses Tool, wenn der Nutzer ein Ereignis erstellen, löschen oder aktualisieren möchte. Du solltest die Details des Ereignisses bereitstellen, um sicherzustellen, dass es sich um das richtige Ereignis handelt, das gelöscht oder aktualisiert werden soll.\n\n## Regeln\n\nDu musst immer die Funktion „Ereignisse abrufen“ verwenden, um sicherzustellen, dass es keine Terminkonflikte gibt.\nWenn du gebeten wirst, ein Ereignis zu verschieben, zu aktualisieren oder zu löschen, musst du „Ereignisse abrufen“ verwenden, um das Ereignis zu bestätigen. Gib dabei die Details des Ereignisses wie Datum, Uhrzeit und E-Mail-Adressen der Teilnehmer an.\n\n## Ausgabe\n\nGib die Anfrage des Nutzers wieder und stelle bei Bedarf Rückfragen zur Klärung.\nGib immer die E-Mail-Adresse des angeforderten Kontakts aus, falls der Nutzer dies wünscht.\nFalls es zwei Einträge für denselben Namen gibt, gib die E-Mail-Adresse sowie die Art des Kontakts an.\n\n## Abschließende Hinweise\nHier ist das aktuelle Datum/Uhrzeit: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1180,3180],"id":"403ec041-a35e-4c0f-b221-e31dbb413e3c","name":"Nutzer Absicht einordnen"},{"parameters":{"assignments":{"assignments":[{"id":"3ab6c175-d35c-48a3-a9db-5162f962d5f9","name":"intent","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,3180],"id":"18db02ae-d60d-46df-8fa5-ccc72e8299d8","name":"Absicht setzen"},{"parameters":{"promptType":"define","text":"=Ursprüngliche Absicht: {{ $('Absicht setzen').item.json.intent }}\n\nFeedback des Nutzers: {{ $json.data.text }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Korrekturassistent. Deine Aufgabe ist es, die ursprüngliche Ausgabe zu überprüfen und basierend auf dem Feedback des Nutzers zu korrigieren.\n\n## Ausgabe\n\nDeine Aufgabe ist es, die neue Absicht der Anfrage auszugeben.\nGib immer alle erforderlichen Details an, wie die E-Mail-Adressen der Teilnehmer, Uhrzeit, Datum, Zusammenfassung usw.\nStelle bei Bedarf eine Klärungsfrage. Wenn es nichts zu klären gibt, frage einfach: „Ist das korrekt?"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2140,3280],"id":"27123e63-8455-49f8-ad43-3929c02d7632","name":"Korrektur Auftrag erstellen"},{"parameters":{"promptType":"define","text":"={{ $('Absicht setzen').item.json.intent }}","options":{"systemMessage":"=# Übersicht\n\nDu bist ein Kalenderassistent. Deine Aufgaben umfassen das Erstellen, Abrufen und Löschen von Terminen im Kalender des Nutzers.\n\n**Kalenderverwaltungs-Tools**\n\n- Verwende „Termin_mit_Teilnehmer_erstellen“, wenn ein Ereignis einen Teilnehmer beinhaltet.\n- Verwende „Termin_erstellen“ für Einzeltermine.\n- Verwende „Termine_abrufen“, um den Kalenderplan abzurufen, wenn dies gewünscht wird.\n- Verwende „Termin_loeschen“, um ein Ereignis zu entfernen. Du musst zuerst „Termine abrufen“ nutzen, um die ID des zu löschenden Termins zu erhalten.\n- Verwende „Termin_aktualisieren“, um einen Termin zu ändern. Auch hier musst du zuerst „Termine_abrufen“ verwenden, um die ID des zu aktualisierenden Termins zu ermitteln.\n- Verwende „Kontakte_abfragen“, um Informationen zu einem Kontakt zu ermitteln, wenn dir Informationen fehlen.\n\n## Regeln\n\nSetze die eingehende Anfrage direkt in eine Aktion um. Ignoriere Klärungsfragen und handle ausschließlich basierend auf der erhaltenen Absicht.\n\n## Abschließende Hinweise\n\nAktuelles Datum/Uhrzeit: {{ $now }}\nFalls keine Dauer für einen Termin angegeben wird, gehe davon aus, dass er eine Stunde dauert."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2140,2900],"id":"b55fbf4e-d61d-4ee8-b79e-ba8c5bca89c2","name":"Kalender Agent"},{"parameters":{"calendar":{"__rl":true,"value":"1f403630170c8d537460aca9d72600e7f41f29a111216e21171264f622ad6d87@group.calendar.google.com","mode":"list","cachedResultName":"Test"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2160,3120],"id":"b968fc95-0600-458d-a226-9e84d469cf8c","name":"Termin_erstellen"},{"parameters":{"calendar":{"__rl":true,"value":"1f403630170c8d537460aca9d72600e7f41f29a111216e21171264f622ad6d87@group.calendar.google.com","mode":"list","cachedResultName":"Test"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2280,3120],"id":"4f14f3b9-2ecc-4096-97db-82060f1464bc","name":"Termin_mit_Teilnehmer_erstellen"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1f403630170c8d537460aca9d72600e7f41f29a111216e21171264f622ad6d87@group.calendar.google.com","mode":"list","cachedResultName":"Test"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2400,3120],"id":"a7048da4-71ec-4700-bfd0-0dd91b23df60","name":"Termine_abrufen"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"1f403630170c8d537460aca9d72600e7f41f29a111216e21171264f622ad6d87@group.calendar.google.com","mode":"list","cachedResultName":"Test"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2520,3120],"id":"3e211ad1-99af-4bc3-af44-5c367928127c","name":"Termin_aktualisieren"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"1f403630170c8d537460aca9d72600e7f41f29a111216e21171264f622ad6d87@group.calendar.google.com","mode":"list","cachedResultName":"Test"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2640,3120],"id":"0a623e60-dacc-49b0-abb6-6888d5e7aa37","name":"Termin_loeschen"},{"parameters":{"documentId":{"__rl":true,"value":"1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w","mode":"list","cachedResultName":"Test Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kontakte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h8dSyYpe0BcOUqd13j7Vu6-yJR2INfV7YV3aenvbY2w/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2760,3120],"id":"a539f427-b1b7-4758-bb46-0a5fc5a2bb18","name":"Kontakte_abfragen"}],"connections":{"Text Classifier":{"main":[[{"node":"Gedicht generieren","type":"main","index":0}],[{"node":"Witz generieren","type":"main","index":0}],[{"node":"Geschichte generieren","type":"main","index":0}],[{"node":"Error Message","type":"main","index":0}]]},"O3-mini-Routing":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Gedicht generieren","type":"ai_languageModel","index":0},{"node":"Witz generieren","type":"ai_languageModel","index":0},{"node":"Geschichte generieren","type":"ai_languageModel","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"Restaurants suchen","type":"ai_tool","index":0},{"node":"Hotels finden","type":"ai_tool","index":0},{"node":"Aktivitäten finden","type":"ai_tool","index":0}]]},"Merge":{"main":[[{"node":"Aggregator","type":"main","index":0}]]},"Voting Merge":{"main":[[{"node":"Solgans zusammenfassen","type":"main","index":0}]]},"Aggregator":{"main":[[{"node":"Sectioning Demo","type":"main","index":0}]]},"Sectioning":{"main":[[{"node":"Restaurants suchen","type":"main","index":0},{"node":"Hotels finden","type":"main","index":0},{"node":"Aktivitäten finden","type":"main","index":0}]]},"Voting":{"main":[[{"node":"Slogan mit gpt-4o","type":"main","index":0},{"node":"Slogan mit gpt-4o-mini","type":"main","index":0},{"node":"Slogan mit gpt-3.5 turbo","type":"main","index":0}]]},"Routing":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Prompt Chaining":{"main":[[{"node":"Schlüsselpunkte generierung","type":"main","index":0}]]},"Agents - O3-MINI":{"ai_languageModel":[[{"node":"Gmail Agent","type":"ai_languageModel","index":0}]]},"Orchestrator":{"main":[[{"node":"Orchestrator Agent","type":"main","index":0}]]},"O3-mini-P":{"ai_languageModel":[[{"node":"Restaurants suchen","type":"ai_languageModel","index":0},{"node":"Hotels finden","type":"ai_languageModel","index":0},{"node":"Aktivitäten finden","type":"ai_languageModel","index":0}]]},"O3-mini-Routing2":{"ai_languageModel":[[{"node":"Orchestrator Agent","type":"ai_languageModel","index":0},{"node":"Übersetzter","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Gmail Agent","type":"ai_memory","index":0}]]},"Orchestrator Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Übersetzter","type":"main","index":0}]]},"Translation Array":{"ai_outputParser":[[{"node":"Orchestrator Agent","type":"ai_outputParser","index":0}]]},"Translated Text":{"main":[[{"node":"Gmail3","type":"main","index":0}]]},"Send Email":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Schlüsselpunkte generierung","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Bericht planen","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"HTML Bericht erstellen","type":"ai_languageModel","index":0}]]},"gpt-4o":{"ai_languageModel":[[{"node":"Slogan mit gpt-4o","type":"ai_languageModel","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Slogan mit gpt-4o-mini","type":"ai_languageModel","index":0}]]},"gpt-3.5-turbo":{"ai_languageModel":[[{"node":"Slogan mit gpt-3.5 turbo","type":"ai_languageModel","index":0}]]},"Get_Events":{"ai_tool":[[{"node":"Nutzer Absicht einordnen","type":"ai_tool","index":0}]]},"Check Feedback":{"main":[[{"node":"Kalender Agent","type":"main","index":0}],[{"node":"Korrektur Auftrag erstellen","type":"main","index":0}]]},"Contacts":{"ai_tool":[[{"node":"Nutzer Absicht einordnen","type":"ai_tool","index":0}]]},"4o":{"ai_languageModel":[[{"node":"Korrektur Auftrag erstellen","type":"ai_languageModel","index":0},{"node":"Kalender Agent","type":"ai_languageModel","index":0},{"node":"Check Feedback","type":"ai_languageModel","index":0},{"node":"Nutzer Absicht einordnen","type":"ai_languageModel","index":0}]]},"Answer User":{"main":[[{"node":"Check Feedback","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Nutzer Absicht einordnen","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Prompt Chaining","type":"main","index":0}]]},"HTML Bericht erstellen":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Schlüsselpunkte generierung":{"main":[[{"node":"Bericht planen","type":"main","index":0}]]},"Bericht planen":{"main":[[{"node":"HTML Bericht erstellen","type":"main","index":0}]]},"Gedicht generieren":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Witz generieren":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Geschichte generieren":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Restaurants suchen":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Hotels finden":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aktivitäten finden":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Solgans zusammenfassen":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Slogan mit gpt-4o":{"main":[[{"node":"Voting Merge","type":"main","index":0}]]},"Slogan mit gpt-4o-mini":{"main":[[{"node":"Voting Merge","type":"main","index":1}]]},"Slogan mit gpt-3.5 turbo":{"main":[[{"node":"Voting Merge","type":"main","index":2}]]},"Übersetzter":{"main":[[{"node":"Translated Text","type":"main","index":0}]]},"Nutzer Absicht einordnen":{"main":[[{"node":"Absicht setzen","type":"main","index":0}]]},"Absicht setzen":{"main":[[{"node":"Answer User","type":"main","index":0}]]},"Korrektur Auftrag erstellen":{"main":[[{"node":"Absicht setzen","type":"main","index":0}]]},"Kalender Agent":{"main":[[{"node":"Response","type":"main","index":0}]]},"Termin_erstellen":{"ai_tool":[[{"node":"Kalender Agent","type":"ai_tool","index":0}]]},"Termin_mit_Teilnehmer_erstellen":{"ai_tool":[[{"node":"Kalender Agent","type":"ai_tool","index":0}]]},"Termine_abrufen":{"ai_tool":[[{"node":"Kalender Agent","type":"ai_tool","index":0}]]},"Termin_aktualisieren":{"ai_tool":[[{"node":"Kalender Agent","type":"ai_tool","index":0}]]},"Termin_loeschen":{"ai_tool":[[{"node":"Kalender Agent","type":"ai_tool","index":0}]]},"Kontakte_abfragen":{"ai_tool":[[{"node":"Kalender Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2d5140b2-bad0-413b-96f3-41326be43d6c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:13:25.967Z","createdAt":"2025-06-24T20:13:25.967Z","role":"workflow:owner","workflowId":"eBVbiwAI6aH6R2fm","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}