n8n/backup/workflows/GC04rb3NDdB2hZP2.json
{"updatedAt":"2025-06-28T04:32:04.321Z","createdAt":"2025-06-06T09:45:27.048Z","id":"GC04rb3NDdB2hZP2","name":"My workflow 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"id":"f5791923-ebee-4d6f-b854-ed4b1d4f1426","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-20,320]},{"parameters":{"content":"## 🚀 Content Replication Workflow\n\n**Tägliche Automatisierung:** Mo-Fr, 08:00 Uhr\n\n**Workflow-Schritte:**\n1. Trends von Google Trends & Branchen-Blogs scrapen\n2. AI-Content für LinkedIn, X, Blog, YouTube generieren\n3. Inhalte formatieren und in Datenbank speichern\n4. Optional: Automatische Veröffentlichung\n5. Fehlerbehandlung und Logging\n\n**Benötigte Credentials:**\n- OpenAI API Key\n- Google Sheets API\n- LinkedIn OAuth2\n- X Bearer Token\n- Telegram Bot Token","height":219,"width":389},"id":"00a24510-24c6-49c4-9e99-48ae94de4856","name":"Sticky Note - Workflow Info","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,180]},{"parameters":{"url":"https://trends.google.com/trends/trendingsearches/daily/rss?geo=DE","options":{}},"id":"00e5f329-729b-4cc5-86f5-8d1fc1a55780","name":"Google Trends Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,440]},{"parameters":{"url":"https://www.beispiel-blog.de/trends","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"5d63d2d6-8540-46e0-9d1f-a32fed064f87","name":"Branchen Blog Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,600]},{"parameters":{"content":"## 🔍 Web Scraping Konfiguration\n\n**Google Trends:**\n- RSS Feed für täglich trending searches\n- Geo: Deutschland (DE)\n- Format: XML/RSS\n\n**Branchen-Blog:**\n- HTML Content Extraction\n- Fallback bei 403/404 Fehlern\n- Rate Limiting beachten\n\n**Hinweis:** URLs müssen in Production angepasst werden!","height":200,"width":320},"id":"4ce18e73-f26e-470c-a3e4-5403c8ed169c","name":"Sticky Note - Scraping Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,440]},{"parameters":{"jsCode":"// Merge und Verarbeitung der gescrapten Daten\nconst googleTrends = $input.first()?.json || {};\nconst blogData = $input.all()[1]?.json || {};\n\n// Extrahiere Themen aus Google Trends (RSS)\nlet topics = [];\nif (googleTrends.rss && googleTrends.rss.channel && googleTrends.rss.channel.item) {\n  const items = Array.isArray(googleTrends.rss.channel.item) \n    ? googleTrends.rss.channel.item \n    : [googleTrends.rss.channel.item];\n  \n  topics = items.slice(0, 3).map(item => ({\n    title: item.title,\n    description: item.description || '',\n    source: 'google_trends'\n  }));\n}\n\n// Extrahiere Blog Themen (vereinfacht)\nif (blogData.body) {\n  const blogTopics = blogData.body.match(/<h[1-3][^>]*>([^<]+)</g>);\n  if (blogTopics) {\n    topics.push(...blogTopics.slice(0, 2).map(match => ({\n      title: match.replace(/<[^>]+>/g, ''),\n      description: '',\n      source: 'blog'\n    })));\n  }\n}\n\n// Fallback wenn keine Themen gefunden\nif (topics.length === 0) {\n  topics = [{\n    title: 'Digital Transformation 2025',\n    description: 'Trends und Entwicklungen im digitalen Wandel',\n    source: 'fallback'\n  }];\n}\n\nreturn topics.map((topic, index) => ({\n  json: {\n    id: `topic_${Date.now()}_${index}`,\n    title: topic.title,\n    description: topic.description,\n    source: topic.source,\n    timestamp: new Date().toISOString(),\n    processed: false\n  }\n}));"},"id":"e4b90aa9-a797-4ebc-8975-25e7c8666dfc","name":"Data Processing & Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,520]},{"parameters":{},"id":"d53013a0-7fa3-4165-82da-7f3bf02425f7","name":"AI Content Generation","type":"n8n-nodes-base.aiAgent","typeVersion":1.6,"position":[640,520]},{"parameters":{},"id":"6e0b378d-1df7-41d5-b41a-7a987771676b","name":"OpenAI Chat Model","type":"n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[640,700],"credentials":{}},{"parameters":{"content":"## 🤖 AI Agent Konfiguration\n\n**Setup:**\n- Agent Type: conversationalAgent\n- Prompt Type: define\n- Output Parser: structured JSON\n- Chat Model: OpenAI GPT-4\n\n**JSON Schema:**\n- Validiert strukturierte Ausgabe\n- Required Fields für alle Plattformen\n- Typ-Beschreibungen für bessere Results\n\n**Fallback:** Bei AI-Fehlern Template verwenden","height":220,"width":300},"id":"f83789dc-3222-46c6-9267-d09463847e6f","name":"Sticky Note - AI Agent","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[860,400]},{"parameters":{"jsCode":"// Content Formatierung und Verarbeitung\nconst inputData = $input.all();\nconst processedContent = [];\n\nfor (const item of inputData) {\n  try {\n    const topicData = item.json;\n    \n    // AI Agent gibt strukturierte Daten zurück\n    let contentJson = topicData;\n    \n    // Fallback falls AI Agent Fehler hat\n    if (!contentJson.linkedin || !contentJson.twitter) {\n      console.log('Using fallback content template');\n      contentJson = {\n        linkedin: `Spannende Entwicklungen zum Thema: ${topicData.title || 'Digital Innovation'}. Was denkst du darüber? #Innovation #Trends #Digital`,\n        twitter: `🔥 ${topicData.title || 'Digital Innovation'} - der neue Trend! #Tech #Innovation #Digital`,\n        blog: `# ${topicData.title || 'Digital Innovation'}\\n\\n## 1. Einführung\\n## 2. Aktuelle Entwicklungen\\n## 3. Auswirkungen\\n## 4. Prognosen\\n## 5. Fazit`,\n        youtube_title: `${topicData.title || 'Digital Innovation'}: Was du wissen musst!`,\n        youtube_hook: `In den nächsten 15 Sekunden erfährst du alles über ${topicData.title || 'Digital Innovation'}!`\n      };\n    }\n    \n    // Content bereinigen und formatieren\n    const cleanContent = {\n      id: topicData.id || `content_${Date.now()}`,\n      topic: topicData.title || 'Unbekanntes Thema',\n      source: topicData.source || 'unknown',\n      linkedin: (contentJson.linkedin || '').replace(/[\"\"]/g, '\"').substring(0, 1300),\n      twitter: (contentJson.twitter || '').replace(/[\"\"]/g, '\"').substring(0, 280),\n      blog: contentJson.blog || '',\n      youtube_title: contentJson.youtube_title || '',\n      youtube_hook: contentJson.youtube_hook || '',\n      created_at: new Date().toISOString(),\n      status: 'generated',\n      hashtags: ['#Innovation', '#Trends', '#Digital']\n    };\n    \n    // Hashtags hinzufügen falls nicht vorhanden\n    if (!cleanContent.linkedin.includes('#')) {\n      cleanContent.linkedin += ' #Innovation #Trends';\n    }\n    if (!cleanContent.twitter.includes('#')) {\n      cleanContent.twitter += ' #Tech';\n    }\n    \n    processedContent.push({ json: cleanContent });\n    \n  } catch (error) {\n    console.error('Processing Error:', error);\n    // Fallback Content\n    processedContent.push({\n      json: {\n        id: `fallback_${Date.now()}`,\n        topic: 'Content Generation Error',\n        error: error.message,\n        status: 'error',\n        created_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn processedContent;"},"id":"169dad59-55e9-4682-94c4-fb212814fa6f","name":"Content Formatting","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,520]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"GOOGLE_SHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"Content_Database","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Thema":"={{ $json.topic }}","LinkedIn":"={{ $json.linkedin }}","Twitter":"={{ $json.twitter }}","Blog":"={{ $json.blog }}","YouTube_Titel":"={{ $json.youtube_title }}","YouTube_Hook":"={{ $json.youtube_hook }}","Status":"={{ $json.status }}","Erstellt_am":"={{ $json.created_at }}","Quelle":"={{ $json.source }}"},"schema":[]},"options":{}},"id":"2306dc51-4dd7-4962-8e4f-34186f69d75f","name":"Google Sheets Storage","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1080,520]},{"parameters":{"content":"## 📊 Storage Konfiguration\n\n**Google Sheets Setup:**\n- Sheet Name: 'Content_Database'\n- Spalten: ID, Thema, LinkedIn, Twitter, Blog, YouTube_Titel, YouTube_Hook, Status, Erstellt_am, Quelle\n\n**Alternative: Airtable**\n- Base ID und Table Name anpassen\n- API Key in Credentials hinterlegen\n\n**Daten-Struktur:**\n- Automatische ID-Generierung\n- Timestamp für Tracking\n- Status für Publishing-Workflow","height":200,"width":320},"id":"7cba4919-16f6-4e20-96e5-cfd7f338d12c","name":"Sticky Note - Storage Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"error_condition","leftValue":"={{ $json.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"ba9bc61e-3a6e-44d2-a936-d0682111fb46","name":"Error Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,720]},{"parameters":{"amount":300},"id":"a4b28ef1-dab7-46ac-82c2-5cee0fa26da5","name":"Wait - LinkedIn Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,640],"webhookId":"f21e6b53-c52c-491e-ab0c-1bf027da5ebf"},{"parameters":{"text":"={{ $json.linkedin }}","additionalFields":{}},"id":"825dd657-db23-463d-994b-df64fa1a4dd8","name":"LinkedIn Publish","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1520,640]},{"parameters":{"amount":600},"id":"93adc93e-d146-45b3-b73c-636b55846ac5","name":"Wait - Twitter Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,800],"webhookId":"e6405fd9-a8c7-441b-8d9d-0825ad6ded67"},{"parameters":{"text":"={{ $json.twitter }}","additionalFields":{}},"id":"632da22e-5db9-4fe9-a094-b55f8a5ff20c","name":"Twitter Publish","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1520,800]},{"parameters":{"content":"## 🚀 Publishing Workflow\n\n**Verzögerungen:**\n- LinkedIn: 5 Min Delay\n- Twitter: 10 Min Delay\n- Blog: 15 Min Delay\n\n**Credentials Setup:**\n- LinkedIn: OAuth2 App\n- Twitter: OAuth2 / Bearer Token\n- Blog API: Custom HTTP Auth\n\n**Hinweis:** Publishing ist optional und kann über IF-Nodes gesteuert werden","height":180,"width":300},"id":"cb6ea5bb-d178-4cb2-9ccc-3c5f96c55c0d","name":"Sticky Note - Publishing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,640]},{"parameters":{"chatId":"TELEGRAM_CHAT_ID_PLACEHOLDER","text":"🚨 Content Generation Fehler!\n\nThema: {{ $json.topic || 'Unbekannt' }}\nFehler: {{ $json.error || 'Unbekannter Fehler' }}\nZeit: {{ $json.created_at }}\n\nBitte Workflow überprüfen.","additionalFields":{}},"id":"a9cd5da2-86b7-4eab-95ae-efb00364d1f9","name":"Telegram Error Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1300,880],"webhookId":"9ee6ccf1-8fe5-4aff-b27c-1fa26ee424a2"},{"parameters":{"content":"## 🛡️ Error Handling\n\n**Fehlertypen:**\n- API Rate Limits\n- Web Scraping Timeouts\n- AI Generation Errors\n- Publishing Failures\n\n**Benachrichtigungen:**\n- Telegram Bot für sofortige Alerts\n- E-Mail als Backup\n- Error Logging in Google Sheets\n\n**Fallback-Strategien:**\n- Template Content bei AI-Fehlern\n- Retry-Mechanismus für API Calls","height":200,"width":320},"id":"6d55bb36-13f7-4bb0-8168-9a5b0b7527ce","name":"Sticky Note - Error Handling","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,880]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"GOOGLE_SHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"Error_Log","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $json.created_at }}","Error_Type":"Content Generation","Topic":"={{ $json.topic }}","Error_Message":"={{ $json.error }}","Workflow_Run":"={{ $workflow.id }}"}},"options":{}},"id":"ecd40225-b729-4194-af1f-1a4c565e8567","name":"Error Logging","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1300,1040]},{"parameters":{"jsCode":"// Workflow Completion Summary\nconst allInputs = $input.all();\nconst summary = {\n  workflow_id: $workflow.id,\n  execution_time: new Date().toISOString(),\n  total_items_processed: allInputs.length,\n  successful_items: allInputs.filter(item => item.json.status !== 'error').length,\n  failed_items: allInputs.filter(item => item.json.status === 'error').length,\n  topics_processed: allInputs.map(item => item.json.topic).join(', '),\n  status: 'completed'\n};\n\nconsole.log('Workflow Summary:', summary);\n\nreturn [{ json: summary }];"},"id":"98e9cbdd-3aba-4a1b-b1d9-e1fdeda0db69","name":"Workflow Completion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,520]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"=Du bist ein Expert für Social Media Content Creation. Erstelle hochwertige, engaging Posts für verschiedene Plattformen basierend auf aktuellen Trends.\\n\\nThema: {{ $json.title }}\\nBeschreibung: {{ $json.description }}\\n\\nErstelle Content für:\\n1. LinkedIn Post (200-300 Wörter, professionell, mit Call-to-Action)\\n2. X/Twitter Post (max 280 Zeichen, trending hashtags)\\n3. Blog-Beitrag Outline (Markdown, 5 Hauptpunkte)\\n4. YouTube Video Idee (Titel + Hook für ersten 15 Sekunden)\\n\\nFormat als JSON:\\n{\\n  \\\"linkedin\\\": \\\"...\\\",\\n  \\\"twitter\\\": \\\"...\\\",\\n  \\\"blog\\\": \\\"...\\\",\\n  \\\"youtube_title\\\": \\\"...\\\",\\n  \\\"youtube_hook\\\": \\\"...\\\"\\n}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,920],"id":"3735bab7-49e8-4091-955a-44ce19c04076","name":"OpenAI","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Trends Scrape","type":"main","index":0},{"node":"Branchen Blog Scrape","type":"main","index":0}]]},"Google Trends Scrape":{"main":[[{"node":"Data Processing & Merge","type":"main","index":0}]]},"Branchen Blog Scrape":{"main":[[{"node":"Data Processing & Merge","type":"main","index":0}]]},"Content Formatting":{"main":[[{"node":"Google Sheets Storage","type":"main","index":0},{"node":"Error Check","type":"main","index":0}]]},"Google Sheets Storage":{"main":[[{"node":"Wait - LinkedIn Delay","type":"main","index":0},{"node":"Wait - Twitter Delay","type":"main","index":0},{"node":"Workflow Completion","type":"main","index":0}]]},"Error Check":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0},{"node":"Error Logging","type":"main","index":0}]]},"Wait - LinkedIn Delay":{"main":[[{"node":"LinkedIn Publish","type":"main","index":0}]]},"Wait - Twitter Delay":{"main":[[{"node":"Twitter Publish","type":"main","index":0}]]},"Data Processing & Merge":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Content Formatting","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0c82d30-2e66-453d-bb45-ae3b3a7fe8f6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:10:46.084Z","createdAt":"2025-06-24T20:10:46.084Z","role":"workflow:owner","workflowId":"GC04rb3NDdB2hZP2","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}