n8n/backup/workflows/IhHaWrMFSIeO2DYR.json
{"updatedAt":"2025-06-28T04:33:50.789Z","createdAt":"2025-05-27T13:16:00.790Z","id":"IhHaWrMFSIeO2DYR","name":"MCP test","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"bearerAuth","path":"f9968e9b-2b59-446a-8c24-a31fdaf0ba3b"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[680,440],"id":"14a67ad8-2a07-467d-8ac5-8ede17c7835a","name":"MCP Server Trigger","webhookId":"f9968e9b-2b59-446a-8c24-a31fdaf0ba3b"},{"parameters":{},"type":"@couleetech/n8n-nodes-playwright-api.playwrightCreateSessionTool","typeVersion":1,"position":[780,660],"id":"1b764f41-864d-4d2e-8f4c-3c3903d28b98","name":"Create Session","credentials":{"playwrightApi":{"id":"0bXMMi8sniIYIWLH","name":"Playwright account"}}},{"parameters":{"sessionId":"https://www.google.com"},"type":"@couleetech/n8n-nodes-playwright-api.playwrightNavigateTool","typeVersion":1,"position":[940,660],"id":"227fb893-68cd-4ac9-bf75-6678d44de80c","name":"Navigate","credentials":{"playwrightApi":{"id":"0bXMMi8sniIYIWLH","name":"Playwright account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1080,660],"id":"001fe84e-e692-410c-9a90-79435ef2d6b1","name":"Calculator"},{"parameters":{"httpMethod":"POST","path":"6c240c15-c95f-403c-b5ce-3e7f4169014d","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[560,260],"id":"0ef131b0-e6ba-453e-84a3-f83c7618f314","name":"Webhook","webhookId":"3bf2de02-66e6-4548-8a8c-0774e5759ba0","credentials":{"httpHeaderAuth":{"id":"jv7ytdkl5rVVZi13","name":"open webui"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": \"{{ $json.body.chatInput }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[920,260],"id":"1443e244-0f73-4509-bf14-9f3842c52286","name":"Respond to Webhook"}],"connections":{"Create Session":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Navigate":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":60},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"944f8429-c5d6-4dc7-8a5d-d04c4a34b6b9","activeVersionId":null,"versionCounter":1,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:11:01.499Z","createdAt":"2025-06-24T20:11:01.499Z","role":"workflow:owner","workflowId":"IhHaWrMFSIeO2DYR","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}