n8n/backup/workflows/jdswKfLe4yGAd0KB.json
{"updatedAt":"2025-06-24T22:23:23.995Z","createdAt":"2025-06-16T06:54:25.297Z","id":"jdswKfLe4yGAd0KB","name":"Einnahmen-Überschuss-Rechnung","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-580,280],"id":"d5e52e8a-bb8d-4f9d-a5bf-679b0cd8c1a4","name":"Telegram Trigger","webhookId":"5e95e068-fbdb-4b27-acb4-f7d2879ea0b4"},{"parameters":{"jsCode":"// Get text from input stream\nconst text = $input.first().json.ParsedResults[0].ParsedText;\n\nconst parsedData = {\n  invoiceNumber: text.match(/Rechnung Nr.\\s*(\\S+)/)?.[1],\n  invoiceDate: text.match(/Rechnungsdatum:\\s*(\\S+)/)?.[1],\n  totalAmount: text.match(/Gesamtbetrag:\\s*(\\S+)/)?.[1],\n  billingAddress: text.match(/Rechnungsadresse:\\s*(\\S+)/)?.[1],\n  dueDate: text.match(/Fälligkeitsdatum:\\s*(\\S+)/)?.[1],\n  notes: text.match(/Notizen:\\s*(\\S+)/)?.[1],\n};\n\nreturn [{ json: parsedData }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,180],"id":"bac23d1e-a095-4899-9e64-e75b9f21c856","name":"Code"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.ParsedResults[0].ParsedText }}\n\nAnalysiere die Rechnung, die du als input bekommen hast und extrahiere die folgenden Daten aus dieser Rechnung:\n\n\"invoiceNumber\", \"invoiceDate\", \"invoiceMonth\", \"totalAmount\", \"vendor\", \"bookingText\", \"fileName\"\n\nGebe mir das ergebnis als json in der folgenden Struktur zurück:\n\n{\n  \"invoiceNumber\": \"\",\n  \"invoiceMonth\": \"\",\n  \"month\": \"\",\n  \"totalAmount\": \"\",\n  \"vendor\": \"\",\n  \"bookingText\": \"\"\n}\n\nStelle sicher, dass \"bookingText\" eine kurze und prägnant Auflistung dessen ist, was in der gesamten Rechnung erworden wurde. Füge keine weiteren Anmerkungen hinzu, ich will nur die Produktauflistung.\n\nStelle zusätzlich sicher sicher, dass \"invoiceMonth\" der ausgeschriebene Monat in deutscher Sprache ist (bsp.: \"März\")\n\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,360],"id":"09f88711-54c9-4665-a9bd-e6b912559630","name":"OpenAI"},{"parameters":{"content":"## Alternative zu OpenAI\nWenn die Rechung einem immer gleichen Aufbau folgt. können Kosten gespart werden, indem ihr die Felder direkt extrahiert.","height":320,"width":260},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"1901cd65-a738-4e3a-b250-0559e8084c7f","name":"Sticky Note"},{"parameters":{"resource":"folder","name":"={{ $('OpenAI').item.json.message.content.invoiceMonth }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1TjWG_wIl1LOcb2m4vZva1bSeN2siduYC","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,680],"id":"54e161c5-a9ec-47a0-a031-8a354b99701b","name":"Create Folder"},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-420,280],"id":"3fa06c5c-e52e-4224-8cf0-a973719676f8","name":"Download File","webhookId":"9e1a8747-d8a3-47f0-a48d-250c08f09481","alwaysOutputData":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.message.content.invoiceMonth }}\n","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-220,580],"id":"1ed3feee-377e-46bd-8125-293c697c39a8","name":"Search Folder","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b56136a5-b245-4b8e-94ac-bb1088881133","leftValue":"={{ $(\"Search Folder\").item.length === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,580],"id":"a7af73da-c964-48f7-80c7-ccf76634b936","name":"Exists"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"104TPwhXp50riXheGyP8w7LKuErs7VGmU-5IyyIXjqDc","mode":"list","cachedResultName":"EüR_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/104TPwhXp50riXheGyP8w7LKuErs7VGmU-5IyyIXjqDc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ausgaben","cachedResultUrl":"https://docs.google.com/spreadsheets/d/104TPwhXp50riXheGyP8w7LKuErs7VGmU-5IyyIXjqDc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Rechnungs Nr.":"={{ $json.message.content.invoiceNumber }}","Rechnungsdatum":"={{ $json.message.content.invoiceDate }}","Gesamtbetrag":"={{ $json.message.content.totalAmount }}","Verkäufer":"={{ $json.message.content.vendor }}","Buchungstext / Beschreibung":"={{ $json.message.content.bookingText }}"},"matchingColumns":[],"schema":[{"id":"Rechnungs Nr.","displayName":"Rechnungs Nr.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rechnungsdatum","displayName":"Rechnungsdatum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Gesamtbetrag","displayName":"Gesamtbetrag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Verkäufer","displayName":"Verkäufer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Buchungstext / Beschreibung","displayName":"Buchungstext / Beschreibung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[340,360],"id":"48f8b86f-57bc-45a3-9152-2b370be1646a","name":"Update EüR "},{"parameters":{"resource":"file","fileId":"={{ $('Download File').item.json.result.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[200,580],"id":"ef2bc8ce-ac25-4f23-b975-b2139137fb16","name":"Get File","webhookId":"f9a17905-97ae-4814-90ff-cab268e1a22d"},{"parameters":{"name":"=Rechnung_{{ $('OpenAI').item.json.message.content.invoiceNumber }}_{{$('OpenAI').item.json.message.content.invoiceDate.split(\"-\").reverse().join(\"_\")}}\n\n","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $(\"Search Folder\").item.length === 0 ? $(\"Search Folder\").item.json.id : $(\"Create Folder\").item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,580],"id":"0a1f81b5-c45f-49fd-918f-265dac33b687","name":"Upload File"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-720,460],"id":"9568be7b-ec54-4a70-bc38-34906e0e8beb","name":"Gmail Trigger"},{"parameters":{"inputText":"={{ $json.subject }}","categories":{"categories":[{"category":"Bambu Lab Rechnung","description":"Identifiziere ausschließlich Rechnungs-E-Mails von Bambu Lab, erkennbar am Betreff, der mit 'Ihre Rechnung' beginnt und eine eindeutige Rechnungsnummer mit dem Präfix '#EN' enthält. Andere E-Mails von Bambu Lab oder Rechnungen von anderen Absendern dürfen nicht klassifiziert werden."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-580,460],"id":"6031ad1b-b176-4e38-9809-3210860ce1ae","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-560,620],"id":"88e09093-0e75-48e2-8588-e1b9f49d9e00","name":"OpenAI Chat Model"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6677419842169748983"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-220,760],"id":"b2100f44-317d-432e-b192-96412347f280","name":"Rechnung Erfasst","webhookId":"abc2bcde-fb27-4c40-a7e8-cb4703ad19ca"},{"parameters":{"method":"POST","url":"https://api.ocr.space/parse/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,360],"id":"a2d3cea8-2ab6-42bb-abd4-9a9c423a8118","name":"Analyze PDF"},{"parameters":{"chatId":"5355046437","text":"=Ich habe gerade einen neuen Beleg erfasst abgelegt und in deine EüR eingetragen:\n{{ $json.name }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,580],"id":"15a88427-4f35-4b5b-9998-f7be7f228036","name":"Inform User","webhookId":"63f099fa-0d7f-4a09-90c8-535a746fed0b"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Download File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Update EüR ","type":"main","index":0},{"node":"Search Folder","type":"main","index":0}]]},"Create Folder":{"main":[[{"node":"Get File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Analyze PDF","type":"main","index":0}]]},"Search Folder":{"main":[[{"node":"Exists","type":"main","index":0}]]},"Exists":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Create Folder","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Analyze PDF","type":"main","index":0},{"node":"Rechnung Erfasst","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Inform User","type":"main","index":0}]]},"Analyze PDF":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3b01ff58-99ec-4bab-93d2-2060a3db19c6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:14:57.162Z","createdAt":"2025-06-24T20:14:57.162Z","role":"workflow:owner","workflowId":"jdswKfLe4yGAd0KB","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}