n8n/backup/workflows/NKm7AEjRji1k8PjE.json
{"updatedAt":"2025-06-28T04:32:06.458Z","createdAt":"2025-06-02T15:44:25.861Z","id":"NKm7AEjRji1k8PjE","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"d94c7593-19ae-4c60-92b9-5a71dc896824","name":"When clicking ‘Execute workflow’"},{"parameters":{"query":"what is AI Automation","options":{"topic":"general","max_results":5}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[280,0],"id":"fa220459-df51-4801-b765-23ef98eb4e72","name":"Tavily","credentials":{"tavilyApi":{"id":"axHzT7lKlnN89tXo","name":"Tavily account"}}},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"21m00Tcm4TlvDq8ikWAM","mode":"list","cachedResultName":"Rachel"},"text":"Wow, what I could do!","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[280,200],"id":"fbe00ba6-1e23-430e-bb3f-b121689691a7","name":"ElevenLabs","credentials":{"elevenLabsApi":{"id":"5gwygktQ5YMFyHPW","name":"ElevenLabs account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[280,440],"id":"4af678af-7a46-43b8-a0ee-90ce5bdc7b04","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,440],"id":"ad24390b-0e6e-403c-830b-6be1873b7052","name":"When chat message received","webhookId":"62b2c52d-276e-44cc-9b19-c3e09bebc6b3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[280,680],"id":"bb01144c-2187-4b0c-91ea-4ef48f7cda9b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1hyUh89saI32D4U8","name":"OpenRouter account"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[440,680],"id":"054a4b9e-74b9-4c9a-bd3d-4e48c95c106c","name":"Tavily1","credentials":{"tavilyApi":{"id":"axHzT7lKlnN89tXo","name":"Tavily account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"id":"ccdaa255-1972-4778-b215-3da1646800a6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-400,1300]},{"parameters":{"content":"## 🚀 Content Replication Workflow\n\n**Tägliche Automatisierung:** Mo-Fr, 08:00 Uhr\n\n**Workflow-Schritte:**\n1. Trends von Google Trends & Branchen-Blogs scrapen\n2. AI-Content für LinkedIn, X, Blog, YouTube generieren\n3. Inhalte formatieren und in Datenbank speichern\n4. Optional: Automatische Veröffentlichung\n5. Fehlerbehandlung und Logging\n\n**Benötigte Credentials:**\n- OpenAI API Key\n- Google Sheets API\n- LinkedIn OAuth2\n- X Bearer Token\n- Telegram Bot Token","height":219,"width":389},"id":"56f80d79-dfb4-4e75-ac90-d447094c2ba5","name":"Sticky Note - Workflow Info","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,1160]},{"parameters":{"url":"https://trends.google.com/trends/trendingsearches/daily/rss?geo=DE","options":{}},"id":"e7280392-7c00-40d7-bced-a9d65b992151","name":"Google Trends Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-180,1420]},{"parameters":{"url":"https://www.beispiel-blog.de/trends","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"c81e8a09-81bf-4ff1-a5a3-b6116ebeea8a","name":"Branchen Blog Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-180,1580]},{"parameters":{"content":"## 🔍 Web Scraping Konfiguration\n\n**Google Trends:**\n- RSS Feed für täglich trending searches\n- Geo: Deutschland (DE)\n- Format: XML/RSS\n\n**Branchen-Blog:**\n- HTML Content Extraction\n- Fallback bei 403/404 Fehlern\n- Rate Limiting beachten\n\n**Hinweis:** URLs müssen in Production angepasst werden!","height":200,"width":320},"id":"ad4f3302-d4ba-4bae-adfe-961163a0880e","name":"Sticky Note - Scraping Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,1420]},{"parameters":{"jsCode":"// Merge und Verarbeitung der gescrapten Daten\nconst googleTrends = $input.first()?.json || {};\nconst blogData = $input.all()[1]?.json || {};\n\n// Extrahiere Themen aus Google Trends (RSS)\nlet topics = [];\nif (googleTrends.rss && googleTrends.rss.channel && googleTrends.rss.channel.item) {\n  const items = Array.isArray(googleTrends.rss.channel.item) \n    ? googleTrends.rss.channel.item \n    : [googleTrends.rss.channel.item];\n  \n  topics = items.slice(0, 3).map(item => ({\n    title: item.title,\n    description: item.description || '',\n    source: 'google_trends'\n  }));\n}\n\n// Extrahiere Blog Themen (vereinfacht)\nif (blogData.body) {\n  const blogTopics = blogData.body.match(/<h[1-3][^>]*>([^<]+)</g>);\n  if (blogTopics) {\n    topics.push(...blogTopics.slice(0, 2).map(match => ({\n      title: match.replace(/<[^>]+>/g, ''),\n      description: '',\n      source: 'blog'\n    })));\n  }\n}\n\n// Fallback wenn keine Themen gefunden\nif (topics.length === 0) {\n  topics = [{\n    title: 'Digital Transformation 2025',\n    description: 'Trends und Entwicklungen im digitalen Wandel',\n    source: 'fallback'\n  }];\n}\n\nreturn topics.map((topic, index) => ({\n  json: {\n    id: `topic_${Date.now()}_${index}`,\n    title: topic.title,\n    description: topic.description,\n    source: topic.source,\n    timestamp: new Date().toISOString(),\n    processed: false\n  }\n}));"},"id":"42d17c9a-81b3-48b6-bcdd-aff6231a12e3","name":"Data Processing & Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[40,1500]},{"parameters":{},"id":"24601f92-ebc0-4359-8ba8-cf3bb977b5c4","name":"OpenAI Content Generation","type":"n8n-nodes-base.openAi","typeVersion":1.3,"position":[260,1500],"credentials":{}},{"parameters":{"content":"## 🤖 AI Prompting Strategie\n\n**Prompt-Struktur:**\n- System: Rolle als Social Media Expert\n- User: Thema + Plattform-spezifische Anforderungen\n- Output: Strukturiertes JSON Format\n\n**Plattform Guidelines:**\n- LinkedIn: 200-300 Wörter, professionell, CTA\n- X: Max 280 Zeichen, Hashtags\n- Blog: Markdown Outline, 5 Punkte\n- YouTube: Titel + Hook (15 Sek)\n\n**Fallback:** Bei API-Fehlern Template verwenden","height":220,"width":300},"id":"6d119d3c-b330-401b-944b-9234a2a20496","name":"Sticky Note - AI Prompting","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,1380]},{"parameters":{"jsCode":"// Content Formatierung und Verarbeitung\nconst inputData = $input.all();\nconst processedContent = [];\n\nfor (const item of inputData) {\n  try {\n    const topicData = item.json;\n    const aiResponse = topicData.choices?.[0]?.message?.content || '{}';\n    \n    // Parse AI Response\n    let contentJson;\n    try {\n      // Extrahiere JSON aus AI Response\n      const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n      contentJson = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n    } catch (e) {\n      console.log('JSON Parse Error, using fallback');\n      contentJson = {\n        linkedin: `Spannende Entwicklungen zum Thema: ${topicData.title}. Was denkst du darüber? #Innovation #Trends`,\n        twitter: `🔥 ${topicData.title} - der neue Trend! #Tech #Innovation`,\n        blog: `# ${topicData.title}\\n\\n## 1. Einführung\\n## 2. Aktuelle Entwicklungen\\n## 3. Auswirkungen\\n## 4. Prognosen\\n## 5. Fazit`,\n        youtube_title: `${topicData.title}: Was du wissen musst!`,\n        youtube_hook: `In den nächsten 15 Sekunden erfährst du alles über ${topicData.title}!`\n      };\n    }\n    \n    // Content bereinigen und formatieren\n    const cleanContent = {\n      id: topicData.id || `content_${Date.now()}`,\n      topic: topicData.title || 'Unbekanntes Thema',\n      source: topicData.source || 'unknown',\n      linkedin: (contentJson.linkedin || '').replace(/[\"\"]/g, '\"').substring(0, 1300),\n      twitter: (contentJson.twitter || '').replace(/[\"\"]/g, '\"').substring(0, 280),\n      blog: contentJson.blog || '',\n      youtube_title: contentJson.youtube_title || '',\n      youtube_hook: contentJson.youtube_hook || '',\n      created_at: new Date().toISOString(),\n      status: 'generated',\n      hashtags: ['#Innovation', '#Trends', '#Digital']\n    };\n    \n    // Hashtags hinzufügen\n    if (!cleanContent.linkedin.includes('#')) {\n      cleanContent.linkedin += ' #Innovation #Trends';\n    }\n    if (!cleanContent.twitter.includes('#')) {\n      cleanContent.twitter += ' #Tech';\n    }\n    \n    processedContent.push({ json: cleanContent });\n    \n  } catch (error) {\n    console.error('Processing Error:', error);\n    // Fallback Content\n    processedContent.push({\n      json: {\n        id: `fallback_${Date.now()}`,\n        topic: 'Content Generation Error',\n        error: error.message,\n        status: 'error',\n        created_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn processedContent;"},"id":"d39c49a1-35ce-4a2e-83c5-a3b7dc9db972","name":"Content Formatting","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1500]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"GOOGLE_SHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"Content_Database","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Thema":"={{ $json.topic }}","LinkedIn":"={{ $json.linkedin }}","Twitter":"={{ $json.twitter }}","Blog":"={{ $json.blog }}","YouTube_Titel":"={{ $json.youtube_title }}","YouTube_Hook":"={{ $json.youtube_hook }}","Status":"={{ $json.status }}","Erstellt_am":"={{ $json.created_at }}","Quelle":"={{ $json.source }}"},"schema":[]},"options":{}},"id":"0987376b-1072-4794-8076-5480b70f39db","name":"Google Sheets Storage","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[700,1500]},{"parameters":{"content":"## 📊 Storage Konfiguration\n\n**Google Sheets Setup:**\n- Sheet Name: 'Content_Database'\n- Spalten: ID, Thema, LinkedIn, Twitter, Blog, YouTube_Titel, YouTube_Hook, Status, Erstellt_am, Quelle\n\n**Alternative: Airtable**\n- Base ID und Table Name anpassen\n- API Key in Credentials hinterlegen\n\n**Daten-Struktur:**\n- Automatische ID-Generierung\n- Timestamp für Tracking\n- Status für Publishing-Workflow","height":200,"width":320},"id":"05191d36-212f-4447-a0f5-31e1797b6e6d","name":"Sticky Note - Storage Config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,1380]},{"parameters":{"amount":300},"id":"aa9d04e3-5310-4d6b-a1f1-687cc2b7ffa4","name":"Wait - LinkedIn Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[920,1620],"webhookId":"cc303be2-b5bf-4fc9-b19b-4df5289d76a1"},{"parameters":{"text":"={{ $json.linkedin }}","additionalFields":{}},"id":"9cf8728d-430a-4c8f-bb66-fbf94efcd4a8","name":"LinkedIn Publish","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1140,1620]},{"parameters":{"amount":600},"id":"3d33c2a8-708a-4793-bee0-3d71b626d43d","name":"Wait - Twitter Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[920,1780],"webhookId":"e890c367-db92-4c4a-a58e-43dcd0692618"},{"parameters":{"text":"={{ $json.twitter }}","additionalFields":{}},"id":"a821f9dc-d6b8-45b1-a35d-fa584b3a5158","name":"Twitter Publish","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1140,1780]},{"parameters":{"content":"## 🚀 Publishing Workflow\n\n**Verzögerungen:**\n- LinkedIn: 5 Min Delay\n- Twitter: 10 Min Delay\n- Blog: 15 Min Delay\n\n**Credentials Setup:**\n- LinkedIn: OAuth2 App\n- Twitter: OAuth2 / Bearer Token\n- Blog API: Custom HTTP Auth\n\n**Hinweis:** Publishing ist optional und kann über IF-Nodes gesteuert werden","height":180,"width":300},"id":"0d9d607b-cb42-4436-86ea-b463b58a9e57","name":"Sticky Note - Publishing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,1620]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"error_condition","leftValue":"={{ $json.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"8e82d612-5547-43d6-9ab2-09d8debb793c","name":"Error Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,1700]},{"parameters":{"chatId":"TELEGRAM_CHAT_ID_PLACEHOLDER","text":"🚨 Content Generation Fehler!\n\nThema: {{ $json.topic || 'Unbekannt' }}\nFehler: {{ $json.error || 'Unbekannter Fehler' }}\nZeit: {{ $json.created_at }}\n\nBitte Workflow überprüfen.","additionalFields":{}},"id":"b045becf-81a2-4222-aa11-6c25153cb851","name":"Telegram Error Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[920,1860],"webhookId":"b07914a0-c386-4e51-9292-49f90de236dc"},{"parameters":{"content":"## 🛡️ Error Handling\n\n**Fehlertypen:**\n- API Rate Limits\n- Web Scraping Timeouts\n- AI Generation Errors\n- Publishing Failures\n\n**Benachrichtigungen:**\n- Telegram Bot für sofortige Alerts\n- E-Mail als Backup\n- Error Logging in Google Sheets\n\n**Fallback-Strategien:**\n- Template Content bei AI-Fehlern\n- Retry-Mechanismus für API Calls","height":200,"width":320},"id":"7829ff41-afd4-436c-a8ca-31cae3e27cf8","name":"Sticky Note - Error Handling","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1140,1860]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"GOOGLE_SHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"Error_Log","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $json.created_at }}","Error_Type":"Content Generation","Topic":"={{ $json.topic }}","Error_Message":"={{ $json.error }}","Workflow_Run":"={{ $workflow.id }}"}},"options":{}},"id":"c50e693a-006c-4165-98f4-d719e9914233","name":"Error Logging","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[920,2020]},{"parameters":{"jsCode":"// Workflow Completion Summary\nconst allInputs = $input.all();\nconst summary = {\n  workflow_id: $workflow.id,\n  execution_time: new Date().toISOString(),\n  total_items_processed: allInputs.length,\n  successful_items: allInputs.filter(item => item.json.status !== 'error').length,\n  failed_items: allInputs.filter(item => item.json.status === 'error').length,\n  topics_processed: allInputs.map(item => item.json.topic).join(', '),\n  status: 'completed'\n};\n\nconsole.log('Workflow Summary:', summary);\n\nreturn [{ json: summary }];"},"id":"f26b5385-46b6-4169-8e5b-0c3bafeb8336","name":"Workflow Completion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,1500]}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Tavily1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Trends Scrape","type":"main","index":0},{"node":"Branchen Blog Scrape","type":"main","index":0}]]},"Google Trends Scrape":{"main":[[{"node":"Data Processing & Merge","type":"main","index":0}]]},"Branchen Blog Scrape":{"main":[[{"node":"Data Processing & Merge","type":"main","index":0}]]},"Content Formatting":{"main":[[{"node":"Google Sheets Storage","type":"main","index":0},{"node":"Error Check","type":"main","index":0}]]},"Google Sheets Storage":{"main":[[{"node":"Wait - LinkedIn Delay","type":"main","index":0},{"node":"Wait - Twitter Delay","type":"main","index":0},{"node":"Workflow Completion","type":"main","index":0}]]},"Wait - LinkedIn Delay":{"main":[[{"node":"LinkedIn Publish","type":"main","index":0}]]},"Wait - Twitter Delay":{"main":[[{"node":"Twitter Publish","type":"main","index":0}]]},"Error Check":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0},{"node":"Error Logging","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"594dcd72-b941-4071-887f-ed618c616a7e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:11:32.354Z","createdAt":"2025-06-24T20:11:32.354Z","role":"workflow:owner","workflowId":"NKm7AEjRji1k8PjE","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}