n8n/backup/workflows/NmoPdxIYAd3R4Cmv.json
{"updatedAt":"2025-06-24T22:19:01.270Z","createdAt":"2025-06-24T11:03:57.076Z","id":"NmoPdxIYAd3R4Cmv","name":"OAuth-MCP-Validator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8a1b6b32-8d9a-4d40-a8f8-23f38806e04e","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Workflow Name: \"OAuth-MCP-Validator\"\n// Trigger: \"Execute Workflow\"\n\nconst crypto = require('crypto');\n\ntry {\n    // Input von MCP-Request\n    const authHeader = $input.first().json.authorization;\n    \n    if (!authHeader || !authHeader.startsWith('Bearer ')) {\n        return [{\n            json: {\n                error: \"Authentication required\",\n                code: 401\n            }\n        }];\n    }\n    \n    const token = authHeader.substring(7);\n    const jwtSecret = $env.JWT_SECRET;\n    \n    // JWT-Validation (vereinfacht)\n    const tokenParts = token.split('.');\n    if (tokenParts.length !== 3) {\n        return [{\n            json: {\n                error: \"Invalid token format\",\n                code: 401\n            }\n        }];\n    }\n    \n    // Signature prüfen\n    const signatureInput = `${tokenParts[0]}.${tokenParts[1]}`;\n    const expectedSignature = crypto\n        .createHmac('sha256', jwtSecret)\n        .update(signatureInput)\n        .digest('base64url');\n    \n    if (expectedSignature !== tokenParts[2]) {\n        return [{\n            json: {\n                error: \"Invalid token\",\n                code: 401\n            }\n        }];\n    }\n    \n    // Success\n    const payload = JSON.parse(Buffer.from(tokenParts[1], 'base64url').toString());\n    \n    return [{\n        json: {\n            validated: true,\n            client_id: payload.client_id,\n            scopes: payload.scope.split(' ')\n        }\n    }];\n    \n} catch (error) {\n    return [{\n        json: {\n            error: \"Authentication failed\",\n            code: 500\n        }\n    }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"f702ea66-1339-4737-bc30-1d2abe872199","name":"MCP-OAuth-Validator"},{"parameters":{"workflowId":{"__rl":true,"value":"3EqgQo1KUqbQsrL6","mode":"list","cachedResultName":"my-memory"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,220],"id":"acb229bf-4adc-47c7-88e7-95766d9d4038","name":"Execute Workflow"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"MCP-OAuth-Validator","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"MCP-OAuth-Validator","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9802bdf1-7af9-430c-8090-e11ab78a6871","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:11:39.889Z","createdAt":"2025-06-24T20:11:39.889Z","role":"workflow:owner","workflowId":"NmoPdxIYAd3R4Cmv","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}