n8n/backup/workflows/O9wifpyX5T52ddz4.json
{"updatedAt":"2025-06-24T22:23:13.924Z","createdAt":"2025-06-16T06:48:41.367Z","id":"O9wifpyX5T52ddz4","name":"Felix__Praktikant_Aktualisiert","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,400],"id":"e68e1107-7b50-48ee-a03f-26d3e05420f9","name":"Search Request","retryOnFail":true,"waitBetweenTries":1500,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,720],"id":"d0f3128e-217a-48df-bdc7-f6ec4f841b63","name":"Detail Request","retryOnFail":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"companies","cssSelector":"#gs_treffer","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1100,480],"id":"dda018ea-dfb4-4412-84d3-74f3f733ea49","name":"Extract Company Cards"},{"parameters":{"fieldToSplitOut":"detailUrls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1480,480],"id":"7324cd18-038e-4843-828f-84f1b7bc6ef8","name":"Split Out Detail Pages"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"contactInfo","cssSelector":".mod-Kontaktdaten__container--inner","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[540,720],"id":"7d7df9ae-76b3-4ae9-a411-8a795472c4b6","name":"Extract Info Section"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const inputString = $input.item.json.contactInfo;\n\nconst result = {\n  companyName: null,\n  street: null,\n  city: null,\n  fullAddress: null,\n  phoneNumber: null,\n  website: null\n};\n\n// Firmenname extrahieren\nconst nameMatch = inputString.match(/<div class=\"gc-text--h2\">([^<]+)<\\/div>/);\nif (nameMatch) {\n  result.companyName = nameMatch[1].trim();\n}\n\n// Adresse extrahieren (Straße + PLZ Ort)\nconst addressMatch = inputString.match(/<span>([^<]+), <\\/span>\\s*<span>([^<]+)<\\/span>/);\nif (addressMatch) {\n  result.street = addressMatch[1].trim();\n  result.city = addressMatch[2].trim();\n  result.fullAddress = `${result.street}, ${result.city}`;\n}\n\n// Telefonnummer extrahieren\nconst phoneMatch = inputString.match(/<a[^>]+href=\"tel:([^\"]+)\"[^>]*>\\s*<span>([^<]+)<\\/span>/);\nif (phoneMatch) {\n  result.phoneNumber = phoneMatch[2].trim();\n}\n\n// Website extrahieren\nconst websiteMatch = inputString.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>\\s*<span>Webseite<\\/span>/);\nif (websiteMatch) {\n  result.website = websiteMatch[1].trim();\n}\n\nreturn {\n  contactInfo: result\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[940,720],"id":"7bd23e0f-fd4d-4a77-90e8-b5b6f4a76ce9","name":"Extract Cotact Info"},{"parameters":{"jsCode":"const inputString = $input.item.json.companies;\n\n// RegEx zum Extrahieren aller hrefs, die auf Detailseiten verweisen (z.B. \"https://www.gelbeseiten.de/gsbiz/e05a7433-e767-44a1-b350-96c52e4d44ea\")\nconst hrefRegex = /href=\"(https:\\/\\/www\\.gelbeseiten\\.de\\/gsbiz\\/[a-z0-9-]+)/g;\n\n// Alle URLs extrahieren\nconst matches = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(inputString)) !== null) {\n  matches.push({ URL: match[1] });\n}\n\n// Rückgabe als Array von Objekten\nreturn [\n  {\n    json: {\n      detailUrls: matches\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,480],"id":"7cb7c211-3b81-4b75-b246-aaca61e0895e","name":"Extract Detail Pages"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[260,300],"id":"4248f1c0-4a45-4c52-beed-6a6eb7379e86","name":"Loop Over Items"},{"parameters":{"tableId":"german_companies","fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $json.contactInfo.companyName }}"},{"fieldId":"industry","fieldValue":"={{ $('Finder Felix').item.json.output.industry }}"},{"fieldId":"phone","fieldValue":"={{ $json.contactInfo.phoneNumber }}"},{"fieldId":"website","fieldValue":"={{ $json.contactInfo.website }}"},{"fieldId":"address","fieldValue":"={{ $json.contactInfo.fullAddress }}"},{"fieldId":"state","fieldValue":"={{ $('Loop Over Items').item.json.state }}"},{"fieldId":"city","fieldValue":"={{ $('Loop Over Items').item.json.city }}"},{"fieldId":"district","fieldValue":"={{ $('Loop Over Items').item.json.district }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1300,720],"id":"04b8da9c-db37-48ea-b24f-3033ae380d89","name":"Add Company","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f31926ac-a9ad-44b9-8875-0d661987bcdf","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,400],"id":"5a0e6173-36d5-417b-ad10-cfa118cf7672","name":"If"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"contactInfo.phoneNumber","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1120,720],"id":"2dcb69cd-363b-4653-881c-66e9fde964ac","name":"Remove Duplicates"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1400,360],"id":"c83907c3-d63b-40e2-a7bd-853980a71ba7","name":"Message Felix","webhookId":"d7f347dd-476e-414b-a30c-357b366ce6d0","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1160,600],"id":"90e5296b-2077-41e7-b266-260d3aabcc69","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Message Felix').item.json.message.chat.id }}","text":"={{ $json.output.finderFelixAnswer }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-700,360],"id":"0beded16-1676-4eb5-8d81-0d9c2e9b7fd6","name":"Answer User","webhookId":"06135021-087d-4558-be06-94de90f2f053","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=# Rolle\n\nDu bist FinderFelix – digitaler Recherche-Praktikant mit Köpfchen. Locker, schnell, direkt. Dein Job: rausfinden, was und wo gesucht wird, damit du passende Firmen oder Kontakte finden kannst.\n\n# Was du brauchst\n\n- Einen Bezirk, Ortsteil, eine Stadt oder ein Bundesland (z. B. Grötzingen, Berlin, Nordrhein-Westfalen)\n- Eine Branche (z. B. Solartechnik, Steuerberater)\n\n💡 Wenn jemand einen Ort wie „Berlin-Schöneberg“, „Hamburg-Altona“ oder „München-Schwabing“ angibt, dann:\n- Nimm den Teil vor dem Bindestrich (oder dem ersten Leerzeichen, wenn kein Bindestrich) als `city`\n- Nimm den Teil nach dem Bindestrich (oder Leerzeichen) als `district`\n- Setze `locationType = \"district\"`\n\nFehlt was? Frag kurz nach – maximal ein Satz. Kein Gelaber.\n\n# Tools\n\n- **Check_State** – prüft, ob ein Bundesland in der Datenbank ist  \n- **Check_City** – prüft, ob eine Stadt vorhanden ist  \n- **Check_District** – prüft, ob ein Bezirk oder Ortsteil existiert  \n\nImmer vor der Verarbeitung nutzen. Wenn was nicht passt: Alternativen vorschlagen.\n\n# Antwortstil\n\n- Kurz, frech, freundlich  \n- Du sprichst den User als „Boss“ oder „Chef“ an  \n- Kein Rumgeeiere, keine Floskeln  \n- Immer direkt: „Solartechnik in Berlin - läuft, Boss!“\n\n# Hinweis zur Bearbeitungszeit\n\nWenn jemand ein ganzes Bundesland angibt, sag sowas wie:\n\n- „Ein ganzes Bundesland? 😵 Uff, das wird 'ne Weile dauern. Kann ich nicht lieber mit einer Stadt starten?“  \n- „Nordrhein-Westfalen? Da kann ich graben, aber da bin ich 'ne Stunde beschäftigt. Eine Stadt wäre mir lieber 😅“\n\n# Ziel\n\nSchnell klären, was gesucht wird. Nur wenn alles wirklich klar ist und keine Rückfrage mehr offen ist: `startScraping = true`\n\n# Beispiel Output\n\nAntworte ausschließlich mit einem gültigen JSON-Objekt im folgenden Format – keine Kommentare, kein Text davor oder danach.\n\n\n{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1040,360],"id":"2c53a99e-8156-4c51-9c13-c2b0a7e0be31","name":"Finder Felix"},{"parameters":{"operation":"get","tableId":"german_cities","filters":{"conditions":[{"keyName":"state","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-1020,600],"id":"a030e756-1ac9-46be-8889-b4af3b82b8ca","name":"Check_State","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"german_cities"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-880,600],"id":"1a362c65-70d7-4ba0-8b37-3ba5570ba760","name":"Check_City","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"german_districts"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-740,600],"id":"1c498e4a-128e-46cf-ad50-2e092d4f2935","name":"Check_District","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d17cc19-9718-4ca8-8a95-71655e348f07","leftValue":"={{ $('Finder Felix').item.json.output.industry }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fc028b7e-c3fe-4730-93e7-46a4f7030dfa","leftValue":"={{ $('Finder Felix').item.json.output.locationType }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"664fa3e0-b57a-4f48-abe2-abed4edb9fdf","leftValue":"={{ $('Finder Felix').item.json.output.startScraping }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,360],"id":"7d1fb634-5d35-41e7-bbe5-b8d41e412fc4","name":"Start Scraping"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Finder Felix').item.json.output.locationType }}","rightValue":"state","operator":{"type":"string","operation":"equals"},"id":"583a0988-22cd-4b0d-9414-48fb3a1c48fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Scrape State"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb932fbc-cf49-4a60-bd1e-deb8e826782b","leftValue":"={{ $('Finder Felix').item.json.output.locationType }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Scrape City"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0d45210-8f03-4e4b-86f9-ade6b9fd36c6","leftValue":"={{ $('Finder Felix').item.json.output.locationType }}","rightValue":"district","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Scrape District"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-280,280],"id":"96bd68ab-2dcd-461b-afbd-c62a95bd6232","name":"Switch"},{"parameters":{"operation":"getAll","tableId":"german_districts","returnAll":true,"filters":{"conditions":[{"keyName":"city","condition":"ilike","keyValue":"={{ $('Finder Felix').item.json.output.city }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,180],"id":"68fb5b06-0261-4432-b47b-bc78ad916eb6","name":"Get City","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"51746dd0-2087-430b-aef5-76424ac07607","name":"supabaseProjectID","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1220,360],"id":"be88ff6c-90fb-4100-a8c4-bb770f5ffe7f","name":"ENV"},{"parameters":{"jsCode":"const industry = $('Finder Felix').first().json.output.industry.toLocaleLowerCase();\nconst baseUrl = `https://www.gelbeseiten.de/branchen/${industry}/`;\n\nconst locationType = $('Finder Felix').first().json.output.locationType;\nconst state = $input.first().json.state.trim();\nconst city = $input.first().json.city.trim();\nconst district = $input.first().json.district.trim();\n\nconst locationPart = `${city}%20${district}`;\nconst finalUrl = `${baseUrl}${locationPart.toLocaleLowerCase()}`;\n\nreturn [\n  {\n    json: {\n      url: finalUrl,\n      baseUrl,\n      industry,\n      locationType,\n      state,\n      city,\n      district\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,400],"id":"df2d3bbe-0ad0-4d2a-b055-fa21d8dc491a","name":"Build URL"},{"parameters":{"operation":"getAll","tableId":"german_districts","returnAll":true,"filters":{"conditions":[{"keyName":"state","condition":"ilike","keyValue":"={{ $('Finder Felix').item.json.output.state }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"id":"eb96020e-64fb-4932-9cdc-4a07f23fa699","name":"Get State","credentials":{"supabaseApi":{"id":"osUqX43dX4KAD1BF","name":"Supabase account"}}},{"parameters":{"jsCode":"// Just needed to run Once for all items in order to prevent multiple Telegram messages\n\nreturn {\n  \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,220],"id":"0ccb75b6-8618-4706-a2cb-d4c7d121da9e","name":"Code"},{"parameters":{"chatId":"={{ $('Message Felix').item.json.message.chat.id }}","text":"Bin Fertig Boss 😎","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,220],"id":"21b4e2e8-e49f-404b-9a24-65402ee61e53","name":"Finished","webhookId":"48b7de55-306a-429c-b2b7-ceec43b7b9b9","credentials":{"telegramApi":{"id":"JobbGPF7Bfgk4ba1","name":"Telegram account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"userMessage"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1400,200],"id":"87a23637-16a4-49e8-ba46-09e5fc5cd309","name":"Team Leader"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1320,600],"id":"e59f4089-aa3e-4593-b7fc-ff7371112ec6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-600,600],"id":"5c65019a-d92e-48b6-899a-07cebc78534f","name":"Structured Output Parser"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1338.5646920254458,720],"id":"53357237-90ca-4f04-8d9c-b35a123edac2","name":"Sticky Note"}],"connections":{"Search Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Detail Request":{"main":[[{"node":"Extract Info Section","type":"main","index":0}]]},"Extract Company Cards":{"main":[[{"node":"Extract Detail Pages","type":"main","index":0}]]},"Split Out Detail Pages":{"main":[[{"node":"Detail Request","type":"main","index":0}]]},"Extract Info Section":{"main":[[{"node":"Extract Cotact Info","type":"main","index":0}]]},"Extract Cotact Info":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Extract Detail Pages":{"main":[[{"node":"Split Out Detail Pages","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Build URL","type":"main","index":0}]]},"Add Company":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Extract Company Cards","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Add Company","type":"main","index":0}]]},"Message Felix":{"main":[[{"node":"ENV","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Finder Felix","type":"ai_memory","index":0}]]},"Answer User":{"main":[[{"node":"Start Scraping","type":"main","index":0}]]},"Finder Felix":{"main":[[{"node":"Answer User","type":"main","index":0}]]},"Check_State":{"ai_tool":[[{"node":"Finder Felix","type":"ai_tool","index":0}]]},"Check_City":{"ai_tool":[[{"node":"Finder Felix","type":"ai_tool","index":0}]]},"Check_District":{"ai_tool":[[{"node":"Finder Felix","type":"ai_tool","index":0}]]},"Start Scraping":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get State","type":"main","index":0}],[{"node":"Get City","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Get City":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ENV":{"main":[[{"node":"Finder Felix","type":"main","index":0}]]},"Build URL":{"main":[[{"node":"Search Request","type":"main","index":0}]]},"Get State":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Finished","type":"main","index":0}]]},"Team Leader":{"main":[[{"node":"ENV","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Finder Felix","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Finder Felix","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"75211502-dc31-473f-8983-b91a083eea49","activeVersionId":"75211502-dc31-473f-8983-b91a083eea49","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:11:47.665Z","createdAt":"2025-06-24T20:11:47.665Z","role":"workflow:owner","workflowId":"O9wifpyX5T52ddz4","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}