n8n/backup/workflows/osGAI165sjm0C4Ys.json
{"updatedAt":"2025-06-28T04:25:38.853Z","createdAt":"2025-06-28T04:25:38.853Z","id":"osGAI165sjm0C4Ys","name":"MyAssistant with Perplexity","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-680,80],"id":"92d734aa-c157-4501-afe2-123c0d7130a2","name":"Telegram Trigger","webhookId":"3b8f20c6-2007-48c1-a0e1-8f501c18e229"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,80],"id":"35c8844f-0e80-4493-b514-8c885fefb2e6","name":"Telegram","webhookId":"8231026b-29df-4a4a-9238-a0e72f4a464e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3388ce7f-5682-4851-8fce-65cd19c74ab1","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c967cd2-c18e-430d-a931-2866d1094eb2","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bild"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,80],"id":"7fd185cf-5935-4ed8-84cd-2490f57bab79","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[120,-140],"id":"c4750110-10b9-4dc9-8304-08bff43d6919","name":"Audio Download","webhookId":"b3adab0f-f287-4acd-b614-53e8b31612e9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fbb1bac-e576-4534-b33a-8c7f0d9a4846","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,80],"id":"9459d5d4-7929-4b30-9a1e-0456209af7ba","name":"If"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1380,-80],"id":"42edae37-a6c9-4dbe-be8d-99a33dd102c8","name":"Audio senden","webhookId":"5239c0bb-fef0-4e39-994a-8d09e6a6ed3b"},{"parameters":{"jsCode":"const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,440],"id":"0d717b1f-d5a8-47c9-b9d0-b10cd1f3139b","name":"Code"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $('Telegram Trigger').item.json.message.caption || \"Beschreibe das Bild\"}}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,440],"id":"44d16ba2-492e-4fa1-be3e-cd994f65c33b","name":"Analysiere Bild"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[280,-140],"id":"fa015690-021f-45d7-a0fe-ca0dd207346a","name":"Transkribieren"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1160,-80],"id":"e594165f-6455-4b94-9bb4-6366278652f4","name":"Audio generieren"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[2].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,440],"id":"3139028d-3514-43e8-8278-b1a8556fe615","name":"Bild herunterladen","webhookId":"cf0dc0c7-e91d-4379-a2fb-913e829fd251"},{"parameters":{"operation":"getAll","limit":5,"filters":{"labelIds":["INBOX","UNREAD"]}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[800,540],"id":"8858e79f-bc6c-44ea-9a54-bae1dff1b5af","name":"Emails lesen","webhookId":"2977a395-5b66-499f-a0d7-d1b642543e7f"},{"parameters":{"sendTo":"={{ $fromAI('email_adresse','Die Emailadresse des Empfängers.') }}","subject":"={{ $fromAI('email_betreff','Der Betreff der Email.') }}","emailType":"text","message":"={{ $fromAI('email_nachricht','Die Nachricht der Email.') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[940,540],"id":"fdfc7edc-c0b5-49fe-92d1-6f894d1cc6d2","name":"Emails senden","webhookId":"d813bf5e-831a-44fe-930b-d4dae50d0a9b"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1060,540],"id":"edc5ffb4-6458-4bd6-bc5b-92154a6b1f0f","name":"Kalender einsehen"},{"parameters":{"calendar":{"__rl":true,"value":"schweinsteiger@com-nex.de","mode":"list","cachedResultName":"ComNex"},"start":"={{ $fromAI('start') }}","end":"={{ $fromAI('ende') }}","additionalFields":{"summary":"={{ $fromAI('titel') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1180,540],"id":"2466f422-76aa-40ec-9718-44f01048e31b","name":"Kalendertermin planen"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1300,540],"id":"1cf3d73b-f9ea-45ac-b526-565b995d73af","name":"Internetsuche"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1420,700],"id":"9728600e-bff7-462c-94df-ef34b1739481","name":"Embeddings OpenAI"},{"parameters":{"mode":"retrieve-as-tool","toolName":"Kontakte","toolDescription":"Nutze dieses Tool, um Emailadressen abzurufen.","pineconeIndex":{"__rl":true,"value":"n8n-agent040-index","mode":"list","cachedResultName":"n8n-agent040-index"},"options":{"pineconeNamespace":"kontakte-hochladen"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1420,540],"id":"e876755b-a362-41d6-81a3-ae7d800a68d4","name":"Kontakte"},{"parameters":{"assignments":{"assignments":[{"id":"3af8999f-0611-4e73-a7b1-fc4943a05d24","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,80],"id":"c8dd133d-fbe1-49ed-940b-07f261ea2d7a","name":"Text standardisieren"},{"parameters":{"assignments":{"assignments":[{"id":"1c39951a-df34-4fc6-b7b1-991bcad6f5d8","name":"output","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,440],"id":"0c5b7a7a-07cd-42a4-8c63-f2c369c415ff","name":"Bild standardisieren"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.text }}"},{"content":"=# ROLLE\nDu bist ein freundlicher und hilfreicher Agent namens Jarvis.\n\n# EXTRA INFORMATIONEN\nDu sprichst gerade mit {{ $('Switch').item.json.message.from.first_name }}\nDas aktuelle Datum und die aktuelle Zeit sind: {{ $now }}\n\n# TOOLS\n\n## Emails lesen\nNutze dieses Tool, um Emails zu lesen.\n\n## Emails senden\nNutze dieses Tool, um Emails zu versenden.\n\n## Kalender einsehen\nNutze dieses Tool, um Termine im Kalender einzusehen.\n\n## Kalendertermin planen\nNutze dieses Tool, um Termine im Kalender zu planen.\n\n## Internetsuche\nNutze dieses Tool, um das Internet zu durchsuchen.\n\n## Kontakte\nNutze dieses Tool, um Informationen über Kontakte abzurufen, wie z.B. Email-Adressen.","role":"assistant"}]},"options":{"maxToolsIterations":15}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[500,80],"id":"10e8ece7-05c4-41e5-8194-acfd630d4e1f","name":"OpenAI"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1e18640-57b1-4fc6-9d60-3a5cf63a7f6c","leftValue":"={{ $json.message.from.id }}","rightValue":5154929017,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-460,80],"id":"618969a2-d451-4ad4-9cab-77b9ebd90662","name":"If1"},{"parameters":{"operation":"search","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1740,540],"id":"cf90a3b2-1255-4566-803a-d4f42040875d","name":"Notion"},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Page', ``, 'string') }}"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1860,540],"id":"a7f5517e-9f87-4785-afe8-288ac195fc0b","name":"Notion1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-100,-140],"id":"c6d5379b-9457-48a0-b2a1-414c35973b92","name":"OpenRouter Chat Model"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Audio Download","type":"main","index":0}],[{"node":"Text standardisieren","type":"main","index":0}],[{"node":"Bild herunterladen","type":"main","index":0}]]},"Audio Download":{"main":[[{"node":"Transkribieren","type":"main","index":0}]]},"If":{"main":[[{"node":"Audio generieren","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analysiere Bild","type":"main","index":0}]]},"Analysiere Bild":{"main":[[{"node":"Bild standardisieren","type":"main","index":0}]]},"Transkribieren":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Audio generieren":{"main":[[{"node":"Audio senden","type":"main","index":0}]]},"Bild herunterladen":{"main":[[{"node":"Code","type":"main","index":0}]]},"Emails lesen":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Emails senden":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Kalender einsehen":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Kalendertermin planen":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Internetsuche":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Kontakte","type":"ai_embedding","index":0}]]},"Kontakte":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Text standardisieren":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Bild standardisieren":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Notion":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"Notion1":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"380c8abb-a9a6-492e-8ee4-f94b0e9d7e67","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-28T04:25:38.853Z","createdAt":"2025-06-28T04:25:38.853Z","role":"workflow:owner","workflowId":"osGAI165sjm0C4Ys","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}