n8n/backup/workflows/pBmxiH3eFwkwfitw.json
{"updatedAt":"2025-06-28T04:33:31.076Z","createdAt":"2025-05-31T11:50:14.510Z","id":"pBmxiH3eFwkwfitw","name":"Recherche_Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"c6b95eb7-d7e9-464f-9a3a-92a868d2c108","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,280],"id":"d513bc0f-e1dd-43ad-82e3-a9ed68f47fa9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Nutze diese Tool um Aktiennews zu recherchieren.","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"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\",\n    \"query\": \"{Suchanfrage}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"Suchanfrage","description":"=Aktien News des Unternehmens, über welches der User Informationen haben will.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[540,280],"id":"7151806f-e9e9-4fb8-94b6-9e11fc86adb4","name":"Tavily","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=#Rolle:\nDu bist ein Recherche Agent mit der Aufgabe, aktuelle Nachrichten über Unternehmen zu analysieren und nur die wichtigsten, kursrelevanten Informationen kompakt zusammenzufassen.\n\n#Tool:\nTavily → Nutze dieses Tool, um aktuelle Nachrichten zu Aktienunternehmen zu finden und erhalte eine Liste der neuesten Meldungen.\n\n#Aufgabe:\nAnalysiere die erhaltenen Nachrichten und filtere nur die relevantesten und marktbewegenden Informationen heraus.\nLasse unwichtige oder nicht kursrelevante News weg.\nFalls keine relevanten Nachrichten enthalten sind, gib zurück, dass es keine aktuellen relevanten News gibt.\n\n#Ausgabe:\nEine kurze und prägnante Zusammenfassung der wichtigsten Nachrichten.\nPro Nachricht 1 bis 2 Sätze.\nStrukturiere deinen Ausgabebericht übersichtlich.\nSchreibe auch bei allen Nachrichten einzeln am Ende noch das Datum der Veröffentlichung, welches du jeweils von Tavily erhältst.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[280,0],"id":"26a1d547-8063-4ae0-8567-a0efe6d6e2a3","name":"Recherche_Agent","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"79e045a4-9124-4a5f-838a-614d7871b7ac","name":"News_Analyse","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,0],"id":"f756bfbe-6652-42df-80ea-afba2d3aea86","name":"Antwort"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Recherche_Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Recherche_Agent","type":"ai_languageModel","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Recherche_Agent","type":"ai_tool","index":0}]],"main":[[{"node":"Antwort","type":"main","index":0}]]},"Recherche_Agent":{"main":[[{"node":"Antwort","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"862e8084-724a-4183-a646-35cee8181a7b","activeVersionId":"862e8084-724a-4183-a646-35cee8181a7b","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:15:35.558Z","createdAt":"2025-06-24T20:15:35.558Z","role":"workflow:owner","workflowId":"pBmxiH3eFwkwfitw","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}