n8n/backup/workflows/Pv6vgapIsAGlIhlp.json
{"updatedAt":"2025-06-28T04:33:34.321Z","createdAt":"2025-05-31T11:49:56.110Z","id":"Pv6vgapIsAGlIhlp","name":"Finanzdaten_Tool","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-460,120],"id":"2a9e4d34-a939-49d2-af05-a3abd9dc9502","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const analystenDaten = items.map(item => item.json);\n\nconst formattedOutput = analystenDaten.map(item =>\n  `${item.period}: Stark Kaufen: ${item.strongBuy}, Kaufen: ${item.buy}, Halten: ${item.hold}, Verkaufen: ${item.sell}, Stark Verkaufen: ${item.strongSell}`\n).join(\"\\n\");\n\nreturn [{ json: { output: formattedOutput } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"5a3bb159-eb85-403b-a485-ae07ec7dc998","name":"Code"},{"parameters":{"jsCode":"const metrics = $json[\"metric\"];\nconst relevanteDaten = {\n  // Bei Marktkapitalisierung direkt \"USD\" ergänzen.\n  Marktkapitalisierung: metrics.marketCapitalization + \" USD\",\n  \n  // KGV, KUV, KBV, Beta: keine Einheit (Verhältniszahlen).\n  KGV_TTM: metrics.peTTM,\n  KUV_TTM: metrics.psTTM,\n  KBV_TTM: metrics.pbQuarterly,\n  \n  // Wachstum & Margen: in Prozent.\n  Umsatzwachstum_5J: metrics.revenueGrowth5Y + \" %\",\n  Gewinnwachstum_5J: metrics.epsGrowth5Y + \" %\",\n  Nettogewinnmarge_TTM: metrics.netProfitMarginTTM + \" %\",\n  Bruttomarge_TTM: metrics.grossMarginTTM + \" %\",\n  Eigenkapitalrendite_TTM: metrics.roeTTM + \" %\",\n  \n  // Quick Ratio & Verschuldungsgrad: keine Einheit (Ratios).\n  Quick_Ratio_TTM: metrics.quickRatioQuarterly,\n  Verschuldungsgrad_TTM: metrics[\"totalDebt/totalEquityQuarterly\"],\n  \n  // 52-Wochen Hoch/Tief in USD.\n  \"52_Wochen_Hoch\": metrics[\"52WeekHigh\"] + \" USD\",\n  \"52_Wochen_Tief\": metrics[\"52WeekLow\"] + \" USD\",\n  \n  // Beta: keine Einheit (Verhältnis).\n  Beta: metrics.beta,\n  \n  // YTD Kursveränderung: Prozent.\n  YTD_Kursveränderung: metrics.yearToDatePriceReturnDaily + \" %\",\n  \n  // Dividendenrendite & Ausschüttungsquote: Prozent.\n  Dividendenrendite_TTM: metrics.currentDividendYieldTTM + \" %\",\n  Ausschüttungsquote_TTM: metrics.payoutRatioTTM + \" %\"\n};\n\n// Als JSON-String für den nächsten Node\nconst jsonString = JSON.stringify(relevanteDaten, null, 2);\n\nreturn {\n  json: {\n    output: jsonString\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,260],"id":"12348b92-eb08-4aeb-85bd-f19ce0967328","name":"Code1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,100],"id":"0d23b05a-9101-4e49-a447-d480a464da3f","name":"Merge"},{"parameters":{"url":"=https://finnhub.io/api/v1/stock/metric","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.Ticker }}"},{"name":"token","value":"d0tfpr9r01qlvahbsgugd0tfpr9r01qlvahbsgv0"},{"name":"metric","value":"all"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,260],"id":"8112f3ca-d8d9-4a19-86b1-6690d84c52de","name":"Get_Finanzzahlen","onError":"continueErrorOutput"},{"parameters":{"url":"https://finnhub.io/api/v1/stock/recommendation","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.Ticker }}"},{"name":"token","value":"d0tfpr9r01qlvahbsgugd0tfpr9r01qlvahbsgv0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"81e83e58-eb56-4fd8-8c37-530ca5bc1a30","name":"Analysten_Empfehlungen","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4064853c-7014-4782-a117-94aca7941271","name":"Analyse","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"bc2839dd-ff8c-40ba-affb-28ab4620c7e6","name":"Set_Analyse"},{"parameters":{"assignments":{"assignments":[{"id":"194dbbc5-79b1-495f-8c9e-c6ba7f7b2385","name":"Finanzdaten","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,260],"id":"b6a20e39-2726-4051-9b5d-5ea20225a01b","name":"Set_Finanzdaten"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=#Rolle:\nDu bist ein erfahrener Finanzanalyst mit Fachwissen über Unternehmensbewertung, Aktienmärkte und Investmentstrategien. Deine Aufgabe ist es, eine prägnante und fundierte Analyse zu erstellen, indem du die rohen Finanzkennzahlen und die aktuellen Analystenempfehlungen auswertest und in einen strukturierten Finanzbericht überführst.\n\n#Eingangsdaten:\n\n1. Ticker des Unternehmens (zum Namen umwandeln)\n2. Finanzkennzahlen (Rohdaten, noch nicht interpretiert)\n3. Analystenempfehlungen (unverarbeitet)\n\n#Vorgehensweise:\n\nFinanzkennzahlen analysieren:\n\nBewerte Rentabilität, Wachstum, Verschuldung und Bewertung.\nIdentifiziere finanzielle Stärken und Schwächen.\nAnalystenmeinungen interpretieren:\n\nAnalysiere, ob die Empfehlungstrends positiv oder negativ verlaufen.\nSetze die Analystenbewertungen in den Kontext der Finanzlage des Unternehmens.\nErgebnisse kombinieren & bewerten:\nZeige auf, ob die Analysteneinschätzung mit den Finanzkennzahlen übereinstimmt.\nZiehe eine klare, begründete Schlussfolgerung zur aktuellen Attraktivität der Aktie.\n#Ausgabeformat:\nErstelle einen strukturierten, präzisen Finanzbericht mit folgenden Abschnitten:\n\n###Einleitung:\nKurzvorstellung des Unternehmens & aktuelle Marktlage.\n\n###Finanzanalyse:\nBewertung der wichtigsten Kennzahlen & deren Bedeutung.\n\n###Analystenmeinungen:\nInterpretation der Kauf- und Verkaufsempfehlungen.\n\n###Fazit:\nZusammenfassung der wichtigsten Erkenntnisse & Investitionseinschätzung.\n\nDer Bericht soll klar, faktenbasiert und präzise sein – ohne Spekulationen oder unnötige Ausschweifungen.\n\n","role":"system"},{"content":"=Unternehmen: {{ $('Set_Ticker').item.json.Ticker }}\nFinanzkennzahlen: {{ $json.Finanzdaten }}\nAnalystenempfehlungen: {{ $json.Analyse }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[940,100],"id":"7dd7791d-9b24-4334-9bfc-8ea160c18e6d","name":"Finanzanalyst","credentials":{"openAiApi":{"id":"FVYIZfbeuicS9zQm","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5ae9f8e9-c672-4918-8dc5-b7417864578f","name":"Finanzanalyse","value":"={{ $json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,100],"id":"ef7d779d-3e2b-4946-ba83-43720a6481a8","name":"Antwort"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce4f2d-b72c-4177-9f7b-6c89bb49b556","name":"Ticker","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,120],"id":"40fe20ef-9c73-4066-9704-c9c519befd43","name":"Set_Ticker"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Set_Ticker","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set_Analyse","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Set_Finanzdaten","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Finanzanalyst","type":"main","index":0}]]},"Get_Finanzzahlen":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Antwort","type":"main","index":0}]]},"Analysten_Empfehlungen":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Antwort","type":"main","index":0}]]},"Set_Analyse":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set_Finanzdaten":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Finanzanalyst":{"main":[[{"node":"Antwort","type":"main","index":0}]]},"Set_Ticker":{"main":[[{"node":"Analysten_Empfehlungen","type":"main","index":0},{"node":"Get_Finanzzahlen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46385e97-271f-4e12-895b-fa693835fbe7","activeVersionId":"46385e97-271f-4e12-895b-fa693835fbe7","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:12:18.569Z","createdAt":"2025-06-24T20:12:18.569Z","role":"workflow:owner","workflowId":"Pv6vgapIsAGlIhlp","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}