n8n/backup/workflows/QWLU2NnZaiSO2oHf.json
{"updatedAt":"2025-07-01T13:58:58.221Z","createdAt":"2025-06-30T13:09:23.341Z","id":"QWLU2NnZaiSO2oHf","name":"Create_Image","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-200,220],"id":"e38ea0da-2d5a-46b4-a48a-ddc0bd37d4ca","name":"Convert to File"},{"parameters":{"workflowInputs":{"values":[{"name":"imageTitle"},{"name":"imagePrompt"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1020,220],"id":"0b4b25e4-da43-4cef-9b5d-0c8f5cd7e90d","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"size","value":"1024x1024"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,220],"id":"6f36f356-6365-43c5-970d-f80848d494ba","name":"Generate Image","credentials":{"httpHeaderAuth":{"id":"QBC9AdjuavOdsmH6","name":"platform.openai.com"},"httpBearerAuth":{"id":"06v7fLXXM0xJdlCy","name":"openai.com"},"openAiApi":{"id":"WAUzRIXDezaT45rS","name":"OpenAi image"}}},{"parameters":{"promptType":"define","text":"={{ $json.imagePrompt }}","options":{"systemMessage":"=# Overview\nYou are an expert image prompt engineer. Your role is to take a simple image topic or concept and expand it into a fully detailed image prompt that can be fed into a text-to-image generation model.\n\n## Prompt Instructions\nYour detailed prompt must clearly describe the following:\n1) Main Subject: What is the primary focus of the image?\n2) Background/Setting: What is happening in the background or environment?\n3) Style: Specify the visual style (e.g., hyper-realistic, digital painting, watercolor, anime, 3D render, etc.).\n4) Mood/Lighting: Describe the emotional tone and lighting (e.g., soft warm sunset, moody storm clouds, futuristic neon lights).\n5) Additional Details: Mention any specific objects, clothing, colors, textures, or notable features that should appear.\n\n## Output Format\n- Begin with a clean, natural-sounding descriptive prompt that integrates all of the above elements seamlessly.\n- The description should sound like it’s written specifically for an AI to generate a professional, high-quality image.\n- Avoid repeating the original topic verbatim — instead, reframe it into a vivid scene or visual concept.\n- Use rich, vivid language and imagery.\n\n## Example\n- Input: \"A futuristic city\"\n- Output: \"A sprawling futuristic city at night, glowing with neon lights in shades of blue and purple. Towering skyscrapers with sleek, glass facades line the horizon. Flying cars zoom between the buildings under a cloudy, electric sky. The streets below are bustling with holographic advertisements and people wearing high-tech fashion. Digital painting style, highly detailed, cinematic perspective, moody atmosphere with soft neon reflections on wet pavement.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-760,220],"id":"66a8c0e9-8ad1-4f29-a4ae-bdd3d5efd74b","name":"Image Prompt"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-740,460],"id":"ec9d456b-e9c9-487d-8893-cb89ab1a2b2a","name":"GPT 4.1","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M","mode":"list","cachedResultName":"Marketing Team Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1y8vl_RKqOqOFreCzqNHWQPzQp73VOtCfmtqKeD2203M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Request":"={{ $('When Executed by Another Workflow').item.json.imagePrompt }}","ID":"={{ $json.id }}","Link":"={{ $json.webViewLink }}","Title":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","Type":"Image"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,360],"id":"63467492-60e6-4a32-96f5-ce84dff93d43","name":"Image Log","credentials":{"googleSheetsOAuth2Api":{"id":"kqWF6D5OmglPCaqB","name":"Google Sheets account"}}},{"parameters":{"content":"# Image Prompt\n","height":240,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,140],"id":"4930bfdc-ce22-4077-9518-b185ca429be8","name":"Sticky Note4"},{"parameters":{"content":"## Model","height":180,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,400],"id":"c8cd36b6-0570-473f-8610-14a82310c3ed","name":"Sticky Note2"},{"parameters":{"content":"# Trigger\n","height":240,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1100,140],"id":"85016224-a4fe-4bf3-9bcd-5f7802a3abf4","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# Generate Image\n","height":240,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-440,140],"id":"606997f1-2271-42c3-bc78-fa26822252be","name":"Sticky Note1"},{"parameters":{"content":"# Send Content","height":240,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"dc8abc1c-c264-41c8-8493-dcdac8071536","name":"Sticky Note7"},{"parameters":{"content":"# Write to Drive & Sheets","height":240,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,280],"id":"6c5c853f-03a9-421e-8650-816627199290","name":"Sticky Note6"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[100,80],"id":"6346e7cd-0f57-4459-a575-89bc5342c3ed","name":"Send Photo","webhookId":"8fcbda9c-8396-41f7-8f2d-39e4ae4337c7","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1J4LAK8SjxBARJ6hQ1gxAxui03NGc8DOI","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1J4LAK8SjxBARJ6hQ1gxAxui03NGc8DOI"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[100,360],"id":"596dfd71-354c-4801-b2c4-e370f3af7aef","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"rzD3dR4D5azL5oS0","name":"Google Drive account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Image Prompt":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Image Prompt","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Send Photo","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Image Log","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"imageTitle":"Cat Food Flash Sale Flyer","imagePrompt":"A colorful flyer featuring a playful cat, with bowls of cat food and bold text that says 'Flash Sale!' Bright, eye-catching design with discounts prominently displayed. Include paw prints, vibrant colors, and a sense of urgency to attract attention for a cat food flash sale event.","chatID":7523827206}}],"Image Prompt":[{"json":{"output":"A vibrant, attention-grabbing flyer design centered around an adorable, animated orange tabby cat playfully batting at a bowl filled with kibble. Scattered across the background are whimsical, multi-colored paw prints and stylized confetti, creating a lively, energetic atmosphere. Bold, oversized lettering in glossy red and yellow reads “Flash Sale!” at the top, with chunky discount tags and price stickers popping out around the cat food bowls. The setting is awash in vivid hues—turquoise, magenta, lime green—with dynamic, swirling patterns that amplify the sense of excitement. The cat wears a cute blue collar and has an expressive, eager face. The composition feels dynamic and urgent, with angled elements and motion lines evoking the thrill of a limited-time event. Clean, modern digital graphic style with crisp outlines and playful, cartoonish accents throughout."}}]},"versionId":"2fc51c4a-1ac2-4bf8-ae2f-56b17b5c8c3a","activeVersionId":"2fc51c4a-1ac2-4bf8-ae2f-56b17b5c8c3a","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-30T13:09:23.341Z","createdAt":"2025-06-30T13:09:23.341Z","role":"workflow:owner","workflowId":"QWLU2NnZaiSO2oHf","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}