n8n/backup/workflows/x5R8RtqBWuN1s3Cc.json
{"updatedAt":"2025-09-08T18:25:37.785Z","createdAt":"2025-09-08T11:35:23.380Z","id":"x5R8RtqBWuN1s3Cc","name":"singe_image_generation_with_google_nano_banana","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"Einzelne Bilder (PNG) bearbeiten with google nano banana"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,-32],"id":"999dd710-d76e-4f5b-9d10-2674c23655df","name":"Sticky Note"},{"parameters":{"formTitle":"Bild Hochladen","formFields":{"values":[{"fieldLabel":"Bild","fieldType":"file","multipleFiles":false,"requiredField":true},{"fieldLabel":"Prompt","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[224,0],"id":"fcc3a70a-7972-460e-851e-abdd138b28ae","name":"On form submission","webhookId":"ef75ba57-d7b5-411c-81a0-ecc92cc13a71"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"Bild","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,0],"id":"0f59de4c-e34f-40d1-acdc-1c046f11e24d","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ $('On form submission').item.json.Prompt.toJsonString() }}\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": {{ (\"data:image/png;base64,\" + $json.data).toJsonString() }}\n          }\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0],"id":"00183b08-7ce3-4281-9148-831987cced6f","name":"HTTP Request","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dcc9ce77-e79e-4471-a7a9-dd01189208d2","name":"base64","value":"={{ $json.choices[0].message.images[0].image_url.url.split(',')[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,0],"id":"905d6348-0811-4f91-ae02-f8b40d1df223","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1056,0],"id":"c05073f9-831d-452d-ab5c-29d100e0c38b","name":"Convert to File"},{"parameters":{"content":"Mehrere Bilder (PNG) bearbeiten with google nano banana"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,224],"id":"f9ebcc3e-4de8-49a0-b5b3-a1fca4af07be","name":"Sticky Note1"},{"parameters":{"formTitle":"Bild Hochladen","formFields":{"values":[{"fieldLabel":"Bild","fieldType":"file","requiredField":true},{"fieldLabel":"Prompt","placeholder":"Wie sollen die Bilder kombiniert werden?","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[224,256],"id":"6084b8e8-0f8a-4864-b2fe-ae55d5ff695d","name":"On form submission1","webhookId":"1fdc9e4d-3232-439f-bebc-8bf1323bc622"},{"parameters":{"jsCode":"// Split multipßle binary fields into one item per title\n// Always output under binary.data\n\nconst out = [];\n\nfor (const item of items) {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  for (const key of Object.keys(b)) {\n    // JSON-Daten uebernehmen + Info, woher die Datei kam\n    const jsonClone = { ...j, _sourceBinaryKey: key };\n\n    // Binaerdaten immer auf \"data\" setzen\n    out.push({\n      json: jsonClone,\n      binary: { data: b[key] },\n    });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,256],"id":"75eb0940-af99-4adc-9828-14b34bb4e771","name":"Code"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[656,256],"id":"a9e36c92-b22a-40dd-bfa1-a0691ef8f8b7","name":"Extract from File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"Describe in detail what is in this image per File Name, including objects, colors, materials, and notable characteristics. Maximum 2 sentences.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[656,464],"id":"74cf38ae-542a-4af3-9db9-f7accd90ba07","name":"Analyze image","credentials":{"googlePalmApi":{"id":"qv78uCTVoBcESuz4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[864,256],"id":"8642f035-6429-4669-9061-8a3d9fd6fcc4","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"},{"fieldToAggregate":"candidates[0].content.parts[0].text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1072,256],"id":"2d2b74e1-415b-4e85-a086-8d11a2c50a5a","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ $('On form submission1').item.json.Prompt.toJsonString() }}\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": {{ (\"data:image/png;base64,\" + $json.data[0]).toJsonString() }}\n          }\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": {{ (\"data:image/png;base64,\" + $json.data[1]).toJsonString() }}\n          }\n        },\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,256],"id":"6b05d8d9-65bd-41b7-a600-2e4d203de303","name":"HTTP Request1","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dcc9ce77-e79e-4471-a7a9-dd01189208d2","name":"base64","value":"={{ $json.choices[0].message.images[0].image_url.url.split(',')[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,256],"id":"7d88fd67-ba42-4945-a03c-9878ced169f1","name":"Edit Fields1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1712,256],"id":"767c4979-18ae-4154-85e6-7329b9e2b1f8","name":"Convert to File1"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Extract from File1","type":"main","index":0},{"node":"Analyze image","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"962ce202-d00f-4443-8430-264b9e7cab0e","activeVersionId":"962ce202-d00f-4443-8430-264b9e7cab0e","versionCounter":23,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-09-08T11:35:23.380Z","createdAt":"2025-09-08T11:35:23.380Z","role":"workflow:owner","workflowId":"x5R8RtqBWuN1s3Cc","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}