n8n/backup/workflows/X63lashCAP9VAHHw.json
{"updatedAt":"2025-07-04T08:48:07.033Z","createdAt":"2025-06-30T13:08:21.803Z","id":"X63lashCAP9VAHHw","name":"AI_Marketing_Team","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[840,500],"id":"d9b8d764-60a9-496e-b04c-1acbcc521e7c","name":"GPT 4.1","credentials":{"openRouterApi":{"id":"6DQjMEwrj4Nu6kmK","name":"OpenRouter account"}}},{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"QWLU2NnZaiSO2oHf","mode":"list","cachedResultName":"Create_Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Edit Fields').item.json.chatID }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image requested by the user`, 'string') }}","imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the image. Should be no more than 4 words.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1800,500],"id":"8084b857-dc67-4345-a018-338b8b4b6dc6","name":"Create Image"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Switch').item.json.messageID || 'zjs1' }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1120,500],"id":"f0ec64ba-b76f-4beb-baa5-00f21a341817","name":"Simple Memory"},{"parameters":{"name":"editImage","description":"Call this tool to edit an image.","workflowId":{"__rl":true,"value":"UT1TPrFp4DysQgvK","mode":"list","cachedResultName":"Edit_Image"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}","chatID":"={{ $('Edit Fields').item.json.chatID }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1960,500],"id":"20ef4d54-2480-41a8-a12d-9387ad8a4949","name":"Edit Image"},{"parameters":{"name":"searchImages","description":"Call this tool to search the image database.","workflowId":{"__rl":true,"value":"cPdxgsSyecE9nuDD","mode":"list","cachedResultName":"Search_Images"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}","chatID":"={{ $('Edit Fields').item.json.chatID }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2200,500],"id":"d6c1aa01-1cb8-4ab9-b83b-633a83185cfc","name":"Search Images"},{"parameters":{"name":"blogPost","description":"Call this tool to create a blog post using a topic and a target audience.","workflowId":{"__rl":true,"value":"i3Ixz2sgTCf66095","mode":"list","cachedResultName":"Blog_Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"blogTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}","chatID":"={{ $('Edit Fields').item.json.chatID }}"},"matchingColumns":[],"schema":[{"id":"blogTopic","displayName":"blogTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1620,500],"id":"c795ea0f-7bbd-4a2c-8279-e13bf4261dbf","name":"Blog Post"},{"parameters":{"content":"# Marketing Team","height":400,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0],"id":"5cb32547-1ad2-41fd-84d9-b202bd00ca6a","name":"Sticky Note"},{"parameters":{"name":"linkedinPost","description":"Call this tool to create a LinkedIn post using a topic and a target audience.","workflowId":{"__rl":true,"value":"DhYbbiRKqfcj8pxk","mode":"list","cachedResultName":"LinkedIn_Post"},"workflowInputs":{"mappingMode":"defineBelow","value":{"postTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postTopic', `The topic of the LinkedIn post`, 'string') }}","targetAudience":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience of the LinkedIn post`, 'string') }}","chatID":"={{ $('Edit Fields').item.json.chatID }}"},"matchingColumns":[],"schema":[{"id":"postTopic","displayName":"postTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"targetAudience","displayName":"targetAudience","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1460,500],"id":"11ad1f7d-93b5-4ac7-a262-49e2a7461672","name":"LinkedIn Post"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"},{"id":"280ff90e-15f3-4c31-b549-f4d1e3df1e99","name":"","value":"","type":"string"}]},"options":{}},"id":"89e106bc-4345-4a70-9c9e-8b9fefe1df49","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,240]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"a6198c24-70af-4a45-9409-3d9152addf02","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1260,80],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"69273259-1f07-4f2a-851e-5db421b3dbce","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1420,80],"credentials":{"openAiApi":{"id":"x2LUtOteSd2nyRoG","name":"OpenAi account (local)"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.voiceFileID }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ae8a0add-940e-4fa9-a0d6-a4bce7ea0ad6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"allMatchingOutputs":false}},"id":"0bd084e2-8f67-4c65-ad4a-bb76180cb7de","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1000,160]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"6095f742-cd87-4ee0-b099-fcd15dcfa97f","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[620,240],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}},"disabled":true},{"parameters":{"content":"# Trigger\n","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,0],"id":"37679338-ec0a-44c8-8179-0475c9da393c","name":"Sticky Note1"},{"parameters":{"content":"# Content Creation","height":220,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,420],"id":"50fe4128-a1ce-4901-825e-588daa0a369b","name":"Sticky Note2"},{"parameters":{"content":"# Image Creation","height":220,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,420],"id":"a6e7983e-2b56-4f4d-bf5c-c238da00f715","name":"Sticky Note3"},{"parameters":{"content":"# Image Database","height":220,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2100,420],"id":"e567934c-675b-44f8-b204-bcaeec4251fe","name":"Sticky Note4"},{"parameters":{"content":"# Response\n\n","height":400,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2100,0],"id":"deed1889-b66c-4b7e-916f-5b273381c9b4","name":"Sticky Note5"},{"parameters":{"content":"# Brain\n\n","height":220,"width":660,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,420],"id":"2592872d-a2d3-4090-bcc3-f9504c2d71dd","name":"Sticky Note6"},{"parameters":{"content":"# Voice or Text","height":400,"width":420,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,0],"id":"60a9e052-af98-4d22-a4a0-0b01fb955ef6","name":"Sticky Note7"},{"parameters":{"name":"video","description":"Call this tool to create a video.","workflowId":{"__rl":true,"value":"wU2lfZmU8hLdlV9r","mode":"list","cachedResultName":"Faceless_Video"},"workflowInputs":{"mappingMode":"defineBelow","value":{"videoTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `The topic of the video`, 'string') }}","chatID":"={{ $('Edit Fields').item.json.chatID }}"},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1300,500],"id":"50612473-e87e-4955-9809-7c0da9f53f31","name":"Video"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are a marketing team AI agent. Your job is to help the user create and edit images based on the request, or create content.\n\n## Tools\ncreateImage - Use this to create an image. Send the requested image prompt to this tool.\neditImage - Use this to edit an image. The user might also say \"make\" rather than \"edit\".\nImage Database - Use this to search the image database. \nblogPost - Use this to create a blog post.\nlinkedinPost - Use this to create a LinkedIn post.\nvideo - Use this tool to create a video.\nThink - Use this if you need help making a decision.\n\n## Instructions\n- If the user asks to 'edit that image' or 'make that...', this indicates they want to edit the last image in the database, the most recent one.\n- If the user requests a blog post or LinkedIn post, use the \"blogPost\" or \"linkedinPost\" tool and output: \"Here's that post you requested. Hope you enjoy it.\"\n\n## Output\n- Make sure to return the image link as a clickable link\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1720,160],"id":"177b3ed3-f7dc-4d9c-a74b-3a2d1f685a03","name":"Marketing Team Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[980,500],"id":"85317e11-5c72-46a5-9f10-570b3683af8a","name":"Think"},{"parameters":{"content":"# 📋 Setup Guide  \n**Author: [Nate Herk](https://www.youtube.com/@nateherk/videos)** **[Youtube instructions](https://www.youtube.com/watch?v=ldETapkr8Hg&t=3s)**\n---\n### ✅ First Steps\n1. **Import the following workflows** into your n8n environment:\n   - Video\n   - LinkedIn Post\n   - Blog Post\n   - Create Image\n   - Edit Image\n   - Search Images\n\n2. **Link all workflows** together appropriately.\n   - Make sure that the tools the Marketing Team Agent uses are correctly linked to these workflows.\n   - Rename workflows as needed to fit your naming system.\n---\n\n### 🔗 Credentials to Connect\n- **[Telegram Credential](https://telegram.org/)** (for outbound/inbound communication)\n- **[OpenRouter](https://openrouter.ai/) Credential** (for AI requests)\n- **[Tavily](https://tavily.com/) Credential** (for research inside LinkedIn Post and Blog Post workflows)\n---\n\n### 🔑 API Keys to Configure\nInside the **Video Workflow**:\n- **[PiAPI](https://piapi.ai/) API Key** (for video generation)\n- **[Runway](https://runwayml.com/) API Key** (for video processing)\n- **[ElevenLabs](https://elevenlabs.io/) API Key** (for voice generation)\n\nInside the **LinkedIn Post** and **Blog Post Workflows**:\n- **[Tavily](https://tavily.com/) API Key** (for research assistance)\n---\n\n### 📄 Templates to Download and Connect\n- **[Creatomate](https://creatomate.com/) Image Template**  \n  → Download from the Free Skool Community\n\n- **[Google Sheets Log Template](https://docs.google.com/spreadsheets/d/1wQxM9cAwewCigPH22KDidMu_i9j_dx4MHEa5rmJiw5I/edit?usp=sharing)**  \n  → Connect it to your n8n Google Sheets node to track content outputs.\n---\n\nMake sure all credentials, APIs, and templates are properly set before running the full system!\n","height":1000,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"740174ea-6a48-4177-8bed-036443756bb5","name":"Sticky Note8"},{"parameters":{"content":"# AI Marketing Team — Cost Breakdown\nHere’s an overview of the costs associated with running the AI Marketing Team workflow in\nn8n:\nImage Creation\n● OpenAI (gpt-image-1)\n○ ~$0.19 per image\n○ ~$0.19 per image edit\n○ Used for blog post and LinkedIn post images\n● Alternative Options:\n○ DALL-E-2\n■ ~$0.02–$0.12 per image\n○ DALL-E-3\n■ Standard Quality (1024×1024): ~$0.04 per image\n■ High Quality: ~$0.17 per image\n■ Low Quality: ~$0.01 per image\n○ Flux Model (used for video creation)\n■ ~$0.015 per image\nVideo Creation\n● Runway (Video Generation)\n○ ~$0.25 per 5-second video clip\n○ 4 clips (~$1.00 per final video)\n● Creatomate (Video Rendering)\n○ Free Trial:\n■ Credits: 50 free credits\n○ Essential Plan:\n■ Cost: $41/month (billed annually)\n○ Includes: 2,000 credits, suitable for approximately 200+ videos or 2,000 images\nSound Effects Generation\n● ElevenLabs (Starter Plan)\n○ $5/month for a generous amount of credits\n○ Plenty for experimentation and small-to-medium workloads\nText Generation & Reasoning\n● GPT-4.1 Pricing\n○ $2.00 per 1M input tokens\n○ $8.00 per 1M output tokens\n● GPT-4.1 Mini Pricing\n○ $0.40 per 1M input tokens\n○ $1.60 per 1M output tokens\nKey Notes\n● You can lower image costs by switching to a DALL·E 2 model if ultra-high image quality\nisn’t necessary.\n● Video creation is primarily driven by Flux + Runway, making it affordable even when\nscaling.\n● Text generation costs remain low unless generating extremely high volumes of content.","height":1020,"width":980},"type":"n8n-nodes-base.stickyNote","position":[0,1020],"typeVersion":1,"id":"4efca253-5c11-4608-b164-4c0623fac032","name":"Sticky Note9"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n\"query\": \"Please create a blog post about the effect of missing the opportunity to work with AI systems in organizations for employees in the public service in Germany.\",\n\"messageID\": 123,\n\"chatID\": 789\n}\n"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[620,80],"id":"c42ded0d-ff73-44b3-a51f-4cae8b08f916","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ecb0b603-474d-491e-b000-cf0a56dea154","name":"message.text","value":"={{ $json.query }}","type":"string"},{"id":"ec3f76fb-cf8f-4574-b700-7a45e5d552e4","name":"messageID","value":"={{ $json.messageID }}","type":"number"},{"id":"d4ea82e5-83ca-444b-a764-28ec33607e65","name":"chatID","value":"={{ $json.chatID }}","type":"number"},{"id":"d6c7ecc9-5b11-4538-adfb-b6f8bf7e0c10","name":"voiceFileID","value":"={{ $json.voiceFileID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,80],"id":"425ea30e-099e-4e74-834a-bfb5366f9eb3","name":"Edit Fields"},{"parameters":{"chatId":"={{ $('Edit Fields').item.json.chatID }}","text":"={{ $ifEmpty( $json.output, 'Empty return value at Workflow: ' + $workflow.name + ' - ID: ' + $workflow.id + '\\n' ) }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2180,160],"id":"eb18a0f0-4d18-4ab1-be09-77dfcfc5b868","name":"Send a text message","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649","credentials":{"telegramApi":{"id":"SuSzP19cDburaJPA","name":"AgentHCAI (hcai_bot)"}}}],"connections":{"GPT 4.1":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0}]]},"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Edit Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Search Images":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Blog Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"LinkedIn Post":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Video":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Marketing Team Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Please let Marketing create a video of  an ai agent is hunting business professionals","messageID":373,"chatID":7523827206}}]},"versionId":"32802103-b593-49a2-9999-fbe8e03a2c29","activeVersionId":"32802103-b593-49a2-9999-fbe8e03a2c29","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-30T13:08:21.803Z","createdAt":"2025-06-30T13:08:21.803Z","role":"workflow:owner","workflowId":"X63lashCAP9VAHHw","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}