n8n/backup/workflows/Y8dF5UtxaZJT8fzW.json
{"updatedAt":"2025-06-28T04:31:12.094Z","createdAt":"2025-06-20T13:34:38.212Z","id":"Y8dF5UtxaZJT8fzW","name":"Email-Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"ac194595-317a-4749-a779-a57a6ea8ec66","name":"When chat message received","webhookId":"601fc321-d196-4e74-a593-5c41078b9e88"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"Gesamtkontext:\n\nDer Agent empfängt Chat-Nachrichten und verarbeitet sie mithilfe eines Vektor-Speichers. Falls erforderlich, sendet er eine E-Mail mit dem send_email-Tool unter Verwendung vordefinierter Parameter.\n\nErforderliche Abfrageparameter für das send_email-Tool:\n\nDer Agent muss die folgenden Felder dynamisch ausfüllen:\n\n{\n  \"sendTo\": \"[Empfänger-E-Mail-Adresse]\",\n  \"subject\": \"[Basierend auf der Nutzeranfrage generiert]\",\n  \"emailType\": \"text\",\n  \"message\": \"[Der von der KI generierte E-Mail-Inhalt]\",\n  \"appendAttribution\": false,\n  \"bccList\": \"[Optionale BCC-Empfänger]\",\n  \"ccList\": \"[Optionale CC-Empfänger]\",\n  \"senderName\": \"[Vordefinierter oder benutzerdefinierter Absendername]\"\n}\n\nAblauf des Agenten:\n\n    Empfangen einer Chat-Nachricht\n        Erkennen, ob eine Antwort erforderlich ist.\n        Den Pinecone-Vektor-Speicher nutzen, um relevantes Wissen abzurufen.\n        Eine KI-basierte Antwort generieren.\n\n    Bestimmen, ob eine E-Mail erforderlich ist\n        Falls eine E-Mail gesendet werden muss, die Anfrage mit den strukturierten Parametern formatieren.\n\n    E-Mail senden\n        Den Aufruf des send_email-Tools mit den strukturierten Parametern durchführen.\n\nBeispiel für einen API-Aufruf:\n\nFalls der Agent entscheidet, eine E-Mail zu senden, sollte die Anfrage folgendermaßen aufgebaut sein:\n\n{\n  \"sendTo\": \"user@example.com\",\n  \"subject\": \"Ihre Frage wurde beantwortet\",\n  \"emailType\": \"text\",\n  \"message\": \"Hier sind die relevanten Informationen basierend auf Ihrer Anfrage...\",\n  \"appendAttribution\": false,\n  \"bccList\": \"\",\n  \"ccList\": \"team@example.com\",\n  \"senderName\": \"AI Assistant\"\n}\n\nPrompt für den Agenten:\n\n*\"Beim Empfang einer Nachricht bestimme, ob eine E-Mail gesendet werden muss. Falls erforderlich, nutze das send_email-Tool mit den folgenden Parametern:\n\n    sendTo: Die extrahierte Empfänger-E-Mail-Adresse oder eine Standardkontaktadresse.\n    subject: Kontextuell generiert basierend auf der Anfrage.\n    emailType: Immer auf \"text\" setzen.\n    message: Die von der KI generierte Antwort, klar formatiert.\n    appendAttribution: Immer auf false setzen.\n    bccList: Leer lassen, es sei denn, der Nutzer gibt eine Angabe.\n    ccList: Relevante Teammitglieder hinzufügen, falls erforderlich.\n    senderName: Entweder vordefiniert oder dynamisch aus der Benutzereingabe gesetzt.\n\nSchließe die E-Mail mit einer Grußformel und unterschreibe mit \"Sebastian Claes\".\"*","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"3263a8b6-0f29-4e0d-8a62-a7502b849055","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,220],"id":"fe505000-3714-4561-977c-3406b0bd5ac1","name":"OpenAI Chat Model"},{"parameters":{"name":"contacts","description":"Call this to retrieve information about contacts like email address. "},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[540,220],"id":"cd283100-e9e1-42c6-a13a-e5f380c5ddfa","name":"Answer questions with a vector store"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,440],"id":"70530779-bb07-43bf-ac66-1e0a0b2d1144","name":"OpenAI Chat Model1"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"my-email-agent","mode":"list","cachedResultName":"my-email-agent"},"options":{"pineconeNamespace":"my-contact-data"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[320,440],"id":"72e2e9a0-fdc4-4195-8a73-780bdd1c6848","name":"Pinecone Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[420,660],"id":"a503cb8e-d29f-41df-8f17-2b938c193162","name":"Embeddings OpenAI"},{"parameters":{"name":"send_email","description":"Call this tool when you need to send an email.","workflowId":{"__rl":true,"value":"cAgcoN2KW1QcnUyg","mode":"list","cachedResultName":"send_email"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[340,240],"id":"198494cd-6afe-41e2-8e0f-c7ad15dba758","name":"send_email"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"send_email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"19c16cba-e35c-4101-883e-c5201fce9072","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-06-24T20:12:48.242Z","createdAt":"2025-06-24T20:12:48.242Z","role":"workflow:owner","workflowId":"Y8dF5UtxaZJT8fzW","projectId":"BREodKrXRkXJ4j4M","project":{"updatedAt":"2025-06-24T20:10:29.237Z","createdAt":"2025-06-24T19:58:29.934Z","id":"BREodKrXRkXJ4j4M","name":"juergen Schw <juergen@com-nex.de>","type":"personal","icon":null,"description":null,"creatorId":"b97bb7f2-f8fd-4a71-ae8b-a3c3425c3366"}}],"versionMetadata":{"name":null,"description":null}}